[2021-03-16 14:56] JessicaMeixner-NOAA opened #332 "Update to NetCDF libraries linked for use with NOAA hpc-stack"
When using NOAA's hpc-stack, the NetCDF libraries were not linking properly (see issue https://github.com/NOAA-EMC/hpc-stack/issues/193).  To fix this, in link.tmpl:

[code]

Note, adding the extra $NETCDF_CONFIG --libs did not break the compile/linking for libraries not using hpc-stack.

[2021-03-16 14:59] JessicaMeixner-NOAA commented on #332
Another suggestion from @aerorahul:

[code]

[2021-03-16 15:08] aliabdolali commented on #332
@JessicaMeixner-NOAA Are you going to make a FB for this fix?

[2021-03-16 15:10] JessicaMeixner-NOAA commented on #332
Yes I will make a PR with fixes for this.  Testing the comp.tmpl changes now.

I could also update our regression tests to point to hpc-stack modules with this PR or wait for a follow up one.  I believe that would require a new parametis to be built.

[2021-03-16 15:21] aliabdolali commented on #332
@JessicaMeixner-NOAA Great,
I do not know how to compile a library under hpc-stack, if you refer me to the right place/guide, I can do it and update regtests in your feature branch.

[2021-03-16 15:26] JessicaMeixner-NOAA commented on #332
Well, right now PARMETIS is in your directory, so instead of compiling it with the modules currently used in the regtests for WW3 which on hera are:
intel/18.0.5.274 impi/2018.0.4 netcdf/4.6.1
and then we have:
/scratch2/COASTAL/coastal/save/Ali.Abdolali/parmetis-4.0.3

if you build parmetis, with the hpc-stack:

[code]
then we could point to that new parmetis and be using the hpc-stack version of

[2021-03-16 15:31] aliabdolali commented on #332
@JessicaMeixner-NOAA I can do it now. Where do we want to compile it? still under
/scratch2/COASTAL/coastal/save/Ali.Abdolali/parmetis-4.0.3
or somewhere else? if somewhere else, then I might need a write permission.

[2021-03-16 15:34] JessicaMeixner-NOAA commented on #332
@aliabdolali I personally would not recommend over-writing your current parametis installation, but somewhere in your directory space is fine for now in my opinion.

[2021-03-16 15:54] aliabdolali commented on #332
I meant in my directory, not overwrite :)
BTW, here is the path to METIS with hpc-stack
/scratch2/COASTAL/coastal/save/Ali.Abdolali/hpc-stack/parmetis-4.0.3
please modify regrests/bin/matric_ncep

[2021-03-18 15:01] JessicaMeixner-NOAA commented on #332
@aliabdolali is there a path for parmetis w/hpc-stack on orion?

[2021-03-18 15:16] aliabdolali commented on #332
@JessicaMeixner-NOAA
I compiled them on Orian using the following

module use /apps/contrib/NCEP/libs/hpc-stack/modulefiles/stack
module load hpc/1.1.0
module load hpc-intel/2019.5
module load hpc-impi/2019.6

and the path is
/work/noaa/marine/ali.abdolali/Source/hpc-stack/parmetis-4.0.3

[2021-03-18 15:40] JessicaMeixner-NOAA commented on #332
Thanks @aliabdolali   I have 3 sets of regression tests running:
1 w/just the comp/link updates
1 w/the new hpc-stack libraries
1 w/new hpc-stack libraries + changing the number of ranks  (I started this when I thought we were changing the versions of intel, so that would perhaps change answers and be a good opportunity for this change too, on second glance we are not doing this so maybe I should

[2021-03-18 18:01] aliabdolali opened #334 "Periodicity fix for global unstructured grids"
Energy is not transferring at the two ends of the unstructured grids with global coverage. It requires a periodicity fix for both card-deck and domain decomposition (PDLIB) parallelization algorithms.

[2021-03-19 13:30] #290 closed, assigned to ukmo-ccbunney, ukmo-ansaulter, ukmo-juan-castillo

[2021-03-19 13:30] #314 closed, assigned to nobody

[2021-03-19 14:06] #278 closed, assigned to nobody

[2021-03-19 15:13] #206 closed, assigned to ukmo-ansaulter, ukmo-juan-castillo

[2021-03-20 01:22] JessicaMeixner-NOAA commented on #321
@ukmo-ccbunney I remember you mentioning that you thought you had looked into this before.  I just found a switch: B4B that's a double switch.  I wonder if these are the updates that you made for this issue before?

[2021-03-20 14:35] ukmo-ccbunney commented on #321
@JessicaMeixner-NOAA  - yes - the B4B is a "bit 4 bit" switch. I added it to get around the b4b issues we originally had with that regtests (to do with a reduction in the SMC module). When enabled, the B4B switch scales and converts some real values to integer values to avoid rounding errors during the reduction.

It fixes the issue when running with the same number of PRs/threads (at least for us

[2021-03-22 10:50] ukmo-ansaulter opened #337 "Enable direct use of atmospheric model wind stress by source terms"
This development proposes to add a new flux processing option, FLX5 that enable the wind stresses developed in an atmosphere model to be applied to the WAVEWATCH III source terms.

Initial development will concentrate on compatibility of ST4 and ST6 with Unified Model winds (Met Office)

[2021-03-22 10:52] ukmo-ansaulter commented on #337
@ukmo-ccbunney are you able to add @ukmo-nievesvaliente to the developers list so we can assign Nieves as the main developer?

[2021-03-22 12:22] ukmo-juan-castillo commented on #337
Work on this issue can not start until PR https://github.com/NOAA-EMC/WW3/pull/285 is completed.

[2021-03-22 13:22] #334 closed, assigned to aliabdolali

[2021-03-23 11:36] ukmo-ccbunney commented on #337
@ukmo-ansaulter Nieves is already part of the "Wave R&D Team" in our Organisation. I think @ukmo-nievesvaliente will need to be added as a "Collaborator" in the NOAA repo. @aliabdolali - are you able to do this?

[2021-03-23 12:45] JessicaMeixner-NOAA opened #338 "UFS: build system linking order"
**Describe the bug**
When the order of models was changed in the UFS build system, tests with WW3 coupled did not reproduce answers, despite no model actually being changed. No answer should have been changed in this situation. See PR https://github.com/ufs-community/ufs-weather-model/pull/477

**To Reproduce**
Steps to reproduce the behavior: Change the order of linking in the UFS build as was do

[2021-03-23 13:37] JessicaMeixner-NOAA commented on #19
@mickaelaccensi your comment on PR https://github.com/NOAA-EMC/WW3/pull/284 was that the next steps were to "the next step would be clean up w3_setup and probably move the variables comp_seq and comp_mpi from cmplr.env to wwatch3.env"  Is that part of this issue or is this issue closed and we need to make a new issue for the above?

[2021-03-25 13:59] thesser1 opened #339 "w3triamd fails to build with gnu compiler"
**Describe the bug**
The w3triamd code fails to build with gnu compiler on develop branch.

**To Reproduce**
Compile ww3_grid with develop branch when using gnu compilers.

**Expected behavior**
Looks to be caused by using SIGN with real(4) and real(8) variables.

[2021-03-25 14:19] aliabdolali commented on #339
@thesser1
Just from a conversation we had, a fix would be converting 360.0 to 360.0d0 to make it a real(8) instead of real(4) in:
https://github.com/NOAA-EMC/WW3/blob/develop/model/ftn/w3triamd.ftn#L2823-#L2828
So I keep it for the record here.

[2021-03-25 15:55] #332 closed, assigned to nobody

[2021-03-26 00:43] #339 closed, assigned to nobody

[2021-03-26 16:44] ukmo-juan-castillo opened #341 "Initialization of extra restart fields"
**Describe the bug**
In a previous issue the possibility of writing extra fields in the restart file was added to the code. By default, when running a OASIS coupled configuration, the fields that are sent to other models is always written to the restart file.

The problem happens when no extra fields are requested and no coupling takes place, as in this case the flags indicating if extra restart i

[2021-03-31 19:55] JessicaMeixner-NOAA opened #343 "v16 branch: port to comet"
the production v16 branch was ported to comet, however this means it does not match what is in operations.  To limit changes that are needed in operations to just what is relevant to an upcoming change, the comet porting was reverted.  Either a new branch w/comet porting needs to be added or another solution needs to be determined.  Due to the time crunch, the branch the changes are going to be re

[2021-03-31 20:03] JessicaMeixner-NOAA opened #345 "grib encoding issues for PolarStereo grid"
For the polar stenographic grid in ww3_grib when GDTN = 20
KGDS( 1) should be 5 not 6

KGDS( 1) = 5  means Earth assumed represented by WGS84 see https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_table3-2.shtml

[2021-04-01 14:07] #341 closed, assigned to nobody

[2021-04-09 17:52] sbrus89 opened #348 "Make ww3_grid a callable subroutine"
I wanted to suggest and socialize the possibility  of making `ww3_grid.ftn` into a new module (e.g. `w3gridmd`). The main program code of `ww3_grid` would be put into a subroutine (e.g. `w3grid`) that could be called in other places after using the module.

Having the new `w3grid` subroutine means it could be called from a coupler initialization routine so that the `mod_def.ww3` file would be crea

[2021-04-12 05:10] haititu opened #349 "WW3 multi grid mode - MPI tag overflow"
Dear WW3 folks

Has anyone else encountered MPI issues with running WW3 in multi grid mode (ww3_multi)?

Our test run failed with apparently MPI tag overflow errors as shown below.
Some articles and forums on the web suggest that these are due to MPI library implementations which may have lower upperbounds for the MPI tag values.

We used IntelMPI v2020.4.304.
The PBS script we used is appended be

[2021-04-12 12:13] JessicaMeixner-NOAA commented on #348
For this current use case, I would say the most important test would be to make sure that you can run the model the current way and then run your coupled model with this new function call and make sure that you get the same answers.  The cause for concern there is that ww3_grid is built with SHRD switch while your coupled model is likely build with DIST MPI switches and therefore there is potentia

[2021-04-20 14:18] JessicaMeixner-NOAA commented on #176
This issue was addressed for v16 of GFS which was the initial motivation of this issue.  As work for that has completed I am going to close this issue.  However, initialization can always continue to be sped up.

[2021-04-20 14:18] #176 closed, assigned to nobody

[2021-04-20 15:39] JessicaMeixner-NOAA opened #351 "ww3_gint regression test"
None of the regression tests for ww3_gint test the interpolation option.  A new test should be added or an existing test should be modified to test this feature.

[2021-04-20 15:55] JessicaMeixner-NOAA commented on #345
Still need to merge this update to the develop branch.

[2021-04-20 15:57] aliabdolali commented on #345
@JessicaMeixner-NOAA, it requires grib regtests, so the one I made for GFSv16 has this already. Do you think it should be on a separated PR?
i can make grib regtest totally separate + this fix.

[2021-04-20 16:02] JessicaMeixner-NOAA commented on #345
Awesome, glad this is include in that PR. That PR would close this issue then.

[2021-04-20 21:14] JessicaMeixner-NOAA opened #352 "Retire Grib1 Support"
We propose to remove grib1 support by removing all lines of code with NCEP1.  In addition, we would remove the “NOGRIB” option, which just causes ww3_grib to exit with error.   This would make the NCEP2 switch the only switch, which then also could be removed.

This work is planned for the end of May 2021.

[2021-04-20 21:15] JessicaMeixner-NOAA opened #353 "Remove the NCC switch"
The NCC switch is used for coupling via the in-house NCEP coupler.  We plan to remove support for NCC in the develop branch of the code and remove all NCC switch related code.

This work is planned for the end of May 2021.  FYI @BinLiu-NOAA

[2021-04-20 21:15] JessicaMeixner-NOAA opened #354 "Remove DUM switch and make F90 the default"
Either the DUM or F90 switch is required.  We propose removing support for the “DUM” switch option and making the F90 the default option.

This work is planned for the end of May 2021.

[2021-04-20 21:16] JessicaMeixner-NOAA opened #355 "Remove support for experimental switch options (FLXX, PRX, STX, NLX, BTX, DBX, TRX, BSX)"
There are various options for experimental switches FLXX, PRX, STX, NLX, BTX, DBX, TRX, BSX which could be used as an example for how to add another switch option.  We propose removing this example code and switch options, as they do not appear to be used.

This work is planned for the end of May 2021.

[2021-04-20 21:17] JessicaMeixner-NOAA opened #356 "Remove support for supplemental & experimental supplemental source terms (XX0, XXX)"
There are two supplemental/experimental source terms XX0 and XXX.  We propose removing this example code and switch options.

This work is planned for the end of May 2021.

[2021-04-20 21:18] JessicaMeixner-NOAA opened #357 "Remove support for compiler directive switches ( C90, NEC, SX6, SX8)"
There are several switches that are used for compiler directives: C90/NEC switches for Cray C90 and SX6/SX8.  These do not appear to be used by anyone at this time and therefore we propose removing support for these switches.

If you use any of these switches, please let us know as soon as possible, so that we do not remove support for these.  If no one is using these switches, the removal of supp

[2021-04-20 21:18] JessicaMeixner-NOAA opened #358 "Remove support for NetCDF version 3"
Currently, WW3 has two build options, either NetCDF version 3 or 4.  NetCDF version 4 was released in 2008.  At this time, we plan to remove options for NetCDF 3 in WW3.

This work would be planned for the end of May 2021.

[2021-04-20 21:19] JessicaMeixner-NOAA opened #359 "Make NC4 the default switch"
After support for NetCDF 3 is removed (Gith Hub issue), the NC4 switch could then be made the default option and the switch itself would no longer be necessary.

This work is planned for the end of May 2021 and would be completed after the support for NetCDF 3 is removed (Issue #358).

[2021-04-20 21:20] JessicaMeixner-NOAA opened #360 "Transition from switch pre-processing to CPP ifdefs"
Instead of using the current paradigm of choosing switches, and then processing the *.ftn code to *.F90 code, we will convert all code to *.F90 and use the switches to define CPP if defs.

This work is planned for June 2021.  To prepare for this, we recommend making pull requests with updates as soon as possible. In addition, removal of switches that are no longer needed have been proposed and wil

[2021-04-20 22:15] JessicaMeixner-NOAA commented on #349
We have seen the MPI tag issues in WW3 in the past.  Is there any chance you can add the trace back to see which MPI call you are running into this issue on?

[2021-04-20 22:25] JessicaMeixner-NOAA commented on #301
I am closing this issue, however please feel free to re-open it or open a new issue if you have further questions.

[2021-04-20 22:25] #301 closed, assigned to nobody

[2021-04-22 16:05] ukmo-juan-castillo opened #361 "Extra restart - checks"
When reading a restart file containing extra fields, such as an OASIS coupled configuration that sends fields to other models via coupling at t+0 does by default, there is a risk that the fields that are read do not correspond to the right field. This happens when the restart file contains a different set of extra fields than the model is trying to read.

At the moment there is no check for this p

[2021-04-22 16:10] sbrus89 commented on #348
@JessicaMeixner-NOAA, I've made sure this function call produces the same results as before. I've always used the DIST and MPI switches for compiling ww3_grid and ww3_shel. This is also how the .F90 files are being generated (via w3_source) for building the wave component of the coupled model, which now includes ww3_grid and ww3_shel source code.

[2021-04-22 16:14] JessicaMeixner-NOAA commented on #348
Thats great @sbrus89 -- I'd recommend submitting a PR then assuming @aliabdolali @thesser1 or someone else can think of a reason this would not be okay.

[2021-04-22 16:17] aliabdolali commented on #348
Hi @sbrus89
This idea is great. Are you using ww3_shel or ww3_multi for your coupled application?
Have you checked it with ww3_multi?
We need a regression test for it. What about ww3_tp2.21?
I'd be more than happy to help and add a proper regression test for it.

[2021-04-22 16:20] sbrus89 commented on #348
Hi @aliabdolali, I'm using ww3_shel. Unfortunately, I don't have any experience with ww3_multi, so I haven't checked that yet. I'll take a look at ww3_tp2.21, but might need some help from you when you have time.

[2021-04-22 16:27] aliabdolali commented on #348
Do I have the write permission for this PR? if yes, I can add ww3_Multi for ww3_tp2.21 and you try it. I am available to help.

[2021-04-22 16:28] sbrus89 commented on #348
I haven't made a PR yet, but I can do that today.

[2021-04-22 16:29] JessicaMeixner-NOAA commented on #348
Collaboration can be done without write permission through PR to other forks.

[2021-04-23 20:09] caiostringari opened #363 "zlib version from install_netcdf4_gnu.sh.gz incompatible with X.org on Ubuntu 20.04?"
**Describe the bug**

After executing the [netcdf installation script](https://github.com/NOAA-EMC/WW3/wiki/files/install_netcdf4_gnu.sh.gz), Ubuntu 20.04's default zlib is overwritten, the system becomes unstable and after you reboot your graphical interface is gone.

**To Reproduce**

1) Have a working graphical install of Ubuntu 20.04.
2) Install the netcdf libraries with the provided script fr

[2021-04-26 06:52] mickaelaccensi commented on #363
Hi Caio,

thanks for this feedback. Anyway I won't recommend to install netcdf libraries from source on ubuntu distribution. There are official repos available through aptitude. This installation is probably recommended only for installation on HPC or specific cases. @aliabdolali could you confirm or explain the context of this installation script ?

[2021-04-26 12:53] aliabdolali commented on #363
Hi @Caio and @mickaelaccensi
I think Michael is right, these scripts are working as long as other dependencies, like zlib, the compiler, ... are also available.
Michael, could you provide me the link to the "official repos available through aptitude", so I can update our wiki page.

[2021-04-26 13:04] mickaelaccensi commented on #363
# prerequisites
apt install  gcc g++ gfortran build-essential
# netcdf4 library
apt install libhdf5-serial-dev libnetcdff-dev libnetcdf-dev
# netcdf tool (ncview, nco)
apt install netcdf-bin netcdf-doc ncview libudunits2-0 libgsl0-dev nco

I also have a very detailed script to install all the netcdf libraries and dependencies depending on the available compiler (gnu, mpt, intel, pgi) that you coul

[2021-04-26 13:07] aliabdolali commented on #363
@mickaelaccensi Awesome,
Please share your scripts and I'll add a note about "no support on it" as it is not a part of WW3 but as requirements.

[2021-04-26 14:26] mickaelaccensi commented on #363
here it is. Once unzipped, it should be a bash script

[install_netcdf.zip](https://github.com/NOAA-EMC/WW3/files/6377831/install_netcdf.zip)

[2021-04-27 13:00] aliabdolali commented on #317
@JessicaMeixner-NOAA The simple standalone test to check the number of tasks and thread reproducibility is addressed here, right?
 https://github.com/aliabdolali/WW3/blob/fb_ufs_regtests/regtests/bin/matrix.base#L2090-L2099

[2021-04-27 13:37] JessicaMeixner-NOAA commented on #317
This is a close replica of the ufs-weather-model for testing this.   The differences are likely in the time stepping and the fact that the ufs-weather-model tests separate the binary output by hour. I also don't know if it's the same frequency of restart or other output, I forgot to check that yesterday.   Is that test reproducing itself for different number of mpi tasks?

[2021-04-28 02:36] aliabdolali commented on #363
@mickaelaccensi thanks for providing the script and aptitude guide. I added them to our wiki page with the note that this is not a part of WW3 distribution and no support is available.
@caiostringari i hope the guide provided by Mickael was helpful. I am closing the issue now.

[2021-04-28 02:36] #363 closed, assigned to nobody

[2021-05-01 11:46] garimss opened #364 "how to solve this issue?"
(project1) D:\noaa>git clone https://github.com/garimss/WW3.git
Cloning into 'WW3'...
remote: Enumerating objects: 21241, done.
remote: Counting objects: 100% (22/22), done.
remote: Compressing objects: 100% (22/22), done.
remote: Total 21241 (delta 7), reused 4 (delta 0), pack-reused 21219R
Receiving objects: 100% (21241/21241), 61.01 MiB | 3.76 MiB/s, done.
Resolving deltas: 100% (15728/15728),

[2021-05-03 13:12] JessicaMeixner-NOAA commented on #364
@garimss are you cloning on a windows machine?  We use a folder named "aux" and that's a protected name on windows machines.

[2021-05-03 16:16] garimss commented on #364
@JessicaMeixner-NOAA  yes I am cloning on windows machine. Is it possible to use on windows or should I move to mac?

[2021-05-03 16:27] JessicaMeixner-NOAA commented on #364
@garimss I would recommend moving to your HPC, linux or Mac environment.  I don't know of anyone who's successfully used WW3 on windows.

I'm going to close this issue, but feel free to reopen if you do not think this issue has been resolved or create a new issue when needed.

[2021-05-03 16:27] #364 closed, assigned to nobody

[2021-05-05 17:17] ghost opened #365 "Mesh not accepted in ww3_grid"
When I run `ww3_grid` with an input GMSH unstructured mesh, I get the following error:

[code]

It does not happen for all the meshes, and I assume that it is related to the unstructured meshe's quality. But is this kind of error common or is it a bug? What does IP, IP2 and IP3 mean?

Thanks in advance.

[2021-05-05 19:01] aliabdolali commented on #365
Hi @nunormont
Your mesh should follow WW3 standard for unstructured meshes, so we have added a check routine to find those problematic elements (overlapping, negative area, etc).
The IP, IP2, and IP3 are the index of x and y coordinates of the problematic triangle (it loops through all the elements). For example, nodes 23270, 22721 and 22720 are making a triangle. In this case, it is not following

[2021-05-05 21:01] ghost commented on #365
Ok, thanks!

[2021-05-05 21:01] #365 closed, assigned to nobody

[2021-05-06 14:27] aliabdolali opened #366 "Add gfsv16 regression test"
The GFSv16 wave has 3 grids (gnh10m, gsh15m and aoc9km) with wind, ice and current forcing and outputs in grib2 format.
The tests for 1 day of simulation should be added to check the standalone WW3 for operational use including pre/post-processing steps (integrated grid using ww3_gint and grib2 outputs using NCEP2 switch and ww3_grib).

[2021-05-06 15:10] aliabdolali opened #367 "Add ufs-weather global 1 deg grid regression test"
The global 1 deg rectiliear grid with wind, ice and current forcing and outputs in grib2 format.
The tests for 1 day of simulation should be added to check the standalone WW3 for ufs-weather application including pre/post-processing steps (integrated grid using ww3_gint and grib2 outputs using NCEP2 switch and ww3_grib).

[2021-05-07 06:39] mickaelaccensi commented on #19
we can close it

[2021-05-07 06:39] #19 closed

[2021-05-10 16:04] mark-a-potts opened #369 "Port to WCOSS2"
**Is your feature request related to a problem? Please describe.**
WW3 should compile on the new WCOSS2 platform

**Describe the solution you'd like**
Update the build system to handle WCOSS2

**Describe alternatives you've considered**
None.

[2021-05-10 21:38] caiostringari commented on #288
@mickaelaccensi @aliabdolali What is the recommend way to split a file with multiple points created with `ww3_ounp` to be properly read by `ww3_bounc`?

I am trying to export data from a global model to an unstructured mesh but WW3 refuses to read the `ww3.nest` that I create with `ww3_bounc`. The model runs with no error but it never reads the `nest.ww3` created by `ww3_bounc`, i.e., I never see

[2021-05-10 21:52] aliabdolali commented on #288
Hi @caiostringari
You can write the point outputs from your global model simulation in separate files, so instead of having all the spectral data in one single netcdf file, write them in N netcdf files (N is the number of boundary points) and define them all in ww3_bounc.inp.

In ww3_ounp.inp for the global run, there is a section when you define points in same file [T] or not [F].
So in ww3_bounc

[2021-05-11 13:40] caiostringari commented on #288
Hi @aliabdolali

Thanks for the tips! I think my problem was in the boundary definition in the ww3_grid.inp  and not in my script that separates the locations.

If this helps anyone, here is a fairly simple script that generates the files and configuration file needed by ww3_bounc.inp.

[code]

Cheers,

Caio

[2021-05-12 01:20] JessicaMeixner-NOAA opened #371 "Remove OMPX switch"
It appears that the OMPX switch is no longer used.  For example see comment in code here:
https://github.com/NOAA-EMC/WW3/blob/develop/model/ftn/w3wavemd.ftn#L83-L84

However, it is still in many switch files and in the makefile.  Let's clean it out of the whole code as it is not used.  Please let me know if the comment in the code is incorrect.  If no objection is made, the plan will be to remove

[2021-05-12 22:08] JessicaMeixner-NOAA opened #374 "Add coupling fields for ESMF coupling"
To leverage the work done in https://github.com/NOAA-EMC/WW3/issues/206, the options for using the new inputs need to be set up in wmesmfmd.ftn.  Before that is done, if statement logic to abort if trying to couple through noupc one of the new fields should be added.

[2021-05-12 22:08] aliabdolali opened #375 "add regression tests for linear interpolation using ww3_gint"
https://github.com/NOAA-EMC/WW3/pull/228 has added two additional options for interpolation/extrapolation
0: linear interpolation, no extrapolation
1: linear interpolation, extrapolate with wet points
2: nearest-neighbor interpolation
(see https://github.com/NOAA-EMC/WW3/issues/227 for more details on the new development).

- But there is no regression test to test this new development for structu

[2021-05-12 22:14] JessicaMeixner-NOAA commented on #375
Clarification on if interpolation option 1 can be used with unstructured grids only or any type of grid as well.

[2021-05-17 23:49] JessicaMeixner-NOAA commented on #358
Does anyone (@mickaelaccensi) know if this is still an issue with NC4 for ww3_ounp?
https://github.com/NOAA-EMC/WW3/blob/develop/model/ftn/ww3_ounp.ftn#L636-L644
I guess having this be NCTYPE=3 could still be supported but, ideally we could move to just having NC4 be the default and then we would have no need for NCTYPE either.

[2021-05-18 11:27] mickaelaccensi commented on #358
Depending on some netCDF4 library versions, there are memory leaks that impact the program ww3_ounp. I know that some colleagues are still using netCDF3 for postprocessing so it should be good to keep it

[2021-05-18 12:36] JessicaMeixner-NOAA commented on #358
@mickaelaccensi  good to know!   For clarification, are they using NCTYPE=3 or using NetCDFv3.x ?

[2021-05-18 14:28] ukmo-ccbunney opened #376 ""valid_max" incorrect for "latitude" variable in ww3_ounf"
**Describe the bug**
The `valid_max` attribute for the "latitude" variable in WW3_OUNF is set to `180.0`
I'm fairly sure this is a typo! :)

There are a few instances of this in `ww3_ounf.ftn`, for example:
https://github.com/NOAA-EMC/WW3/blob/9708edcb3641a34019f03274ebe1d4b8758ad8b8/model/ftn/ww3_ounf.ftn#L3555

**To Reproduce**
Run ww3_ounf for any grid and ncdump output file.

**Expected behavi

[2021-05-18 14:56] JessicaMeixner-NOAA commented on #359
@mickaelaccensi based on your comments on the other issue, wanted to point this out and see if you thought this might be an issue? By making this the default, my thought is you just remove any !/NC4 and always compile with that.

[2021-05-18 14:57] JessicaMeixner-NOAA commented on #358
Another follow up question: Do we know which netCDF4 library version this is an issue for? Or is it random ones or say past version 4.x it is fixed?

[2021-05-18 15:59] ukmo-juan-castillo commented on #337
At the moment the wind switches WNTN and WNTXN are used to choose between different time and space interpolation for the wind stress field. It may be necessary to create new switches to distinguish between wind and stress interpolations, but I do not see a great problem leaving it as it is because it should not be possible to drive the model at the same time with wind and stress. There are no chec

[2021-05-18 17:40] ukmo-juan-castillo opened #377 "Wrong switches for coupled field descriptors"
**Describe the bug**
The routine W3FLDTOIJ returns a set of I,J indexes identifying the chain of characters that describe a particular output/coupled/extra restart field. In the case of the wave height and Charnock coefficient, identified by the descriptors 'HS' and 'CHA', there are extra descriptors for these variables when running in coupled mode, which add an extra 'A' or 'O' at the start of th

[2021-05-19 07:54] mickaelaccensi commented on #359
so it won't be possible to compile ww3 with netcdf3 ? it think it's an issue to remove it now. since netcdf4 needs a lot of dependencies which are not always well linked, it would be safe to keep the possibility to compile with netcdf3 (which does not use hdf5, zlib, ..). The default should be netcdf4 and a cpp key should be set to disable netcdf4 feature (nf90_create and and nf90_deflate)

[2021-05-19 08:00] mickaelaccensi commented on #358
it's compiled with netcdf4 but only requesting NCTYPE=3 which that only limited functions and dependencies are called.
It's not directly linked to the netCDF4 library but from what I saw it's linked to hdf5 library. It's very sensitive to the version, memory leaks have been found before v1.8.14 and I know some recent versions were not fully stable.. so it's still good to work with NCTYPE=3 sometim

[2021-05-19 13:36] JessicaMeixner-NOAA commented on #359
Correct, we are hoping to remove support for NetCDFv3.  NetCDFv4.0 was introduced in 2008, so NetCDFv3 is fairly old.  We could keep the different compression options, but from a code management perspective I think moving to only supporting NetCDFv4+ is a good simplification.

[2021-05-19 13:37] JessicaMeixner-NOAA commented on #358
So if we keep NCTYPE=3, but remove the build support for NetCDFv3 would that be okay?

[2021-05-19 13:39] JessicaMeixner-NOAA commented on #359
We could keep the NC4 switch and still remove NetCDFv3 build support and keep the ability for NCTYPE=3.  So basically not remove NC4 switch, but continue with removal of NetCDFv3 (so not do this issue, but continue with https://github.com/NOAA-EMC/WW3/issues/358)

[2021-05-19 13:39] mickaelaccensi commented on #358
yes, it's fine for me

[2021-05-19 13:40] mickaelaccensi commented on #359
it's fine for me

[2021-05-20 22:37] JessicaMeixner-NOAA commented on #359
@mickaelaccensi I have started looking at the NC4 switch a little more, and most of the lines with an NC4 switch have:
`!/NC4        IF (NCTYPE.EQ.4)
`
so the switch is really just protecting compilation with NetCDFv3.  If I make sure anything that was behind a NC4 is instead behind the "IF (NCTYPE.EQ.4)" would you be okay if we removed the NC4 switch?
I've started some of this work here:
https://

[2021-05-21 08:33] mickaelaccensi commented on #359
it sounds to be a good start. We have to check that some regtests exist with NCTYPE=3 and NCTYPE=4

[2021-05-21 15:49] ukmo-ccbunney opened #378 "ACTION array allocation too small"
**Describe the bug**
The `ACTION` array in the `wminitmd.f90` subroutine `WMINITNML` is allocated with an upper bound of 9:
https://github.com/NOAA-EMC/WW3/blob/482c500da51c2caf41ce3f8f011855bb4ab38d76/model/ftn/wminitmd.ftn#L4081

but it is later accessed with array indices > 9 e.g.:
https://github.com/NOAA-EMC/WW3/blob/482c500da51c2caf41ce3f8f011855bb4ab38d76/model/ftn/wminitmd.ftn#L4167

The `W

[2021-05-21 15:51] ukmo-ccbunney commented on #378
It looks like this bug was introduced in PR #285

[2021-05-21 16:12] ukmo-ccbunney commented on #378
@aliabdolali I can put a fix for this bug in PR #372 if you like. Or would you prefer a separate PR for this one?

[2021-05-21 19:22] ukmo-ccbunney commented on #376
@aliabdolali Do we want to sneak a fix for this into my PR #305 before you merge?

[2021-05-21 19:26] aliabdolali commented on #376
@ukmo-ccbunney that's quite relevant and does not change answers as we do not have lat>90 :), so please do it.

[2021-05-25 11:24] #272 closed, assigned to ukmo-ccbunney, ukmo-ansaulter

[2021-05-25 11:24] #274 closed, assigned to ukmo-ccbunney

[2021-05-25 13:34] ukmo-ccbunney commented on #376
Fixed in #305

[2021-05-25 13:34] #376 closed, assigned to ukmo-ccbunney

[2021-05-26 20:14] #348 closed, assigned to nobody

[2021-05-27 12:00] ukmo-juan-castillo opened #383 "Ice and other model coupling - wrong warning"
**Describe the bug**
When coupling to an ice and other model, the program will generate a warning message for each variable XXX sent to models other than ice and for each processor even if the run parameters are right, which can be quite confusing for inexperienced users:

 *** WAVEWATCH III WARNING IN W3IGCMMD :
     REQUESTED COUPLING SENT FIELD XXX WAS NOT RECOGNIZED.

This happens because the

[2021-05-27 14:07] #369 closed, assigned to nobody

[2021-05-27 14:43] JessicaMeixner-NOAA commented on #359
There are regression tests that use NCTYPE=3 and  others that use NCTYPE=4 (based on my random search making sure we had both, I'd say a vast majority are NCTYPE=3).

[2021-05-28 09:40] ukmo-juan-castillo opened #390 "OASIS send condition"
**Describe the bug**
When running a coupled configuration, there is a series of conditions that have to be fulfilled before calling the oasis_send routine. One of this conditions is problematic, as when the run length is three days or more this condition is not fulfilled when it should. Such condition is:

MOD(ID_OASIS_TIME/DTOUT(7),1.0)

**To Reproduce**
Any coupled configuration sending informat

[2021-06-01 12:35] mickaelaccensi opened #391 "w3gridmd duplicated values in mapsta.ww3"
**Describe the bug**
lines are duplicated 50 times in mapsta.ww3 with no specific reason
!/O2c switch is used to print extended status map

**To Reproduce**
!/O2c      OPEN (NDSM,FILE=TRIM(FNMPRE)//'mapsta.ww3', RECL=2*NX*NY*50+1)
!/O2c      DO IY=NY,1, -1
!/O2c        DO IX=1,NX
!/O2c          DO I=1,50
!/O2c            WRITE (NDSM,1998,ADVANCE='NO') (TMPSTA(IY,IX))
!/O2c           END DO
!/O2c

[2021-06-01 12:59] mickaelaccensi commented on #390
Hi Juan,
this condition is important to avoid approximation errors. could you explain more in detail why you want to change it to (MOD(ID_OASIS_TIME,NINT(DTOUT(7))) .EQ. 0

[2021-06-01 13:36] ukmo-juan-castillo commented on #390
I precisely had issues with approximation errors using the original condition. This only happened to me when I run one of our operational configurations which runs the model continuously for three days. Just before the third day finished, at ID_OASIS_TIME = 234000 and DTOUT(7) = 3600., the condition for sending coupling fields was incorrectly not satisfied, but the condition for receiving was. The

[2021-06-01 13:55] JessicaMeixner-NOAA opened #392 "NetCDF documentation is inconsistent in manual"
The manual is inconsistent in how to define NETCDF_CONFIG if its nc-config or nf-config  (let's use nc-config).

[2021-06-01 14:09] mickaelaccensi commented on #390
ok thanks for the explanation. could you add in the PR that you changed the condition for send to be consistent with the condition for receive

[2021-06-01 14:12] aliabdolali opened #393 "rename model/aux"
Cloning WW3 to Windows machines is not possible as aux is a protected name.
This folder contains preprocessing tools (nml conversion/switch tools), so we would like to rename this folder to:
_tools_
or
_preproc_
What is your preferred name?
@JessicaMeixner-NOAA @thesser1 @ukmo-ccbunney @mickaelaccensi

[2021-06-01 14:23] JessicaMeixner-NOAA commented on #393
Either tools or preproc is fine with me.

[2021-06-01 14:30] mickaelaccensi commented on #393
I prefer tools to keep the possibility to add other extra tools (python, ...) in this directory which are not necessarily for preprocessing

[2021-06-01 15:37] mickaelaccensi commented on #392
also in regtests/bin/run_esmf_test_suite there is a link to nf-config instead of nc-config

export NETCDF_CONFIG=/common/netcdf/el7/${MPI_COMPILER}${CMP_VERSION}/openmpi${MPI_VERSION}/${CDF_VERSION}/bin/nf-config

it's also the case in matrix_datarmor, we need to replace nf-config by nc-config

can you create a branch and add me as developer on it?

[2021-06-01 15:54] JessicaMeixner-NOAA commented on #392
@mickaelaccensi my preference is to work via forks/PRs to each others rather than have multiple people have access to the same fork.  I'm not sure when I'll get to this, but I will let you know when I or @aliabdolali  or someone else does.

[2021-06-02 11:25] mickaelaccensi opened #397 "floating overflow on regtest ww3_tp2.8"
**Describe the bug**
a floating overflow error appears when running the regtest ww3_tp2.8.
this is due to the call of the subroutine INTERP in ww3_prnc

**To Reproduce**
./bin/run_test -o netcdf -N -c datarmor_mpt_debug ../model ww3_tp2.8

**Expected behavior**
I suspect the muliplication of 2*fillvalue*fillvalue produce a too large value

**Screenshots**
   Screen output routed to  regtests/ww3_t

[2021-06-02 12:58] ukmo-ccbunney opened #398 "Clarify NRQMAX calculation"
The calculation of NRQMAX in `w3initmd` is a quite confusing and not at all clear:

https://github.com/NOAA-EMC/WW3/blob/3b949d36a00f5e0cf6a7b79f382c491b8b2e1800/model/ftn/w3initmd.ftn#L2056-L2061

This line should:
  a) Be reformatted over multiple lines, each line representing a single output group.
  b) have an explanatory comment added.

The explanation comment should also make it clear why mo

[2021-06-02 22:05] uturuncoglu opened #399 "Add section to describe changes in the WW3 cap to use it under CMEPS mediator"
**Describe the section in the documentation that is missing or requires an update?**
A new section related to the coupling with CMEPS mediator need to be added to the existing documentation. The section will describe the changes that is done in the WW3 NUOPC cap briefly by including information about newly added subroutines and explains added options in nems.configure to enable coupling through th

[2021-06-03 10:07] ukmo-juan-castillo commented on #397
I can not reproduce the error, I will fix it.

[2021-06-03 13:55] #128 closed, assigned to nobody

[2021-06-05 08:37] QingxiangLiu opened #400 "Bugs in ww3_gint"
**Describe the bug**
Several bugs in `ww3_gint.ftn` were detected.

1. for the `MSC` output parameter
![image](https://user-images.githubusercontent.com/17822692/120885532-21992280-c61c-11eb-819d-059b331700b1.png)

2. anything like `+SUMGRD` or `+ SUMGRD` should be replaced by `*SUMGRD`. - This affects multiple wave parameters such as partitioned `PT01, PT02`
![image](https://user-images.githubuse

[2021-06-05 16:41] #72 closed

[2021-06-07 19:05] mickaelaccensi opened #402 "missing argument in INTERP subroutine"
**Describe the bug**
input arguments are missing in a call of the subroutine INTERP in ww3_prnc.ftn which makes compilation failing

**To Reproduce**
just by compiling ww3_prnc

**Expected behavior**
need to add MXM, MYM as input argument

[2021-06-08 07:21] haititu commented on #349
Hi Jessica
Sorry for my late reply.
Unfortunately, we weren't able to get the trace back.
However, we managed to implement a workaround for this issue by setting environment variables:

MPIR_CVAR_CH4_OFI_TAG_BITS=31
MPIR_CVAR_CH4_OFI_RANK_BITS=8

as described here:

https://doku.lrz.de/display/PUBLIC/Intel+MPI
under "MPI Tag's Upper bound exceeded"

But note the caveats.

We also realised we faile

[2021-06-08 13:25] #361 closed, assigned to ukmo-juan-castillo

[2021-06-08 15:31] ghost opened #403 "How to extract mesh points (nodes) per CPU with PDLIB paralel configuration (modeling with WW3 with unstructured mesh)"
Hello!

I'm using unstructured meshes and the implicit full scheme in WW3, with `PDLIB` option for parallel computing mesh partitions. Is there a way in `ww3_shel` or `ww3_grid` to know which mesh nodes/triangles belong to each CPU partition? I would like to make a map of the node distribution per CPU core in an unstructured grid.

Thanks in advance.

[2021-06-08 16:32] gabriel-aig opened #404 "Basics issues with WW3 - Installation - How could i get started?"
Hello!

I just started using WW3 and the github. I entered in a Scientific Iniciation at my college and i really don't know how to get started using this model. I'm having problems to install the software at my Linux Ubuntu. It's a simple problem, but i didn't find anything to help me on the internet, just this site. I need to learn how to use the WW3 to start my researches about ocean-atmosphere

[2021-06-08 16:37] JessicaMeixner-NOAA commented on #404
I would start with looking at these two wiki pages:
https://github.com/NOAA-EMC/WW3/wiki/WAVEWATCH-III-User-Guide
and
https://github.com/NOAA-EMC/WW3/wiki/Quick-Start-for-Users

[2021-06-10 14:12] #353 closed, assigned to JessicaMeixner-NOAA

[2021-06-10 14:43] mickaelaccensi opened #407 "ww3_prnc for tidal analysis crashed with gnu compiler"
**Describe the bug**
gnu compiler detect some bad points related to fillvalue which are not correctly read

**To Reproduce**
running regtest ww3_tp2.18 with gnu compiler

**Expected behavior**
with intel or mpt, the fillvalue value is kept from a previous step when reading input file attribute whereas with gnu compiler the value is initiliazed to a crazy value (due to a typo in the code)

[2021-06-11 08:58] #398 closed, assigned to ukmo-ccbunney, ukmo-juan-castillo

[2021-06-11 09:00] #390 closed, assigned to nobody

[2021-06-11 12:52] #357 closed, assigned to nobody

[2021-06-11 21:39] #371 closed, assigned to JessicaMeixner-NOAA

[2021-06-14 13:56] #352 closed, assigned to JessicaMeixner-NOAA

[2021-06-16 10:09] ukmo-ccbunney opened #415 "Syntax error in cmplr.env (missing || operator)"
Line 163 of `cmplr.env` is missing a logical OR (`||`) operator on the end of the line:

https://github.com/NOAA-EMC/WW3/blob/9f76dd380270ed58a1cfcbd448225542d4472541/model/bin/cmplr.env#L162-L164

I should look like this:
[code]

[2021-06-16 11:10] ukmo-ccbunney commented on #415
@aliabdolali  - would you like me to add a fix for this issue in my existing PR (which modifies cmplr.env): ukmo-waves/WW3/pull/21 ?

[2021-06-16 13:08] #358 closed, assigned to nobody

[2021-06-16 13:13] aliabdolali commented on #415
@ukmo-ccbunney sure, I fixed it in one of my PRs, but your PR goes first, so please go ahead and fix it.

[2021-06-16 17:08] #225 closed, assigned to mickaelaccensi

[2021-06-17 02:57] aliabdolali opened #417 "multi grids is not working as expected"
The _GFSv16_ wave setup has 3 grids (_gnh_10m, gsh_15m and aoc_9km_) with wind, ice and current forcings.
The forcings are:

1. WIND (hourly- plotted every 3 hrs)
![Forcing_WIND](https://user-images.githubusercontent.com/37336972/122323099-8c880a80-cef4-11eb-982a-ea5d332895c8.gif)
2. Current (hourly- plotted every 3 hrs)
![Forcing_Current](https://user-images.githubusercontent.com/37336972/1223230

[2021-06-17 12:41] JessicaMeixner-NOAA commented on #417
@aliabdolali how about the other multi-grid tests?   Are those working as expected? Something that is unique about this test I believe is some of the curvilinear grids maybe?

[2021-06-17 16:52] aliabdolali commented on #417
I ran the multi setup with two rectilinear grids (gnh_10m and gsh_15m) excluding the curvilinear grid (aoc_9km) and it still shows strange behavior.

[2021-06-18 10:17] #397 closed, assigned to ukmo-juan-castillo

[2021-06-18 10:35] ukmo-ccbunney opened #418 "False compile errors when using GNU compiler"
**Describe the bug**
When compiling using the GNU Fortran compiler the error checking in the `comp` script can incorrectly find "compile errors" in the compiler output if the compiler generates a warning message for code that contains the string "ERROR".

**To Reproduce**
Compile ww3_prnc with GNU compiler with debug enabled (e.g. using setup -c gnu_debug, or one of its variants).

**Expected beha

[2021-06-20 13:20] #400 closed, assigned to nobody

[2021-06-21 11:09] ukmo-ccbunney opened #420 "Out-of-bounds array access in ww3_prnc"
**Describe the bug**
There is an out-of-bounds array access occurring in the `XC` variable of ww3_prnc in the INTERP subroutine.
In situations where the interpolation weights are all zero for a point, the wrong indices are being used to access the XC array.

This is likely the reason why some regtests, such as ww3_tp2.15, are showing non b4b results in the generated wind.ww3 files.

**To Reproduce

[2021-06-21 14:03] JessicaMeixner-NOAA opened #421 "clean up .cvsignore files"
**Describe the bug**
In the ww3_tp2.14/input file, there are .cvsignore files which should be removed or converted to .gitignore

@mickaelaccensi

[2021-06-21 14:07] #393 closed, assigned to thesser1

[2021-06-21 16:24] sbrus89 opened #422 "Syntax error in w3gridmd.ftn with PGI 19.10 compiler"
**Describe the bug**
Syntax error with PGI 19.10 in a `w3gridmd.ftn` format statement:

https://github.com/NOAA-EMC/WW3/blob/3740ba99caaa2822b5098bf32faeaf199a710a51/model/ftn/w3gridmd.ftn#L5969-L5975

The `I02` specifier in line 5975 should be `I2` to avoid the problem

**To Reproduce**
Run `./w3_grid ww3_grid` with PGI 19.10

[2021-06-22 14:38] JessicaMeixner-NOAA commented on #404
@gabriel-aig I am going to close this issue for now. Please re-open or start a new issue if you have additional questions!

[2021-06-22 14:38] #404 closed, assigned to nobody

[2021-06-22 14:50] JessicaMeixner-NOAA commented on #417
@aliabdolali  I went back and have looked more at https://github.com/NOAA-EMC/WW3/pull/264 and if you look at the matrix output I found:
[code]
Both of which are not normal mww3_test_03 tests that normally have differences and is not the restart file where we know we have differences.  Perhaps there are other test cases which have this same problem? I haven't looked at output yet, but that's my ne

[2021-06-22 15:59] JessicaMeixner-NOAA commented on #417
Okay, so I ran the following:
./bin/run_test -b slurm -c hera -S -T -s PR1_MPI -w work_PR1_MPI_e_both02 -o both  -m grdset_e  -f -p mpirun -n 24 ../model mww3_test_03
which for others is probably just simply:
./bin/run_test  -s PR1_MPI -w work_PR1_MPI_e_both02 -o both  -m grdset_e  -f -p mpirun -n 24 ../model mww3_test_03

with commits:

commit 9735c7de7928e592bbead898f7ebe2f3b01c40d3 (HEAD)
Autho

[2021-06-25 02:15] JessicaMeixner-NOAA opened #423 "Update wiki page with known not b4b regtests"
**Describe the section in the documentation that is missing or requires an update?**

On the wiki page here: https://github.com/NOAA-EMC/WW3/wiki/How-to-use-matrix.comp-to-compare-regtests-with-master#4-look-at-results there is a list of regression tests that are not b4b, however this list has changed since this was written.  An updated list would be helpful to keep track of what is expected to no

[2021-06-25 02:29] #276 closed, assigned to nobody

[2021-06-25 02:29] #345 closed, assigned to nobody

[2021-06-25 02:29] #366 closed, assigned to nobody

[2021-06-25 02:29] #367 closed, assigned to nobody

[2021-06-25 03:08] aliabdolali commented on #423
@JessicaMeixner-NOAA I just updated the list. Last week and with PRTIDE commit, I removed the ww3_tp2.18. Hopefully, the ww3_tp2.15 will be removed from the list after UKMET staging PR.

@ukmo-ccbunney @thesser1 @mickaelaccensi please let me know if you have additional non-b4b tests, specific on your hpc or with a specific compiler, so we can update the list and close this isse.

[2021-06-25 09:54] ukmo-ccbunney commented on #417
@JessicaMeixner-NOAA  Thanks for spotting this. I will investigate. We're having HPC issues today, so it might be next week.

[2021-06-25 13:38] DavidHuber-NOAA opened #424 "Port of WW3 to S4"
The WW3 model should be ported to the S4 cluster to support development efforts of the GFS and GDAS.  A port of version production/GFS.v16 is ongoing and will be tested soon.

[2021-06-25 14:22] JessicaMeixner-NOAA commented on #143
@mickaelaccensi @aliabdolali I think this issue has now been resolved. Can we close this issue?

[2021-06-25 14:39] ukmo-ccbunney opened #425 "ww3_tr1 mod_def.ww3 sometimes not b4b"
**Describe the bug**
Sometimes, when running `ww3_tr1`, there is a difference in the mod_def.ww3 file on a feature/bug-fix branch and the develop branch, even though no changes have been made to w3gridmd.

I have tracked this down to differences to the `ISBPO` variable; there are some values towards the end of the array that look suspiciously like uninitialised values.

I have had sporadic differe

[2021-06-30 08:02] ukmo-juan-castillo commented on #417
I am having a look at this too.

[2021-06-30 15:21] ukmo-juan-castillo commented on #417
I think I have found the origin of the problem. With the latest changes, the format of the restart file changes, so the old restart file present in the restes is not being read properly. The solution would be generating an equivalent restart file valid for the new code.

[2021-06-30 15:34] JessicaMeixner-NOAA commented on #417
@ukmo-juan-castillo thanks for looking into this!   Where are you seeing the old restart files from the regtests?  I don't see any binary files in the regression tests except for ww3_tp2.12 partition.ww3 files which are not in these tests.   I did think it was perhaps an issue with the restart file changes, but I was thinking maybe something got reset to zero when writing the restart files uninten

[2021-06-30 15:41] ukmo-juan-castillo commented on #417
The issue is definitely in the code reading/writing the restart file, but I did not investigate in depth yet. Hopefully I will give you more details soon (I am still testing), I just told you to revisit the restart file in case that was a quick solution, but I did not check if there was a restart file in the test (I assumed there was), nor checked its format.

[2021-06-30 15:45] JessicaMeixner-NOAA commented on #417
Sounds good @ukmo-juan-castillo I  really appreciate your help and the suggestions.  Let me know if there's anything I can do to help look at things or for extra testing, etc.

[2021-06-30 18:56] aliabdolali commented on #417
@JessicaMeixner-NOAA and @ukmo-juan-castillo Good catch,
I reran the ww3_ufs1.2 test and change ww3_multi with no restart output, then hs field looked fine. It seems it reinitiates at each time the model writes a restart file.
This bug just affects the ww3_multi cases with more than 1 grid (ww3_ufs1.1 with 1 single grid works fine with restart output).

[2021-07-01 12:12] JessicaMeixner-NOAA commented on #423
@aliabdolali I just ran the regtests from develop twice and this is the list of not b4b tests:

**********************************************************************
********************* non-identical cases ****************************
**********************************************************************
mww3_test_03/./work_PR2_UQ_MPI_d2                     (9 files differ)
mww3_test_03/./work_

[2021-07-01 14:48] ukmo-juan-castillo commented on #417
I think I have found the problem. It has to do with the IF conditions in section 2.b of the subroutine W3MPIO. I will run some test to make sure, and if the fix works I will create a branch and a pull request in the NOAA repository.

[2021-07-01 15:34] aliabdolali commented on #423
@JessicaMeixner-NOAA I did the same test and here is my list:

**********************************************************************
********************* non-identical cases ****************************
**********************************************************************
mww3_test_03/./work_PR2_UQ_MPI_d2                     (9 files differ)
mww3_test_03/./work_PR2_UNO_MPI_d2

[2021-07-01 15:51] sbrus89 opened #426 "netCDF include error"
**Describe the bug**
I got an error compiling netCDF programs due to a suspected issue with netCDF include directories.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Additional context**
https://github.com/NOAA-EMC/WW3/blob/3c4732490b8d1d4e1ca2af81e71d8cd30c1de950/model/bin/comp.tmpl#L82-L84
I believe that switching `--cflags` to `--fflags` will fix this issue. This makes sure that t

[2021-07-01 15:54] JessicaMeixner-NOAA commented on #426
What exactly is the error?  I believe we intentionally changed this to --cflags (and --fflags didn't work) but I also think @mickaelaccensi has some problems with this too.  Its possible this is an issue with how netCDF is installed.  For @mickaelaccensi his issues I want to say were resolved when switching from using nf-config to nc-config.

[2021-07-01 16:18] sbrus89 commented on #426
@JessicaMeixner-NOAA, the errors are:

[code]

Good to know about --fflags not working. That's what fixed it for me, but obviously it's machine-dependent. You're probably right that this has something to do with how netCDF is installed.

[2021-07-01 16:23] JessicaMeixner-NOAA commented on #426
Probably need to think of a general way to solve this.  I think @mickaelaccensi had an idea, he's also on vacation for the next week or two.

[2021-07-01 16:30] sbrus89 commented on #426
No problem; it'd be interesting to hear what he has in mind when he's back.

It's unfortunate that the current strategy isn't as general as it should be, because it's really a nice way to handle this. It seems like generality is exactly the thing that --cflags and --fflags are designed to achieve.

[2021-07-02 06:49] ukmo-juan-castillo commented on #417
It looks like the fix is working. I will create a branch from the latest version of develop, and run all the regtests. I will also run a well known coupled configuration of the Met Office (the changes may affect coupled configurations). Once the changes are implemented in the branch, please test it to make sure the differences you observe disappear.

[2021-07-06 05:39] uturuncoglu opened #428 "WW3 ESMF/NUOPC cap fails in DataInitialize() phase if NUOPC_IsAtTime() is used with CMEPs coupling"
**Describe the bug**
The ESMF/NUOPC cap fails in `DataInitialize` call if CMEPS mediator is used for the coupling. A simple workaround is implemented and checks `med_present = true` attribute in nems configure to activate CMEPS coupling. In this cap WW3 cap skips `NUOPC_IsAtTime` call to check import fields based on current model time and set `allUpdated = .true.` to satisfy the `DataInitialize`.

[2021-07-07 11:58] mickaelaccensi commented on #426
@sbrus89,
could you provide the output of the commands :
[code]
I'll try to add a patch to detect this error, on my side, the problem was on the link stage because the option '--libs' does not exist for nf-config.

[2021-07-07 14:49] sbrus89 commented on #426
@mickaelaccensi, here the output of `nc-config --all`:
[code]

[2021-07-07 14:50] sbrus89 commented on #426
and here's the output of `nf-config --all`:

[code]

[2021-07-07 14:50] sbrus89 commented on #426
Let me know what other information I can provide. Thanks for your help with this!

[2021-07-08 08:23] mickaelaccensi commented on #426
@JessicaMeixner-NOAA, @thesser1  and @ukmo-ccbunney , could you also provide the output of :

[code]

The idea is to implement a smart patch for the comp and link options for netcdf in ww3.

From my point of view, there are 2 problems :
-if the netcdf-c and netcdf-fortran are not compiled in the same directory
      ->that's the case of Steven, fflags and cflags provide different results for both

[2021-07-08 10:35] ukmo-ccbunney commented on #426
@mickaelaccensi
Here is the output from `nc-config --all` on our HPC:
[code]

and the same for `nf-config --all`:
[code]

[2021-07-08 15:23] ukmo-ccbunney opened #429 "[ww3_ounf] NetCDF compression sometimes not applied when using SMC grids"
**Describe the bug**
When using outputting netCDF NC4 files using `ww3_ounf` on an SMC grid the netCDF compression is not applied when creating variables in a new file.

**To Reproduce**
Run `ww3_ounf` on an SMC grid with NC4 switch.

**Expected behavior**
Some output variables will not have compression applied (you can verify this using `ncdump -h -s`

**Proposed fix**
Move `NF90_DEF_VAR_DEFLATE`

[2021-07-08 15:41] JessicaMeixner-NOAA commented on #429
This might be simpler to fix with/after PR https://github.com/NOAA-EMC/WW3/pull/411
where the NC4 switch goes away and previously anything that had NC4 is modified to only have a "IF (NCTYPE.EQ.4)"

[2021-07-08 19:51] JessicaMeixner-NOAA commented on #426
here's for nc-config --all:
[code]

and for nf-config --all

[code]

[2021-07-09 08:41] ukmo-ccbunney commented on #429
@JessicaMeixner-NOAA Good point - and agreed. I'll wait until that PR has been merged.

[2021-07-09 17:12] ukmo-ccbunney opened #430 "[ww3_ounf] RTD pole information being generated for non-rotated pole grids"
**Describe the bug**
If a model is compiled with the `RTD` switch but is formulated on a standard pole* the `ww3_ounf` program incorrectly generates extra `standard_latitude` and `standard_longitude` variables.

_* e.g. for generation of rotated pole boundary conditions from standard pole model_

**To Reproduce**
Steps to reproduce the behaviour:
Run a model on a standard grid, but compile with th

[2021-07-09 17:12] ukmo-ccbunney commented on #430
@aliabdolali Would you like me to add this fix to the UKMO staging_may2021 branch?

[2021-07-09 17:17] aliabdolali commented on #430
@ukmo-ccbunney yes, please. We need to fix the problem and do the final test for the staging and merge it. I Hope Juan will fix the problems and then we are good to go.

[2021-07-09 17:51] ukmo-juan-castillo opened #431 "ww3_prnc grid point not found"
**Describe the bug**
When reading a netcdf input field with ww3_prnc, it is possible to obtain error messages of the type:

GRID POINT  [...] NOT COVERED BY INPUT GRID

when actually the source grid point lies inside the model grid. This in part happens due to the bug fixed in issue #314, as the fix was done only for rotated pole grids. Another issue is that, in order to decide if there is a grid

[2021-07-14 17:14] aliabdolali commented on #80
Hi @clementcal is this still an issue for you with the develop branch? or can we close it?

[2021-07-14 17:23] aliabdolali commented on #171
@iman-j It seems it has been resolved. Please reopen a new issue if it hasn't.

[2021-07-14 17:23] #171 closed, assigned to nobody

[2021-07-14 17:24] aliabdolali commented on #177
@thesser1 Did you fix this?

[2021-07-14 17:26] aliabdolali commented on #185
@vkbo is this still an issue?

[2021-07-14 17:27] aliabdolali commented on #198
@awest-noaa Could you give me an update on this issue?

[2021-07-14 17:31] aliabdolali commented on #210
@CarstenHansen have you solved this issue?

[2021-07-14 17:32] #227 closed, assigned to nobody

[2021-07-14 17:34] #242 closed, assigned to nobody

[2021-07-14 17:38] aliabdolali commented on #270
Hi @lherdman is this issue solved? I am going to close it, but please reopen if it is still an issue.

[2021-07-14 17:38] #270 closed, assigned to nobody

[2021-07-14 17:39] ukmo-ccbunney commented on #185
PR #419 addresses this for the GNU compiler and provides a method to do so for other compilers to cia the `err_pattern` and `warn_pattern` variables in `cmplr.env`

It is not feasible to set the grep to `^error` for all instances as some compilers produce messages that don't match that pattern.

[2021-07-14 17:39] #288 closed, assigned to nobody

[2021-07-14 17:40] aliabdolali commented on #291
@mickaelaccensi is this issue solved?

[2021-07-14 17:44] #308 closed, assigned to nobody

[2021-07-14 17:47] aliabdolali commented on #343
@MinsukJi-NOAA Do we need to add it to the Develop?

[2021-07-14 17:47] #349 closed, assigned to nobody

[2021-07-14 17:50] aliabdolali commented on #402
@mickaelaccensi can we close this?

[2021-07-14 17:51] aliabdolali commented on #407
@mickaelaccensi can we close this?

[2021-07-14 17:51] #415 closed, assigned to nobody

[2021-07-14 17:52] MinsukJi-NOAA commented on #343
@aliabdolali thanks for checking. That will not be necessary since the wave component is not used on Comet. This issue can be closed.

[2021-07-14 17:53] aliabdolali commented on #422
@sbrus89 would you like to put it in a PR?

[2021-07-14 17:53] #423 closed, assigned to nobody

[2021-07-14 18:12] #343 closed, assigned to nobody

[2021-07-14 18:16] vkbo commented on #185
I no longer use WaveWatch and I'm leaving the field in a couple of months, so for me it's no longer relevant. Whether the fix changes it or not, I can't say.

In any case, this strikes me as a very fragile solution for detecting compiler errors. A build system using for instance CMake would be the optimal solution, but I know from experience how much work it is to make such a change on a large For

[2021-07-14 18:19] aliabdolali commented on #185
@vkbo Thanks, we are moving towards CMake, so WW3 will be equipped with CMake build.
I close the issue now.

[2021-07-14 18:19] #185 closed, assigned to mickaelaccensi

[2021-07-14 18:22] vkbo commented on #139
Just to follow up on this, I was not given the go-ahead to spend time on this, so I never did any more work on it. It's an interesting challenge though.

[2021-07-14 18:38] ukmo-juan-castillo commented on #291
It should be now fixed, please send a new test with the latest version of develop to make sure.

[2021-07-14 18:39] sbrus89 commented on #422
@aliabdolali, of course.

[2021-07-14 18:50] awest-noaa commented on #198
@aliabdolali Ali, this branch has become deprecated, since I will be adding my updates to the scalability branch instead, as we discussed. But the CA NEMS app still points to this branch at present, so please keep it alive for another 2 weeks. Once the NEMS app .gitmodules is updated and fully tested, we can remove this branch.

[2021-07-14 21:25] aliabdolali commented on #268
In the model the "significant wave height of combined seas/swell" value is calculated for every wet grid point and the spectral partition algorithm used in WW3 is described in:
http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.594.4263&rep=rep1&type=pdf

[2021-07-14 21:26] aliabdolali commented on #268
@irfanafi does it answer your question? can we close this issue?

[2021-07-15 01:08] aliabdolali commented on #403
@aronroland could you provide guidance to @nunormont to plot sub-domains?

[2021-07-15 06:49] #402 closed, assigned to mickaelaccensi

[2021-07-15 06:49] #407 closed, assigned to nobody

[2021-07-15 08:20] ukmo-ccbunney commented on #24
I am thinking that this issue can probably be closed. The UKMO did look at instrumentation of the WW3 code with DrHook calls, but I think there are probably better and more comprehensive solutions available from compiler vendors. For instance, there is a project currently underway at the UKMO to investigate the acceleration of WW3 using GPU and openACC. The diagnostics provided (automatically) by

[2021-07-15 08:20] #24 closed

[2021-07-15 08:25] ukmo-ccbunney commented on #31
SMC Hybrid MPI/OMP code was added whilst the codebase was hosted in VLab.
#183 also covers some updates.

[2021-07-15 08:25] #31 closed

[2021-07-15 08:31] ukmo-ccbunney commented on #235
Fixed in #285

[2021-07-15 08:31] #235 closed, assigned to nobody

[2021-07-15 08:32] ukmo-ccbunney commented on #280
@ukmo-ansaulter - Do you wish to keep this Issue open for future CF updates?

[2021-07-15 08:35] ukmo-ansaulter commented on #280
Yes please - the intention is to add these to the WW3 defaults once CF update their [tables](https://cfconventions.org/standard-names.html) (which should be fairly soon, last update was in Jan 2021)

[2021-07-15 09:04] ukmo-juan-castillo commented on #207
I have not finished working on this ticket yet. I was waiting until having other issues solved first, and I believe the last staging branch will contain everything we need to start.

[2021-07-15 12:53] #73 closed

[2021-07-15 14:47] #431 closed, assigned to nobody

[2021-07-20 15:03] JessicaMeixner-NOAA commented on #399
The section in the manual with information about the ESMF/NUOPC cap is an appendix in the manual, the specific latex file is:  https://github.com/NOAA-EMC/WW3/blob/develop/manual/app/nuopc.tex

Perhaps the easiest thing to do would be to add a subsection and note any major changes or say variables that can be read for invoking one aspect.  It doesn't have to be fancy, but a quick description docum

[2021-07-20 16:41] uturuncoglu commented on #399
@JessicaMeixner-NOAA Thanks for the information. I'll work on it and let you know.

[2021-07-21 21:12] uturuncoglu commented on #399
@JessicaMeixner-NOAA @BinLiu-NOAA @danrosen25 i shared initial version of the document with you as Google Doc. Once we finalize the the document, we could add it to the tex file by formatting it.

[2021-07-22 17:16] uturuncoglu opened #434 "The corner coordinates are not reproducible due to the R8 -> R4 conversion"
**Describe the bug**
The recent testing of CMEPS PR (https://github.com/ESCOMP/CMEPS/pull/216) under HAFS application revealed that the `MED_wav_area` field in mediator history file is not reproducible. The three-component configuration of HAFS application works fine and there is no answer change but this particular value is reported as changed with the CESM `cprnc` tool. There is no answer change

[2021-07-22 17:17] uturuncoglu commented on #434
@JessicaMeixner-NOAA I'll let you know about the fix soon.

[2021-07-22 20:27] uturuncoglu commented on #434
@JessicaMeixner-NOAA I tried to put real() conversion explicitly in the assignment part in the WW3 cap as following,

[code]

but it does not help.

Maybe the issue is in CMEPS because all the data that are written to mediator history is in double type. So, even if the coordinates in WW3 cap is R4 and use real() function to convert it from R8 to R4, the data pointer used in CMEPS side for area (ex

[2021-07-23 14:16] #378 closed, assigned to nobody

[2021-07-23 14:16] #383 closed, assigned to nobody

[2021-07-23 14:16] #420 closed, assigned to ukmo-ccbunney

[2021-07-23 14:16] #430 closed, assigned to ukmo-ccbunney

[2021-07-23 14:16] #377 closed, assigned to ukmo-juan-castillo

[2021-07-23 14:36] XiaqiongZhou-NOAA opened #435 "Change file name "manual/run/aux.tex""
**Is your feature request related to a problem? Please describe.**
Windows 10 does not allow to clone the repository that has the file name with 'aux'.
 I got the error message in the windows OS when trying to checkout WW3:
"error: invalid path 'manual/run/aux.tex'"

**Describe the solution you'd like**
Can you change 'aux' to others?

[2021-07-23 14:39] aliabdolali commented on #435
It is already changed to manual/run/sup.tex. Are you cloning the development branch?

[2021-07-23 14:47] XiaqiongZhou-NOAA commented on #435
OK, I am checking out the version as the UFS's submodule.

[2021-07-23 15:01] aliabdolali commented on #435
it is not sycnced with ufs-weather-model. so if you want to check it, you can either clone it from noaa-emc/ww3 repo or clone the PR 620 which is in the queue to be integrated to ufs-weather-model
https://github.com/ufs-community/ufs-weather-model/pull/620

[2021-07-23 17:18] ukmo-juan-castillo commented on #417
I think I know what happens now. The fix I propose seems right, and it will affect the multi tests writing a restart file, which also explains the observed changes in ww3_tp2.17. When applying the fix to version e756361cee6c0e3bfac064376fcec3eba986719d there are no changes in the mww3_test_04 test though. This happens because there was a bug in the code affecting these tests that was only fixed in

[2021-07-23 20:30] #418 closed, assigned to ukmo-ccbunney

[2021-07-26 09:06] mickaelaccensi commented on #291
yes it worked for me with the last version of develop branch. I close the issue

[2021-07-26 09:06] #291 closed, assigned to ukmo-ccbunney, ukmo-ansaulter, ukmo-juan-castillo

[2021-07-26 09:39] mickaelaccensi commented on #143
it is still not b4b when you change the number of mpi procs
you could reproduce it by running this regtest with values of mpi tasks multiple of the number of cpu per node
(here I have 28 cpus per node), so I ran -n=$N with N = 28, 56, 84, 112

`bin/run_test -c datarmor_intel_debug -m grdset_e -n $N -p $MPI_LAUNCH -s PR3_UQ_MPI -w work_e  -N -o netcdf ../model mww3_test_03`

the differences are onl

[2021-07-27 18:17] uturuncoglu commented on #434
@JessicaMeixner-NOAA I started working on this again. Here is the update about the steps that code follows. So, my plan is to look at each steps to see what is going on.

1. WW3 cap is working in R4 mode and the corner coordinates are converted from R8 to R4 in there. I think using real() function is fine to explicitly convert from R4 to R8 but this does not help. In any case we could add followin

[2021-07-27 20:01] JessicaMeixner-NOAA commented on #434
@uturuncoglu  I haven't had time to look into this in depth.  Based on your last comments I have two questions though:
1. If we calculated the areas and sent them, would it solve the issue or is it better for CMEPS to calculate the areas?
2. Instead of converting the R8 to R4 in the ESMF cap for WW3 explicitly, should we explicitly set those corner values to be R8  and stay at R8 or do we need to

[2021-07-27 20:24] uturuncoglu commented on #434
@JessicaMeixner-NOAA Calculating areas explicitly might help to solve this issue I was looking into the WW3 code and there are some code in the SCRIP part such as `SCRIP_GridComputeArea()` call could help but I am not sure.

I am not sure having R4 for center coordinates and R8 for corner in ESMF side. It might be possible. Let me try. I'll update you about it.

[2021-07-27 20:32] uturuncoglu commented on #434
@JessicaMeixner-NOAA it seems that the items in ESMF_Grid is in same type and it is not possible to use R4 for some part and R8 for another part. At least the API is designed like that. I could ask to Gerhard or Bob to get more information. One other thing that we could try is to push the WW3 grid part be R8. So, all those information can be consistent by this way. I think fields could still be R4

[2021-07-27 20:34] JessicaMeixner-NOAA commented on #434
@uturuncoglu sounds good

[2021-07-28 05:47] uturuncoglu commented on #434
@JessicaMeixner-NOAA Following tests are done to track the source of the issue. Here is the details,

**1.** `ESMF_FieldWrite()` is used to write field to disk just after `ESMFRegridGetArea()` call to eliminate possible R4->R8 conversion issue in mediator history phase. The two consecutive run showed that the area field for WW3 is different (other components are just fine - FV3 and HYCOM and both

[2021-07-28 13:00] ukmo-ccbunney commented on #429
#436 raised as draft PR for now - can update after #411 if necessary.

[2021-07-28 17:13] #417 closed, assigned to nobody

[2021-07-28 21:34] uturuncoglu commented on #434
@JessicaMeixner-NOAA I might fix the issue and I am performing couple of more test to be sure. I found an issue in the `ESMF_GridAddCoord()` call that is used to add corner coordinates. That was adding one more extra row and column to the corner coordinates and those extra region has no corresponding data in the data returned by the script call to calculate the corner coordinates. The dimension re

[2021-07-29 09:45] ukmo-juan-castillo commented on #292
Close because it is duplicated: #337

[2021-07-29 09:45] #292 closed, assigned to nobody

[2021-07-29 15:42] #422 closed, assigned to nobody

[2021-07-30 05:19] uturuncoglu commented on #434
@JessicaMeixner-NOAA It turns out that we could not use `staggerEdgeUWidth=(/0,0/)` at this moment because it triggers another issue in the coupling like following,

[code]

Anyway, I implement another approach to solve the issue. In this case, I put the code to the cap that basically calculates the missing data in the corner coordinate (top-most row and right-most column) for both import and expo

[2021-07-30 06:41] uturuncoglu commented on #434
@JessicaMeixner-NOAA I created draft PR - https://github.com/NOAA-EMC/WW3/pull/438 So, I'll initially run RTs and update the PR description. In the meantime, if you have time, please look at it to the changes and let me know if you need any change.

[2021-07-30 11:50] JessicaMeixner-NOAA commented on #434
@uturuncoglu from your description this all seems like great news! I won't have time to look in detail at the code today, but will plan on doing that on Monday.

[2021-07-30 13:29] aliabdolali commented on #435
@XiaqiongZhou-NOAA the fix is now in ufs-weather-model.

[2021-07-30 13:29] #435 closed, assigned to nobody

[2021-08-02 14:47] #359 closed, assigned to nobody

[2021-08-04 13:31] #354 closed, assigned to JessicaMeixner-NOAA

[2021-08-04 18:39] JessicaMeixner-NOAA opened #440 "run_test and OASIS question"
In run_test when #coupl = OASIS, we have the line (https://github.com/NOAA-EMC/WW3/blob/develop/regtests/bin/run_test#L1690):

`      if $runcmd -np $halfnproc $path_e/$prgb : -np $halfnproc $path_w/toy_model | tee $ofile
`

which is causing me trouble when trying to port run_test to a new machine because the appropriate syntax is -n not -np, so I was thinking about moving these if statements up w

[2021-08-04 18:45] JessicaMeixner-NOAA opened #441 "enable matrix_ncep on orion"
We should be able to run matrix_ncep on orion.  The first issue was to change mpirun to srun which is the command we should be using on hera too for slurm.  Still debugging issues on orion that include:
-- I think the parmetis library needs to be rebuilt now that we're using hpc-stack modules on orion  (@aliabdolali can you help with this?)
-- the oasis tests fail see question in issue #440

This

[2021-08-04 18:49] aliabdolali commented on #441
@jessica, the path to metis/parmetis on orion is to the ones compiled using hpc-stack
/work/noaa/marine/ali.abdolali/Source/hpc-stack/parmetis-4.0.3/lib
I checked the matrix_ncep and it is referred to the above-mentioned path. Do you get failure using it?

[2021-08-04 18:54] JessicaMeixner-NOAA commented on #441
They're build with  hpc-intel/2019.5  but ufs-weather-model uses  hpc-intel/2018.4 (see: https://github.com/ufs-community/ufs-weather-model/blob/develop/modulefiles/ufs_orion.intel#L16-L18) so I was currently switching to use that intel unless there's a reason we should deviate from that?

[2021-08-04 19:20] aliabdolali commented on #441
@JessicaMeixner-NOAA I just removed the one with intel./2019 and compiled them with the same version of hpc stack
module use /apps/contrib/NCEP/libs/hpc-stack/modulefiles/stack

module load hpc/1.1.0
module load hpc-intel/2018.4
module load hpc-impi/2018.4

the path did not change:
/work/noaa/marine/ali.abdolali/Source/hpc-stack/parmetis-4.0.3/lib

[2021-08-05 11:55] JessicaMeixner-NOAA commented on #441
Thanks @aliabdolali  the PDLIB tests now seem to be passing.

Current issues are:
* Several tests are ending in  segmentation fault (including at least one of the ufs1.2 tests)
* NetCDF error, similar (or same) to what Ricardo found:
*    *** WAVEWATCH III ERROR IN OUNF :
  LINE NUMBER         2187
  NETCDF ERROR MESSAGE:
 NetCDF: Name contains illegal characters

[2021-08-05 13:30] JessicaMeixner-NOAA commented on #441
FYI @ricampos

[2021-08-05 18:39] JessicaMeixner-NOAA opened #442 "Input needs updating"
**Describe the bug**
https://github.com/NOAA-EMC/WW3/blob/develop/regtests/ww3_tp2.17/input/ww3_multi_grdset_a1.inp#L9:
 'inla'  'native' 'native' 'native' 'no' 'no' 'no' 'no'   1  1  0.00 1.00  F
should be:
 'inla'  'native' 'native' 'native' 'no' 'no' 'no' 'no' 'no' 'no'  1  1  0.00 1.00  F

**To Reproduce**
 Running regression tests with similar options:
 run_test -b slurm -c orion.intel -S -T

[2021-08-05 18:40] JessicaMeixner-NOAA commented on #441
I can get past the segfaults I was having by adding:
`ulimit -s unlimited
`
Now I have  run into https://github.com/NOAA-EMC/WW3/issues/442

[2021-08-06 11:29] ricampos commented on #441
Thanks, Jessica. I will leave a note for me to remember to add this line.

[2021-08-06 11:30] ukmo-ccbunney opened #443 "Regtest tp2.17 failing to compile since #350"
**Describe the bug**
The ww3_tp2.17 regtest is failing since PR #350 due to an unknown intrinsic KNINT in ww3_grib.ftn.
#350 added ww3_grib.inp files to ww3_tp2.17 and these are being compiled with the NCEP2 switch.
The NCEP2 switch enables lines in ww3_grib.ftn that call the intrinsic KNINT, which is an unknown intrinsic.

**To Reproduce**
Run one of the tp2.17 regression tests, e.g.:
./bin/run_t

[2021-08-06 12:28] ukmo-ccbunney commented on #441
OK.
Try ww3in2pp again.
Ignore the lat/lon axes when you view the file - they will just be 0.1 degree increments regardless of the grid (that information is not stored in the input files)

[2021-08-06 19:32] #356 closed, assigned to nobody

[2021-08-06 20:18] JessicaMeixner-NOAA commented on #440
@ukmo-juan-castillo or @ukmo-ccbunney It looks like @mickaelaccensi is on leave, do either of you know the answer to this?

I'll assume no OMP which is what's in run_test for now so I can move forward and we can revisit when someone who work on Oasis can chime in with an answer.

[2021-08-10 17:23] XianwuXue-NOAA opened #445 "Port to WCOSS2 for GEFSv12"
Port WW3 for GEFSv12 to Acorn/WCOSS2

[2021-08-10 17:36] JessicaMeixner-NOAA commented on #445
@XianwuXue-NOAA will you be working on this or do you need help from me and/or @aliabdolali ?

Do you know what modules will be used?

[2021-08-10 17:59] XianwuXue-NOAA commented on #445
@JessicaMeixner-NOAA Thanks a lot. Currently, I can compile WW3 got get "WW3/model/obj_HYB/libww3_multi_esmf.a" and ten exe files on Acorn, however, please review my changes to see whether I did the proper changes. Currently, I encountered an issue when I try to compile FV3. "atmos_model.F90(336): error #8178: The procedure pointer and the procedure target must have matching arguments."

BTW, 1) f

[2021-08-10 18:00] XianwuXue-NOAA commented on #445
BTW, my work directory is located in "/lfs/h1/emc/ens/noscrub/Xianwu.Xue/gw/gw_feature_gefs_v12_github_port2acorn/sorc/fv3gfs.fd/WW3"

[2021-08-10 18:03] JessicaMeixner-NOAA commented on #445
@XianwuXue-NOAA let me know when you've pushed the changes to a branch on GitHub or I'll see a PR come in to the production/GEFS.v12 branch.  Seems like you are working on this so I'll go ahead and assign the issue to you.

[2021-08-10 18:06] XianwuXue-NOAA commented on #445
Thanks @JessicaMeixner-NOAA

[2021-08-12 16:15] aliabdolali opened #446 "add GEFSv12 test"
add the multi setup for gefsv12 case with ice and wind forcing

[2021-08-13 11:07] ukmo-juan-castillo opened #448 "Variable air density not used"
The present code has the capability of reading an air density field and use it in the calculations. If this field is not read, the default value of DAIR=1.225 is used.

At the moment some of the code does not use this capability and the constant value of DAIR is used. Furthermore, the air density is overwritten with this constant value after it is read from the restart file.

[2021-08-17 17:15] DiegoGutierrez2210 opened #449 "linking error while processing ww3_prtide (compiling)"
Hi everyone

I have this error and I think that It is a bug error, but I'm not sure:
****Processing ww3_prtide
**---------------------**
ad3 : processing ww3_prtide
      Linking ww3_prtide
      *** error in linking ***
 w3src6md.o: En la función `lfactor':
/home/dgeo/WW3/tmp/w3src6md.F90:761: referencia a `__w3wdatmd_MOD_time' sin definir
/home/dgeo/WW3/tmp/w3src6md.F90:761: referencia a `__w3wd

[2021-08-20 12:57] JessicaMeixner-NOAA opened #450 "Add Memory Profiling statements to wmesmf"
**Description**
Need to add ESMF memory profiling statements to WW3 NUOPC cap (wmesmf).

**Describe the solution you'd like**
Follow similar statements (and option variable name) as in FV3GFS or MOM6's NUOPC Cap.

[2021-08-20 17:29] JessicaMeixner-NOAA commented on #441
Okay at this point I have a branch that runs everything on orion except for the netcdf output with the partitions, those tests still fail.

[2021-08-20 18:25] JessicaMeixner-NOAA commented on #441
@aliabdolali @ricampos should I go ahead and make a PR with the updates as of now or wait until we have a fix for the netcdf issues on orion?

[2021-08-20 18:36] aliabdolali commented on #441
@JessicaMeixner-NOAA Thanks, please go ahead and make the PR. If needed, please make an issue associated with this problem.

[2021-08-20 20:02] #355 closed, assigned to JessicaMeixner-NOAA

[2021-08-21 00:52] ricampos commented on #441
Hi Jessica,  I found the problem on Orion. When ww3_ounf is compiled with netcdf/4.7.4 the program crashes during partition writing with the message "NetCDF: Name contains illegal characters" as you saw. It partially writes the file (without partitions) and then stop, but the problematic netcdf file is created.
When I recompiled the model with netcdf/4.7.2 , ww3_ounf worked nicely. All good. See r

[2021-08-21 00:54] ricampos commented on #441
From now on I will always use module load netcdf/4.7.2 in my jobscripts.

[2021-08-23 13:25] JessicaMeixner-NOAA commented on #441
There was an issue when running the regtests on hera, I thought I had solved that problem, but I guess not. So no pull request yet for this branch.

@ricampos while netcdf/4.7.2 solving the problem is great, that's not an hpc-stack module which is what we want to use.  Let's make a new issue for just the netcdf problem problem on orion, using the hpc-stack modules instead.   If needed we might nee

[2021-08-23 13:31] ricampos commented on #441
Understood.
But what if this is a netcdf/4.7.4 issue instead of a WW3 issue?

[2021-08-23 13:39] JessicaMeixner-NOAA commented on #441
It works with netcdf/4.7.4 on hera I'll make a new issue -- let's continue this conversation there.

[2021-08-23 13:41] ricampos commented on #441
ok

[2021-08-23 13:43] JessicaMeixner-NOAA opened #451 "Issues with ww3_ounf partition variables on orion"
**Describe the bug**
When running ww3_ounf on orion with variables PHS PTP PDIR, we get the error:

[code]

**To Reproduce**
Run ww3_ufs1.1 regression tests on orion or any ww3_ounf test with variables: PHS PTP PDIR

**Expected behavior**
This works with the same modules on hera, so this should also work on orion. It's possible it's a hpc-stack/orion issue alone.
@ricampos reported that switching

[2021-08-23 19:00] #446 closed, assigned to aliabdolali

[2021-08-25 19:50] JessicaMeixner-NOAA opened #452 "ww3_ufs1.3 reproducibility issue"
**Describe the bug**
When running with the develop branch, the ww3_ufs1.3 test twice, the 20190830.030000.restart.glo_15m is not the same.

**To Reproduce**
Clone two copies of the develop branch (8/23/21) and run the reg test:
./bin/run_test -w work_a -m grdset_a -f -p mpirun -n 140  -t 4  -o all ../model ww3_ufs1.3
and then use matrix.comp to compare the output.

**Expected behavior**
All files

[2021-08-26 14:15] DavidHuber-NOAA commented on #424
I've completed an initial port of WW3 to S4.  Almost all of the regression tests pass, with the exception of a few of the tests utilizing parmetis, suggesting a problem with the build of that library.  I suspect that since WW3 is built with -march=ivybridge that parmetis must also be built with that flag.  I will be attempting that later today and try the regression tests again.

Similarly, the GF

[2021-08-26 14:18] aliabdolali commented on #424
@DavidHuber-NOAA Thanks for the update. The metis and parmetis for WW3 on our RDHPCs are compiled following
https://github.com/NOAA-EMC/WW3/wiki/FAQs-page#how-to-install-Metis-and-Parmetis
How did you compile them on S4?

[2021-08-26 14:29] DavidHuber-NOAA commented on #424
@aliabdolali Thanks for the link.  I had compiled both without declaring CFLAGS or specifying cc or cxx in the make command, so it looks like it built with mpicc instead of mpiicc.  I will give that a try.

[2021-08-27 22:02] MatthewMasarik-NOAA opened #455 "Save source/listing files feature fix"
**ad3 source/listing feature fix**

**Feature problem**:  When answering ‘yes’ to save the source (`.F90`, `.F`, `.f`, etc.) files during `w3_setup`, only some of the files appear to be saved on a subsequent run.

**Description**:  Checking the `tmp/` sub-directory of a `model` directory generated by a regtest, only a small number of source files are present.  Looking into this it was found that i

[2021-08-31 18:54] famarti opened #456 "Looking for help with ww3_multi."
Hi everyone,

We're having trouble when the model uses the ww3_multi program. From what we could check in the output, the wave model stops working when the WMINIT subroutine starts.
The model writes "Initializing wave model..." and then we have a series of errors that we cannot understand why they are due to.
Here are the errors:

 Model number  1 [glob]
          Initializing wave model ...
 w3se

[2021-09-01 06:47] mickaelaccensi commented on #456
Dear Facundo,
Could you please try to reproduce this error with the latest version of ww3 from the develop branch.
Another advice would be to disable the forcing fields (wind, current, ...) to check if the error comes from them.
Which compiler do you use and how have you compiled ww3 ?

[2021-09-01 09:53] mickaelaccensi opened #457 "ww3_tr1 bound I/O error"
**Describe the bug**
when running the regtest ww3_tr1 with ASCII spec boundaries, an I/O error occurs

**To Reproduce**
./bin/run_test -o both -f -S -T -c intel -i input_bndin -w work_bndin ../model ww3_tr1

**Expected behavior**
in ww3_bound.out :
IP, file, I/O error:    1, ../input_bndin/bnd1.spc,     0
IP and spectral dimensions:    1   13   24
IP, file, I/O error:    2, ../input_bndin/bnd2.spc

[2021-09-01 13:32] ukmo-ccbunney commented on #457
Hi @mickaelaccensi
I don't think this is actually an error.
The IOSTAT return value is actually 0 - which is ok.
It is just some verbose output (from line 338 of ww3_bound.ftn).

Perhaps the working should be change from "I/O error" to "I/O Stat" to avoid confusion?

Chris.

[2021-09-01 13:33] mickaelaccensi commented on #457
true, it would be good to change it to I/O Stat

[2021-09-01 14:04] ukmo-ccbunney commented on #457
Are you happy to close this issue then?

[2021-09-01 18:01] DavidHuber-NOAA commented on #424
After fixing the install of parmetis, those tests now pass.

However, I'm having issues with the OASIS tests and two of the `ww3_multi` tests.

I believe the issues with OASIS are partly related to #440, but we are also limited on S4 to running with `srun`.  This causes an additional issue since the OASIS calls appear to be ~heterogeneous~ CORRECTION multiple-program-multiple-data model invocation

[2021-09-03 15:20] DavidHuber-NOAA commented on #424
@aliabdolali As a sanity check, I ran the test mentioned above (`run_test -b slurm -c s4.intel -S -T -s MPI -s NO_PDLIB -w work_ma1 -m grdset_a1 -f -p srun -n 24 -o all ../model11 ww3_tp2.17`) on Hera and I am seeing the same failure.  The log file can be found here: `/scratch1/NESDIS/nesdis-rdo2/David.Huber/gw_dev/sorc/fv3gfs.fd/WW3/regtests/bin/matrix11.out`, with the errors occurring on lines 1

[2021-09-03 15:33] aliabdolali commented on #424
Thanks @DavidHuber-NOAA Let me check it. I will be back to you in 30 min.

[2021-09-03 16:16] aliabdolali commented on #424
Hi @DavidHuber-NOAA
It is a known issue and the fix is identified.
https://github.com/NOAA-EMC/WW3/issues/442
Please go ahead with your PR.
What about OASIS tests? have you managed them?

[2021-09-03 17:54] DavidHuber-NOAA commented on #424
@aliabdolali All but one of the OASIS tests passed:
`run_test -b slurm -c s4.intel -S -T -s OASACM3 -w work_OASACM3 -f -p srun -n 24/2 -o netcdf ../model11 ww3_tp2.14`

When `-n 24/2` is passed to `srun`, it returns an error: `Invalid numeric value "24/2" for number of tasks`.  Is the intention of this test to run with 12 tasks?

[2021-09-03 18:34] aliabdolali commented on #424
Yes, on some platforms, it is acceptable, while I have seen the opposite as well.
so if you change it to 12, does it work?

[2021-09-03 19:46] DavidHuber-NOAA commented on #424
@aliabdolali Yes, the test passes using 12.  Interestingly, on Hera, the same line (with -n 24/2) runs 24 tasks.  I could change the line in matrix.base to
`$rtst             -s OASACM3 -w work_OASACM3          -f -p $mpi -n $(( $np / 2 )) -o netcdf $ww3 ww3_tp2.14`
which should come out as 12 (confirmed on Hera and S4).

[2021-09-03 20:13] aliabdolali commented on #424
@DavidHuber-NOAA I am going to make an issue, and we will fix it in matrix.base in a separate PR. Thanks for checking Hera.

[2021-09-06 14:53] mickaelaccensi opened #459 "add direction without cos/sin projection for coupling exchange"
the aim of this feature is to be able to exchange the mean direction directly as a coupled field instead of the projected cos and sin of the direction. This is useful for rotated grid where the projection is done in the other model

[2021-09-07 07:53] EmilioEchevarria opened #461 "WW3 doesn't preprocess netcdf input data correctly if the time units are "days since 0001-01-01 00:00:00""
Hello,

I'm observing an issue when preprocessing netcdf input files with `ww3_prnc` with WW3 v6.07:

`ncdump -t -v time static/wind20170212.120000.nc` gives:

[code]

After running `ww3_prnc`, `more ww3_prnc.out` gives:
[code]

WW3 adds 2 days to the actual time. When I use input data with other time units it works fine:

`ncdump -t -v time static/wind20170212.120000.nc` gives:
[code]

`more ww3_

[2021-09-07 07:57] mickaelaccensi commented on #461
Hello Emilio,

could you provide the full list of attributes of the time variable of your netcdf file. It might be due to the calendar used in your file

Mickael

[2021-09-07 08:45] EmilioEchevarria commented on #461
Hello Mickael,

Thanks for getting in touch so quickly!

These are the attributes of the file:
[code]

I tried changing these as well without much success.

In your opinion this should work in WW3 v6.07? If yes, then I know there's something wrong with the input file I'm using.

Thanks,
Emilio

[2021-09-07 09:44] mickaelaccensi commented on #461
ok the problem is because of the attribute units which starts at 0001. Could you provide me your netcdf file to try on my side

[2021-09-08 00:04] EmilioEchevarria commented on #461
[wind.zip](https://github.com/NOAA-EMC/WW3/files/7124859/wind.zip)

Thanks Mickael, I tried uploading the file in a zip, let me know if you can access it.

[2021-09-08 11:14] mickaelaccensi opened #463 "matrix.comp bug when multiple similar file names"
**Describe the bug**
ww3_tp2.18 is not well compared by matrix.comp because there are files current.ww3 and current.ww3_tide
when applying sed functions to replace "current.ww3" by an empty character, it converts also "current.ww3_tide" into "_tide"
then "_tide" is considered as a file not found in both repos

**To Reproduce**
./bin/matrix.comp ww3_tp2.18 . ../../develop/regtest

**Expected behavi

[2021-09-08 11:18] mickaelaccensi opened #464 "ww3_tp2.17 has incorrect inp files"
**Describe the bug**
ww3_multi_grdset_a1.inp and ww3_multi_grdset_c1.inp do not have the exact number of parameters which lead to a crash on the regtest

**To Reproduce**
`./bin/run_test -o both -f -S -T -c datarmor_intel -s MPI -s NO_PDLIB -w work_ma1 -m grdset_a1 -f -p $MPI_LAUNCH -n 28  -o all ../model ww3_tp2.17`
and
`./bin/run_test -o both -f -S -T -c datarmor_intel -s MPI -s PDLIB -w work_mc

[2021-09-08 12:45] aliabdolali commented on #464
isn't it a duplicate of https://github.com/NOAA-EMC/WW3/issues/442?

[2021-09-08 12:56] JessicaMeixner-NOAA opened #465 "Remove switch list from w3init (or change how this is done)"
In the building of WW3 in ad3, we add the switches that were used to compile the model.  See [these lines] (https://github.com/NOAA-EMC/WW3/blob/develop/model/bin/ad3#L264-L280) which are copied below:

[code]

Because of this build level code addition, it will make it harder if we want to move to other types of builds because of this custom code addition in the build itself.  We could get rid of

[2021-09-08 12:56] JessicaMeixner-NOAA commented on #465
Any thoughts or preferences @aliabdolali @ukmo-ccbunney @mickaelaccensi @thesser1 ?

[2021-09-08 13:02] mickaelaccensi commented on #464
true, I'll close my issue and link to this one

[2021-09-08 13:03] #464 closed, assigned to mickaelaccensi

[2021-09-08 13:24] mickaelaccensi opened #466 "2D spectra compression in WW3 input and output"
**Is your feature request related to a problem? Please describe.**
add functionality to :
- read compressed 2D spectra as netcdf in ww3_bounc
- create compress 2D spectra as netcdf with ww3_ounp

**Describe the solution you'd like**
the compression is similar to what is already done to compress the wave spectrum in ww3_ounf
which means compressing the variable as SHORT and applying a log10 factor

[2021-09-08 14:09] #424 closed, assigned to DavidHuber-NOAA

[2021-09-09 09:31] mickaelaccensi commented on #461
I'm also able to reproduce the problem. From what I understood, it seems to be related to the calendar reference. The standard calendar is gregorian. But because your base date is 0001-01-01 which is before the Gregorian origin date of 1582-10-15, it shoud be considered as proleptic_gregorian.

If you change the calendar attribute with nco tools :
`ncatted -O -a calendar,time,o,c,'proleptic_gregor

[2021-09-09 13:24] #434 closed, assigned to nobody

[2021-09-10 13:17] ukmo-ccbunney opened #471 "ww3_ts1/NL5 regtest not b4b when changes made to INPUT type."
**Describe the bug**
The ww3_ts1/NL5 regression test is not b4b if changes are made to variables the `INPUT` derived type - even if the changes do not affect the current build.

This issue came to light with the work @ukmo-juan-castillo has been doing to read RHOAIR in from a file (https://github.com/ukmo-waves/WW3/pull/34) . This required addition of some new variables to the INPUT derived type i

[2021-09-10 14:45] famarti commented on #456
Thanks for the answer Mickael, and sorry for the delay in my response. We're currently working with the 6.07 version of WW3. ifort was used in the compilation, and we used the following switch for the program ww3_multi:
F90 NCEP2 DIST MPI PR3 UQ LN1 FLX0 ST4 STAB3 NL1 BT1 DB1 MLIM TR0 BS0 XX0 WNX1 WNT1 CRX1 CRT1 IC0 IS0 REF0 O0 O1 O2 O3 O4 O5 O6 O7

We also tried disabling the forcing fields. Orig

[2021-09-10 17:34] #429 closed, assigned to ukmo-ccbunney

[2021-09-13 14:58] junwang-noaa opened #472 "port ww3 on wcoss2 for ufs-weather-model"
**Is your feature request related to a problem? Please describe.**
We are porting ufs-weather-model to wcoss2. Currently the code can't be compile with ww3 as some code changes are required in ww3 repo.

**Describe the solution you'd like**
ww3 needs to have wcoss2 support so that ufs-weather-model can compile coupled application with ww3.

**Describe alternatives you've considered**
No.

**Additi

[2021-09-13 16:47] SMoorthi-emc commented on #472
Mark Potts knows how to compile WW3 on wcoss2.  With his help, I was able
to compile S2SW on Cactus.

On Mon, Sep 13, 2021 at 10:58 AM Jun Wang ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Te

[2021-09-13 16:52] junwang-noaa commented on #472
Thanks, Moorthi. Minsuk also knows how to make the code changes. But we
need to point to the ww3 develop branch in UFS for the porting.

On Mon, Sep 13, 2021 at 12:48 PM SMoorthi-emc ***@***.***>
wrote:

[2021-09-14 13:37] JessicaMeixner-NOAA commented on #442
Closing issue, was fixed in PR#460

[2021-09-14 13:37] #442 closed, assigned to nobody

[2021-09-14 16:22] #465 closed, assigned to nobody

[2021-09-15 06:16] EmilioEchevarria commented on #461
Hello Mickael,

Thank you so much! I can see that the problem is related to the calendar reference, and therefore to my input file. I guess the reason I didn't observe this with WW3 v5.16 is that v5 is less strict with the time units.

Best regards,
Emilio

[2021-09-16 09:49] mubar5656 opened #477 "problem in running ww3_shel of ww3 v6.07"
i have compile ww3 v6.07 and trying to run ww3_shel, but i always gets the error below

The file with input data is FORMATTED.
At line 1117 of file ww3_shel.F90 (unit = 10, file = './ww3_shel.inp')
Fortran runtime error: Bad integer for item 1 in list input

i realized the time formats of the data in the ww3_shel is not being read/working when i run it.
i have ww3 v5.16 and it works perfectly. tha

[2021-09-16 09:51] ukmo-ccbunney commented on #477
@mubar5656  Can you attach/paste an example of your input file?

[2021-09-16 19:12] #450 closed, assigned to nobody

[2021-09-19 17:36] #448 closed, assigned to ukmo-juan-castillo

[2021-09-20 06:47] mickaelaccensi commented on #456
can you provide your ww3_multi.nml (or inp)

[2021-09-20 09:15] mickaelaccensi commented on #461
no problem. So I close the issue.
Bests,
Mickael

[2021-09-20 09:15] #461 closed, assigned to nobody

[2021-09-20 15:48] #459 closed, assigned to nobody

[2021-09-20 15:48] #457 closed, assigned to ukmo-ccbunney

[2021-09-20 15:48] #463 closed, assigned to mickaelaccensi

[2021-09-20 16:53] aliabdolali opened #479 "add coarse grid for laptop use"
A grid with the coarse spatial and spectral resolution is required to be added to ww3_ufs1.1 test.

[2021-09-20 19:58] #472 closed, assigned to nobody

[2021-09-21 09:29] ukmo-ccbunney commented on #456
Hi @famarti
Do you have many lines of those error messages?
You might find that there is actually a sensible error message hidden in the middle of it all somewhere.
Try capturing the error output to a file and searching for "WAVEWATCH III ERROR" in the output. Probably there is a problem in your ww3_mutli.inp file.
Chris,.

[2021-09-22 14:38] famarti commented on #456
Thanks Mickael and Chris for your answers. Indeed, we have had our suspicions about the ww3_multi.inp. To put this issue in context, we're trying to adapt to version 6.07 an enormous structure of bash/FORTRAN scripts that runs the WW3 model here in Argentina in the 3.14 version. The first step was downloading and compiling the 6.07 version, but then we had to generate new mod_def files, and eventu

[2021-09-23 11:12] ukmo-ccbunney commented on #456
Did you find any error message in your stdout? It might be hidden amongst all the w3servmd error lines...

[2021-09-23 11:21] ukmo-ccbunney commented on #456
I wonder - you are defining unified point output (UNIPTS=.TRUE.), but then you request output points for your separate grids later on.

I believe that if you use unified output, you can only define your output points (type 2 output) once at the top level - you cannot then redefine them for individual grids.

Perhaps that is the problem? If so, I imagine there is an error message stating that somew

[2021-09-23 13:44] #466 closed, assigned to mickaelaccensi

[2021-09-24 14:12] #177 closed, assigned to nobody

[2021-09-24 15:25] ukmo-ccbunney opened #484 "regtest ww3_tp2.15: ww3_prep run multiple times unnecessarily"
**Describe the bug**
In regtest ww3_tp2.15 (input_rho), each WW3 program is called via a separate invocation of `run_test`. This includes 3 calls to `ww3_prep` whilst manually moving the ww3_prep_*.inp files to the work directory, i.e. from matrix.base:
https://github.com/NOAA-EMC/WW3/blob/c79f485d990143cbb52c93956f1d1d19fdbf3a2c/regtests/bin/matrix.base#L824-L837

However, the `run_test` script a

[2021-09-24 15:35] aliabdolali commented on #484
@ukmo-ccbunney that's a valid point, what about ww3_grid and ww3_strt for the same ww3_tp2.15?
I think the run_test is capable of handling multiple strt and grids and does not need to use _-r_ option.

[2021-09-24 16:01] ukmo-ccbunney commented on #484
That's right - the explicit call to ww3_grid and ww3_strt is not needed. The whole section (13 lines) can be replaced by a single call to run_test.

Also - I note that for the MPI version, the post-processor programs are not being run (as the -S switch is used and they think that the regtest has aready finished).

[2021-09-24 16:33] aliabdolali commented on #484
@ukmo-ccbunney can we fix it in #483 as this PR touches ww3_tp2.15?

[2021-09-26 21:18] #441 closed, assigned to JessicaMeixner-NOAA

[2021-09-26 21:22] aliabdolali commented on #321
After updating the mpirun to srun on NOAA HPC,  ww3_tp2.16/./work_MPI_OMPH is showing similar behavior. It is not b4b anymore.
`./bin/run_test -b slurm -c hera.intel -S -T -s MPI_OMPH -w work_MPI_OMPH -f -p srun -n 4 -t 6 ../model -o both ww3_tp2.16`

[2021-09-26 22:01] #80 closed

[2021-09-27 18:13] #479 closed, assigned to nobody

[2021-09-28 09:01] ukmo-ccbunney commented on #321
Thanks for the update @aliabdolali
I think these OMP B4B issues are due to reduction operations (which are not guaranteed to be B4B due to the order of the reduction not being guaranteed). The way I got around it un ww3_tp2.10 (for our system at least) was to perform the reduction on arrays that had been scaled and converted to integer values. It might be that something similar needs to be done fo

[2021-09-28 09:04] ukmo-ccbunney commented on #484
@aliabdolali: OK - I will ask @ukmo-nievesvaliente to include it in her PR.

[2021-09-28 12:03] JessicaMeixner-NOAA commented on #321
@ukmo-ccbunney I noticed that we are do have the "B4B" flag in both the tp2.10 and the 2.16 OMPH cases, I had thought that the tp2.16 was an issue where something was not getting recompiled correctly, but I used the same switches for both tests and it was okay.  (I thought this because if I ran the tp2.16 test from clean clones I could get b4b, but not if they were run after the tp2.10 test and us

[2021-09-28 14:46] ukmo-ccbunney commented on #321
@JessicaMeixner-NOAA I think the B4B implementation must no longer be working (or it is and there is some other issue). It did originally fix the b4b issue with the SMC propagation a few years ago, but it seems to have come back again and I am not sure why! Certainly, it seems to be implementation specific, as you have seen with your change of scheduler.

[2021-09-29 13:45] mubar5656 commented on #477
am trying to attach the imput file but the system doesn't support .nc files

[2021-09-29 13:49] ukmo-ccbunney commented on #477
I meant your `ww3_shel.inp` file

[2021-09-29 14:09] mubar5656 commented on #477
i have to convert it to txt
[ww3_shel.txt](https://github.com/NOAA-EMC/WW3/files/7252576/ww3_shel.txt)

[2021-09-29 14:11] mubar5656 commented on #477
my email mubar56@yahoo.com if you will to get the .inp file

[2021-09-29 15:30] ukmo-ccbunney commented on #477
What switches are you compiling with?

[2021-09-30 06:05] mubar5656 commented on #477
i used NCEP_st2
[switch.txt](https://github.com/NOAA-EMC/WW3/files/7257049/switch.txt)

[2021-10-04 14:05] JessicaMeixner-NOAA commented on #317
@MatthewMasarik-NOAA @aliabdolali and I have been working on this issue.  Some updates as of now:
* Added tests in a branch of ufs-weather-model to test (note the C96 test passes the mpi test but the C384 bmark does not): https://github.com/jessicameixner-noaa/ufs-weather-model/tree/feature/addwavetests
* In working with the WW3 regression tests, ww3_ufs1.1 we have found that the reproducibility i

[2021-10-05 22:05] MatthewMasarik-NOAA opened #487 "OUTID: indexes outside of character array"
**Describe the bug**
The character array `OUTID` in `w3wavemd` is declared as length = 13, though is seen access index 15, where index variable `J=8`.

**To Reproduce**
Run the `ww3_ufs1.1` regtest in debug mode (i.e., after running `matrix_ncep`, edit the `run_test` command string in `matrix12` to have the compile flag/arg:  `-c intel_debug`, then run `matrix12`).

**Expected behavior**
WW3 will

[2021-10-06 12:58] #337 closed, assigned to ukmo-ccbunney, ukmo-ansaulter, ukmo-juan-castillo, ukmo-nievesvaliente

[2021-10-06 13:07] ukmo-ccbunney commented on #477
Hi @mubar5656 - I have reproduced your error and it is due to an old bug the code (see #13). Essentially, the parameters for the "Separated wave field data (Type 6)" section in `ww3_shel.inp` is incorrectly read in twice.
This was corrected as a hotfix to the master branch here: edb73a36d25250b5f97cfeeff0f3f956f55cb751

You have two options at this point:
  1. If you want to keep using release v6.

[2021-10-06 13:28] ukmo-ccbunney commented on #484
Fixed in #483

[2021-10-06 13:28] #484 closed, assigned to nobody

[2021-10-06 15:23] UKMO-lsampson opened #488 "Unsuccessful compilation under lower optimisation levels."
**Describe the bug**
Compiling under lower level optimisation options (O1 or O0) cause a segmentation fault when the ww3_shel executable is run. This is due to a "short-circuiting" in a merged IF statement, line 404 (in UKMO-waves fork) in w3iorsmd.F90:

**To Reproduce**
We encountered this behaviour running a source-term focused configuration of the model on Isambard HPC, and compiling using the

[2021-10-07 08:09] UKMO-lsampson commented on #488
Issue resolved in another fix, but I had yet to bring the changes through to my local version.

[2021-10-07 08:09] #488 closed, assigned to nobody

[2021-10-07 10:00] ukmo-ccbunney opened #489 "[w3ounfmeta] INTENT mismatch"
**Describe the bug**
Some compilers fail to compile `w3ounfmeta.ftn` with an error relating to the INTENT of the `META` pointer variable in the READ_META_PAIRS subroutine. The Cray Fortran compiler at version 8.3.4 gives an compile error, but newer versions do not.

A simple fix is to change the intent of the `META` variable to `INOUT`

**To Reproduce**
Compile `ww3_ounf` with the Cray Fortran com

[2021-10-07 11:12] mubar5656 commented on #108
hello, i just compiled the WW3-master from github and am experiencing this same error when i run ww3_shel

[switch.txt](https://github.com/NOAA-EMC/WW3/files/7302409/switch.txt)

[ww3_shel.txt](https://github.com/NOAA-EMC/WW3/files/7302419/ww3_shel.txt)

  WAVEWATCH III calculating for 2020/02/01 00:00:00 UTC at 10:47:15
At line 580 of file w3iosfmd.F90 (unit = 34, file = './partition.ww3')
Fortra

[2021-10-07 18:27] aliabdolali commented on #317
I created an equivalent setup for ww3_ufs1.1 for 5 degree grid with ww3_shel instead of ww3_multi
In ww3_shell. we have the following options:
[code]

Type 0 is always different.

[2021-10-10 08:41] ahbarzandeh opened #492 "ERA5 hourly wind to"
Hi
I'm new to WW3.
I want to input the ERA5 hourly wind data for one point during one months, run a 1D case, and get the wave output at that point.
I tried to modify ww3_ts1 regtest (Source term test, time limited growth) based on my target. First I wrote a MATLAB code [era5toWW3input.m.txt] to convert the ERA5 wind .nc in the text form that I think would be suite for WW3 inp file. [WND.txt]
[era5

[2021-10-10 14:15] aliabdolali commented on #492
@ahbarzandeh
Alternatively, you can you ww3_prep or ww3_prnc (if your input is netcdf) and read the wind from a file.
Also, I noticed your ww3_shel.inp needs some modifications  (i.e. 'STP' at the end). See https://github.com/NOAA-EMC/WW3/blob/develop/model/inp/ww3_shel.inp

[2021-10-12 12:15] ukmo-ccbunney commented on #477
@mubar5656 - did this work for you?
Can we close this issue now?

[2021-10-13 13:35] JessicaMeixner-NOAA opened #494 "if statement for openmp in cmplr.env not working"
**Describe the bug**
On NCEP's RDHPCS orion/hera after PR#490 commit hash 1fab3f7238a22f42d0d5cc01e8de1aff80d1b988 on 10-7-21, the model/bin/cmplr.env if statement for optomp="-qopenmp" or optomp="-openmp" is no longer working correctly.  (See: https://github.com/NOAA-EMC/WW3/blob/develop/model/bin/cmplr.env#L147-L155)

**To Reproduce**
Try running a regression test that requires OMP or compile wi

[2021-10-13 13:46] JessicaMeixner-NOAA commented on #494
This code block:

[code]

Seems to work.  Still have no idea why the original one does not. Will make a PR shortly.

[2021-10-13 16:18] mubar5656 commented on #477
yes it did. thanks very much

[2021-10-13 16:29] #477 closed, assigned to nobody

[2021-10-13 17:58] #494 closed, assigned to nobody

[2021-10-14 03:32] MatthewMasarik-NOAA commented on #317
In addition to @JessicaMeixner-NOAA comments above regarding W3UICE, we've found another area that will affect the outcome of the ww3_ufs1.1 regtest.  Currently, we're looking at the block of code in W3IORS that collects the action density (`VA`/`VAAUX`), copies it to buffer `WRITEBUFF`, then writes it to  restart file.  If you comment out this write to file, the restarts are all identical.

[2021-10-14 08:10] Rachel201810 opened #496 "confusion about the output whitecap coverage (WCF)"
HI,

Sorry to be a bother. I have a confusion about the output whitecap coverage (WCF) with the ST4 source term.

Is it the whitecap fraction? I can't find the corresponding introduction of its calculation method in the Manual v5.16. I would appreciate it if you could provide references or formulas.

Appreciate your help.

Best regards!

[2021-10-15 15:24] JessicaMeixner-NOAA commented on #487
@MatthewMasarik-NOAA since this is supposed to indicate writing a restart file, instead of having J=8 when determining the OUTID dimensions, I would vote going ahead and hard-coding that J value to 4 to write into the restart column.  Alternatively the dimension of OUTID could be updated and we could add a new column for the second stream of restart writes.     I don't know if others have preferen

[2021-10-15 15:35] JessicaMeixner-NOAA opened #497 "Divide by zero errors in w3src4md"
**Describe the bug**
I get divide by zero errors in line https://github.com/NOAA-EMC/WW3/blob/develop/model/ftn/w3src4md.ftn#L1562 :

SQRTCDM1 = MIN(WINDSPEED/USTAR,100.0)

**To Reproduce**
This was encountered when running the coupled ufs-weather-model tests in debug mode.  I believe we are getting to this point because the initial wind field when not using a restart file is zero.

**Expected beh

[2021-10-15 15:39] MatthewMasarik-NOAA commented on #317
Comparing the VA/VAAUX values for different MPI counts from the code block in W3IORS mentioned above, there is one pattern that sticks out.  There are consistently four global sea points (ISEA) which have differing spectral element values.  These points and global 2D coordinates (note: for _glo_5deg_) are:
* __ISEA__:  \[__IY__, __IX__\]
* 34: \[4, 37\]
* 37: \[4, 40\]
* 84: \[5, 18\]
* 88: \[5, 2

[2021-10-15 15:44] MatthewMasarik-NOAA commented on #455
Working with the code base more I found the functionality I needed already exists with the `-q` flag for `run_test`.  What I proposed would be less of an augmentation of functionality, and more of a change.  In hindsight there's no reason to make this change, so I will close this issue.

[2021-10-15 15:44] #455 closed, assigned to nobody

[2021-10-15 16:28] MatthewMasarik-NOAA commented on #487
@JessicaMeixner-NOAA and I had an offline discussion, and the possibility of having both primary and secondary streams at the same time came up.  If we hard-coded the J value to 4 in that case, two symbols would have to be at the same location.  Based on this we thought / I'd vote for a new column to indicate secondary restarts.

[2021-10-16 15:35] Agoni00 opened #498 "Looking for wind.nc with ww3_tp2.15 in regtests"
In ww3_tp2.15, an input wind field (wind. nc) is needed, but I can't find the wind field file.

regtests/ww3_tp2.15/input/ww3_prnc.inp：

$ -------------------------------------------------------------------- $
$ WAVEWATCH III Field preprocessor input file                          $
$ -------------------------------------------------------------------- $
$ Mayor types of field and time flag
$   Fie

[2021-10-16 15:40] aliabdolali commented on #498
@Agoni00
The inputs files are available on ftp server
In your local copy from the top-level directory, run the script:
sh model/bin/ww3_from_ftp.sh
it will download the tar file and put files under regtest/*/input directories automatically.

[2021-10-17 07:47] Agoni00 commented on #498
@aliabdolali

Thank you very much for your answer. I have found the NC file. But I have a new problem, when I use ww3_prnc to process the input field of nc file , I get the following warning:
*** WAVEWATCH III WARNING IN W3PRNC：
calendar ATTRIBUTE NOT DEFINED
IT MUST RESPECT STANDARD OR GREGORIAN CALENDAR

How can I resolve this warning?

![1634456017(1)](https://user-images.githubusercontent.com/

[2021-10-17 15:31] aliabdolali commented on #498
@Agoni00 that's a warning and does not affect the test.

[2021-10-18 03:22] Agoni00 commented on #498
@aliabdolali
In addition, I have a question about the setting of ww3_grid, one of which is the input boundary point and the excluded point. In regtests, I noticed that this item is not set in some cases, and some are set. I want to know under what conditions this item will be set, and based on what principle to set this item specifically. As shown in the figure, why and what is the significance of

[2021-10-18 07:11] #496 closed, assigned to nobody

[2021-10-18 14:01] aliabdolali commented on #498
@Agoni00 The open boundaries are defined where you want to impose the boundary conditions taken from a larger scale simulation or observations or when you nest grids within multi setups.
i.e. In order to take into account the effect of swell (long distance generated) in regional scale setup, you need to run the global scale model and extract boundaries at the open boundaries of the regional scale

[2021-10-19 13:49] #360 closed, assigned to nobody

[2021-10-20 02:55] Agoni00 commented on #498
@aliabdolali
In terms of specific settings, for example, what is the meaning and effect of setting 2 2 F 2 11 F?

[2021-10-20 03:06] aliabdolali commented on #498
Hi,
I would recommend you to take a look at the manual and model/inp directory.
For example, the answer to your question is
https://github.com/NOAA-EMC/WW3/blob/develop/model/inp/ww3_grid.inp#L796-L804
If you could not find the answer or see a certain bug, you can create an issue here and we are more than happy to help.

[2021-10-20 04:07] Agoni00 commented on #498
@aliabdolali As a matter of fact, I have read this passage many times but have not understood it.I just started to study ww3 by myself, so my question may be simpler and more detailed.

[2021-10-20 16:21] edwardhartnett commented on #139
We have just had a meeting in which we are discussing the CMake build system for WW3. @kgerheiser is putting the build together. From the meeting today:
* Switch files are used extensively throughout the test system (and perhaps the programmer community). They will be supported in the new build system.
* The new build cannot be considered complete until all existing testing runs with the new build

[2021-10-22 12:41] Agoni00 opened #503 "help"
I created a case and it runs from June 1st to December 31st, 1996. When the mode runs to September 1st, the following error occurs. What is the error?

<img width="1119" alt="微信图片_20211022193745" src="https://user-images.githubusercontent.com/92639723/138447462-e5690b36-6529-4205-a69f-8b01201da22e.png">

[2021-10-22 12:47] JessicaMeixner-NOAA commented on #503
To get a more helpful traceback error, I'd recommend adding -g -traceback to your compiler flags.

[2021-10-22 13:59] Agoni00 commented on #503
@JessicaMeixner-NOAA
Sorry I just started learning ww3, I don’t understand you too much,   I want to know how to add -g -traceback to my compiler flags.

[2021-10-22 14:08] #503 closed, assigned to nobody

[2021-10-22 21:01] MatthewMasarik-NOAA commented on #317
The sea points above were found to all be points that were de-activated in the W3UICE update.  Running 1 deg for multiple MPI counts found the same behavior.  The re-activation points have no problems, so we've narrowed the issue to be related to de-activation of sea points in the ice concentration update.

[2021-10-22 23:02] kgerheiser opened #505 "No rule to make target obj/wmscrpmd.o needed by obj/wmesmfmd.o"
**Describe the bug**
I'm trying to build WW3 and I'm getting this error:

[code]

Looking at this line:

https://github.com/NOAA-EMC/WW3/blob/dd317947d14e06cb4bc713f53197e194f5e88a65/model/bin/build_utils.sh#L858

Do I need to have `SCRIP` set or something so that wmscrpmd is added to the list of files?

Or should I not be building with ESMF at all?

**To Reproduce**
I run:

[code]

**Additional c

[2021-10-23 00:51] aliabdolali commented on #505
Hi @kgerheiser
Here are the steps I took and I was able to compile ww3_multi_esmf

**1) load modules and setenv**

[code]

**2) setup**
`./model/bin/w3_setup model -c hera.intel -s NCEP_st4`
I modified swtich and added _SCRIP SCRIPNC_
you also can copy _model/esmf/switch_ to _bin_
**3- compile**
[code]

I think setting ESMFMKFILE and adding SCRIPS to the switch is necessary.

[2021-10-23 01:14] kgerheiser commented on #505
Is `switch_NCEP_st4` not meant to use ESMF, if `SCRIPS` is not already in `switch_NCEP_st4`? Or should I be running `w3_make ww3_grid`? Just trying to understand the proper workflow here.

[2021-10-24 14:56] JessicaMeixner-NOAA commented on #505
@kgerheiser  I'd recommend using the switch file in model/esmf/switch to compile
./w3_make ww3_multi_esmf

[2021-10-24 15:03] JessicaMeixner-NOAA opened #506 "wmesmf needs SCRIP/SCRIPNC CPP ifdefs added"
**Describe the bug**
wmesmf has recently had calls to SCRIP/SCRIPNC subroutines but the SCRIP/SCRIPNC switch files were not added.  These calls need to be added behind the SCRIP/SCRIPNC switch file calls.  Additionally if a check should be added to ensure the SCRIP/SCRIPNC switch is used to complete the new parts of wmesmf and abort otherwise.  I believe these are the new features added for HAFS.

[2021-10-24 15:04] JessicaMeixner-NOAA commented on #505
@kgerheiser Actually -- you found a bug that needs to be fixed.  I created an issue about this here: https://github.com/NOAA-EMC/WW3/issues/506

[2021-10-24 17:21] JessicaMeixner-NOAA commented on #506
@uturuncoglu I can get the code to compile without the SCRIP switch by doing the following:

[code]

However, going back to https://github.com/NOAA-EMC/WW3/commit/2b4b28733606895f9a188d67420862102978b656 it seems like we should maybe expand where we put the ifdefs for SCRIP around the whole section of code that adds the corner points? And then maybe add a check somewhere else that if  med_present=

[2021-10-25 15:15] uturuncoglu commented on #506
@JessicaMeixner-NOAA if I remember correctly we were protecting these regions with `med_present=true` in the initial implementation but I am not fully sure. I am not sure the latest situation about global application testing through CMEPS but we might consider to add corner coordinates to the grid in all the cases. So, you could get rid of SCRIP specific CPP flags.

[2021-10-25 15:35] JessicaMeixner-NOAA commented on #506
Based on your documentation and the code itself, the calling of scrip and adding the corner points is done regardless of the med_present=true flag.  See: https://github.com/NOAA-EMC/WW3/blob/develop/model/src/wmesmfmd.F90#L3126-L3199 therefore I think we're in the situation where we are requiring SCRIP in any situation when running structured grid wmesmf, therefore we need to add the appropriate l

[2021-10-27 13:37] aliabdolali commented on #317
The problem persists with different versions of intel/impi compiler on Hera.
The problem persists with gnu/mpich.

[2021-10-30 15:20] Agoni00 opened #509 "help"
Hi
When I was preprocessing the ERA5 wind field data (1996-2004)  (ww3_prnc), when the input field was processed to March 16, 1999, the following error suddenly appeared,How can I solve this problem?
![LIQLQ%UKYH}I3M_ ER }S9J](https://user-images.githubusercontent.com/92639723/139539034-ea74d6e9-0898-4b9b-9296-3a760527acb7.png)

[2021-10-30 15:29] #509 closed, assigned to nobody

[2021-10-30 15:41] Agoni00 opened #510 "help"

[2021-11-01 01:37] #510 closed, assigned to nobody

[2021-11-01 14:16] JessicaMeixner-NOAA commented on #497
This fix:
[code]

 had no changes except for the expected not b4b when running regression tests existing regression tests.  Need to confirm it still fixes the debug mode test that discovered this error.

[2021-11-01 17:41] JessicaMeixner-NOAA commented on #443
is this still an issue?

[2021-11-01 22:00] JessicaMeixner-NOAA commented on #317
@MatthewMasarik-NOAA @aliabdolali and I have traced this back to likely being an issue that in w3scat we do not update the values of VA for points that have MAPSTA=-1.  While you would think that this should be 0 if you recently have an ice covered point, after w3scat we found this to not be the case on a point that was just deactivated (IC0 MAPSTA=1 going to -1).  This seems to correct other issu

[2021-11-02 12:11] #193 closed, assigned to mickaelaccensi

[2021-11-02 13:20] mickaelaccensi opened #513 "regtest ww3_tp2.14 not working properly with namelist"
**Describe the bug**
regtest ww3_tp2.14 contains many inp files with extensions which need to be copied/pasted temporarily in input directory (done in matrix). This is not implemented for nml feature and this way to do is not recommended since it makes changes directly in the input directory

**To Reproduce**
using -N option in matrix

**Expected behavior**
to enhance the behavior of this regtest,

[2021-11-02 15:19] mickaelaccensi opened #514 "inconsistencies in group/field identifiers for RHO and TAU"
**Describe the bug**
TAU and RHO have been added in w3iogomd.ftn as group 1, field 9 and 10 but they should be field 11 and 12 as stated in ww3_shel.inp and ww3_shel.nml otherwise the error message from ww3 are not pointing the user to the correct variable.

**Screenshots**
error message from w3iorsmd :
 *** WAVEWATCH III WARNING IN W3IORS :
     REQUESTED EXTRA RESTART GROUP 1 FIELD 9
     IS NOT

[2021-11-02 16:48] ukmo-ccbunney commented on #497
I've applied a fix similar to yours to the same issue that is occuring in the FLX5 module (ref #499) . However, the model still crashes as the USTAR value is used later on (in w3srcemd for example to calculate FHIGH) where a zero value again results in a "divide by zero" error.

Setting a minimum value for USTART (I put 1e-6) avoids this, but I just wanted to double check this is a sensible approa

[2021-11-02 16:57] JessicaMeixner-NOAA commented on #497
Okay, so for the FHIGH divide by zero issue (it's actually for a lot of the physics options).  It's the Max of:

FHIGH  = MAX( (FFXFM + FAGE ) * MAX(FMEAN1,FMEANWS), FFXPM / USTAR)

Maybe we just do:

[code]

I don't know if a minimum ustar, or just choosing the other makes more sense?  And if we chose a minimum USTAR, what is the best value for that?

(I put calc1 b/c the physics options I think

[2021-11-02 17:03] #487 closed, assigned to nobody

[2021-11-03 03:07] Agoni00 opened #516 "HELP"
Help
When I use the ERA5 wind field data to run the model in order to get the results like: Significant wave height(HS), Stokes Drift at the Sea Surface (USS), Wave to Ocean Momentum Flux (TWO), and Net wave-supported stress (wind to wave momentum flux) (TAW), all the results show its' value except for the  Wind to Wave Momentum Flux (TAW) which is always "0". I hope you can help me solve this pro

[2021-11-03 09:37] ukmo-ccbunney commented on #497
Seeing as `USTAR` is used quite a few times as a denominator in w3srce and other modules, I wonder if it would be safest to force it to a very small non-zero value?

[2021-11-03 09:54] ukmo-ccbunney commented on #443
@JessicaMeixner-NOAA - yes, the KNINT instrinsics are still in the ww3_grid.F90 code.
I think it is an Intel extension, perhaps? I eventually found this reference to it: https://www.intel.com/content/www/us/en/develop/documentation/fortran-compiler-oneapi-dev-guide-and-reference/top/language-reference/a-to-z-reference/m-to-n/nint.html

It looks like KNINT returns an INT(8) as the result (instead o

[2021-11-03 12:40] JessicaMeixner-NOAA commented on #497
Sounds like a very reasonable and practical suggetsion.  What are we thinking if ustar=0 then 1e-8? Or something else?   @mickaelaccensi would you or Fabrice have recommendations for what a small non-zero minimum value of USTART for ST4 physics should be to avoid divide by zeros?

[2021-11-04 08:26] mickaelaccensi commented on #497
well, it seems to not be an easy question because USTAR is initialized with different values depending on the part of the code....

looking in w3wdatmd.f90, UST is already initialized at 1e-5
`      WDATAS(IMOD)%UST   (0:NSEATM) = 1.E-5`

then in all w3src*md.F90, USTAR is set to at least 0.0001
`USTAR  = MAX ( 0.0001 , USTAR )`

but in w3srcemd.F90, USTAR is initialized at 0
`USTAR=0.`

and in w3

[2021-11-04 09:32] ukmo-ccbunney commented on #497
Thanks @mickaelaccensi - that sounds like a sensible solution.

@JessicaMeixner-NOAA I will adopt a similar solution to your SRC4 fix above in the w3flx5md module to avoid zero values for Z0. I will also set non-zero values for USTART in w3srcemd to as Mickael suggests to get the `staging/ukmo-oct2021` branch working [#499]

EDIT: Actually, there are a lot of places in the code where USTAR is used

[2021-11-04 10:31] #516 closed, assigned to nobody

[2021-11-04 11:26] Agoni00 opened #517 ""bus error" issue when running code"
Describe the bug
When I run the mode, when preprocessing the wind field data (from 1999 to 2001, the 6-hour wind field data), there will always be an error (core dumped)as shown in the figure.And generate a core file, according to the file, the query knows that the error is: Program terminated with signal 7, Bus error. what should I do? How can I solve it?

![1636021648(1)](https://user-images.git

[2021-11-04 14:06] aliabdolali commented on #517
@Agoni00
The bus error usually happens where there is no memory.
I would suggest testing ww3_prnc with a few time steps, to make sure it can go through. Also, you can check
https://github.com/NOAA-EMC/WW3/wiki/FAQs-page#executing-heavy-serial-jobs
It might be due to a lack of memory on your login node, so you can use a larger memory on the computational core (It is machine-specific).

[2021-11-04 15:06] Agoni00 commented on #517
@aliabdolali
I tried to run it for 4 days without any problems. So, my question is because of insufficient memory in the login node? Should I run on a compute node? Or how to expand the memory of my computational core？

[2021-11-04 19:59] aliabdolali commented on #497
Looking at variables like UST for i.e. st4, it has different min values to be used as a denominator (0.001, 0.0001, 0.000001). I'd suggest a consistent value at least for each src?

[2021-11-05 14:52] #489 closed, assigned to ukmo-ccbunney

[2021-11-05 14:56] #497 closed, assigned to nobody

[2021-11-05 15:04] #317 closed, assigned to nobody

[2021-11-07 12:54] ppokhrel1 opened #522 "Getting iostat=2 error when running anything inside exe/ directory."
Hi,

I installed the Wavewatch in my computer and got to the compilation part.

However, when I run anything inside the exe/ folder, I get error in opening file error. It looks something like this.

[code]
I was under impression that the file would not have compiled if I didn't have proper fortran. Could anyone help me on whether I am missing something during installation or it is a bug on WaveWat

[2021-11-07 13:37] #522 closed, assigned to nobody

[2021-11-09 08:33] Josue9740 opened #524 "Issue when installing NetCDF"
Hi! I was following the Quick Start Guide for Users and I found the next error on Step 2 ("Download and expand large/binary/netcdf files"):

After 20 attempts trying to connect to _ftp://polar.ncep.noaa.gov/tempor/ww3ftp/ww3_from_ftp.v6.07.tar.gz_, the time expires and no connection nor download is carried out. I do not really know the possible source for this bug. Can anybody help me? Is there an

[2021-11-09 12:44] JessicaMeixner-NOAA commented on #524
@Josue9740 Two suggestions:
1. Just try again (I just tried this myself and it worked.)
2. Make sure you do not have a firewall blocking from your end.
Here's just the command to grab the file, if it's easier to do that outside of the script while trouble shooting:

`wget ftp://polar.ncep.noaa.gov/tempor/ww3ftp/ww3_from_ftp.v6.07.tar.gz`

[2021-11-09 21:46] MatthewMasarik-NOAA opened #525 "Add debug-mode capabilities for running under ufs-weather-model"
**Is your feature request related to a problem? Please describe.**
* When functioning as a component of the ufs-weather-model (UFS), operational requirements specify the ability to run in debug mode.  This issue request's that functionality:  [UFS feature request #229](https://github.com/ufs-community/ufs-weather-model/issues/229).

**Describe the solution you'd like**
* When UFS sets debug-mode t

[2021-11-10 16:51] #445 closed, assigned to XianwuXue-NOAA

[2021-11-12 15:42] JessicaMeixner-NOAA opened #528 "Propose cleaning up/deleting w3netcdf.F90 and "NETCDF_QAD" switch"
It was noticed that the "NETCDF_QAD" switch was not transferred to CPP if defs. Furthermore it's the only code that calls "w3netcdf.F90" routine.

I proposes removing the NETCDF_QAD switch in w3wavemd and ww3_shel and removing the w3netcdf.F90 routine as it seems to not really be used.

[2021-11-13 02:46] JessicaMeixner-NOAA commented on #452
Should this be solved before @ricampos starts his tests?  @aliabdolali or @ricampos have either of you looked at this yet?

[2021-11-13 02:46] JessicaMeixner-NOAA commented on #421
@mickaelaccensi should we remove these or change these to .gitignore?

[2021-11-13 12:05] JessicaMeixner-NOAA opened #530 "Delete obsolete branches from noaa-emc"
I propose removing the following branches from noaa-emc:
https://github.com/noaa-emc/ww3/tree/BF_RST1RST2
https://github.com/noaa-emc/ww3/tree/milestones
https://github.com/noaa-emc/ww3/tree/prodgfs2develop

Any objection from @aliabdolali or others?

[2021-11-13 12:44] #530 closed, assigned to nobody

[2021-11-13 13:45] JessicaMeixner-NOAA commented on #451
@ukmo-ccbunney I am curious if you have advice on what a good strategy for debugging this issue we're having on one of our research machines at NOAA with writing partitioned output to netcdf files.   I put some write statements in ww3_ounf right before we crash (https://github.com/JessicaMeixner-NOAA/WW3/blob/bug/ounfpartonorion/model/src/ww3_ounf.F90#L2746-L2753) and on the machine where things w

[2021-11-14 04:57] kgerheiser opened #531 "KNINT is an Intel extension and not portable"
**Describe the bug**
The intrinsic routine `knint`, which is a specific routine of `nint`, used in `ww3_grib` is an Intel extension and does not work with GNU compilers.

See:

https://www.intel.com/content/www/us/en/develop/documentation/fortran-compiler-oneapi-dev-guide-and-reference/top/language-reference/a-to-z-reference/m-to-n/nint.html

`knint` takes a real32 argument and returns an int64.

[2021-11-15 10:22] #524 closed, assigned to nobody

[2021-11-15 17:28] JessicaMeixner-NOAA commented on #531
This issue is related to: #443 as well

[2021-11-15 20:37] ricampos commented on #451
Yes, I've been using "module load netcdf/4.7.2" in my codes and this version works perfectly. The problems are in the partition names, if you use ww3_ounf without partitions, then 4.7.4 will work fine, but when partitions are included it crashes.
I don't know if this is the cause of the error, but you are right about the "0", for exemple: phs0 : long_name = "wave significant height partition 0" ;

[2021-11-15 20:41] ricampos commented on #452
This sounds more critical/important than the other issue about netcdf (where in the worst scenario we could just pick netcdf/4.7.2), since it is generating different initial conditions. Let me try to check here...

[2021-11-16 00:27] JessicaMeixner-NOAA commented on #452
@aliabdolali?

[2021-11-16 00:44] aliabdolali commented on #452
I agree that we should fix these two issues, but the issue with the partitions seems more important to me than restart reproducibility, as Ricardo's work does not need to meet operational requirements.
For that and in the list of our priorities, that can be tackled when we have restarts written in a NetCDF.

[2021-11-16 00:45] JessicaMeixner-NOAA commented on #452
He's running cycled tests which rely on restart files... so actually I would say restarts are important.

[2021-11-17 06:50] Agoni00 opened #536 "help"
I have a little puzzle about the three-dimensional radiation stress. The unit of the radiation stress term output by the mode is N/m. Why, shouldn't the unit of the stress term be N/(m*m)?
![sxy_in_ww3 199602](https://user-images.githubusercontent.com/92639723/142148828-bdd6ed49-f7e7-4e43-8bac-574dca02b148.png)

[2021-11-17 18:42] #443 closed, assigned to aliabdolali, ukmo-ccbunney

[2021-11-17 18:42] #531 closed, assigned to nobody

[2021-11-17 19:06] JessicaMeixner-NOAA commented on #443
Is this closed or is this still an issue?  I did look for KNINT in all of WW3 but only saw it in ww3_grib, not ww3_grid.

[2021-11-17 19:14] MatthewMasarik-NOAA opened #539 "cmplr.env: opt strings using single vs. double quotes"
**Describe the bug**
In the `bash` script `cmplr.env` there are a few instances where strings used for the compile options (`optc`) and link options (`optl`) should use double quotes (`"  "`) instead of single quotes (`'   '`).  In these cases there is a shell variable inside the option string.  Since double quotes allow shell variable expansion and single quotes do not, in these cases the variabl

[2021-11-17 19:40] JessicaMeixner-NOAA opened #540 "build warning error in w3arraymd"
**Describe the bug**
Write statement formatting in w3arraymd.F90  is causing warnings (and in one case a failure) to build.

**Screenshots**

Warning/errors in model/tmp/w3arrymd.err:
[code]
**Additional context**
A proposed fix can be seen here:
![Screen Shot 2021-11-17 at 2 39 36 PM](https://user-images.githubusercontent.com/22549231/142270866-5d8197d6-9420-4274-bee4-704135be28f6.png)

[2021-11-17 23:14] ricampos commented on #452
Hi. I ran 2 independent tests with the same regtest ufs1.3 at 2 ww3 installations. Same number of cores (120) and I could see the restart files are slightly different:
/work/noaa/marine/ricardo.campos/models/testbugrestart/01/WW3/regtests/ww3_ufs1.3/work_a/teste1mpi120c
/work/noaa/marine/ricardo.campos/models/testbugrestart/02/WW3/regtests/ww3_ufs1.3/work_a/teste1mpi120c
vbindiff is a useful comma

[2021-11-17 23:16] JessicaMeixner-NOAA commented on #452
@ricampos using the vbindiff can you see which variables are different?

[2021-11-17 23:27] ricampos commented on #452
not sure, it is not clear to me

![vbindiff](https://user-images.githubusercontent.com/87552744/142298645-081abe9c-1784-4553-b8d0-10f7794f30b7.png)

[2021-11-18 00:13] MatthewMasarik-NOAA commented on #452
Hi @ricampos, if this is the only difference, I believe you're in the clear.  I think this is just saying the two ascii header strings are different.  As a check, the first red hex number (top) 6C is ascii code for 'l', and bottom, 45 is 'E'.  (ps, I didn't know about vbindiff, very cool!)

[2021-11-18 00:15] aliabdolali commented on #452
@ricampos Is vbindiff available on Orion or do you need to compile it? This is very useful, thanks

As another way to debug, we should see what is the difference between ww3_ufs1.3 (not identical) and one other similar case ww3_ufs1.2 b4b identical) . Both are using the same switch on three grids.
ufs1.3  has one ice at an initial time with hourly wind
ufs1.2 has daily ice hourly wind and three hr

[2021-11-18 00:38] ricampos commented on #452
thank you for letting us know, Matthew. I use vbindiff on my personal laptop only, not on Orion yet. I sent an email to Helpdesk to see if could be possible to use it there too.
Ali, I can also check the results of Hs of the nowcast (right after reading the restart) to confirm they are really the same. Something like np.sum(hs1-hs2) giving zero would confirm everything is ok.

[2021-11-18 01:04] ricampos commented on #452
Another update, running in serial produce diff restart files too:
![vbindiff_serial](https://user-images.githubusercontent.com/87552744/142332189-fe8c0649-363b-4469-ba36-a230ca627365.png)

[2021-11-18 02:59] #536 closed, assigned to nobody

[2021-11-18 10:26] Josue9740 opened #542 "Error when linking ww3_grib"
### **Describe the bug**
I am trying to compile a program with a modified version of the switch `NCEP_glwu`, in which grib files are used. In the modified version of `NCEP_glwu` I simply deleted the switches `NOPA` and `LRB4`, since their use raises an error like this:

`sort_switch: could not process all switches [NOPA LRB4] abort`

I do not know how to solve this error either, although this is n

[2021-11-18 10:37] ukmo-ccbunney commented on #443
Apologies - that was a typo: I meant ww3_grib, not ww3_grid.

[2021-11-18 12:22] Josue9740 commented on #449
Hi @DiegoGutierrez2210. Did you manage to solve this problem? I have a similar one but when linking ww3_grib.

Regards

[2021-11-18 13:11] JessicaMeixner-NOAA commented on #449
For the linking issue with ww3_prtide, it looks like __w3wdatmd_MOD_time is not defined and that you've previously compiled the model.  I might suggest doing a clean build and see if you still have issues.

[2021-11-18 13:13] JessicaMeixner-NOAA commented on #542
The NOPA and LRB4 switches have been deprecated.

For ww3_grib linking issues you usually just need to make sure the variables here: https://github.com/NOAA-EMC/WW3/blob/develop/model/bin/link.tmpl#L111 are defined and that the libraries you are stating in this line exist.

I'm not sure about ww3_grib and w3_automake (maybe @mickaelaccensi knows), but if you switch DIST and MPI to SHRD (and remove

[2021-11-18 13:15] JessicaMeixner-NOAA commented on #443
Thanks Chris, I just wanted to make sure!

[2021-11-18 21:04] JessicaMeixner-NOAA commented on #540
So this warning statement is there but the "error" is because I had "error" in my directory name.  So I'm going to skip making a PR for these two warning statements and instead wait until we systematically deal w/all the print format warning statements.

[2021-11-18 21:04] #540 closed, assigned to nobody

[2021-11-18 22:32] MatthewMasarik-NOAA commented on #539
I'm running the matrix tests currently and plan to submit a PR for this issue tomorrow if all goes well.

[2021-11-19 10:31] Josue9740 commented on #542
@JessicaMeixner-NOAA, first of all, thank you for your quick response.

Switching `DIST` and `MPI` to `SHRD`, removing any `OMP`, and using `make` instead of `automake` has contributed to improve the compilation of the model, but only to some extent. Before these changes, I got the output indicated above:
[code]
Right now, the output is slightly different. I get the same error (in a different line

[2021-11-19 13:52] JessicaMeixner-NOAA commented on #542
When you do ./w3_setup are you choosing -c gnu?

Also, since all the libraries exist, go ahead an do a:
 ls $PNG_LIB
to make sure that library does in fact exist.

A regression test that uses grib is for example:
./bin/run_test  -s MPI -w work_c -m grdset_c -f -p <FILLIN> -n 24  -o all ../model ww3_ufs1.1
where you need to replace <FILLIN> with srun, mpirun, or whatever mpi command you use on your

[2021-11-19 14:05] #505 closed, assigned to nobody

[2021-11-19 14:05] #506 closed, assigned to nobody

[2021-11-19 14:59] MatthewMasarik-NOAA commented on #539
Well, there appears to be some compile errors with the fix branch, so I'll need to troubleshoot that before submitting.

[2021-11-19 19:53] #539 closed, assigned to nobody

[2021-11-19 20:11] MatthewMasarik-NOAA commented on #539
Looking closer at this the single quotes for these strings are intentional, and in fact switching them to double quotes breaks the functionality.  This wasn't obvious to me initially, so here's the flow as I understand it:  when building starts `cmplr.env` is `source`d early on by `w3_setup`.  At that time neither `$path_m` or `$prog` have been defined, so they are `sed`ed into `comp` and `link`,

[2021-11-19 22:21] JessicaMeixner-NOAA commented on #451
So I've been able to trace the issue to this line in [w3ounfmetamd.F90](https://github.com/NOAA-EMC/WW3/blob/develop/model/src/w3ounfmetamd.F90#L1793):
`        WRITE(INSTR,'(A,I1,A)') INSTR(1:I-1), IPART, INSTR(J:LEN(INSTR))
`
Before this line, if you print out INSTR(1:I-1), IPART, and INSTR(J:LEN(INSTR)) either version of NETCDF gives the same answer.  However if you write out INSTR after this l

[2021-11-22 10:47] Josue9740 commented on #542
Hi again, Jessica.

Yes, I am choosing `-c gnu`. I have checked what you say regarding the libraries. I found some problems in the initial environment variables' declaration. I fixed the problem, and I checked again that the variables have been properly defined by using `ls $LIBNAME` (e.g., `ls $Z_LIB`). Now, the variable declaration seems to be correct, but the same error is still there.

I have

[2021-11-22 13:45] mickaelaccensi commented on #421
i've corrected it in coming PR (added in gitignore)

[2021-11-23 10:08] Josue9740 commented on #542
Dear  @JessicaMeixner-NOAA,

I have also run the example you provide me with the next code:

`sudo ./bin/run_test -s MPI -w ../model_examples/work_ww3_ufs1.1 -m grdset_c -f -p mpirun -n 24 -o all ../model ww3_ufs1.1`

The next error arises:
[code]

There is an error message in some files contained into the path `WW3/model/tmp`, which states:
`/home/tesalia/WW3/model/bin/comp: line 98: -c: command

[2021-11-23 14:47] aliabdolali opened #543 "test.comp does not handle subdirectories in work directories"
**Describe the bug**
regtest/bin/test.comp does not handle the work directories with multiple files inside subdirectories.

**To Reproduce**
Any regtest with subdirectories including more than 1 file can be tested.

**Expected behavior**
it should compare all the files.

[2021-11-23 14:50] aliabdolali opened #544 "matrix.comp does not include ww3_tp2.2? tests"
**Describe the bug**
the number of regtests in ww3_tp?? category exceeded 20, but matrix.comp does not compare tests 20, 21, ...

**To Reproduce**
comparing feature branches and develop using matrix.comp all does not handle ww3_tp2.20, ww3_tp2.21, ...

**Expected behavior**
it should compare all the tests.

[2021-11-23 15:23] aliabdolali commented on #542
you need to add `-c gnu` in the command line

`sudo ./bin/run_test -s MPI -c gnu -w ../model_examples/work_ww3_ufs1.1 -m grdset_c -f -p mpirun -n 24 -o all ../model ww3_ufs1.1`

[2021-11-23 15:24] #528 closed, assigned to nobody

[2021-11-23 16:07] emyrizzi11 opened #546 "Problem when running ww3_grid with version 5.16 of WW3"
Good afternoon,

I have installed WW3 with mpif90 fortran compiler and gcc for the c compiler.
The comp and link used for the compilation of the model are comp.gnu_debug and link.gnu_debug (also tried using comp.gnu and link.gnu).
When trying to run the executable ww3_grid, this error comes up:

At line 202 of file w3triamd.F90 (unit = 90, file = 'emr_cmcc.msh')
Fortran runtime error: Bad integer

[2021-11-23 18:28] Josue9740 commented on #542
Dear @aliabdolali, thank you so much for your reply.

I am afraid that the problem is still there even if I add -c gnu to my code.

[2021-11-23 18:39] aliabdolali commented on #542
this is what the log file shows:
[code]

[2021-11-24 08:38] Josue9740 commented on #542
Thank you for your quick response, @aliabdolali.

This is my first time working with WAVEWATCH III, so let me know if I am wrong, but I think that the error message  is not referred to the command line `sudo ./bin/run_test -s MPI -w ../model_examples/work_ww3_ufs1.1 -m grdset_c -f -p mpirun -n 24 -o all ../model ww3_ufs1.1`.

- First, if it was the case, I would get the error inmediately after int

[2021-11-26 17:57] MatthewMasarik-NOAA opened #547 "Add Doxygen documentation support"
**Is your feature request related to a problem? Please describe.**
No.  This feature would extend the current documentation using the source code documentation tool, [_doxygen_](https://www.doxygen.nl).

**Describe the solution you'd like**
The WW3 code base has been annotated with approved doxygen markup templates.  The result is doxygen is able to automatically generate formatted documentation f

[2021-11-30 13:48] #543 closed, assigned to aliabdolali

[2021-11-30 13:48] #544 closed, assigned to aliabdolali

[2021-11-30 17:07] ukmo-ccbunney commented on #451
Something to try:

Can you add an ounfmeta.inp file to the input directory for that regtests that overrides the VARNL and VARNG attributes for PHS? Like this:
[code]

Let's see if that makes any difference...

[2021-12-01 18:13] MatthewMasarik-NOAA opened #552 "ESMF cap error with UFS debug options -init=snan,arrays"
**Describe the bug**
When running UFS in debug mode coupled to WW3, if the WW3 compile uses the UFS flags (+ "`-init=snan,arrays`"), then the run will crash during initialization due to a '`floating invalid`' error in the ESMF cap.

**To Reproduce**
* From `ufs-weather-model` select a run with `S2SW` compile and `DDEBUG=ON`.
* In **cmplr.env**:
  * replace the `optc` assignment to WW3 debug option

[2021-12-03 18:41] JessicaMeixner-NOAA commented on #451
The machine where this problem occurred was down for the past two days, but I finally got a chance to try this and it fails in the same way.  I added my name to the long_name to make sure it was taking the attributes since I had not used that before and confirmed that it was. I think @ukmo-ccbunney  assumption that netcdf is likely a misdirection and it is most likely an odd memory error is likely

[2021-12-06 20:08] MatthewMasarik-NOAA opened #554 "scrip_errormod.f90: build grep error"
**Describe the bug**
When compiling using UFS debug flags (without `-init=snan,arrays`), the build will fail due to `comp` erroneously detecting an _error_ in the file `scrip_errormod.err`.  This is due to a _remark_ generated in the file which also contains the file name `scrip_errormod.f90`.  When `comp` `grep`s for the word '_error_', it will find a match in the substring of the name.  As noted

[2021-12-07 10:49] ukmo-ccbunney commented on #451
@JessicaMeixner-NOAA : can you check if the same crash occurs if you use the `.inp` file rather than the `.nml` file?
I am seeing some suspicious behaviour with the Intel compiler when running with the nml variant...

EDIT: Actually, forget that - I can see you are already using the inp file in that regtest.

**Can you try changing the NetCDF version (not the netcdf var type) from 4 to 3? Does tha

[2021-12-07 18:28] aliabdolali opened #557 "double precision is needed for high resolution applications"
**Describe the bug**
XYB is a variable that keeps the XY coordinates and the depths (all single precision). It does not make a difference in large-scale applications and for very coarse cases. However, if there is a case that requires high resolution in the coastal region, the single-precision is not enough in lat/long coordinates.

**To Reproduce**
The coastal applications needed double precison.

[2021-12-07 20:31] JessicaMeixner-NOAA commented on #451
@ukmo-ccbunney I actually read your comment wrong and I did try an .nml instead of a .inp file and they both fail the same way.

Changing the NetCDF type variable from 4 to 3 also did not work (with nml or inp).   I'm not using the -fpe0 option in the compile flags, although I guess I should be running with some debug flags.  I thought I had tried that, but going to try again now.

[2021-12-07 20:35] JessicaMeixner-NOAA commented on #451
Well, it is at least consistent, recompiling and running with debug flags again fails in the same way.  Unfortunately, the mystery continues.

[2021-12-08 12:43] Josue9740 commented on #542
Dear all,

None of the previous solutions worked. I have declared the environment variables and I did check they exist, among many other checks. In fact, I have added additional environment variables I read about on different forums. I have discovered that my system is also running the WRF model, which was installed some time ago. There seems to be some kind of incompatibility between the librarie

[2021-12-08 12:43] #542 closed, assigned to nobody

[2021-12-09 10:52] ukmo-ccbunney commented on #451
Hmmm... this is a difficult one to reproduce on my end, especially as I don't have that version of the netcdf libraries available to me.

I wonder if you could maybe run the program with the `valgrind` memory debugger? Perhaps that might shed some light on what sounds like an elusive memory bug?

[2021-12-09 11:59] JessicaMeixner-NOAA commented on #451
@ukmo-ccbunney it is extremely hard to reproduce as we cannot even reproduce it ourselves on our other HPC systems either.  I think the next step of valgrind is the way to go, it just likely will not happen quickly.

[2021-12-09 14:47] ukmo-ccbunney commented on #451
I'm doing some runs with valgrind here. Although I can't reproduce the error, if there is some suble memory bug then hopefully we can uncover it with valgrind.  I've got some cryptic warnings about overlapping source/destination memory locations in a `memcpy` which is making me suspicious...

I will continue my investigations and get back to you.

[2021-12-09 15:26] ukmo-ccbunney commented on #451
Aha! Right....I think I might understand what is happening now.
As I mention above, valgrind is complaining that a memcpy (low level libc call) is reading and writing to the same bit of memory. It turns out this relates to the same line in `w3ounfmetamd.f90` you mention above:
[code]

After staring at this for awhile, I think I know what is happening. This is an "internal" formatted write to a str

[2021-12-09 15:52] JessicaMeixner-NOAA commented on #451
@ukmo-ccbunney I'm trying now! Fingers crossed!!!

[2021-12-09 17:58] JessicaMeixner-NOAA commented on #451
Thank you @ukmo-ccbunney !!!!!!   That worked, yay!!!!!!!!!!

[2021-12-09 18:24] aliabdolali commented on #451
Thanks @ukmo-ccbunney and @JessicaMeixner-NOAA
I'll put the PR in the queue once it is made.

[2021-12-09 21:21] JessicaMeixner-NOAA commented on #451
I can confirm that we can run the entire matrix of regression tests now on orion without error with this branch.

[2021-12-09 23:00] ukmo-ccbunney commented on #451
Great! What a cheeky little gremlin that was....

[2021-12-10 17:22] JessicaMeixner-NOAA commented on #546
Did you recompile after setting TR0?

[2021-12-10 17:24] JessicaMeixner-NOAA commented on #517
Running on a compute node is a great thing to try.  Your sysadmins probably will appreciate that.  To get more memory per compute node, a typical strategy is to use less cpus/node than the total number of cpu's available.  Another strategy could be to use a big memory node if its available on your HPC.

[2021-12-10 17:26] JessicaMeixner-NOAA commented on #498
@Agoni00 is this still an active issue or can we close it?

[2021-12-10 17:27] JessicaMeixner-NOAA commented on #449
@DiegoGutierrez2210 are you still having issue or can we close this issue?

[2021-12-10 17:29] JessicaMeixner-NOAA commented on #426
@sbrus89 I lost track of this issue.  Is this still a problem?  Since we have a pretty big build system change coming up with PR #533, I'm wondering if we should revisit this after that?  Thoughts?

[2021-12-10 17:54] sbrus89 commented on #426
@JessicaMeixner-NOAA, I think that's a good idea to revisit after #533. It could be that the CMake PR will take care of this or make solving it more straightforward. I still run into this type of thing every so often when compiling on new systems, but I seem to always be able to make adjustments to get things working.

[2021-12-10 22:20] MatthewMasarik-NOAA commented on #552
**Update**:   The false positive error mentioned above no longer occurs.  The fix ([PR#555](https://github.com/NOAA-EMC/WW3/pull/555)) shown in _Fig 2._ above was merged into develop.

[2021-12-10 22:45] #554 closed, assigned to nobody

[2021-12-13 17:04] emyrizzi11 commented on #546
yes already tried it.
At the end I have solved the problem by changing the first line of the .msh file into three integers and not a float and two integers

[2021-12-14 13:50] ukmo-ccbunney commented on #514
@mickaelaccensi
TAU and RHO are Fields 8 and 9 respectively in `w3iogomd.F90`. This matches what is in `inp/ww3_shel.inp`
However, the entries in `nml/ww3_shel/nml` show them as fields 11 and 12, which is incorrect as you point out.

I'll raise a small PR to fix this. Thanks!

[2021-12-14 16:42] mmuscato opened #560 "ww3_grib Excluding wave length"
**Describe the bug**
Mean wave length (WLM) is being excluded from GRIB OUTPUT.

**To Reproduce**
Add LM to the ww3_grib.inp file.

**Expected behavior**
I see in ww3_grib.F90 where it is excluding this parameter but I also see a spot in the code to handle Mean Wave Length. So should this be no longer excluded from output?

**Screenshots**
N/A

**Additional context**
Thanks!

[2021-12-15 15:21] #451 closed, assigned to nobody

[2021-12-15 15:44] mickaelaccensi commented on #514
I would think that it should be shifted to 11 and 12 otherwise it will make some inconsistencies like in w3iorsmd where field 9 is still linked to ICEF

                  IF ( FLOGRR(1,9) )                                  &
                    WRITE(NDSR,ERR=803,IOSTAT=IERR) ICEF(1:NSEA)

and in

w3initmd :

                  IF ( FLOGRR(1,9) )                                  &

[2021-12-15 16:21] ukmo-ccbunney commented on #514
Ah - I see. Apologies, I had not spotted that the `ICEF` field was associated with Field=9 in the `w3iordmd` and `w3initmd` modules.

I would suggest modifying those modules so that `ICEF` is Field=11, rather than changing RHOAIR and TAU to be fields 11 and 12.

The reason for this being that RHOAIR and TAU were added as fields 8 and 9 so they didn't interfere with the calculation of the `NOGE` va

[2021-12-15 16:40] mickaelaccensi commented on #514
that's ok for me, but it may be good to check if it's not called in other subroutines

[2021-12-15 16:51] ukmo-ccbunney commented on #514
Agreed! I'll update the PR accordingly.

[2021-12-15 16:55] JessicaMeixner-NOAA commented on #514
I already merged your earlier PR (Sorry @mickaelaccensi for not waiting long enough for your comments).  You'll need to make a new PR for the changes and we'll wait for @mickaelaccensi's okay before merging (FYI @aliabdolali )

[2021-12-15 16:57] ukmo-ccbunney commented on #514
No worries @JessicaMeixner-NOAA - I'll raise a new PR. The changes in the one you've merged still hold.

[2021-12-17 17:42] JessicaMeixner-NOAA commented on #546
I'm gong to close the issue has been resolved.  Please re-open this or a new issue if you have additional issues.

[2021-12-17 17:42] #546 closed, assigned to nobody

[2021-12-17 17:43] JessicaMeixner-NOAA commented on #560
@mmuscato can you point to the lines of code that you mention in your expected behavior?

[2021-12-17 17:44] JessicaMeixner-NOAA commented on #517
@Agoni00 I'm going to close this issue.  If you have additional issues please re-open or create a new issue.

[2021-12-17 17:44] #517 closed, assigned to nobody

[2021-12-17 17:46] JessicaMeixner-NOAA commented on #456
@famarti I'm going to close this issue, but feel free to reopen if you are still having issues or create a new issue.

[2021-12-17 17:46] #456 closed, assigned to nobody

[2021-12-17 17:47] JessicaMeixner-NOAA commented on #492
@ahbarzandeh are you still having issue or can we close this issue?

[2021-12-17 17:47] JessicaMeixner-NOAA commented on #449
@DiegoGutierrez2210 I'm going to close this issue, but please reopen if you are still having issues or create a new issue.

[2021-12-17 17:47] #449 closed, assigned to nobody

[2021-12-20 18:18] #514 closed, assigned to ukmo-ccbunney

[2021-12-21 22:41] mmuscato commented on #560
@JessicaMeixner-NOAA Yes, starting at line 335 in ww3_grib.F90:

[code]

I think parameter 2,2 can be removed along with 4,3. So it should be like this:

[code]

[2021-12-23 14:22] #425 closed, assigned to ukmo-ccbunney

[2021-12-30 14:24] JessicaMeixner-NOAA commented on #560
Thank you @mmuscato for providing the additional updates. I'm going to change this from "bug" to "feature request" as it is stated in the code it's excluded.

[2021-12-30 14:57] mmuscato commented on #560
Perfect thank you!

[2021-12-30 20:41] #557 closed, assigned to nobody

[2021-12-31 20:10] Kungergely opened #566 "ww3_shel error in 6.07.1"
Hi,

I'm getting pretty much the same error as the one mentioned by both users in https://github.com/NOAA-EMC/WW3/issues/108, except in my case it has the following format (perhaps the difference is due to the use of the Cray Fortran compiler, IDK):
[code]
The only thing that struck me as odd in the aforementioned file (`./partition.ww3`) is that it seems to have an extra zero there for some reaso

[2021-12-31 21:48] Kungergely commented on #566
Here's a bit more detailed backtrace with a debug build of the executable:
[code]

[2022-01-03 22:04] Kungergely commented on #566
So apparently the offending part of `ww3_shel.inp` is the following section (Type 6):
[code]
For some reason the number `3600` in there causes `ww3_shel` to choke on the config file. Setting it to 0 seems to solve the issue.

[2022-01-08 13:57] edwardhartnett commented on #547
Instead of having the doxyfile in the top-level directory, it should be in a directory called "docs".

Instead of checking in the Doxyfile, check it in as Doxyfile.in, and then you can use variable substitution to set the version number of the documentation automatically. For example, see any of the NCEPLIBS projects. Then the documentation contains the version number in a prominent place, and it

[2022-01-08 14:01] edwardhartnett commented on #547
There are some settings you want to turn on in the Doxyfile:

[code]

These will automatically add to each subprogram what functions call it, and what it calls. Like this:
![image](https://user-images.githubusercontent.com/38856240/148647002-9fa51167-a089-4fef-b108-791595f16adc.png)

Note the last two lines, which are generated automatically by doxygen. This is a vast improvement to having program

[2022-01-08 14:05] edwardhartnett commented on #547
Here's a presentation on Doxygen I gave to the EMC:
[Doxygen for Fortran Science Codes (1).pdf](https://github.com/NOAA-EMC/WW3/files/7833327/Doxygen.for.Fortran.Science.Codes.1.pdf)

Here's another that I gave the NCEPLIBS team (or maybe the UFS team - can't remember...)

[Doxygen and the UFS Code.pdf](https://github.com/NOAA-EMC/WW3/files/7833331/Doxygen.and.the.UFS.Code.pdf)

[2022-01-08 14:08] edwardhartnett commented on #547
Here's a slide from on the presentations that's relevant to this effort. The closer you adhere to the conventions we are using for NCEPLIBS and UFS code, the easier it will be to easily develop and maintain good and consistent documentation across the organization:

![image](https://user-images.githubusercontent.com/38856240/148647218-ef131f7b-a7fc-4c58-b317-c943b98b4e1c.png)

[2022-01-08 14:09] edwardhartnett commented on #547
Supporting multiple versions of the documentation (ex. master vs. last released version) is easily accomplished on the gh-pages branch. See NCEPLIBS-g2c for an example of how this is done.

[2022-01-10 22:06] JessicaMeixner-NOAA opened #573 "Remove BT2 switch"
**Is your feature request related to a problem? Please describe.**
The BT2 switch is not fully functioning and essentially a place holder in a few spots without supporting code.  This was found during the creation of the CMAKE build.

**Describe the solution you'd like**
Remove BT2 code

**Describe alternatives you've considered**
Allow the existing code to remain but do not support it in the buil

[2022-01-11 03:05] aliabdolali opened #574 "Localization of the arrays for implicit scheme/domain decomposition"
**Is your feature request related to a problem? Please describe.**
The global array should be localized in order to speed up the efficiency of WW3 on unstructured meshes using the domain decomposition parallelization and the implicit numerical solver,

**Describe the solution you'd like**
The solution is provided and tested in the scalability branch. Following git-flow, this feature is isolated an

[2022-01-11 03:09] aliabdolali opened #575 "correcting Fortran indexing of the multidimensional arrays for implicit scheme/domain decomposition"
**Is your feature request related to a problem? Please describe.**
Clear indexing is required for the multidimensional arrays for implicit scheme and domain decomposition, using PDLIB switch.

**Describe the solution you'd like**
The solution is provided and tested in the scalability branch. Following git-flow, this feature is isolated and will be integrated into the development after passing the

[2022-01-11 03:14] aliabdolali opened #576 "parametric group velocity calculation for implicit scheme/domain decomposition"
**Is your feature request related to a problem? Please describe.**
A new parametric function for the calculation of the group velocity is required for the WW3 on unstructured meshes(applicable for the structured part as well).  Such implementation provides enough precision for the group velocity. The calculation is localized, therefore the group velocity and wave number arrays will be removed from

[2022-01-11 03:21] aliabdolali opened #577 "improvement of shallow water source term integration"
**Is your feature request related to a problem? Please describe.**
The domain decomposition and implicit schemes for WW3, on very high-resolution unstructured meshes, allowed us to perform statistical analysis on the model performance in coastal areas (i.e. Duck NC test bed and Hamilton Bay). The validation study showed that the source term integration is inaccurate and requires a revisit. After a

[2022-01-13 14:18] JessicaMeixner-NOAA opened #578 "update ww3_from_ftp"
**Is your feature request related to a problem? Please describe.**

Make ww3_from_ftp.sh not an interactive script.

**Describe the solution you'd like**
Instead of having an interactive script for ./model/bin/ww3_from_ftp.sh I recommend updating it's use to:

./model/bin/ww3_from_ftp.sh model [-k]

the -k option is an optional argument that will keep the tar files instead of deleting them.  This

[2022-01-13 19:19] YanJia1 commented on #332
Hi all,
Intel compiler cannot compile through when including `$NETCDF_CONFIG --libs`. It cannot find ww3_prnc.
Following the hint of an older version of WW3 in COAWST, I switched back to libs="$libs `$NETCDF_CONFIG --flibs`".
Thank you,
Yan

[2022-01-14 07:27] mickaelaccensi commented on #332
Hi Yan,
You should set your environment variable NETCDF_CONFIG to nc-config instead of nf-config. This change of setting is described in the manual. The reason to have changed it was due to incompatibility on various HPC system.
Can you please confirm me that it works for you using NETCDF_CONFIG=nc-config and linking with $NETCDF_CONFIG --libs

[2022-01-14 14:45] aliabdolali commented on #578
I like the idea. It still requires the path (where to download it) on local machine, can we add path, like `./model/bin/ww3_from_ftp.sh` model <path> [-k], then everything is embedded in the command.

[2022-01-14 15:28] MatthewMasarik-NOAA opened #579 "Memory Leak"
**Describe the bug**
A memory leak in WW3 was detected while running as component of UFS.  This was reported in UFS issue [#779](https://github.com/ufs-community/ufs-weather-model/discussions/779).

**To Reproduce**
* Run a coupled UFS regression test which has waves enabled.
  * In `nems.configure.cpld_wave.IN`, set WAV section `MemoryProfiling = true`.
  * Review the profiling output in the PET\

[2022-01-14 16:14] aliabdolali opened #580 "vegetation source term"
**Is your feature request related to a problem? Please describe.**
The dissipation source term is required for coastal application.

**Describe the solution you'd like**
Following Mendez 2004, the random wave transformations over mildly sloped vegetation fields under breaking and nonbreaking conditions by assuming a Rayleigh distribution can be calculated.

[2022-01-14 16:27] aliabdolali opened #581 "depth breaking in shallow water"
**Is your feature request related to a problem? Please describe.**
The implementation in WW3 of depth-induced breaking algorithms is intended to extend the applicability of the model to shallow water environments. The current DB option in WW3 follows Battjes and Janssen, 1978. Three more depth-breaking formulations are required.

**Describe the solution you'd like**
1. experimental formulation
2.

[2022-01-18 16:45] #573 closed, assigned to JessicaMeixner-NOAA

[2022-01-18 18:29] YanJia1 commented on #332
Hi Mickael,
It does not work. I have tried that before this post and tried it again today 100% following your suggestions.
I am using netcdf-c-4.8.1 and netcdf-fortran-4.5.3. My ifort version is 16.0.3, which is relatively old.
Thank you,
Yan

[2022-01-18 23:13] MatthewMasarik-NOAA commented on #547
Hey @edwardhartnett, I just caught that these comments were here, sorry I didn't catch sooner..  I'm about to submit a new PR on a different branch.  It will just add a markdown file that simply is a reference for the required tag headers for each Fortran unit (file, program, subroutine, etc.).  They are exactly those that have been posted and you have commented on.  I'm scraping this one because

[2022-01-18 23:19] MatthewMasarik-NOAA commented on #547
Whoops.  I'll close the other PR.  The new PR will reference this issue.

[2022-01-19 21:38] MatthewMasarik-NOAA opened #586 "Add doxygen marked-down source"
# Add Doxygen Documentation

For each file, document each contained Fortran code units (file, module, subroutine, etc.) using the agreed upon doxygen headers:

- [ ] ctest.F90 (paused, to be outdated.)
- [ ] pdlib_field_vec.F90
- [ ] serv_xnl4v5.f90
- [ ] w3arrymd.F90
- [ ] w3dispmd.F90
- [ ] w3fld1md.F90
- [ ] w3fld2md.F90
- [ ] w3fldsmd.F90
- [ ] w3gdatmd.F90
- [ ] w3getmem.c
- [ ] w3gig1md.F90

[2022-01-25 15:09] ukmo-ccbunney commented on #586
I'm happy to do the documentation for `w3ounfmetamd.F90` and `w3metamd.f90`.

[2022-01-25 15:13] MatthewMasarik-NOAA commented on #586
That would be awesome @ukmo-ccbunney .  I'll put your username next to those two so folks know it's claimed.

done!

[2022-01-25 18:50] ukmo-ccbunney commented on #586
Hi @MatthewMasarik-NOAA

I have started to add some doxygen markup to one of the F90 files and tried running doxygen, but I am having a few problems. Is there a minimum version of doxygen that is required?

On my Linux box I have version **1.8.5** but it segfaults when I run it. The last few lines of output are here:
[code]

On my HPC, I have version **1.5.6** which seems to run, but the documenta

[2022-01-25 18:54] MatthewMasarik-NOAA commented on #586
Hi @ukmo-ccbunney ,  hmm, let me have a look.  It normally goes off without a hitch, so I'll see if anything needs to be changed in the Doxygen.in.  I'll post back momentarily..

[2022-01-25 19:04] MatthewMasarik-NOAA commented on #586
@ukmo-ccbunney , try moving the Doxygen.in file up to the top level, then call `doxygen Doxygen.in` from there.  I think that may solve it because I have the `INPUT` resource in the Doxygen.in set to model/src.  I originally worked with repo in that structure, and transitioned the Doxygen.in file into docs/ during the PR.

Please let me know if that works or not.

[2022-01-25 19:10] MatthewMasarik-NOAA commented on #586
Ps, @ukmo-ccbunney  I checked version on a linux vm I have and it's 1.8.17.  I would think your version would be fine.  If you want to push the branch your working on, I could try running it on my end to see if its due to the markup added, or something else like the environment

[2022-01-26 09:39] ukmo-ccbunney commented on #586
Hmm...same issue unfortunately (exactly the same error message on version 1.8.5 on my Linux box).

Like I say, it _sort_ of works on the older version on my HPC, but my markup for the module is not appearing. Perhaps I am doing something wrong with the markup? I've pushed my changes up to a branch here:

https://github.com/ukmo-waves/WW3/tree/doc/ounfmeta

I've only added markup to the "file" (top

[2022-01-26 13:49] MatthewMasarik-NOAA commented on #586
@ukmo-ccbunney I'm having a look at the source right now, I'll give some feedback shortly

[2022-01-26 14:04] ukmo-ccbunney commented on #586
@MatthewMasarik-NOAA Quick update - I have installed a new version of doxygen via Conda and it solves the issue I was having. I still get errors from some files, but it no longer segfaults.

[2022-01-26 14:32] MatthewMasarik-NOAA commented on #586
Interesting.. that's good to note the version may be important as others start documenting.   I'm working with w3ounfmetamd.F90 and getting some similar behavior -- it's not producing output for file & module.  Strange.  I'll have it sorted out shortly

[2022-01-26 14:34] ukmo-ccbunney commented on #586
I have it working for me now - have you tried my most recent commits?

[2022-01-26 14:50] MatthewMasarik-NOAA commented on #586
That's great!  Oops, didn't have the most recent.. I'm glad to hear it's working.

Also in your markup you mentioned how to document the module variables.  I need to see if I had it right to use the `@param` tags, I think you may actually use inline comments for each.  I'm checking into that, I didn't know module variables needed to be documented until @edwardhartnett commented, possibly he will c

[2022-01-26 14:59] ukmo-ccbunney commented on #586
Great  - thanks @MatthewMasarik-NOAA .

On a related note - do we have a policy on whether we are ditching the "WAVEWATCH III" header boxes, i.e. these:
[code]
I am hoping we can get rid of them, as they take a lot of space and are repeated for every module/subroutine/function.

Also, are we keeping the change log in the comments, or are we going to rely on Git's commit log for this?

@aliabdolali

[2022-01-26 15:09] JessicaMeixner-NOAA commented on #586
For now the doxygen is just an addition and we're keeping the normal WW3 header and logs.  I'd be open to changes though.  I'm not a huge fan of the log personally but there are a few comments here/there that are valuable.  I'd hope we could keep the important parts of the descriptions.

[2022-01-26 15:14] ukmo-ccbunney commented on #586
OK - I have deleted the sections that relate to the new Doxygen tags though (i.e. "1. Purpose", "2. Method", "3. Parameters", etc. I have left the header and the change log though. Should have I left the others untouched too?

[2022-01-26 15:15] MatthewMasarik-NOAA commented on #586
I'd agree with @JessicaMeixner-NOAA , we had some discussions on this.  I believe leaving the original headers intact (no markup) and adding some (relatively brief) doxygen markup above them is best.  As you noted, the source below the tags is all displayed right below the marked up information.

[2022-01-26 15:21] MatthewMasarik-NOAA commented on #586
The approach I have been using is to leave the header completely untouched, then copy (or summarize in 1 sentence) the 1. Purpose content into the @brief tag.  For the @details, I was putting a couple summarizing sentences from 2. Method, or elsewhere in the header that seemed helpful.  I shoot for  ~1 paragraph of info.  I think there's roof for individual taste here though.  Does that get at wha

[2022-01-26 15:22] MatthewMasarik-NOAA commented on #586
*roof = room

[2022-01-26 15:25] ukmo-ccbunney commented on #586
Yeah - that's cool and pretty much what I have done. I will reinstate the original comments.

However, if you agree, I will not keep the original comment for the module itself in w3ounfmetamd. It is a very long description of the module and I have moved it to the doxygen `@details` section to make use of the extra markup available there. Is that ok? I will reinstate all the comments from the subro

[2022-01-26 15:37] MatthewMasarik-NOAA commented on #586
That seems just fine to me.  For people documenting their own code you should have some license to how you want it.  If you're documenting a someone else's code, we may want to be judicious with what is removed.  I think what you mentioned sounds good

[2022-01-26 15:47] MatthewMasarik-NOAA commented on #586
To follow up regarding the module variable documentation, do use inline comments where the variables are declared, and not with a @param tag in the doxygen header.  That's my error in the Reference.  I'll make a PR to correct that.  Below I copy/pasted a comment from a closed PR in which @edwardhartnett shows this:
<hr>

The !< marker can be used when var documentation is short enough to fit on on

[2022-01-26 15:51] ukmo-ccbunney commented on #586
@MatthewMasarik-NOAA - Okey-dokey.
This is **just** for the module variables, yes? The subroutines and functions still use `@param`?

[2022-01-26 15:54] MatthewMasarik-NOAA commented on #586
Yes, exactly correct.

[2022-01-26 18:25] edwardhartnett commented on #586
In general the doxygen version is significant. 1.8.5 is very old and should be upgraded.

The reason includes the fact that the Doxyfile changes from version to version - new items are added, and some are taken away. We rely on several settings that are in more recent doxygen versions, including WARN_AS_ERROR.

When we set up the doxygen build in the CI, it will be using the doxygen release associ

[2022-01-26 19:43] MatthewMasarik-NOAA commented on #586
Hey all, if you have completed files to add, you can commit them to the draft PR I just opened:  #600 .

[2022-01-27 09:55] ukmo-ccbunney commented on #586
@edwardhartnett I like the change history table idea. I will use that for the top level change log in the module. However, we have change logs on each individual function/subroutine too. I think this is a bit over the top in the documentation, so I won't elevate those to doxygen comments.

[2022-01-27 13:19] ukmo-ccbunney commented on #586
@MatthewMasarik-NOAA I don't have write access to your branch, so can't add my changes. I've got some files ready to go in my https://github.com/ukmo-waves/WW3/tree/doc/ounfmeta branch; shall I raise my own PR for them?

I would like your (or @edwardhartnett 's) input on one issue I have had though (for which I have a workaround that doesn't make sense to me!) See the comment here:
https://github.

[2022-01-27 13:24] aliabdolali commented on #586
Hi @ukmo-ccbunney you can either make the PR to Matt's branch or to EMC/develop.

[2022-01-27 15:33] ukmo-ccbunney commented on #586
I don't seem to be able to raise a PR in @MatthewMasarik-NOAA 's fork - it does not show as a list of base repos when doing a new PR (oddly, I can see everyone else's forks...). Shall I just raise this in the NOAA repo?

[2022-01-27 15:38] JessicaMeixner-NOAA commented on #586
@MatthewMasarik-NOAA is out for the weekend.  You can either wait until Matt gets back on Monday and he can just pull your changes in (so weird it's not listed) or just make a PR to the NOAA repo.

[2022-01-27 15:53] ukmo-ccbunney commented on #586
No worries - I'll wait for Matt and he can pull my changes in. Cheers.

[2022-01-28 15:45] edwardhartnett commented on #586
I am looking at the code here:

https://github.com/ukmo-waves/WW3/blob/d130d7170872c5798d1d779b63a1a216a48f139d/model/src/w3ounfmetamd.F90#L164-L168

What I see is:

[code]

I don't know why doxygen throws that error (what version of doxygen are you using?)

I do know that all modules need doxygen documentation, so it seems that instead of:

[code]

You should have the doxygen block associated wit

[2022-01-28 15:52] edwardhartnett commented on #586
Something that was not mentioned in the doxygen templates in this project: automatic hyperlinking of functions. This is very useful. Here's an example (from https://noaa-emc.github.io/NCEPLIBS-g2/):

![image](https://user-images.githubusercontent.com/38856240/151578987-b15bff03-4c25-4e8c-8390-566bc0587ced.png)

Note that the function/subroutine names gribcreate() and addlocal(), are hyperlinks. If

[2022-01-28 15:54] ukmo-ccbunney commented on #586
@edwardhartnett

version 1.8.18 (that's the closest I could get via Conda to 1.8.17 that you recommended).

I do - but if I don't end the Doxygen block for the module with a line with two bangs on (`!!`) then it throws that error. I don't have the same issue with my other module (w3metamd) though. It's very strange behaviour!

I agree whole-heartedly with this statement.

[2022-01-28 15:56] ukmo-ccbunney commented on #586
@edwardhartnett

I did try to use this...

...but it didn't work, probably for the reason you mention. I will try updating my Doxygen code to see if making them lowercase helps!

[2022-01-28 16:03] edwardhartnett commented on #586
Try removing this:

`!/ ------------------------------------------------------------------- /
`

We removed all these kinds of ascii formatting elements from our code. Once we get used to reading the documentation on-line, these extra lines have no value.

Perhaps having the comment between the doxygen documentation block, and the start of the module, is causing the problem.

[2022-01-28 16:05] JessicaMeixner-NOAA commented on #586
programmers will still look at the code... so having clean looking code is still of value

[2022-01-28 16:07] ukmo-ccbunney commented on #586
I still have the same issue if I remove that comment line.
Also - I have the same lines in w3metamd and they don't upset Doxygen there.
I notice that lots of other modules (that do not have Doxygen markup yet) are throwing similar errors:
[code]

[2022-01-28 16:10] edwardhartnett commented on #586
What is your branch and I will take a look.

[2022-01-28 16:16] ukmo-ccbunney commented on #586
Thanks @edwardhartnett
This is the branch: https://github.com/ukmo-waves/WW3/tree/doc/ounfmeta
I've added Doxygen comments to `w3ounfmetamd.F90` (this is the one that causes issues without the double bang comment before the `MODULE` statement) and `w3metamd.F90`.

[2022-01-28 16:19] edwardhartnett commented on #586
Since this branch does not seem to have the CMake build, how do you build the docs?

[2022-01-28 16:20] ukmo-ccbunney commented on #586
I run `doxygen docs/Doxyfile.in` from the WW3 root directory.
Is that wrong? 😬

Edit: This is branched from develop - not the cmake branch.

[2022-01-28 16:42] edwardhartnett opened #601 "mismatched #if/#endif in file model/src/w3gridmd.F90"
Here's a warning from the doxygen build:

`/home/ed/WW3/model/src/w3gridmd.F90:2697: warning: More #endif's than #if's found.`

[2022-01-28 16:52] JessicaMeixner-NOAA commented on #601
This is what I got from a quick grep:

Jessica.Meixner@hfe10:/scratch2/NCEPDEV/climate/Jessica.Meixner/PR_WW3/doxygen/WW3$ grep '#if' -nri model/src/w3gridmd.F90 | wc -l
492
Jessica.Meixner@hfe10:/scratch2/NCEPDEV/climate/Jessica.Meixner/PR_WW3/doxygen/WW3$ grep '#endif' -nri model/src/w3gridmd.F90 | wc -l
492

[2022-01-28 16:56] edwardhartnett commented on #601
OK, this may be a doxygen problem. I will close this issue.

[2022-01-28 16:56] #601 closed, assigned to nobody

[2022-01-31 14:17] MatthewMasarik-NOAA commented on #586
Hi @ukmo-ccbunney , I'm back from being away last week.  I'm going to take quick look at your branch to see if something sticks out..   Do you have files to add to the PR I made?

Update:  I'll pull in your doc/ounfmeta branch.

[2022-01-31 15:33] MatthewMasarik-NOAA commented on #586
@ukmo-ccbunney I found how to fix the `state: 22(String)` error you we're getting.  It wasn't anything you we're doing wrong, it was a setting in Doxygen.in for the `EXTENSION_MAPPING`.  The default is empty.  Here's the comment block with the Fortran specific entries added:
[code]

I'll PR this change.

[2022-01-31 16:50] edwardhartnett commented on #586
@MatthewMasarik-NOAA I am so glad you found that, I was totally on the wrong track with this one! ;-)

And I should have remembered this because it came up in another project. by default *.f90 is accepted as free-format Fortran, but not *.F90!

[2022-02-01 10:17] ukmo-ccbunney commented on #586
Thanks @MatthewMasarik-NOAA I've just pushed one small change to remove the comment line from w3ounfmetamd.F90.

BTW - I tried to raise a PR to target your branch, but your WW3 repo doesn't appear in the list of available target forks...which is odd. If you're happy to pull in my changes, then that's great.

[2022-02-01 13:32] MatthewMasarik-NOAA commented on #586
@ukmo-ccbunney  It is odd, I'm working to get that rectified.  I'll let you know it's fixed, in the time being I'm happy to pull in your changes.

[2022-02-08 17:24] mickaelaccensi opened #604 "uniformize matrix outputs"
**Is your feature request related to a problem? Please describe.**
avoid having multiple -o options in the regtest command lines

**Describe the solution you'd like**
set -o all or -o both in the main matrix script instead of having separated -o options defined for each run_test command line

[2022-02-09 14:51] #578 closed, assigned to JessicaMeixner-NOAA

[2022-02-09 22:03] #604 closed, assigned to mickaelaccensi

[2022-02-10 20:45] MatthewMasarik-NOAA opened #608 "ww3_prnc.F90: SQRT of a negative number"
**Describe the bug**
During the execution of program `W3PRNC` in the regtest `ww3_ufs1.2` negative values are passed into the `SQRT()` function.

**To Reproduce**
Execute the following `run_test` taken from the `matrix12` script generated from `regtests/bin/matrix_ncep`.
[code]
This bug was identified by hard-coding the UFS debug compile options into `model/bin/cmplr.env`
[code]

**Expected behavi

[2022-02-11 09:23] #201 closed, assigned to nobody

[2022-02-11 09:26] mickaelaccensi opened #609 "namelist for ww3_bound"
**Describe the solution you'd like**
namelist feature for program ww3_bound

**Additional context**
can be tested with existing regtest ww3_tr1

[2022-02-16 13:14] #609 closed, assigned to mickaelaccensi

[2022-02-16 16:26] JessicaMeixner-NOAA opened #613 "gx_out* namelist"
**Describe the solution you'd like**
Add namelist inputs for the gx_outp and gx_outf executables

**Additional context**
Can be tested via any regression test using gx*

[2022-02-16 16:27] JessicaMeixner-NOAA opened #614 "ww3_trck namelist"
Add namelist input option for ww3_trck

[2022-02-16 16:28] JessicaMeixner-NOAA opened #615 "ww3_systrk namelist"
Add namelist input option for ww3_systrk

[2022-02-16 16:28] JessicaMeixner-NOAA opened #616 "ww3_strt namelist"
Add namelist input option for ww3_strt

[2022-02-16 16:29] JessicaMeixner-NOAA opened #617 "ww3_prtide namelist"
Add namelist input option for ww3_prtide

[2022-02-16 16:29] JessicaMeixner-NOAA opened #618 "ww3_prep namelist"
Add namelist input option for ww3_prep

[2022-02-16 16:31] JessicaMeixner-NOAA opened #619 "ww3_outp namelist"
Add namelist option for ww3_outp

[2022-02-16 16:31] JessicaMeixner-NOAA opened #620 "ww3_outf namelist"
Add namelist input option for ww3_outf

[2022-02-16 16:32] JessicaMeixner-NOAA opened #621 "ww3_gspl namelist"
Add namelist input option for ww3_gspl

[2022-02-16 16:32] JessicaMeixner-NOAA opened #623 "ww3_grib namelist"
Add namelist input option for ww3_grib

[2022-02-16 17:23] JessicaMeixner-NOAA opened #624 "ww3_gint namelist"
Add namelist input for ww3_gint

[2022-02-17 16:27] #513 closed, assigned to mickaelaccensi

[2022-02-18 20:45] JessicaMeixner-NOAA commented on #421
@mickaelaccensi I think this was actually fixed in your last PR, can we close this issue now?

[2022-02-21 07:35] #421 closed, assigned to nobody

[2022-02-22 10:11] ukmo-ccbunney commented on #586
@MatthewMasarik-NOAA
I'm happy to update `w3partmd`, `w3psmcmd` and `w3smcomd` if you want to put my name against those (I can't edit the original PR description)

[2022-02-22 13:30] MatthewMasarik-NOAA commented on #586
@ukmo-ccbunney that would be great.  I just added you as a collaborator to the repo.  See if that solved the issue... if not, I'll put you down for those files.

[2022-02-22 13:36] ukmo-ccbunney commented on #586
I can't edit your PR description, but I can now raise a PR against your repo (although I have not done so yet), so it does fix that issue. If you can update the description with my name against those files I will raise a PR when I am done. Thanks!

[2022-02-22 13:47] MatthewMasarik-NOAA commented on #586
Okay, that is good news you can raise a PR now.

sure thing!  I've got those assigned to you.

[2022-02-24 14:51] #139 closed, assigned to nobody

[2022-02-24 15:07] kgerheiser opened #627 "Fix ufs-weather-model integration with CMake"
**Describe the bug**
After the merge of #533 there is still some work to be done with the integration of ufs-weather-model. I believe incorrect compiler flags are being passed to WW3 through CMAKE_Fortran_FLAGS.

**To Reproduce**
Build ufs-weather-model with CMake build of WW3 and run tests. Some tests have unexpected differences.

[2022-02-28 15:19] kgerheiser opened #630 "Add platform specific flags to CMake build"
**Is your feature request related to a problem? Please describe.**

The makefile build sets specific optimization flags for different machines in https://github.com/NOAA-EMC/WW3/blob/develop/model/bin/cmplr.env

But the CMake build doesn't do this.

**Describe the solution you'd like**

Add a mechanism to set flags for particular machines. My idea is to handle it like UFS here: https://github.com/

[2022-02-28 15:20] kgerheiser opened #631 "Github Actions don't work"
**Describe the bug**
The Github Action builds are failing because of the change to OASIS build.

See https://github.com/NOAA-EMC/WW3/actions

**To Reproduce**
Push a commit to the repository or fork

**Expected behavior**
Build should be successful

[2022-03-01 10:05] ukmo-ccbunney commented on #630
@kgerheiser If I read that correctly, we would have a `configure_<platofrm>.cmake` in the `cmake` directory for each of the system/compiler combinations in `cmpl.env` ? Is that correct?

That looks sensible to me, but I guess the only thing I would say is that a few years ago the `cmplr.env` file was generated to avoid having lots of individual system/compiler `comp` and `link` scripts in the `mod

[2022-03-01 14:07] JessicaMeixner-NOAA commented on #630
Good point @ukmo-ccbunney

I think ideally we prefer to have one file that has if statements for the different compilers if possible.  This is also because many platforms need the same flags and it makes things significantly simpler for updating and maintaining.  Would it be possible to use the same concept of a CMAKE_platform but only have 1 file to maintain instead of many @kgerheiser, similar t

[2022-03-01 14:09] kgerheiser commented on #630
Sure, that works too.

[2022-03-01 14:41] aliabdolali commented on #630
I agree with the unification of all configure_<platofrm>.cmake files. Thanks, @ukmo-ccbunney for raising, and thanks @kgerheiser for working on it.

[2022-03-04 15:01] JessicaMeixner-NOAA commented on #574
@aliabdolali what is the branch for this update and what are the current regtest issues?

[2022-03-04 16:18] aliabdolali commented on #574
https://github.com/erdc/WW3/tree/scal_local
The tests with OMP switches are failing.

[2022-03-08 14:07] #627 closed, assigned to nobody

[2022-03-08 15:02] #631 closed, assigned to nobody

[2022-03-09 22:26] JessicaMeixner-NOAA opened #635 "Add debug to makefile builds"
**Is your feature request related to a problem? Please describe.**
As a good coding practice having a debug option in a makefile is a good thing. The makefiles in ww3_tp2.14 input directories, do not have a debug option (the do have clean though).  If these makefiles are not going away with the adoption of cmake, we should add a debug build option.

**Describe the solution you'd like**
Makefiles w

[2022-03-10 15:30] DeniseWorthen opened #636 "Add mesh-based nuopc cap to the dev/ufs-weather-model branch"
**Is your feature request related to a problem? Please describe.**

The existing NUOPC cap is not restart reproducible in for the S2SW application of the UFS Weather model. The existing cap also cannot be run in debug mode for the S2SW application.

**Describe the solution you'd like**
A new mesh based NUOPC cap has been developed which will be used by the UWM S2SW and HAFSW applications, both of

[2022-03-16 14:56] aliabdolali opened #639 "OMP0 clean up"
**Describe the bug**
There is a OMP0 switch in [model/src/w3wavemd.F90](https://github.com/NOAA-EMC/WW3/blob/develop/model/src/w3wavemd.F90#L1772-L1774), which is not used anywhere else (including regtests). It can be cleaned if there is no use for this.

**Expected behavior**
Clean
[code]

[2022-03-20 11:55] DeniseWorthen commented on #552
@MatthewMasarik-NOAA I wonder if you've tried to compile in debug mode after the cmake build was added to WW3. What I found is that the ``-DDEBUG=YES`` compile option for S2SW conflicts w/ various instances of the variable ``DEBUG`` in WW3. This appears to occur at the time of processing CPP flags. For example, on hera:

[code]

shows the following replacement

[code]

This pre-preprocessed code t

[2022-03-21 12:21] MatthewMasarik-NOAA commented on #552
Hi @DeniseWorthen , I haven't compiled in debug since CMAKE was added.  I will look into it and reply back.

[2022-03-21 12:25] DeniseWorthen commented on #552
I've created a UFS issue (https://github.com/ufs-community/ufs-weather-model/issues/1133) since I'm unsure of where the fix will need to be made (UWM or WW3).

[2022-03-22 19:57] JessicaMeixner-NOAA opened #643 "-o all option needs to be added to matrix*ncep"
**Describe the bug**
The -o all option was supposed to be brought to the matrix files, but was not put in matrix*ncep or unintentionally dropped.

**To Reproduce**
Run matrix_cmake_ncep
there will be no netcdf output as @aliabdolali discovered.

**Expected behavior**
All output should be created.

[2022-03-22 20:00] JessicaMeixner-NOAA opened #644 "separate out namelist default changes from other scalability branch updates"
**Is your feature request related to a problem? Please describe.**

The scal_local PR https://github.com/NOAA-EMC/WW3/pull/637 ends up having regression test changes for every single regression test due to updates in w3grid.  These updates should be made separately so it's easy to identify what changes and why.

**Describe the solution you'd like**

Suggested separate update: https://github.com/je

[2022-03-22 21:05] JessicaMeixner-NOAA commented on #644
@aronroland @aliabdolali @thesser1 @maryanderson64 can you please look at these diffs:
[matrixCompFull.txt](https://github.com/NOAA-EMC/WW3/files/8327856/matrixCompFull.txt)
[matrixCompSummary.txt](https://github.com/NOAA-EMC/WW3/files/8327857/matrixCompSummary.txt)
[matrixDiff.txt](https://github.com/NOAA-EMC/WW3/files/8327858/matrixDiff.txt)

I update the matrix.comp to ignore all of the grid.ou

[2022-03-23 19:22] JessicaMeixner-NOAA commented on #644
Any thoughts @aronroland @aliabdolali @thesser1 @maryanderson64  ? I can try to revert the two changes for:
JGS_NORM_THR and SOLVERTHR_SETUP?  And see the impact of that alone?  I know this is a high priority item so please let me know how I can help.

[2022-03-23 20:07] aronroland commented on #644
Thanks, we will work on that one.

[2022-03-23 20:34] JessicaMeixner-NOAA commented on #644
@aronroland I'd like to help, so please let me know what I can do.  Absent specific suggestions, I will try reverting  GS_NORM_THR and SOLVERTHR_SETUP and go from there.

[2022-03-23 21:07] JessicaMeixner-NOAA opened #646 "run_cmake_test does not skip build with -S option"
**Describe the bug**
When re-running the matrix, the -S option can be used to say "if already finished, skip test" however, this isn't checked for until after the executables are built.

**To Reproduce**
Submit matrix, then re-run matrix using run_cmake_test options with -c

**Expected behavior**
If the -S option is used, and the test is "finished" then skip before building.

[2022-03-24 14:07] #643 closed, assigned to aliabdolali

[2022-03-24 19:38] JessicaMeixner-NOAA commented on #644
I ran tests with the values of JGS_NORM_THR= SOLVERTHR_SETUP =1.E-20 as it is in the develop branch.  I then realized that my original run w/these values changed to the values in the scal_local did not have the netcdf output, so I'm re-running that.  However, I think there's enough to say that it's likely the change in defaults not these two values that might be the real cause of differences.   I'

[2022-03-24 20:28] #646 closed, assigned to nobody

[2022-03-28 18:13] JessicaMeixner-NOAA commented on #644
I have confirmed that it's not the change of JGS_NORM_THR= SOLVERTHR_SETUP =1.E-20 that causes the answer differences.  It's the change in the defaults.    @aronroland @aliabdolali have you looked at the updates here: https://github.com/jessicameixner-noaa/ww3/tree/bug/updatedefaults yet?  Are these the correct subset of changes?  Should we be subsequently changing some values in regression tests?

[2022-03-29 04:08] EmilioEchevarria opened #649 "SIGSEGV segmentation fault error when adding currents with specific model resolution"
Hello there,

I am trying to run some WAVEWATCH III simulations with current forcing, and I'm getting this error:
`forrtl: severe (174): SIGSEGV, segmentation fault occurred`

I tried the usual approaches, reducing the time steps, disabling the current-induced k-shift, trying different compilation options, but nothing worked. I can see that the model breaks when there's high winds, and the traceba

[2022-03-29 17:47] JessicaMeixner-NOAA commented on #644
Trying to understand answer differences that are still persisting, I believe that the following if statement in w3gridmd needs to be included in the bug/updatedefaults branch:

[code]

Getting answers to the following questions will be very useful in attempts to continue to help to make progress with PR#637:

1. Should these two variables be the defaults:
JGS_TERMINATE_NORM = .FALSE.
EXPFSN = .FAL

[2022-03-30 06:01] aronroland commented on #644
Hi Jessica,

thanks for looking into that and sorry for letting u wait for the answer. As for the default values, yes u r right, we should update them and add this in a separate branch. I will today discuss the default settings in our group and then we will let u know.

Many thanks again for helping and looking into that.

Cheers

Aron

[2022-04-05 10:06] ukmo-juan-castillo opened #651 "Coupling and driving data update in different time steps"
**Is your feature request related to a problem? Please describe.**
At the moment, when running a coupled configuration, it is necessary that the coupling exchange (in particular the couple receive) happens at the same time step as when the driving data is read from file. If this is not the case in some cases the run crashes in OASIS because the receive coupling calls are skipped. This results in a

[2022-04-05 11:48] mickaelaccensi commented on #651
Hi Juan, could you explain why you can't run ww3_tp2.14 ?

[2022-04-05 11:50] ukmo-juan-castillo commented on #651
It has to do with the change to cmake and how the netcdf libraries are installed in our HPC. I am sure Chris can give you more details if needed.

Regards,

JuanMa

From: Mickael Accensi ***@***.***>
Sent: 05 April 2022 12:49
To: NOAA-EMC/WW3 ***@***.***>
Cc: Castillo, Juan M ***@***.***>; Assign ***@***.***>
Subject: Re: [NOAA-EMC/WW3] Coupling and driving data update in different time steps (Iss

[2022-04-05 11:54] aliabdolali opened #653 "remove cases from ftp"
**Describe the request**
The cases are no longer tested and synced with the latest features of the code. They are machine specific and out of date.

**Expected behavior**
It can be cleaned from the tar file on ftp server, so it will not downloaded and untared when the model/bin/ww3_from_ftp.sh is executed.

[2022-04-05 16:11] ukmo-ccbunney opened #656 "CMake can't find NetCDF libraries on Cray XC"
**Describe the bug**
On the Cray XC, CMake cannot find the NetCDF libraries.
I believe this is due to the nature of the library installations on the Cray.

The NetCDF installation directory contains a `bin` directory as expected, but not a `lib` or `include` directory.
Instead, the `lib` and `inlcude` directories are in separate subdirectories for each supported compiler (Cray, GNU, Intel, etc).
T

[2022-04-05 16:51] ukmo-ccbunney commented on #651
The `prep_env.sh` script is calling cmake, even if the regtest is compiled using gmake (i.e. via `run_test`, rather than `run_cmake_test`).

At the moment, cmake builds with netCDF are not working correctly on the Met Office Cray XC. I have a separate issue raised for this #656

[2022-04-05 20:53] kgerheiser commented on #656
This is a tough problem. FindNetCDF operates on the basis that `nc-config`/`nf-config` provide the correct paths. If the installations have been manually moved around and they don't point to anything then it won't work.

If the compiler handles the flags then there needs to be some sort of option to enable NetCDF without using `find_package`. This isn't ideal, but it's an easy workaround.

[2022-04-06 13:53] ukmo-ccbunney commented on #656
@kgerheiser Here is my solution:
https://github.com/ukmo-waves/WW3/commit/118f0c02a221accb79682102fa6a7c48365f29bd

It provides a new command line option `-D EXCLUDE_FIND="list;of;libraries"` that allows the user to specify libraries that are have compiler flags configured by the compiler/wrapper. Currently, it only supports "netcdf" as an option, but I've made it a list in case we need to add oth

[2022-04-06 13:57] kgerheiser commented on #656
I think your solution is good. I just added one comment about using `if(TARGET NetCDF::NetCDF_Fortran)`.

[2022-04-11 15:02] aliabdolali opened #659 "WW3 Developer Call (Tuesday 19 April 2022 10:00am ET)"
**WW3 Developer Call**

_Tuesday 19 April 2022 10:00am ET_

During this first 2022 meeting, we will have two presentations, first by Kyle Gerheiser from NOAA/EMC focusing on the new CMake build system for WAVEWATCH III and then Ali Abdolali (NOAA/EMC)/Ty Hesser (ERDC/USACE) will present wave-vegetation sink term implementation in WW3.

We will also present a summary of recent developments. The mee

[2022-04-14 14:03] #574 closed, assigned to nobody

[2022-04-20 02:26] aliabdolali commented on #659
Here are the slides from April 19th developer call.
[KyleGerheiser_WW3_CMake_Presentation_April_19_2022.pdf](https://github.com/NOAA-EMC/WW3/files/8517771/KyleGerheiser_WW3_CMake_Presentation_April_19_2022.pdf.zip)
[AliAbdolali_WW3_WaveVeg_Presentation_April_19_2022.pdf](https://github.com/NOAA-EMC/WW3/files/8517772/AliAbdolali_WW3_WaveVeg_Presentation_April_19_2022.pdf.zip)

[2022-04-20 02:26] #659 closed, assigned to nobody

[2022-04-20 06:16] Rafikow opened #666 "comp file"
rafik@rafik-Latitude-3500:~/Desktop/WW3$ ./model/bin/w3_setup model -c comp -s switch

                *****************************
              ***   WAVEWATCH III setup     ***
                *****************************

[INFO] local env file wwatch3.env found in /home/rafik/Desktop/WW3/model/bin/wwatch3.env
   Setup file /home/rafik/Desktop/WW3/model/bin/wwatch3.env found
      Source dire

[2022-04-20 17:35] JessicaMeixner-NOAA opened #668 "Add convert=big_endian to any open statement of binary files"
**Is your feature request related to a problem? Please describe.**
With GNU compilers, the main program set's the "endian" to big or little.  Therefore if WW3 is compiled as a library used in a coupled system that is setting (or not setting) the endian-ness then the main program will dictate this.  This issue was run into in the ufs-weather-model, see issue https://github.com/ufs-community/ufs-wea