[2019-03-21 21:06] JessicaMeixner-NOAA opened #1 "Adding a checkpoint restart capability"
A requirement for operations, is going to be the ability to restart WW3 from a checkpoint.  This means selecting the correct restart file and then continuing to write output files from that point.

A proposed solution is to add an option to not only label the restart files with dates such as
restart.YYYYMMDDHHMMSS.ww3 (or some form of YYYYMMDDHH) and to explore the possibility of having output suc

[2019-03-27 12:54] ajhenrique opened #2 "Partition number checking failing in ww3_ounf"
A bug in ww3_ounf is causing the netcdf gridded post-processing wrapper to fail. The line

IF(NBIPART .GT. NOSWLL) THEN

needs to be changed to

 IF(NBIPART .GT. NOSWLL+1) THEN

this reflects the fact NOSWLL sets the number of swell partitions in addition to the windsea partition thus a total of NOSWLL+1 partitions.

@aliabdolali @ajhenrique  @ukmo-ccbunney

[2019-03-28 08:15] ukmo-ccbunney commented on #2
This affects the ALLOCATE statement at line 384 in a similar fashion; the TABIPIART array needs to be 1 element larger:

    ALLOCATE(TABIPART(NOSWLL + 1))

[2019-03-28 17:03] ukmo-ccbunney commented on #2
Pull request #3 raised.

[2019-04-02 20:55] ajhenrique opened #6 "Make changes to open deveopment of WW3 v7"
Change manual, guide and w3initmd to reflect new version number (7.00)

[2019-04-02 20:58] ajhenrique commented on #6
Completed! v7 open to development.

[2019-04-02 20:58] #6 closed

[2019-04-04 18:03] ajhenrique opened #7 "Depth breaking DB1 bug"
DB1 module was originally coded using the monocramatic wave dissipation dimensional variables. It was updated to use the spectral form, but some coefficients were no updated accordingly which resulted in a dimensionally-incorrect version. @aronroland @ajhenrique and @thesser1 are working to fix this inconsistency.

[2019-04-04 18:14] ajhenrique opened #8 "Netcdf gridded output to file with fixed name"
NCEP operations require that ounf output to a fixed-name file. Currently a quick-fix is used in ww3_ounf.ftn:

! For NCEP application, requires fixed netcdf file name
            FNAMENC='ww3.gridded.nc'

This issue is a request for a feature to allow users choosing that in ounf.inp.

[2019-04-04 18:14] ajhenrique commented on #8
@mickaelaccensi : I've already had this request a few months ago, an easy feature to implement would be to set the number of characters in date [4(yearly),6(monthly),8(daily),10(hourly)] to 0 to not have any time specification in the filename.
That's easy to implement so I can do it on a feature branch

[2019-04-05 07:52] mickaelaccensi commented on #8
@ajhenrique Do you want me to implement it on this branch or is better if I create a new feature branch to implement it ?

[2019-04-05 20:34] aronroland opened #12 "Triads"
Triads do not alter the results in the right direction and magnitude (2019). Looking into things I did some rewrite and found that the explicit part of the source term was off by a factor of 2. Moreover, reallocation would cause issues and run-time penalty. I rewrote following the WWM implementation

[2019-04-08 20:31] ajhenrique commented on #7
Issue has been solved.

[2019-04-08 20:31] #7 closed

[2019-04-08 20:32] ajhenrique commented on #2
The issue has been solved. To be reintegrated to the NOAA-EMC master pending regtests.

[2019-04-08 20:32] #2 closed

[2019-04-16 20:04] AndresSepulveda opened #13 "Extra line in ww3_shel.ftn"
I had an error runinng ww3_shel, it complained about a problem reading ww3_shel.inp

Diving in the code, seems this can be fixed by commenting an extra READ in line 1303

From
              READ (NDSI,*,END=2001,ERR=2002) IPRT, PRTFRM
!/DEBUGINIT              write(740+IAPROC,*), 'Before reading IPRT'
!/DEBUGINIT              write(740+IAPROC,*), 'Before read 2002, case 10'
              READ (NDS

[2019-04-17 21:01] JessicaMeixner-NOAA commented on #13
To be able to help, we need to know what switch you used to compile the code and what your ww3_shel.inp file is.

[2019-04-18 17:41] AndresSepulveda commented on #13
Hi, thanks for the help. Here are the files

[switch.txt](https://github.com/NOAA-EMC/WW3/files/3095548/switch.txt)

[ww3_shel.inp.txt](https://github.com/NOAA-EMC/WW3/files/3095550/ww3_shel.inp.txt)

[2019-04-23 20:37] ajhenrique opened #15 "netcdf fails to link on some systems: correct libs= statements"
Some link scripts need to be bugfixed for libs= statement that removes netcdf libs= settings. This occurs in link.theia but may occur in other scripts.

[2019-04-23 20:42] JessicaMeixner-NOAA commented on #15
I'm not sure I understand your issue. How can I replicate this issue?

[2019-04-23 20:57] ajhenrique commented on #15
Try to compile the netcdf wrapper on Theia (NCEP's R&D machine) using comp.theia and link.theia. I have a fix for this and will implement on the develop branch.

[2019-04-23 21:11] JessicaMeixner-NOAA commented on #15
So if  on theia I do:

git clone https://github.com/NOAA-EMC/WW3
cd WW3
./setup model -c theia -s ???
./w3_make ww3_???

What are the ???

[2019-04-24 06:47] mickaelaccensi commented on #15
could you try to use the cmplr.env system with:
 ./w3_setup model -c intel ( instead of theia )
in comp.theia and link.theia, I'm surprised the way the compiler can be defined as mpiifort or ifort -lmpi. It would be better to either compile with -c intel or -c mpt... anyway can you send your error message in the linking.

[2019-04-25 14:18] j-gonzalezlopez commented on #15
Maybe not directly related, but I've had issues compiling for GRIB1/GRIB2 and NetCDF (using gfortran-8). The link.tmpl file doesn't include the if statement to assign the GRIB1 library to compile ww3_grib. I managed to successfully compile for GRIB1 by copying those lines from link.xlf into the link file created after calling ww3_setup the first time. Still working on getting the compilation to wo

[2019-04-25 17:29] JessicaMeixner-NOAA commented on #15
@j-gonzalezlopez   If you want to compile with GRIB, I'd recommend looking at the comp/link.{theia, wcoss*} ones.

@mickaelaccensi :  @ajhenrique and I discussed this morning about cleaning up all the comp.* link.* files so that we are using the cmplr.env system for everything (I think we talked about this a long time ago but I asked to wait until after the public release to do this).    So we nee

[2019-04-25 17:35] JessicaMeixner-NOAA commented on #15
@mickaelaccensi Another question:  Do you know who the zeus_* references are for?  I know NOAA used to have a zeus, so I just want to confirm it is that so we can update those and make sure I'm not erasing something someone else needed.

[2019-04-25 17:41] mickaelaccensi commented on #15
I totally agree with the idea of cleaning up all the comp and link files and just keep the comp.tmpl and link.tmpl !

about the zeus, I think it was only used at NOAA.

[2019-04-25 17:55] ajhenrique commented on #15
I'll start a feature branch of my fork and add the changes for grib to comp.tmpl and link.tmpl for the develop branch. We can discuss approach for eliminating comp and link files during our repo managers meeting on May 6th.

[2019-04-25 19:10] ajhenrique opened #18 "Merge Hotfix HF_ounfpart branch to NOAA-EMC/WW3 master and develop"
The following hotfixes will be merged to NOAA-EMC/WW3 master and develop:
* Bugfix in ww3_ounf.ftn: NBIPART check against NOSWLL. See #2.
* Updating link files for grib compile, change to ww3_uprstr for clean compile with OMPH OMPG flags,
* Option for writing to fixed netcdf gridded output file with NCO switch (more appropriate fix in v7, see #8).
* DB1 depth-breaking_bugfix: added proper scaling

[2019-04-25 19:13] ajhenrique commented on #18
HF_ounfpart containing the hotfixes was merged to master on 19 April 2019:
https://github.com/NOAA-EMC/WW3/commit/b582f8cbc82aec6f13a66a58c661fba4ae24e4ee

HF_ounfpart was merged to develop on 23 April 2019:
https://github.com/NOAA-EMC/WW3/commit/2b1ea78a34183d0c17d4802487dcfa856141730b

[2019-04-25 19:14] #18 closed

[2019-04-25 19:45] flampouris commented on #18
Hi @ajhenrique,
What was the issue with the ww3_uprstr? The only apparent difference to the ww3_uprstr code is the removal of the "$" from the comments.

[2019-04-25 19:50] ajhenrique commented on #18
Hi @flampouris!
The '$' were being interpreted by the openmp compiler as OMP instructions and the compilation was crashing. Removing the '$' fixed the issue.
Cheers!

[2019-04-25 19:57] flampouris commented on #18
Thank you.

[2019-04-25 19:57] flampouris commented on #18
Thank you!

[2019-05-15 20:27] ajhenrique commented on #15
This issue had morphed into the generalization of comp/link scripts using cmplr.env and single comp.tmpl and link.tmpl scripts.

[2019-05-15 20:27] #15 closed

[2019-05-15 20:34] ajhenrique opened #19 "Generalization of comp/link scripts -> cmplr.env + [comp|link].tmpl"
A multitude of comp/link scripts for specific applications/machines, some deprecated, populates the model/bin directory. @mickaelaccensi has whipped up a set of template comp/link files with and env-setting script that is lined up to replace individual comp/link files, inc association with the w3_setup script. The work will require collaboration between users to make sure the new approach works ac

[2019-05-15 20:37] ajhenrique opened #20 "Add regtests matrix page"
Regtests: matrix scripts run a series of regtests, and are the basis to develop our code management gold standard. @aliabdolali has started documenting regtesting using matrix scripts, @JessicaMeixner-NOAA will add wiki page.

[2019-05-15 20:38] ajhenrique commented on #20
Page will be made available in the next 2-3 weeks by @aliabdolali

[2019-05-15 20:40] ajhenrique opened #21 "Transferring branches Vlab-> github"
After the successful transition of the master and develop branches from NOAA VLab to GitHub, a few branches need to be cleaned up or transferred across to forks or institutional repos.

[2019-05-15 20:42] ajhenrique commented on #21
@mickaelaccensi will check at Ifremer if any branches left that need deletion.
@aliabdolali will check with @thesser1 to figure out what has been ported or restarted from scratch (then delete branches on vlab).
@aliabdolali and @JessicaMeixner-NOAA have a who/where shared spreadsheet with branches that need to be transferred.

[2019-05-15 20:54] ajhenrique opened #22 "Add FAQ page to WW3 wiki"

[2019-05-15 20:56] ajhenrique opened #23 "OUNF allowing fixed output file name"
Currently ounf creates date-tagged output files. Some applications require fixed output file names. @ukmo-ccbunney and @mickaelaccensi will collaborate towards a fixed-file option.

[2019-05-15 20:57] ajhenrique commented on #23
Chris sent code, Mickael will be working in next 1-2 weeks.

[2019-05-15 21:00] ajhenrique opened #24 "Add-in functions + instrumenting for model optimization"
Andy Saulter with @ukmo-ccbunney will work to add these enhancements.

[2019-05-15 21:01] ajhenrique commented on #12
@aronroland is working with @thesser1 on this + solving lateral boundary conditions issues.

[2019-05-15 21:02] ajhenrique opened #25 "Add io page for manual"
@ajhenrique will work on this, tagging up with EMC admins to find out more.

[2019-05-15 21:03] ajhenrique opened #26 "Update WW3 wiki to better reflect EMC GitFlow"
@ajhenrique working with @JessicaMeixner-NOAA to iron out inconsistencies.

[2019-05-15 21:04] ajhenrique commented on #19
@ajhenrique will update esmf directory scripts and start a new branch for generalization work.

[2019-05-15 21:07] ajhenrique opened #27 "Fix small bug on temp NCO switch fixed-file ounf option"
@ajhenrique has created a temporary fix to allow usage of ounf in NCEP's GLWU system. A more consistent solution for this problem will be provided under issue #23.

[2019-05-16 13:38] ajhenrique commented on #8
As we discussed, please implement on a feature branch. Thanks!

[2019-05-16 14:16] ajhenrique commented on #25
@KateFriedman-NOAA added permissions to access https://noaa-emc.github.io/ (thanks!), created WW3 github.io/WW3 for hosting auth repo pages/documentation as https://noaa-emc.github.io/WW3/

[2019-05-16 15:09] ajhenrique commented on #13
@AndresSepulveda it looks like this was an issue introduced in revision [4994ca](https://github.com/NOAA-EMC/WW3/commit/4994ca64545d39b871ffbc229119046b66b8f9d8). @mickaelaccensi could you please check? It looks like line [1300](https://github.com/NOAA-EMC/WW3/blame/master/model/ftn/ww3_shel.ftn#L1300) was introduced with the intention of replacing line [1303](https://github.com/NOAA-EMC/WW3/blame

[2019-05-16 15:27] mickaelaccensi commented on #13
the line 1300 must be deleted :
            READ (NDSI,*,END=2001,ERR=2002) IPRT, PRTFRM

[2019-05-16 15:36] AndresSepulveda commented on #13
ok, thanks.

[2019-05-16 15:46] ajhenrique commented on #13
@mickaelaccensi do you think this bugfix would warrant a HF to the master? IOW, would this cause the code to fail in a way that would significantly affect usage of ww3_shel? In any case, could either you or @AndresSepulveda create a BF branch from your fork, fix the issue and submit a pull request?

[2019-05-16 16:02] mickaelaccensi commented on #13
ok I'll do it next week

[2019-05-20 13:14] mickaelaccensi commented on #8
@ajhenrique, is it ok for you if setting ndates=0 in ww3_ounf.inp or ww3_ounf.nml to define the output filename as a fixed name by replacing the date by 'field', for example ww3.field.nc or ww3.field_hs.nc ?

[2019-05-20 14:19] ukmo-ansaulter opened #30 "add sea/swell correction options for ww3_uprstr method"
Add in  wave spectrum update method, following Lionello et al (1992), to ww3_uprstr.ftn

[2019-05-20 14:23] ukmo-ansaulter opened #31 "optimization/scaleability of ww3psmcmod"
Re-structured SMC propagation code for improved scaleability in hybrid MPI-OpenMP mode

[2019-05-20 14:27] ukmo-ansaulter opened #32 "ww3_ounf to use user defined variable name/metadata options"
Restructure ww3_ounf code to use alternative, user defined varaible name and metadata packages, e.g. CF-1.7 compliant data and variable names used by Copernicus Marine Environment Monitoring System and Met Office ServiceHub

[2019-05-20 14:29] ukmo-ansaulter commented on #30
For assignment to @ukmo-ansaulter

[2019-05-20 14:30] ukmo-ansaulter commented on #31
For assignment to Jian-Guo Li (once he gets his GitHub account)

[2019-05-20 14:31] ukmo-ansaulter commented on #32
For assignment to @ukmo-ccbunney and/or @ukmo-ansaulter

[2019-05-20 16:16] ajhenrique commented on #27
@RobertoPadilla-NOAA this is the issue for the fixed file bugfix.

[2019-05-20 16:17] ajhenrique commented on #23
@RobertoPadilla-NOAA this is the issue for permanent ounf fixed file enhancement.

[2019-05-21 08:36] mickaelaccensi opened #34 "bugfix for netcdf file id allocation"
defined an allocatable ncid array instead of fixed length array to avoid ww3_ounf to crash when opening a new netcdf with a out of range ncid value

[2019-05-27 21:46] dpzimmer opened #37 "Memory leak in subroutine TAU_WAVE_ATMOS of w3src6md.ftn"
The subroutine TAU_WAVE_ATMOS dynamically allocates six working arrays every call but does not release them.  The following should probably be added a the end of the subroutine:

      DEALLOCATE(SIG10Hz,CINV10Hz,DSII10Hz)
      DEALLOCATE(SDENSX10Hz,SDENSY10Hz,UCINV10Hz)

[2019-05-28 14:56] JessicaMeixner-NOAA opened #38 "fix typo in manual"
@flampouris

In the manual for The Restart File Processor (ww3_uprsrt) section, there are two places where it says:
UPD0C:: ELIMINATED from version x.xx
UPD1 :: ELIMINATED from version x.xx

what version is x.xx?

[2019-05-29 16:36] #37 closed

[2019-05-31 14:44] flampouris commented on #38
The last before the 6.00.

On Tue, May 28, 2019 at 10:56 AM JessicaMeixner-NOAA <
notifications@github.com> wrote:

--
Dr. Rer. Nat. Stylianos Flampouris
Team Leader for Marine Data Assimilation
IMSG at NOAA​​/NWS/NCEP/EMC
*​P: *+1(301)683-3789​ *E: *stylianos.flampouris@noaa.gov

[2019-06-02 20:45] JessicaMeixner-NOAA commented on #22
There is already a FAQ page: https://github.com/NOAA-EMC/WW3/wiki/FAQs-page  We'll update it as we go.

[2019-06-02 20:45] #22 closed

[2019-06-03 10:01] mickaelaccensi opened #40 "WCOR switch missing"
WCOR switch is well implemented but missing in make_makefile.sh

[2019-06-03 10:04] mickaelaccensi opened #41 "UG_GETOPENBOUNDARY index"
OUTSIDE_BOUNDARY is defined over the full nodes NODES indexes whereas TMPSTA and ZBIN are defined over the clean up list of nodes NX

[2019-06-03 16:33] ajhenrique opened #42 "WAVEWATCH III Developers meeting, Wed June 5th 2019 10:30am"
Hello WAVEWATCH III Developers,

Wednesday is out first bi-monthly WAVEWATCH III Developers meeting since the transition to GitHub. The focus of this meeting will be on the transition to GitHub itself, a description of our new authoritative and trusted repositories, new milestones for v7, and recent developments.

Highlights also include the presentation "Met Office WAVEWATCH III profiling and sca

[2019-06-07 13:00] ajhenrique commented on #42
Thanks to all who joined the meeting this week. In attachment please find the slides from the two presentations. I will be sending out an announcement soon with the date of our next meeting. Have a great weekend!

[opening_ww3developers.pdf](https://github.com/NOAA-EMC/WW3/files/3265964/opening_ww3developers.pdf)
[waves_MetOffice_NextGenProject_20190605.pdf](https://github.com/NOAA-EMC/WW3/files/3

[2019-06-07 14:37] ajhenrique commented on #40
This was included in your pull request right?

[2019-06-07 15:58] ajhenrique opened #43 "Add option for slurm batch queueing using regtests matrix"
NCEP R&D machine has moved from MOAB to slurm batch queueing. An update is being developed by @ajhenrique.

[2019-06-11 17:54] ajhenrique opened #48 "Add time counter in regtests run_test to capture compile and run time for all programs"
Comparing compile and run times when running a regression test is fundamental to see impacts of changes to model results, runtime and to compilation metrics. This issue deals with adding counters for both in the script run_test.

[2019-06-11 20:06] #42 closed

[2019-06-12 11:55] JessicaMeixner-NOAA opened #49 "Option for keeping build directories in a specified directory"
Add an option to keep all build information (mod/obj_*, tmp, exe) in a different directory than model.  One advantage to adding this feature would be that it would allow for multiple builds to occur simultaneously and could help speed up regression tests significantly.

[2019-06-17 14:12] hellais commented on #42
I could not manage to join the call, but I appreciate sharing the slides.

Will see if I can join the next one!

[2019-06-17 20:04] ajhenrique commented on #1
Planning for the checkpoint feature has started. My initial idea is to keep the restart files are they are for backwards compatibility, but have an option to use the suffix YYYYMMDDHH rather than NNN. A separate checkpoint file (say, snapshot.ww3.YYYYMMDDHH or checkpoint.ww3.YYYYMMDDHH) would be created with an optional flag indicating how many of the latest checkpoint files would be retained as t

[2019-06-24 13:18] ajhenrique opened #56 "regtest ww3_tp1.6 not b4b in regtests matrix"
Runs of the regtests matrix have indicated that test ww3_tp1.6 is not bit for bit comparable in independent runs of a given branch. Differences are seen in out_grd.ww3 and out_ont.ww3 files. This should be investigated, as pointed out by @ajhenrique, @aliabdolali and @JessicaMeixner-NOAA .

[2019-06-24 20:00] aliabdolali opened #61 "Bit for bit differences in mod_def files for regtests"
Need to check previous svn issues that explain differences in mod_def files for some test cases (ww3_tp2.7, ww3_ts4 and mww3_test_07).

[2019-06-25 19:45] ajhenrique commented on #48
This feature has been added to the develop branch as part of the FB_alurm_regtests merge #52.

[2019-06-25 19:45] #48 closed

[2019-06-25 19:46] ajhenrique commented on #27
This has been taken up within #23.

[2019-06-25 19:46] #27 closed

[2019-06-25 19:48] ajhenrique commented on #23
Closing issue #8 as the current issues is one and the same...

[2019-06-25 19:49] ajhenrique commented on #8
Continued in issue #23, closing.

[2019-06-25 19:49] #8 closed

[2019-06-25 19:50] ajhenrique commented on #20
Page has been added, thanks @aliabdolali: https://github.com/NOAA-EMC/WW3/wiki/Developer-Guide#regression-testing-in-wavewatch-iii

[2019-06-25 19:50] #20 closed

[2019-06-25 20:56] ajhenrique opened #63 "OpenMPI iogomd error"
@micahdavid reported

I was receiving the following error using OpenMPI:

At line 394 of file w3iogomd.F90
Fortran runtime error: Unit number is negative and unit was not already opened with OPEN(NEWUNIT=...)

Making the fix to w3iogomd.ftn on line 404 alleviated this error:
FROM:
IF (IFJ .LT. NOGE(IFI)) WRITE(NDSEN,1007) IFI
TO:
IF (NDSEN .GE. 0 .AND. IFJ .LT. NOGE(IFI)) WRITE(NDSEN,1007) IFI

[2019-06-28 18:36] ajhenrique commented on #43
Changes were made to develop as per pull request #51 .

[2019-06-28 18:36] #43 closed

[2019-06-28 18:37] ajhenrique commented on #25
io page has been added, need now to find a proper format for uploading the manual.

[2019-06-28 18:38] ajhenrique commented on #23
Changes made as per pull requests above.

[2019-06-28 18:38] #23 closed

[2019-07-01 06:42] #34 closed

[2019-07-01 06:43] #41 closed

[2019-07-01 06:43] #40 closed

[2019-07-01 06:45] mickaelaccensi commented on #13
@AndresSepulveda can you close this issue since it has been integrated into master and develop branches. thanks

[2019-07-01 14:41] #13 closed

[2019-07-02 11:30] CarstenHansen opened #68 "Let ww3_grid specify output boundary conditions to rotated grids"
I am working on a feature branch fb_rtd2 which is an extension to the /RTD switch. It provides a method to output boundary conditions  to a rotated lat/lon grid. This fulfills our need to create one-way nesting to a 9-nmi grid around Greenland. I will await Chris Bunney and colleagues at UKMO to give it a critical look and expect to send a pull request before end of august.
https://github.com/Cars

[2019-07-11 00:59] QingxiangLiu opened #72 "Updates on IC5 module"
Extending the current IC5 module by including another two dissipative ice models:
1.  the viscoelastic Robinson & Palmer ice model (i.e., the RP model in Mosig et al. (2015))
2.  the Order 3 power law proposed by Meylan et al. (2018)

[2019-07-11 01:03] QingxiangLiu opened #73 "NL5: the generalized kinetic equation for Snl"
A module based on the generalized kinetic equation (Gramstad and Stiassnie 2013), which takes into accout both resonant and quasi-resonant four wave interactions, will be implemented as NL5 in WW3. The modified kinetic equation by Janssen (2003) will also be included in the NL5 framework.

[2019-07-19 17:57] DiegoGutierrez2210 opened #74 "Problem with ww3_shel"
Hi,

I am receiving the following error in my simulation, when using ww3_shel

....
     Type 6 : Partitioned wave field data
      -----------------------------------------
            From     : 1968/06/06 00:00:00 UTC
            To       : 2001/01/02 00:00:00 UTC
            Interval :            01:00:00

            output dates out of run dates : Track point output deactivated
            o

[2019-07-22 09:24] CarstenHansen commented on #74
@DiegoGutierrez2210 This looks like the bug in ww3_shel opened as issue #13 by @AndresSepulveda. It was merged into the master hotfix #54

[2019-07-31 18:27] ajhenrique opened #77 "WAVEWATCH III Developers meeting, Thu Aug 1st 02019 10:30am"
Hello WW3 Developers

Tomorrow we will have our Bi-Monthly Call to discuss the development of WAVEWATCH III.

During this meeting, we will have a presentation about the unstructured grid implicit scheme implementation in WAVEWATCH III. We will also present a summary of recent developments included in the develop branch and updates on master branch changes. The meeting will end with an open forum w

[2019-08-09 11:12] clementcal opened #79 "Problem with ww3_prnc 2 components field"
I'm not sure if it is a bad use from my part or an issue in the code

line 1873 when interpolating for a 2-component field the following formula is used for A3

A3(IX,IY) = SQRT (                                &
                           RD11(IX,IY) * ( XC(IX21(IX,IY),IY21(IX,IY))**2   &
                                         + YC(IX21(IX,IY),IY21(IX,IY))**2 ) &
                         + RD21

[2019-08-09 11:23] #79 closed

[2019-08-09 11:25] clementcal commented on #79
There is a transfer as it is function actually... problem solved.

[2019-08-12 14:04] clementcal opened #80 "Error in wmupdtmd.ftn / wmupds"
In line 1876- 1878 (wmupds subroutine)

              IF ( FLAGLL ) THEN
                  IF ( ICLOSE.NE.ICLOSE_NONE ) JJ = 1 + MOD(J-1,NXI)
                  IF ( JJ.LT.1 .OR. JJ.GT. NXI ) CYCLE

This leads to a crash if no closure is used as JJ is not defined before being called.

I think it should be like this instead, copying what is done in line 1835

              IF ( FLAGLL .AND. ICLOSE.N

[2019-08-13 07:09] mickaelaccensi opened #81 "error in w3timemd / U2D"
error in flag status to read time with new CF convention when month and day are written on only one character : YYYY-M-D

[2019-08-13 08:29] mickaelaccensi opened #82 "misleading error message in wmgridmd"
crash with gnu compiler

[2019-08-13 09:12] mickaelaccensi commented on #82
see commit in umr-lops/develop :
https://github.com/umr-lops/WW3/commit/f2c18ca32456fc6c8edd1b99e0e18962680d8cc5

[2019-08-13 09:12] mickaelaccensi commented on #81
see commit in umr-lops/develop :
https://github.com/umr-lops/WW3/commit/908d73eebbf1121485b65348753586cb604fcf20

[2019-08-13 09:27] mickaelaccensi opened #83 "feature : update bash scripts to convert inp to nml"
use a generic template for all the reading/writing

[2019-08-14 08:08] mickaelaccensi commented on #83
see commit in umr-lops/develop :
https://github.com/umr-lops/WW3/commit/9c7b0b7841e3ede8c42d9b3c10235da64391f3b5

[2019-08-19 19:48] #77 closed

[2019-08-22 17:49] JessicaMeixner-NOAA opened #87 "remove files from regtests comparison"
The profile output gmon.out and time_count.txt should be removed from the regtests/bin/matrix.comp script so that they are not included in regression test comparisons.

[2019-08-26 07:06] mickaelaccensi opened #88 "pointers not initialized in w3adatmd"

[2019-08-26 08:04] mickaelaccensi opened #89 "ww3_grid with nml : outbound list display issue"

[2019-08-26 08:10] mickaelaccensi commented on #89
see commit in umr-lops/develop : https://github.com/umr-lops/WW3/pull/6

[2019-08-26 08:13] mickaelaccensi commented on #88
see commit in umr-lops/develop : https://github.com/umr-lops/WW3/pull/5/commits/22b8294a039b4602c06876828a4d5ba999e85693

[2019-08-26 08:35] mickaelaccensi commented on #63
better to use test IF (IAPROC.EQ.NAPOUT) as it's already in other parts of the code

[2019-08-26 08:38] mickaelaccensi commented on #63
see commit in umr-lops/develop : https://github.com/umr-lops/WW3/pull/7/commits/11facefe5405fcfc783a5e8233a377903f4ea5df

[2019-08-26 09:11] mickaelaccensi opened #90 "regtest ww3_multi : points file path"
when creating new points file from input file, add relative to points file instead of filename

[2019-09-04 15:19] JessicaMeixner-NOAA commented on #87
I already have a fix for it.

[2019-09-04 15:22] ajhenrique commented on #87
Thanks @JessicaMeixner-NOAA . Where is the fix?

[2019-09-04 15:36] ajhenrique opened #91 "Ice and Mud file specification in ww3_multi.inp"
We can see that in ww3_shel.inp there are options for reading the flags for mud and ice, but in multi there are no options for reading input files with ice and mud for each grid.

[2019-09-10 09:25] ukmo-ccbunney opened #92 "OMP switches missing in w3psmcmd"
The W3PSMCMD module uses OMP directives on various loop constructs, but these are not protected by one of the OMPx compile switches.

The !/OMPG switch should be used as these loops parallelize well in both hybrid and pure OMP mode.

[2019-09-10 13:11] ukmo-ccbunney opened #93 "regtest ww3_tp2.10 instability"
The Lake Erie SMC propgagtion only regtest (ww3_tp2.10) is going unstable (at least on our Cray system). Output fields after the initial timestep are full of "NaN", "Inf" or unrealistically large values. This is causing problems for comparison of regtest suites.

[2019-09-10 14:31] ukmo-ccbunney commented on #93
Fixed with reduction of CFL timestep to 60 seconds:
https://github.com/ukmo-waves/WW3/commit/a71df3d719312cf6a57022991c99c4d70a998d84

[2019-09-12 14:15] clementcal opened #94 "Typo in WMINITMD with MPRF switch"
line 3268 it is:
!/MPRF      USE W3SERVMD, ONLY: PRINIT, PRTIME

It should be:
!/MPRF      USE W3TIMEMD, ONLY: PRINIT, PRTIME

[2019-09-17 12:51] ukmo-ccbunney opened #95 "Erroneous commas in w3uostmd and w3iogrmd"
There is an inccorrectly placed comma on line 432 of w3uostmd.ftn:

https://github.com/NOAA-EMC/WW3/blob/92cb41f70e91da97be9e5cd8bfee1de0a569f676/model/ftn/w3uostmd.ftn#L432

and line 1263 of w3iogrmd.ftn:

https://github.com/NOAA-EMC/WW3/blob/92cb41f70e91da97be9e5cd8bfee1de0a569f676/model/ftn/w3iogrmd.ftn#L1263

In both cases, there should not be comma after closing bracket following the READ or

[2019-09-17 13:12] ajhenrique commented on #95
@ukmo-ccbunney could you please create a HF branch to get this on board the master and develop branches across repositories? @mickaelaccensi please let me know if there are any bugfix commits in your develop PRs that should also go to the WW3 mater. Thanks.

[2019-09-17 14:25] ukmo-ccbunney opened #96 "Invalid Fortran unit number in w3uostmd"
The W3UOSTMD module opens a file with unit number 100. This is an invalid unit number when using Cray Fortran; excerpt from the the Cray Fortan Documention:

See line 159 of w3uostmd.ftn:
https://github.com/NOAA-EMC/WW3/blob/92cb41f70e91da97be9e5cd8bfee1de0a569f676/model/ftn/w3uostmd.ftn#L159

I recommend changing the unit number (3rd argument) to **110**

[2019-09-17 14:35] JessicaMeixner-NOAA commented on #96
For ESMF and possibly other coupled models, we need to have file unit numbers that are not already being used by another model.   It would be nice if maybe we put the 100 as a variable with comment that it's a file unit (set at 110 for now), so that we can easily find this in the future if this becomes an issue.

[2019-09-17 14:42] ukmo-ccbunney commented on #96
@JessicaMeixner-NOAA Ok - I shall do that.
@ajhenrique, do we consider this a hotfix, or shall I make it a bugfix in develop?

[2019-09-18 08:39] ukmo-ccbunney opened #98 "Non advancing WRITE statement causing "record too long" error"
In ww3_grid.ftn, the `!/O2c` switch enables the output of the status map to a text file:

https://github.com/NOAA-EMC/WW3/blob/92cb41f70e91da97be9e5cd8bfee1de0a569f676/model/ftn/ww3_grid.ftn#L4555-L4561

with the associated format statement:

https://github.com/NOAA-EMC/WW3/blob/92cb41f70e91da97be9e5cd8bfee1de0a569f676/model/ftn/ww3_grid.ftn#L5909

When this is run for the ww3_ts4/ug (unstructured

[2019-09-18 10:35] ukmo-ccbunney opened #99 "SEC1 switch causes GOTO jump into a loop"
Compiling WW3 with the `SEC1` switch (sub-second cycling) generates code where a GOTO statement jumps into a DO loop from outside the loop. This produces warnings on GNU and IFORT compilers, but is a fatal error on the Cray compiler. Either way, it seems like a bad idea.

In w3wavemd.ftn, the GOTO statement on line 1466
https://github.com/NOAA-EMC/WW3/blob/92cb41f70e91da97be9e5cd8bfee1de0a569f676/

[2019-09-18 11:54] ukmo-ccbunney commented on #99
Update: I have found a Cray compiler flag that downgrades this from an error to a warning; this at least allows me to compile using the `/SEC1` switch.

I will leave the issue open as I think it is worth some thought from the wider developer group.

[2019-09-18 12:18] ukmo-ccbunney commented on #98
If non-advancing IO is really required, a workaround is to calculate and set the RECL explicitly in the OPEN statment:

`OPEN (NDSM,FILE=TRIM(FNMPRE)//'mapsta.ww3', RECL=2*NX*NY*50+1)`

[2019-09-18 12:36] aliabdolali commented on #99
Hi Chis,
Thanks for raising this issue.
Computed GOTOs must be removed from operational codes. In addition,
compilers will soon stop supporting computed GOTOs. Please make sure your
bugfix leads to GOTO removal. It is applicable for any future development.
Regards
AA

+ -------------------------------------------------------------------- +

| ALI ABDOLALI, Ph.D.                     ali.abdolali(at

[2019-09-23 12:54] ajhenrique commented on #93
Thanks @ukmo-ccbunney , will close this issue.

[2019-09-23 12:54] #93 closed

[2019-09-23 12:56] ajhenrique commented on #91
Erick Rogers (NRL) indicated ww3_multi uses different approach for new source terms, as follows:

With multi.inp, there are those 'yes 'no' 'yes' 'yes' things and we
didn't want to add 5 to 10 new yes/no's to that list.

So, if you want multi and not shel, there are two approaches.
1) use namelist variables that are set in ww3_grid.inp. This is probably
where you want to start. Downside: the "vari

[2019-09-23 12:56] #91 closed

[2019-09-23 12:57] ajhenrique commented on #63
Issue resolved, closing.

[2019-09-23 12:57] #63 closed

[2019-09-23 12:58] ajhenrique commented on #68
Hi @CarstenHansen do you have any progress to report on this issue? Thanks.

[2019-09-23 12:58] ajhenrique commented on #74
Issue resolved, closing.

[2019-09-23 12:58] #74 closed

[2019-09-23 13:01] ajhenrique commented on #80
Hi @clementcal could you provide the error output for you case? We would like to have a closer look at that issue. Thanks!

[2019-09-23 13:18] ajhenrique commented on #38
@flampouris would you like us to fix this or has it already been fixed elsewhere?

[2019-09-23 13:27] ajhenrique commented on #94
Good eye @clementcal we will include a fix in an upcoming update to the develop branch.

[2019-09-23 15:43] ajhenrique commented on #99
Hi @JessicaMeixner-NOAA please have a look at this issue and let us know if you clean-up of GOTOs will tackle the GOTO referenced above. Thanks!

[2019-09-23 15:46] ukmo-ccbunney opened #100 "regtest ww3_tp2.15 : NetCDF _FillValue set to NaN"
The wind.nc NetCDf file in the ww3_tp2.15 regtest has the FillValue for the U and V variables set to NaN.

For some compilers, this causes a runtime segfault as comparisons with NaNs is undefined which can lead to NaN values entering the source term calculations.

This behavious can also change depending on what compiler optimizations are used.

For the cray compiler. this regtest fails with > -O1

[2019-09-23 15:48] ukmo-ccbunney commented on #100
@aliabdolali : are you able to update the wind.nc file for ww3_tp2.15 in the data_regtests bundle? Currently U and V look like this:

float U(time, latitude, longitude) ;
	U:_FillValue = NaNf ;
	U:units = "m/s" ;
	U:field = "U, scalar, series" ;
	U:scale_factor = 0.01 ;
	U:long_name = "10-meter wind East component" ;
float V(time, latitude, longitude) ;
	V:_FillValue = NaNf ;
	V:units = "m/s" ;
	V

[2019-09-23 16:10] aliabdolali commented on #100
@ukmo-ccbunney
Hi Chris,
Could you check the attached fixed wind.nc and let me know if it works with cray compiler, if yes, we can replace it on ftp.
Regards
[wind.nc.zip](https://github.com/NOAA-EMC/WW3/files/3643059/wind.nc.zip)

@ajhenrique
If this fix works on Cray, we need to update ftp.

[2019-09-23 16:52] clementcal commented on #80
Hi @ajhenrique,

You can find the error message below:

forrtl: severe (194): Run-Time Check Failure. The variable 'wmupdtmd_mp_wmupds_$JJ' is being used in 'wmupdtmd.F90(1701,32)' without being defined
Image              PC                Routine            Line        Source
ww3_multi          0000000000A64609  wmupdtmd_mp_wmupd        1701  wmupdtmd.F90
ww3_multi          0000000000A0EDC7  wmup

[2019-09-23 19:51] ukmo-ccbunney commented on #100
Hi @aliabdolali ,

Unfortunately, the new file is giving me the same problem...

I think the issue is that the FillValue (9.96920996839e+36) is too large and is not exactly representable as a float. This might make it difficult to match exactly the values in U/V data arrays meaning that it is making it into the WW3 program as a U/V value of 9.96920996839e+36. Futhremore, once this value has been s

[2019-09-23 20:31] ajhenrique commented on #80
Thanks. We will have to look into this with some more detail. Can you describe the test case you are running that you get that error? If possible, can you provide the multi.inp and indicate what types of grids you are using? Thanks.

[2019-09-23 23:53] aliabdolali commented on #100
Hi @ukmo-ccbunney
I see what you meant. The attached wind file has _fillvalue of 3276800. Since you have checked this value, as mentioned, I'd ask @ajhenrique to upload it to the ftp, so from now on, the fixed file is used whenever you download it from there.
[wind.nc.zip](https://github.com/NOAA-EMC/WW3/files/3644571/wind.nc.zip)
Regards
AA

[2019-09-24 08:25] ukmo-ccbunney commented on #100
Hi @aliabdolali

Sorry - that file is still not quite right I am afraid. The FillValue is good but the actual values in the U/V arrays don't match it (they are still 9.96e+36). If you run "ncdump -v U wind.nc" it still gives you a bunch of NaN values.

I've emailed you the file I have modified  - have a look and let me know if you are happy with it.

Regards,
Chris.

[2019-09-24 16:13] clementcal commented on #80
I'm using a rectangular grid for the Atlantic ocean, forced with wind, sea level and current defined each on their own grid. You can see attached my switch and multi.nml files, and the script I'm using to give you an idea of my application.

[Prepare_atl.txt](https://github.com/NOAA-EMC/WW3/files/3648200/Prepare_atl.txt)

[ww3_multi.txt](https://github.com/NOAA-EMC/WW3/files/3648185/ww3_multi.txt)

[2019-09-24 18:52] ajhenrique commented on #80
Thanks @clementcal . Are any of your input grids identical/same resolution as the wave model grid?

[2019-09-24 19:13] aliabdolali commented on #100
hi @ukmo-ccbunney
My bad, I modified the pre-filled wind.nc file not the original one. We will add your wind.nc to ftp. Thanks,
AA

[2019-09-24 19:18] ajhenrique commented on #80
Hi @clementcal can you add a write statement before that line, recompile and check the value of ICLOSE?

[2019-09-25 00:34] JessicaMeixner-NOAA commented on #99
This is not a computed GOTO that NCO requires us to remove.  We do need to
make sure we are not adding to the overall number of GOTOs though.  I will
not be addressing this.

On Mon, Sep 23, 2019 at 10:43 AM Jose-Henrique Alves <
notifications@github.com> wrote:

--
Jessica Meixner
NCEP/EMC
NOAA Center for Weather and Climate Prediction

[2019-09-25 12:30] CarstenHansen commented on #68
Hi @ajhenrique. I am waiting, with patience, for hopefully critical feed-back from @ukmo-ccbunney and @ukmo-ansaulter.
The feedback is needed because 1) it is possible at run an SMC model with the /RTD switch, 2) they made the 2018 enhancements that makes my enhancement possible, and 3) ww3_ounf.ftn becomes more complex because the suggested enhancement allows a standard lat-lon model to be set up

[2019-09-25 18:07] ukmo-ccbunney commented on #68
Hello @CarstenHansen ,
I'm sorry I have not had a chance to have a proper look at this yet - I've been a bit snowed under since returning from 5 weeks parental leave! I'm working on a PR at the moment to fix some bugs that are stopping the Met Office from achieving our Trusted Institutional Fork status. Once this is sorted, @ukmo-ansaulter or myself will review of your feature branch ASAP!
Regards

[2019-09-25 19:13] ajhenrique commented on #100
@ukmo-ccbunney @aliabdolali the new file has been added to the ftp bundle replacing the previous one. Please test and let me know if it works.

[2019-09-26 09:53] ukmo-ccbunney commented on #94
@clementcal I've added this fix to our UKMO bf_ukmo_cray development branch. I will be raising a PR for this soon.

[2019-09-26 13:04] #100 closed

[2019-09-26 13:05] #87 closed

[2019-09-26 13:08] ukmo-ccbunney commented on #100
Thanks @aliabdolali @ajhenrique
It's working fine for me.

[2019-09-26 15:25] ajhenrique commented on #94
Thanks, @ukmo-ccbunney for adding this to you dev PR bundle.

[2019-09-26 17:59] DiegoGutierrez2210 opened #106 "Problem to run ww3_shel"
Hi everyone

I had this issue when ran ww3_shel (everything compile ok):

Program received signal SIGSEGV: Segmentation fault - invalid memory reference.
Backtrace for this error:
#0  0x15272542031a
#0  0x15272542031a
#1  0x15272541f503
#2  0x15272486df1f
#0  0x15272542031a
#1  0x15272541f503
#2  0x15272486df1f
#3  0x55da6da50317
#4  0x55da6da3c4eb
#5  0x55da6da0d494
#6  0x152724e4e95d
#7  0x15272

[2019-09-27 13:29] clementcal commented on #80
Hi @ajhenrique, by luck I've just found out that the error/crash is only happening in debug mode, when compiling without the debug options I have no issues at all.

To answer your question I have ICLOSE = -1 (in both debug and normal mode).

And it might help you understand how the code is behaving, below are my compil options:
debug mode: opt="-c $list -O0 -assume byterecl -g -traceback -check al

[2019-10-01 15:14] ukmo-ansaulter commented on #68
Hi @CarstenHansen . @ukmo-ccbunney  and I have looked through the changes you've proposed. The concept and code changes seem fine, although I have added one comment regarding the logic in ww3_ounf.ftn for you to look at.
There is probably a requirement for some further testing (maybe we need to run your code with our rotated grid models for a comparison) and an update to the manual (as this option

[2019-10-02 08:19] CarstenHansen commented on #68
Thank you @ukmo-ansaulter and @ukmo-ccbunney for looking this through. I agree with your comment that there should be no special logical conditions in ww3_ounf.ftn in case you are running an SMC grid. I will appreciate if you try to run my code in a rotated grid model of yours. Especially if you run an SMC grid model for which I have no experience.

[2019-10-02 08:57] CarstenHansen commented on #68
@ukmo-ansaulter and @ukmo-ccbunney: I agree there should be additional three or four sentences in the manual stating three additional points:
1) With RTD in the switch file, output b. c. to one or more nested grids, being either rotated or standard lat-lon, can be written to files nestI.ww3 by specifying in the namelists the latitude and longitude of each nested file.
2) When applying the boundary

[2019-10-03 16:06] ukmo-ccbunney commented on #68
Hello @CarstenHansen ,

I have run a test using your `fb_rtd2` branch on our Global configuration and nested Atlantic Margin Model (AMM; formulated on a rotated pole). I have also run the same configurations using the `develop` branch as a control.

The results confirm that the nest files are the same between the `develop` and `fb_rtd2` branches (using WW3_BOUND to check the indices and interpolat

[2019-10-03 21:13] DiegoGutierrez2210 opened #108 "Error in w3iosfmd.F90 after run ww3_shel"
Hi everyone

I had this issue with WaveWatchIII 5.16 and I did not know how to solve it:
[switch.txt](https://github.com/NOAA-EMC/WW3/files/3687952/switch.txt)

At line 548 of file w3iosfmd.F90 (unit = 34, file = './partition.ww3')
Fortran runtime error: Expected INTEGER for item 8 in formatted transfer, got REAL
(I3,3F8.2,2F9.2,F7.2)
 ^
Error termination. Backtrace:
#0  0x7f4cb9af931a
#1  0x7f4cb

[2019-10-03 21:19] ajhenrique commented on #106
Diego, it appears you have opened another issue for the same problem. I'll close this one.

[2019-10-03 21:19] #106 closed

[2019-10-03 21:20] ajhenrique commented on #108
@DiegoGutierrez2210 are you using the GitHub version of the code or v5.16? If the latter, please update you code to the latest version and verify if the problem persists, then report back under this same issue number ;-)

[2019-10-04 13:43] DiegoGutierrez2210 commented on #108
@ajhenrique I used v5.16. Ok, so... Do I need download GitHub version and install it again?

[2019-10-04 21:57] ajhenrique commented on #108
@DiegoGutierrez2210 please follow the instructions at
https://github.com/NOAA-EMC/WW3/wiki/WAVEWATCH-III-User-Guide

That guide contains all the information you need to upgrade to the latest version. This section (Issues) is reserved for reporting bugs in the code and issues that are being tackled by developers. In the future, please contact us at NCEP.List.WAVEWATCH@noaa.gov if you need help usin

[2019-10-04 21:57] #108 closed

[2019-10-07 09:46] CarstenHansen commented on #68
Thank you @ukmo-ccbunney, I am very happy to see this.

I have removed the condition ' .OR. SMCGRD' in the two paces in ww3_ounf.ftn that cause the wrong NetCDF attributes related to a rotated pole (noticed by @ukmo-ansaulter) and I have push'ed a new commit ddbaa879afff09702c2135a4fbfd9220d9400e9f also including simplifications to a few comments.

[2019-10-07 10:07] CarstenHansen commented on #68
I will dig into the manual and suggest the few necessary updates to sections 4.4.9 Rotated grids, G1.1 ww3 grid.inp, and G.1.2 ww3 grid.nml. Also check for consistency with Sect. B1, step (4) in the instructions for setting output boundary conditions.

[2019-10-07 16:47] JessicaMeixner-NOAA opened #110 "expand manual section on WRST"
Expand manual section on WRST

[2019-10-22 02:40] ajhenrique commented on #80
@mickaelaccensi could you help figure this one out? I looked the code over and have the impression this may be related to not initializing the grid closure type: this is forced to happen when using the .inp file, but if unspecified in the .nml file, there is no default in the current code?

[2019-10-23 08:40] CarstenHansen commented on #68
Hi @ukmo-ccbunney and @ukmo-ansaulter. I have modified the manual (file manual/num/rotagrid.tex and pushed to commit https://github.com/CarstenHansen/WW3/commit/6a0ffacdcfefe3cc72bfc5906feb9242f4fb6394.
I think Jian-Guo Li should be consulted to  see if the text reads OK.
I have kept the reference to the traditional format of input file ww3_grid.inp, not mentioning the 'new' format ww3_grid.nml. T

[2019-10-23 09:52] CarstenHansen commented on #68
Hi @ukmo-ccbunney and @ukmo-ansaulter. I have modified the manual (file manual/num/rotagrid.tex and pushed to commit https://github.com/CarstenHansen/WW3/commit/6a0ffacdcfefe3cc72bfc5906feb9242f4fb6394.
I think Jian-Guo Li should be consulted to  see if the text reads OK.
I have kept the reference to the traditional format of input file ww3_grid.inp, not mentioning the 'new' format ww3_grid.nml. T

[2019-10-23 09:55] CarstenHansen commented on #68
Here is a print of the two pages modified: [manual_pp151-152.pdf](https://github.com/NOAA-EMC/WW3/files/3761594/manual_pp151-152.pdf)

[2019-10-28 08:23] ghost opened #117 "w3src6md floating overflow"
detected with MPT compiler with debugging options in w3src6md.ftn

dimension range need to be explicitly written for SIG array and a threshold should be added to avoid division error :
FP = SUM(SIG(1:NK) * EB**4 * DSII) / MAX(1E-10, SUM(EB**4 * DSII))

[2019-10-29 11:45] ukmo-ccbunney commented on #68
@CarstenHansen - that all looks very sensible to me.
Cheers, Chris.

[2019-10-30 11:14] ajhenrique opened #120 "WAVEWATCH III Developers Meeting, Wed Oct 30th 2019 10:30am EDT"
Hello WW3 Developers

I'd like to remind all that our Developers Meeting will be today at 10:30am EDT.

During this meeting (Oct 30th) we will have a presentation by Dr Aron Roland entitled "Parallelization, Scalability and Memory Usage in WAVEWATCH III". We will also present a summary of recent developments included in the develop branch and updates on master branch changes. The meeting will end

[2019-10-31 11:00] CarstenHansen opened #121 "ww3_ounf.ftn, subroutine W3EXNC declaration of NCIDS"
I am trying to understand how output of different variables may be divided to individual NetCDF files and noticed this issue:

In ww3_ounf.ftn the list of possible individual NetCDF file ID's is allocated as:
https://github.com/NOAA-EMC/WW3/blob/39d1fb73d8ffde828e3070eafc49f6fd5951dfdb/model/ftn/ww3_ounf.ftn#L385

In SUBROUTINE W3EXNC the argument `NCIDS` should then be declared as either:
`INTEGE

[2019-10-31 18:44] ajhenrique opened #122 "NOAA-EMC/WW3 develop branch significant update message"
Hello WW3 Developers

The branch develop at the WAVEWATCH III authoritative repository (github.com/NOAA-EMC/WW3) has undergone significant changes since Sep 29th 2019, as documented in pull requests #118, #116, #115, #114, #113, #109, #105, #102, #86, #85, and #84.

Please update your fork's develop branch following the procedure outlined in[ this section](https://github.com/NOAA-EMC/WW3/wiki/Deve

[2019-11-04 10:40] ukmo-ansaulter commented on #30
Code has now been updated and tested with Met Office regular and SMC grid trials suites, plus new regtests. Summary of changes is as follows:

- Added UPD5 option; bulk change to wind-sea or full spectrum based on proportion of wind-sea
- Added UPD6 option; as per UPD5 but wind-sea energy distribution is shifted in frequency space using Toba (1973)
- WRST switch is used to read wind data from rest

[2019-11-04 12:15] ukmo-ansaulter commented on #30
Review and pull request open on UKMO trusted repo: https://github.com/ukmo-waves/WW3/pull/1

@ukmo-ccbunney assigned for review

[2019-11-04 15:21] ukmo-ansaulter opened #123 "MPI+OMP hybrid thread safety"
Tests running WAVEWATCH III hybrid MPI+OpenMP on the Met Office cray have indicated that scaling improves more predictably for SMC grid model runs when the thread safety class is specified, e.g. MPI_THREAD_FUNNELED

[2019-11-04 15:28] ukmo-ansaulter commented on #123
@ukmo-jianguo-li and @ukmo-ccbunney to add this change

[2019-11-05 08:34] CarstenHansen commented on #121
Close this issue, as the suggested bug fix was quickly incorporated by @ajhenrique  in the feature PR #119 and thereafter merged into develop, commit https://github.com/NOAA-EMC/WW3/commit/5ab43010002d0a4e175e7647828fbf9e989ab5f7

[2019-11-05 08:34] #121 closed, assigned to nobody

[2019-11-05 11:12] ajhenrique commented on #121
Indeed @CarstenHansen , after asking if you had mistakenly added that comment to another thread I noticed that change would benefit applications at NCEP where we have NOSLL = 3. Serendipity. Thank you.

[2019-11-06 11:39] ukmo-ansaulter commented on #30
UKMO review complete and feature branch merged into UKMO repository develop branch
https://github.com/ukmo-waves/WW3/tree/develop

UKMO pull request to NOAA repository pending other UKMO develop updates

[2019-11-06 13:53] ukmo-ccbunney opened #124 "OMP flags not generated when using cmplr.env"
Reference: issue #19

I think there is an issue with the way that OMP settings are handled in the `cmplr.env` file.

Currently, OMP compiler flags are only enabled if the `$omp_mod` environment variable is set to "yes", but this is not set anywhere in the file, or in `w3_setup` which uses `cmplr.env` file to produce the `comp` and `link` scripts.

This means that if you set up a comp/link script u

[2019-11-06 14:04] ukmo-ccbunney commented on #124
See following UKMO/bf_gencomp branch: cb01247
@mickaelaccensi and @ajhenrique - what do you think?

[2019-11-07 13:23] ghost opened #125 "WCC and WCF mismatched in manual"

[2019-11-07 13:37] #125 closed, assigned to nobody

[2019-11-07 13:37] #117 closed, assigned to nobody

[2019-11-07 13:40] mickaelaccensi opened #127 "WCC and WCF mismatched in manual"

[2019-11-07 13:41] mickaelaccensi opened #128 "w3src6md floating overflow"
detected with MPT compiler with debugging options in w3src6md.ftn

dimension range need to be explicitly written for SIG array and a threshold should be added to avoid division error :
FP = SUM(SIG(1:NK) * EB4 * DSII) / MAX(1E-10, SUM(EB4 * DSII))

[2019-11-12 09:15] ukmo-ccbunney opened #130 "Better handling of error/warning grepping when using cmplr.env"
When compiling a particular source file, the compiler erros and warnings are grepped from the file in the "comp" script. When using the `cmplr.env` file to generate the comp/link files, the grep pattern is hardcoded to the simple strings "error" and "warning".

For some compilers this is not specific enough to capture _only_ the specific compiler messages.

For instance, the cray compiler adds it'

[2019-11-12 09:16] ukmo-ccbunney commented on #130
Commit 46ff3ef4 details implementation on UKMO bf_gencomp branch.
@mickaelaccensi - do you approve?

[2019-11-12 09:22] mickaelaccensi commented on #130
I fully approve !

[2019-11-12 10:13] ukmo-ccbunney commented on #130
Thanks @mickaelaccensi !  Could you also cast your expert eye over #124 and let me know if you agree with the changes proposed there too? Thanks.

[2019-11-12 12:08] mickaelaccensi commented on #124
I agree with your way to handle the OMP flag, it's sounds good to me

[2019-12-03 14:16] #89 closed

[2019-12-03 14:17] #90 closed

[2019-12-03 14:17] #81 closed

[2019-12-03 14:18] #82 closed

[2019-12-03 14:18] #83 closed

[2019-12-03 14:18] #88 closed

[2019-12-09 16:58] mickaelaccensi commented on #61
Hi @aliabdolali  and @ajhenrique ,

about ww3_tp2.7 and mww3_test07, they are b4b on my hpc with datarmor_intel_debug compiler keyword. I use intel-fc-18/18.0.1.163 and impi/2018.1.163

in the object of this issue, you talk about mod_def file b4b differences, in my case it's only affecting out_grd and/or restart files.

all my bug fixes are in branch  https://github.com/umr-lops/WW3/tree/bugfix/b4

[2019-12-10 13:02] ajhenrique commented on #61
@mickaelaccensi this is awesome. We will try this at our end. Thanks!

[2019-12-17 07:09] #127 closed, assigned to nobody

[2019-12-18 14:32] ajhenrique opened #135 "Add option for computational spectral grid with equal frequency spacing (or arbitrary spacing)"
This option would not allow using DIA, but would be useful for specific applications such as nearshore wave simulations etc.

[2020-01-10 19:09] JessicaMeixner-NOAA opened #139 "CMAKE"
There are various aspects of CMAKE that WW3 could look into using:

1. Add cmake build information to the WW3 repository (@flampouris )
2. Split the WW3 build into two parts, one that executes the switch pre-processing and two that generates the makefile dependencies.  We could use cmake to execute the switch pre-processing and then to use cmake features to build our makefile dependencies (instead

[2020-01-10 19:27] flampouris commented on #139
If anybody wants to test option 1, could check out WW3 from my [repo](https://github.com/flampouris/WW3/).

[2020-01-10 21:52] ajhenrique opened #141 "Add option to create output files at every output time step"
Option to write single output (gridded and point) files at individual specified output time steps is required to allow inline post-processing

[2020-01-10 21:54] ajhenrique opened #142 "Update documentation and regtest matrix for new features in issues #1 and #141"
Update documentation and regtest matrix for new features in issues #1 and #141, included in PR #140  is required.
* Documentation in the manual is missing.
* Update of generic input files in model/inp and model/nml are missing
* Are the regression test changes testing these new features? Which regression tests can I run to test which new features? Were they added to matrix.base?

[2020-01-10 21:55] JessicaMeixner-NOAA commented on #141
What does in-line post processing do?  Does it directly perform the functions of ww3_grib or ww3_out* our ww3_oun*?

[2020-01-10 22:00] JessicaMeixner-NOAA commented on #142
In the meantime before documentation exists, it does look like regression tests have been added.  Can you point me to these new regression tests in the meantime so I can test these new features before accepting the PR?

[2020-01-13 15:02] mickaelaccensi opened #143 "b4b issue on mww3_test_03 with grdset_e"

[2020-01-13 15:03] mickaelaccensi opened #144 "b4b issue on mww3_test_03 with grdset_d2"
it is not b4b when you change the number of mpi procs
you could reproduce it by running this regtest with values of mpi tasks multiple of the number of cpu per node
(here I have 28 cpus per node), so I ran -n=$N with N = 28, 56, 84, 112

`bin/run_test -c datarmor_intel_debug -m grdset_d2 -n $N -p $MPI_LAUNCH -s PR3_UQ_MPI -w work_d2 -N -o netcdf ../model mww3_test_03`

the differences are on all t

[2020-01-13 15:14] mickaelaccensi commented on #61
@aliabdolali , I think you can close this issue. I opened 2 other issues for b4b issue on mww3_test_03

[2020-01-13 15:15] mickaelaccensi commented on #56
@ajhenrique I think you can close this issue. I opened 2 other issues for b4b reproducibility on mw3_test_03

[2020-01-15 14:41] ukmo-ccbunney opened #149 "Unprotected OMP statements/directives"
The `model/ftn/SCRIP/scrip_remap_conservative.f` file has a lot of OMP directives and statements that are not protected by one of the WW3 `!/OMPx` switches.

Some compilers (or compiler wrappers) will automatically enable OMP compilation and linking if they encounter omp statments/directives in the code (such as the Cray ftn wrapper). This may be undesirable/unexpected behaviour.

Furthermore, the

[2020-01-17 16:40] ukmo-ansaulter opened #151 "Split WRST function into two parts"
The WRST switch, originally implemented for the ESMF module presently has two actions:

1. Read/write wind into restart file
2. For T+0 wind data in the ESMF module to use the restart wind values

In order for the restart winds to be used in a wider context (e.g. reading by ww3_uprstr) these two actions need to be split out by way of a second switch

@JessicaMeixner-NOAA if I set up a feature bran

[2020-01-20 12:49] ukmo-ccbunney opened #152 "Internal version number of out_pnt.ww3 needs updating"
The binary format of the `out_pnt.ww3` has changed somewhat over the past few years, but the internal file version identitifier has not changed for a long time:

[code]

I propose that every time the binary format of this file changes, the version number should be increased (and this should be looked out for by reviewers when performing PR reviews). The same rule should also be applied to all the

[2020-01-20 14:07] #120 closed, assigned to nobody

[2020-01-20 14:09] ajhenrique opened #153 "WAVEWATCH III Developer Meeting Wed 22 Jan 2020 2:30pm ET"
WAVEWATCH III Developer Meeting

Quasi-Bi-Monthly Call to discuss the development of WAVEWATCH III

During this first 2020 meeting (Jan 22nd) we will have a presentation by Dr Tom Durrant from Oceanum (Ocean Numeric) focusing on advanced applications of WAVEWATCH III in the MetOcean consultancy industry.

We will also present a summary of recent developments included in our GitHub repository. The

[2020-01-21 14:30] JessicaMeixner-NOAA commented on #151
@ukmo-ansaulter  of course!  I can even help with making the updates too

[2020-01-21 15:35] JessicaMeixner-NOAA commented on #152
There's several places in the code with version numbers, such as in w3iogrmd.ftn has VERGRD.     I know I used to check for that and it's a part of this checklist:
https://github.com/NOAA-EMC/WW3/wiki/Code-Management#checklist-for-a-developer-submitting-to-develop

We should add VEROPT to that list, and any others (which may or may not have been properly updated as we went). The strategy I previou

[2020-01-21 15:52] ukmo-ccbunney commented on #152
Do you think that using a date (rather than version number) would be suitable for the other binary files that set VEROPT?

[2020-01-21 16:27] JessicaMeixner-NOAA commented on #152
Dates or some way of distinguishing that particular number (from other version numbers) where it just gets incremented by 1 could work?  I think dates would be simpler.  I don't know if there's any history of why there were other numbers or where they came from originally though.

[2020-01-22 18:19] DiegoGutierrez2210 opened #157 "wind.ww3 generation error"
Hi everyone

[switch.txt](https://github.com/NOAA-EMC/WW3/files/4099120/switch.txt)

[2020-01-22 18:27] DiegoGutierrez2210 opened #158 "wind.ww3 generation error"
Hi everyone

I tried to generate wind.ww3 but I got this error:

 *** WAVEWATCH III  Input pre-processing ***
               ===============================================

  Comment character is '$'

  Grid name : Single Domain 1/2 gedree

  Description of inputs
 --------------------------------------------------
       Input type        : winds
       Format type       : long.-lat. grid

[2020-01-22 19:59] #157 closed, assigned to nobody

[2020-01-27 12:53] ajhenrique commented on #153
This was a great meeting, thanks to Tom Durrant for a great presentation on dockers, and to all present!

[2020-01-27 12:53] #153 closed, assigned to nobody

[2020-01-27 16:10] janepen commented on #153
Hi @ajhenrique , I am sorry to miss this meeting. Would you please be able to share the PPTs? Thank you.

[2020-01-27 16:38] ajhenrique commented on #153
Hi @janepen PPts have been added as link to our News page: https://github.com/NOAA-EMC/WW3/wiki/WW3-News

[2020-01-29 13:41] ajhenrique opened #159 "Variable declarations missing/wrong in OMP loops"
Several variables/arrays used in OpenMP loops are not declared PRIVATE or declared PRIVATE when they should be shared etc. NCEP is reviewing. Many affect output of gridded/point data. A regtest with all possible parameter output options should be created to be run with MPI/OMP and subsequent runs to test for b4b reproducibility which would assert the least that variables have been initialized and

[2020-01-29 14:38] ajhenrique commented on #159
Add DEFAULT NONE to OMP loops to check if variables are properly declared.

[2020-02-03 03:39] ajhenrique commented on #158
Hi @DiegoGutierrez2210 your issue is not exactly a code development issue, it is more like a user needing help with a problem in executing the code. Please refer to the user forum to get help with such issues and note that this section of our GitHub repository is reserved for issues that require bugfixing in the code, or new features that are being planned/suggested to be added to the WAVEWATCH II

[2020-02-03 03:39] #158 closed, assigned to nobody

[2020-02-04 16:23] ajhenrique opened #163 "MINDIFF used before being defined in w3iogomd"
The MINDIFF variable is used before being defined and redefined to a constant after being computed in conditional statement, see line:
https://github.com/ajhenrique/WW3/blob/BF_omp_b4b/model/ftn/w3iogomd.ftn#L3770

[2020-02-05 08:52] CarstenHansen commented on #163
Hi @ajhenrique. I speculated yesterday about this search for the spectral partition IB which contains each the spectral bins IK. It is the partition nearest to the zero-crossing of USSP_WN(IB)-WN(IK,ISEA).
MINDIFF *is* initialized  to a high value (https://github.com/ajhenrique/WW3/blob/47493104309428142889ca7b892c019ff1c5c0a7/model/ftn/w3iogomd.ftn#L3686). After IB is determined (for which MINDIF

[2020-02-06 14:35] mickaelaccensi opened #164 "ST4 TEST500 : variable SSDSC misused"
misused of SSDSC(1) which is used to switch from ST4 parameterization T570 to T500
initially SSDSC(1) was filled by SDSC1 from SDS4 namelist. Now it is filled by SDSLFGEN variable
see branch bugfix/T500 on https://github.com/umr-lops/WW3

[2020-02-07 18:24] ajhenrique opened #165 "Fix inconsistency in w3iogomd SUBROUTINE CALC_U3STOKES"
These two lines are superfluous:
https://github.com/ajhenrique/WW3/blob/456edd6d9bfb01528053cf5f11c2e1c7b9c72057/model/ftn/w3iogomd.ftn#L3736-L3737

or it should be more efficient to update the next lines with ISEA instead of JSEA like below:
ABX(ISEA) = ABX(ISEA) + A(ITH,IK,ISEA)*ECOS(ITH)
ABY(ISEA) = ABY(ISEA) + A(ITH,IK,ISEA)*ESIN(ITH)

[2020-02-11 14:04] ukmo-ccbunney opened #167 "w3adc multiple switch enhancements"
A recent PR (#160 ) added a multi-switch capability to w3adc.

It has been suggested that the number of switches per line be limited to 4 and the maximum input line length be increased to 172 characters.

The `all_switches` script also needs to be updated to handle multiple switches in the code.

Finally, the relavent section of the manual should be updated too.

[2020-02-11 14:05] ukmo-ccbunney commented on #167
Branch https://github.com/ukmo-waves/WW3/tree/fb_ad3_multisw covers changes.

[2020-02-12 14:42] ukmo-ccbunney opened #169 "W3UNOMD2 module failing to build with OMPH switch"
The `w3uno2md` module is currently failing to build in the develop branch when the `OMPH` switch is enabled (and not the `T2` switch).

The issue is in the OMP directive at line 915:
https://github.com/NOAA-EMC/WW3/blob/db2c7942580df8b7faca4666f0597bd489e4c77c/model/ftn/w3uno2md.ftn#L915

The `QOLD` variable is only defined if the `T2` switch is enabled. If  `T2` is not enabled (as is usually the

[2020-02-13 09:35] #124 closed, assigned to nobody

[2020-02-13 09:36] #96 closed

[2020-02-13 13:12] #98 closed

[2020-02-13 13:12] #95 closed

[2020-02-13 13:13] #92 closed

[2020-02-21 17:01] #169 closed, assigned to ukmo-ccbunney

[2020-02-21 17:03] ukmo-ccbunney commented on #167
Fixed in PR #168

[2020-02-21 17:03] #167 closed, assigned to ukmo-ccbunney

[2020-02-25 05:43] iman-j opened #171 "Issue running ww3_shel in v6.07"
Hi all,

When running ww3_shel I hit the following error (almost instantly when ww3_shel is run):
------------------------------------
free(): invalid pointer

Program received signal SIGABRT: Process abort signal.

Backtrace for this error:
#0  0x7fd2fc78e31a
#1  0x7fd2fc78d503
#2  0x7fd2fbbdbf1f
#3  0x7fd2fbbdbe97
#4  0x7fd2fbbdd800
#5  0x7fd2fbc26896
#6  0x7fd2fbc2d909
#7  0x7fd2fbc34e1b
#8  0x

[2020-02-26 14:28] #130 closed, assigned to nobody

[2020-02-28 23:30] ardhuin commented on #164
This is fixed in the ST4tail branch.

[2020-02-28 23:40] ardhuin opened #172 "ST4 merge with Romero STX and further cleanup"
This is for a generalization of saturation based dissipation in ST4 and some clean up of SIN tables and the like. I have a branch on the Ifremer repository that is ready for a first round of tests... and Leonel Romero should have access to it.

[2020-03-04 23:05] iman-j commented on #171
For anyone else having this issue, it appears that the point outputs was responsible for this error.
When I removed my original points, the ww3_shel proceeded to evaluate the model as expected.

[2020-03-10 08:45] ukmo-ccbunney opened #175 "Update to Wiki (version strings)"
Reference issue #152 (update of VERxxx strings in output files).

The [Code Management Wiki](https://github.com/NOAA-EMC/WW3/wiki/Code-Management) needs updating to include a line stating that changes to any of the modules that read/write to a binary file (*.ww3) should have their version strings updated (VERxxx variable).

A diff of the suggested update to `Code-Management.md` is provided below.

[2020-03-10 08:46] ukmo-ccbunney commented on #175
[code]

[2020-03-10 08:46] ukmo-ccbunney commented on #175
@aliabdolali  or @ajhenrique  - are you able to update the Wiki for me? There seems to be no formal process to raise a PR for updating the Wiki.

[2020-03-10 12:32] JessicaMeixner-NOAA opened #176 "Speed up initialization"
In multiple operational systems at NCEP, the WW3 initialization is slow and causing the other components in coupled models to wait.

In GFSv16
WW3 initialization is taking at least double the initialization time than ATM is. A major part of this according to @ajhenrique  is the reading and initializing the remapping/grid reconciliation coefficients.

For HWRF,  IBM noticed:

This issue is to track

[2020-03-10 14:00] aliabdolali commented on #175
@ukmo-ccbunney @ajhenrique Yes, I reflected your changes. Thanks.

[2020-03-10 14:15] #175 closed, assigned to aliabdolali, ajhenrique

[2020-03-11 13:19] JessicaMeixner-NOAA commented on #176
From Erick Rogers via email:

MAPBDI and .nc steps are separate, so we should isolate which it is causing the slow down.

If it is MAPBDI...there is a switch (MPIBDI) option to activate parallel compute of this. I remember that it was causing issues at least for some compilers (seg faults, maybe?), so we stopped using it.

MAPBDI is a loop which computes distances between boundary points and compu

[2020-03-11 13:33] JessicaMeixner-NOAA commented on #176
@ajhenrique put timing statements in /gpfs/dell2/emc/modeling/noscrub/WAVE_glopara/global-workflow_gfsv16b/sorc/fv3gfs.fd/WW3/model/tmp/wmgridmd.F90 and the output can be found in /gpfs/dell3/stmp/emc.glopara/RUNDIRS/waveiau768z/2020030300/gdas/waveiau768z_gdasfcst_00.18673365/fort.55

From @ajhenrique email:

[2020-03-11 20:22] JessicaMeixner-NOAA commented on #176
@ajhenrique  said the reading of the netcdf files for the remapping only took 10 seconds.  On top of that @CoryMartin-NOAA said that moving to a parallel read only provides an advantage for large files (say >500MB)  and the rmp_src_to_dst_conserv_*.nc files in the GFSv16 case are only 38MB.

[2020-03-11 20:42] aliabdolali opened #177 "homogenous wind direction in ww3_shel"
@thesser1 has raised this correction in the manual based on his test on Duck NC testbed.

The followings are the definition of wind direction in Meteorological and Oceanographic convention.

**Meteorological Convention:**  Directions are measured clockwise (CW) from North. An angle of 0 denotes a Northerly wind flowing from North to South. An angle of 270 denotes a Westerly wind flowing from West

[2020-03-12 14:31] JessicaMeixner-NOAA opened #178 "Seperating forecast from I/O PETS when using wmesmf"
During profiling for performance of https://github.com/ufs-community/ufs-weather-model (a one-way coupled ATM->WW3 model), it was observed by @theurich that WW3 is waiting for writing output/restarts in the coupled model.  @ajhenrique  found that changing the server types of WW3 (to not have dedicated output processors) sped up the model.  I have confirmed that in wmesmf, we use all PETS for the i

[2020-03-18 12:13] ajhenrique commented on #176
@JamesAbeles-NOAA` has provided a solution that reduces significantly the initialization time when using OpenMP as follows. In experiments at NCEP the initialization time for a three-grid mosaic with 1/6 deg global core and two 9km polarstereographic grids came down from ~240s to ~70s.

From @JamesAbeles-NOAA: "_I added the 2 highlighted lines in wmgridmd.ftn. Please use these and make sure they w

[2020-03-26 13:12] JessicaMeixner-NOAA opened #179 "RWND switch is not in manual"
The RWND switch does not appear to be in the manual (at least when you grep fro RWND in the manual directory, there are no results).

[2020-03-26 16:14] ukmo-ccbunney commented on #179
@JessicaMeixner-NOAA It's in `impl/switch.txt` at line 345. It's in lowercase, which is maybe why your grep failed?

https://github.com/NOAA-EMC/WW3/blob/7823bd245ed98df295ac8b6c437903e131101666/manual/impl/switch.tex#L345

[2020-03-26 16:17] JessicaMeixner-NOAA commented on #179
Thanks @ukmo-ccbunney  I din't -i in the grep... oops :D Thanks!

[2020-03-26 16:17] #179 closed, assigned to nobody

[2020-03-27 15:11] ajhenrique opened #180 "Internal WMUPDV Interpolation to curvilinear grids is slow"
Model runs are suffering a few seconds slow down when interpolating inputs from an arbitrary grid  internally to a cruvilinear grid. Solutions to the issue being considered:

1 - Add OMP loops to improve performance in OMP or MPI+OMP builds
2 - Saving weights in WMUPDV
3 - Create import grids for each computational WW3 grid and have the connectors directly send information there or use EMSF RH in

[2020-03-30 16:47] ajhenrique opened #181 "Bit reproducibility of wind in output files when reading from restart (WRST switch)"
The switch WRST was added to provide an option to save wind data in WW3 restart files for several applications. Tests have shown that when WND output is chosen for saving input wind data interpolated to wave grids in out_grd, latter wind data in out_grd files from restarted runs at the initial time are not bit identical to wind fields save in out_grd from the preceding run, at the corresponding ti

[2020-03-30 16:57] JessicaMeixner-NOAA commented on #181
Here are some details/updates I found while looking into this issue:

* Both wind and Charnock are different in the out_grd.
* Some differences in the out_grd wind fields were because we are taking sin and cos of val or val+/-2*pi and getting round off (or were 2*pi roundoff from each other). Making sure the direction was between 0-2pi minimized the differences, but there were more.
* I think the

[2020-03-30 17:13] ajhenrique commented on #181
@JessicaMeixner-NOAA thanks for the updates on the wind from WRST b4b issue. Ideally, we would want to have all these discrepancies sorted out as this would ensure the code is correct. Note that all results are fully b4b when winds are read from files, not from the restart file, so that the issue must be somehow related to the addition of the WRST switch.

I looked at ways to change the scripts in

[2020-03-30 17:36] JessicaMeixner-NOAA commented on #181
The test case I was using to debug this can be replicated as follows:

git clone https://github.com/jessicameixner-noaa/ufs-weather-model
cd ufs-weather-model
git checkout feature/unit_test
git submodule update --init --recursive
cd tests
 ./utest -n fv3_gfdlmprad -c std -k    #this just needs to be run once
./utest -n fv3_gfdlmprad -r restart -k

This test can be run on Hera and is likely not com

[2020-03-30 17:43] JessicaMeixner-NOAA commented on #181
@aliabdolali  if you do not want to use the WW3 that ufs-weather-model points with my debugging updates/tries you will want to point to the production/GFS.v16 branch of WW3

[2020-04-04 14:18] aliabdolali commented on #181
Hi, @JessicaMeixner-NOAA @ajhenrique
I found the fix for non-identical wind fields in restart files.
I created a test for the global grid (WW3 only) and tested my fix. I did not push the fix to the feature branch yet, could you test it and let me know if it works? This fix applies to Current too.
See attached.
[WindB4B.pdf](https://github.com/NOAA-EMC/WW3/files/4431596/WindB4B.pdf)

[2020-04-05 16:56] JessicaMeixner-NOAA commented on #181
@aliabdolali  Great catch! This is awesome.

I can test with the set-up I described above but it does not have currents, so maybe we should just wait for @ajhenrique  to test with the full systems to know for sure.

[2020-04-05 22:51] ajhenrique commented on #181
@aliabdolali I've tested the proposed fix running a canned case representing coupled system with IAU for 3h+48h, WW3 with a 3-grid mosaic (Arctic PS 9km NH 1/6 deg, SH 14/ deg), generating restarts at 3h+24h and running a restated leg from 24h-48h, then comparing the wave binary outputs from the overlapping period. Results with the esmf8.0.1 branch and all the most recent changes to WW3 code for s

[2020-04-06 03:33] ajhenrique commented on #181
Here are figures indicating where the issues occur. In my test case, out of 6=876,960 grid points there were 176 that were not b4b, typically wind speeds were relatively low, mostly <1m/s, but some to >3 m/s. First figure shows the gridded wind speeds from the first run, superposed with markers (red and yellow) where they are not reproduced in the second run. Also, there are two figures showing a

[2020-04-15 14:15] vkbo opened #185 "Opportunistic grep finds build error when none exist"
Hi,

I just started using WW3, and I've spent the better part of a day trying to debug why my local test build fails. It turns out that the grep command that counts the number of errors reported in the .err file for one of the generated source files, `wmgridmd.F90` when using the `Ifremer1` switches, produces a false positive.

The line detected as an error is the following:
[code]

This is obviou

[2020-04-16 07:58] vkbo commented on #139
I just started working for the Norwegian Meteorological Institute, and have started looking at WW3. I have some experience setting up CMake for use with complex Fortran projects with custom and multiple pre-processors from my previous job. I could potentially help with this effort if my department gives me a go-ahead, although I haven't yet understood all the intricacies of the WW3 build chain.

P

[2020-04-16 11:56] #56 closed

[2020-04-16 11:59] mickaelaccensi opened #186 "IS2 update default values"
update default values for IS2
regtest ww3_tic1.4 updated
manual update in eqs/IS2.tex

[2020-04-16 12:31] aliabdolali opened #187 "port WW3 to Orion"

[2020-04-16 12:54] aliabdolali commented on #139
Hi @vkbo
Thanks for stepping up and sharing your experiences, thoughts, etc
Please let us know if you made any progress in this matter or need help/explanation about the code.

[2020-04-23 14:32] JessicaMeixner-NOAA opened #191 "Add updates to NUOPC cap for wave-ocean coupling"
Adding the export of Stokes drift variables for wave ocean-coupling.

Related issue: https://github.com/ufs-community/ufs-s2s-model/issues/37

[2020-04-27 10:10] #186 closed, assigned to nobody

[2020-04-27 10:11] #172 closed, assigned to nobody

[2020-04-27 10:11] #164 closed, assigned to nobody

[2020-05-01 04:28] datpthus opened #192 "Can not compile NetCDF enabled programs in ww3 v6.07"
Dear all,

I can not compile NetCDF enabled programs (ww3_prnc, ww3_ounc...) on uni system for ww3 v6.07. I did export WWATCH3_NETCDF=NC4 and export NETCDF_CONFIG as guided and I also checked nc-config --has-nc4 and it says "yes". However, I always get the below errors:

Processing ww3_prnc
---------------------
ad3 : processing w3nmlprncmd
mv: cannot stat `w3nmlprncmd.o': No such file or director

[2020-05-01 09:10] ukmo-ccbunney commented on #192
Hello Dat Pham,

This question should really be raised on the **WAVEWATCH-III Model Users Discussion Mailing List**
https://www.lstsrv.ncep.noaa.gov/mailman/listinfo/ncep.list.wwatch3.discussion-group

Issues in this GitHub repository are primarily for reporting bugs or problems with WW3 from a code development perspective.

Requests for help with running or setting up the model should be directed

[2020-05-01 10:22] datpthus commented on #192
Hello Chris,
Sorry for this. I will ask other users in the mailing list.
Thank you!

Dat Pham

[2020-05-01 14:13] #192 closed, assigned to nobody

[2020-05-04 13:14] ajhenrique commented on #180
Solution (1) was implemented. Provided speed up roughly proportional to the number of OMP processes. Solved by @JamesAbeles-NOAA

[2020-05-04 13:15] ajhenrique commented on #180
This issue will remain open for consideration of options (2) and (3).

[2020-05-04 13:19] ajhenrique commented on #152
This issue has been solved.

[2020-05-04 13:19] #152 closed, assigned to ukmo-ccbunney

[2020-05-04 13:21] ajhenrique commented on #141
Solved in #137

[2020-05-04 13:21] #141 closed, assigned to nobody

[2020-05-04 14:04] #94 closed

[2020-05-04 16:15] aliabdolali opened #193 "Spectral discretization conversion"
Convert discretized spectrum over **n** frequencies to **m** frequencies.
example: your spectral points are discretized over 36 frequencies and you want a nest file over 32 frequencies.

[2020-05-11 07:51] #123 closed, assigned to ukmo-ccbunney

[2020-05-11 08:09] ukmo-ccbunney commented on #149
@thesser1 - looking at this, the problem is that the code in the SCRIP directory bypasses the `w3adc` pre-processor, so the addition of any compiler flags would not work. I _think_ renaming the above file to `scrip_remap_conservative.ftn` would force it to be run through the pre-processor.

_EDIT: Renaming to .ftn does not work out-the-box due to the SCRIP code being written in fixed-form Fortran.

[2020-05-11 08:53] ukmo-ccbunney commented on #149
@thesser1 - I suppose another question is whether you would actually **want** the OMP parallelization in the SCRIP module to be controlled via the `!/OMPG` flag... It makes sense to me, but do you have use cases where you want the OMP enabled in SCRIP, but not in the rest of WW3?

[2020-05-12 18:31] awest-noaa opened #198 "NUOPC cap unstructured updates"
Creating feature branch "nuopc_unstruc" to improve efficiency of NUOPC field exchanges on unstructured grids. Changes to be made to wmesmfmd.ftn.

To add a build command for ww3_bound in ESMF Makefile, to allow wave boundary conditions in nearshore NUOPC apps.

[2020-05-13 12:22] JessicaMeixner-NOAA opened #199 "NUOPC Cap export performance"
Need to see if there are ways to improve the performance of the NUOPC cap when exporting values (this might include internal WW3 routines that compute output values), for improved performance and scaling.

[2020-05-13 12:25] JessicaMeixner-NOAA opened #200 "NUOPC Cap ISEA/JSEA"
When PDLIB updates happened, not all of the WW3 cap was updated to be consistent with using the subroutine calls to determine the ISEA/JSEA relationship.  Specifically I noticed this in some of the calculation of export values.  So that this code can be used with either structured or unstructured grids in the future, this should be updated.

[2020-05-13 19:37] #191 closed, assigned to nobody

[2020-05-14 08:42] mickaelaccensi opened #201 "b4b difference in regtest between nml and inp"
differences found at least in regtests mww3_test_07 and ww3_tp2.10

[2020-05-28 21:53] breichl opened #205 "New Feature Branch: Curvlinear tripolar closure in PR1 that can cross the North Pole"
**Summary**

The existing curvilinear closure uses the conventional North Pole definition for the spectral direction.  This is generally okay for most of the ocean, but becomes undefined for swell crossing the North Pole.

Without great-circle refraction, a swell packet traveling with a non-zero northward component therefore eventually reaches the North Pole, and does not escape (This swath image

[2020-06-03 12:51] ukmo-ansaulter opened #206 "Extend parameter set for coupled modelling"
Enhancement to extend output parameter set and restart file storage options required for coupled atmosphere-wave-ocean modelling. The extensions are based on Met Office testing with UM-WWIII-NEMO models coupled via OASIS

[2020-06-03 12:54] ukmo-ansaulter opened #207 "Optimisations for coupled modelling performance (OASIS)"
Enhancements to improve performance and MPI communications for coupled atmosphere-wave-ocean modelling. Changes based on Met Office work using a UM-WWIII-NEMO modelling framework coupled via OASIS

[2020-06-03 13:15] ukmo-juan-castillo commented on #206
Some changes in the code are required to allow the coupling of some extra wave variables to atmosphere and ocean models, just by adding them to the list of fields available for coupling. Furthermore, a new series of variables required for coupling need to be calculated in the source terms, such as the wind stress transferred to the ocean. All the fields that are in the 'send' coupling list need to

[2020-06-03 13:25] ukmo-juan-castillo commented on #207
It may be possible to include some performance modifications to the MPI calls and coupling infrastructure, following the lines of similar changes to the WWIII vn4.18 code branch for coupled configurations used at the Met Office. These changes include the removal of unnecessary MPI calls, reorganization of loops, and change the 'block' by the 'points' coupling decompositon. It is unkown the impact

[2020-06-03 13:57] ukmo-ansaulter commented on #207
@ukmo-juan-castillo will be the main developer for these changes

[2020-06-03 14:01] ukmo-ansaulter commented on #206
@ukmo-juan-castillo will be the main developer for these changes

@JessicaMeixner-NOAA these changes will include some work very similar to your WRST changes, so hopefully OK to check in with you for some advice/review as we go along?

[2020-06-03 15:59] ukmo-ccbunney opened #208 "Error checking of SMC grid input files in ww3_grid"
The `ww3_grid` program would benefit from some error checking of the SMC input files (cell and i/j side inputs) to ensure all cells are bound by the underlying regular grid.

**Background**
Recent experience has highlighted that an erroneous cell location outside the defined model domain can be successfully read in to `ww3_grid`. The calculated `IX/IY` indices results in an out-of-bounds array wri

[2020-06-03 16:29] JessicaMeixner-NOAA commented on #206
of course @ukmo-ansaulter

I have a feeling we might need more variables for restart reproducibility in the ESMF coupling as well for variables not calculated until after the first time step.

[2020-06-04 08:08] UKMO-lsampson commented on #208
As suggested by Andy Saulter and Chris Bunney I will be looking into this issue.

[2020-06-08 10:49] ukmo-ansaulter opened #209 "Enable model to run based on a climate simulation 360 day calendar"
Add an input namelist option to switch between 365 day + leap year, and 360 day calendars

[2020-06-08 11:28] ukmo-juan-castillo commented on #209
I will be in charge of implementing the changes.

[2020-06-09 09:17] CarstenHansen opened #210 "Error in output of the Goda (1970) peakedness parameter"
Kaushik Sasmal has identified unrealistic output values of QP and raised a question to ncep.list.wwatch3.users@lstsrv.ncep.noaa.gov.
In ftn/w3iogomd.ftn (master and develop branches) the contribution from the spectral tail is added as:
https://github.com/NOAA-EMC/WW3/blob/7823bd245ed98df295ac8b6c437903e131101666/model/ftn/w3iogomd.ftn#L1860
In this line ET1 should rather be EET1:

        EET1(JSE

[2020-06-09 11:27] CarstenHansen commented on #210
A more consistent tail contribution would be

     EET1(JSEA) = EET1(JSEA) + FT2 * EBAND**2

using a new factor

     FT2 = 0.1666 * SIG(NK)**2 * DTH * SIG(NK) = 0.5 * FT1

here assuming the frequency spectrum tail is proportional to SIG^{-4}.
The difference between FT1 and FT2 doesn't matter much, because the purpose of adding the tail here seems mainly to provide a smooth transition towards zero

[2020-06-09 11:40] CarstenHansen commented on #210
The tail extension to spectral *partitions* also seems wrong:
https://github.com/NOAA-EMC/WW3/blob/7823bd245ed98df295ac8b6c437903e131101666/model/ftn/w3partmd.ftn#L1222

It should rather be (I think):

        SUMQP(IP) = SUMQP(IP) + SUMF (NK,IP)**2 * FTEII * (0.1666 / 0.25)

[2020-06-09 11:57] ukmo-ansaulter commented on #209
Thanks @ukmo-juan-castillo

Anticipating that changes will be provided to (at least):

- w3timemd.ftn
- ww3_grid.ftn
- ww3_ounf.ftn

For ww3_ounf we will need to ensure that the time metadata will be updated in compliance with CF conventions, see http://cfconventions.org/cf-conventions/cf-conventions.html#calendar

We also need to consider whether adding the 360 day calendar is in scope for the gr

[2020-06-18 14:59] ukmo-juan-castillo commented on #209
This change will be implemented in the branch fb_360_calendar. A new flag in the RUN_NML namelist called F360CAL will be used to decide if the 360-day calendar is to be used or not.

[2020-06-18 18:56] jianke777 opened #212 "Gaps in wave data"
We are a user a NOAA's wave data. One thing that bothers us about the data is that there are a lot of gaps in the significant height of wind waves. I wonder if someone could help me understand these gaps, such as why they are there, and what these gaps represent. Thanks.

[2020-06-18 19:00] aliabdolali commented on #212
Hi @jianke777 your issue is not exactly a code development issue and is not clearly explained, it is more like a user needing help with a problem in executing the code (if this is the case). Please refer to the user forum to get help with such issues and note that this section of our GitHub repository is reserved for issues that require bugfixing in the code, or new features that are being planned

[2020-06-18 19:05] #212 closed, assigned to nobody

[2020-06-23 19:04] JessicaMeixner-NOAA opened #214 "regtest: OMP, number of tasks and restart reproducibility"
Add regtests to test that different number of OMP threads and different number of tasks produce the same answer.  Also add a restart reproducibility test (ie. if you write a restart half way through a run, and start from that restart you should get the same answer).

[2020-06-23 19:22] aliabdolali commented on #214
Hi @JessicaMeixner-NOAA
I have a setup for restart file reproducibility for the tp2.17 (unstructured) which might need revisiting. For example, can we add commands in matrix and copy restart001.ww3 to another directory? Also we need two ww3_shel.inp for two consecutive runs.
if yes, it is very simple to set it.
i.e. cp ww3_tp2.17/work_a/restart002.ww3 ww3_tp2.17/work_b/restart.ww3
run_test ...
or

[2020-06-23 19:25] JessicaMeixner-NOAA commented on #214
@aliabdolali awesome.  We might do a couple of the structured grid tests?  Something that looks more like GEFSv12 or GFSv16 grid set-up with a multi run and then also a single grid? (Although single grid will likely be reproducible if a multi-grid case is). I'll have to look and see which one would be best.

[2020-06-26 11:03] JessicaMeixner-NOAA opened #216 "Bug when both restart YYYYMMDD.HHMMSS.restart.ww3 and restart00N.ww3 are at the same time"
The new feature that allows two strides of restart writes one the traditional and the second with a date are trying to write a restart at the same time, the model crashes.  The current work around for this is to make sure they do not try to write at the same time.

From @ajhenrique: The issue is that MPI_STARTALL causes crash when first and second stream of restart files have same time stamp since

[2020-06-26 11:18] JessicaMeixner-NOAA opened #217 "WRST TW0/TWN in restart write"
WRST assumes it's writing a restart at TWN, however, if a restart is asked for at initialization time, we could in fact write out TW0.

[2020-06-26 11:23] JessicaMeixner-NOAA opened #218 "checkpoint restart issue for wind output at checkpoint restart time"
When starting from a restart from a previous run, output at that restart time does not match the output at the previous run for the wind at a few points with differences being O(10^-6).  The spectrum and all other fields and outputs are the same moving forward so this seems to be an isolated issues somewhere in the output.

[2020-06-26 12:19] JessicaMeixner-NOAA opened #219 "Add option to write restart into a directory"
Add a parameter to specify a directory to write the restart files into.  This directory name will be defined or will default to the current directory to replicate the current behavior of the model.

This will be added to the production/GFS.v16 and the develop branches.

[2020-06-26 12:46] aliabdolali commented on #217
When we define Type 4 output for the restart file, starting at initialization time, it does not write restart000.ww3 by default. Is there an option or switch for it? Does WRST switch invoke this feature?

[2020-06-26 12:55] JessicaMeixner-NOAA commented on #217
That's a good point, I think it would still be restart001.ww3 not restart000.ww3.  This was reported by @ajhenrique, I'm guessing he saw this in the second set of restarts where the date YYYYMMDD.HHMMSS.restart.ww3 is written.  I never really understood why you would want to write out a restart file at the beginning time though, so maybe instead there should be a check in the model to not write ou

[2020-06-26 13:01] aliabdolali commented on #217
Yes, it is restart001.ww3 and it is created at t=0 but with zero sizes. Once it reaches the first time step for type 4, it will be filled.
I am not sure, but the restart002.ww3 is created and filled at the second time step.
The restart at t=0 does not make sense except for the check.

[2020-06-28 06:09] DiegoGutierrez2210 opened #220 "run ww3_shel makes corrupted size vs. prev_size error"
Hi everyone

I need help with this segmentation error after run ww3_shel:

corrupted size vs. prev_size: 0x0000559f7f821690 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x70bfb)[0x7ff4a7491bfb]
/lib/x86_64-linux-gnu/libc.so.6(+0x76fc6)[0x7ff4a7497fc6]
/lib/x86_64-linux-gnu/libc.so.6(+0x773b8)[0x7ff4a74983b8]
/lib/x86_64-linux-gnu/libc.so.6(+0x77ed8)[0x7ff4a7498ed8]
/home/matla

[2020-06-28 14:59] aliabdolali commented on #220
Hi @DiegoGutierrez2210
your issue is not exactly a code development issue and is not clearly explained, it is more like a user needing help with a problem in executing the code. Please refer to the user forum to get help with such issues and note that this section of our GitHub repository is reserved for issues that require bugfixing in the code, or new features that are being planned/suggested to

[2020-06-28 14:59] #220 closed, assigned to nobody

[2020-06-30 20:20] strandwg opened #221 "Adding latitude, longitude information and time dimension"
CESM2 has had WW3 active for some of our more recent runs, and I've noticed that the output files are lacking the necessary coordinates for latitudes and longitudes, and are entirely lacking any time information.

Can these be added in a future version? Thanks!

[2020-07-01 17:53] aliabdolali commented on #221
Hi @strandwg
The NetCDF outputs, including point and field outputs, include longitude, latitude, and time. What kind of outputs you are referring to?
AA

[2020-07-01 17:57] strandwg commented on #221
The output that WW3 writes in netCDF format. CESM2 gets files called

runname.ww3.hi.1850-01-01-00000.nc

That are very small (~90 kB) and contain only

dimensions:
        NX = 90 ;
        NY = 50 ;
        NOSWLL = 3 ;
variables:
        float UAX(NY, NX) ;
                UAX:_FillValue = 1.e+30f ;
                UAX:units = "m/s" ;
                UAX:long_name = "Mean wind, x-component" ;

[2020-07-01 18:28] aliabdolali commented on #221
@strandwg
What is your grid? and could you share your ww3_ounf.inp with me?

[2020-07-02 06:11] mickaelaccensi commented on #221
@strandwg
Are you sure this output comes from WW3 ? We don't have this kind of dimensions neither variable names.

[2020-07-06 17:55] yangfanglin commented on #219
In https://github.com/NOAA-EMC/WW3/pull/223 I provided temporary solution with hard-wired restart_wave subdirectory.  It is perfectly fine for me to use a more general approach Jessica proposed in this ticket.  To move the GFS.v16 project forward, can we first commit https://github.com/NOAA-EMC/WW3/pull/223 to  branch production/GFS.v16, and update it to use the general solution at a later time ?

[2020-07-06 18:32] jianke777 opened #224 "Why are there gaps in swell and wind wave output?"
I am trying to figure our why there are a lot of gaps in the swell and wind wave data output. Are these low values or no values? Can anyone help to confirm? Thanks.

[2020-07-06 18:50] aliabdolali commented on #224
Hi @jianke777 your issue is not exactly a code development issue and is not clearly explained, it is more like a user needing help with a problem for an application. Please refer to the user forum to get help with such issues and note that this section of our GitHub repository is reserved for issues that require bugfixing in the code, or new features that are being planned/suggested to be added to

[2020-07-06 18:50] #224 closed, assigned to nobody

[2020-07-07 07:22] ukmo-ccbunney opened #225 "Regtest tp2.18: ww3_prtide_current screen output not reproducible with MPI"
After the recent updates to add tidal input to regtest `ww3_tp2.18` (https://github.com/NOAA-EMC/WW3/commit/7620443e9c2d6401c49cdc97dcbad3ed78550f46), the screen output from the `ww3_prtide_current` program is not reproducible when running in MPI mode.

The output includes lines titled "BAD POINT" which are written out by individual processors in MPI mode. When running ww3_prtide as an MPI program

[2020-07-07 08:44] ukmo-juan-castillo commented on #209
It was decided that the flag indicating the 360-day calendar will be moved to the MISC namelist for ww3_grid, at the same location where the NOLEAP flag is placed. There will be a check to avoid setting the NOLEAP and the new CAL360 flags to .TRUE. at the same time, as they determine different calendars (365-day without leap year, and 360-day respectively)

[2020-07-07 08:49] ukmo-juan-castillo commented on #209
A new regtest has been included in ww3_ts1 to check that the new 360-day calendar is behaving as expected.

[2020-07-07 20:57] SanderHulst opened #227 "Grid integration of partitioned data does not conserve energy"
### Description
We reconstruct 2D spectra from the partitioned data so it is important that the energy in the partitions adds up to the energy in the original spectrum.

We run a global 30 minute grid with seven 6 minute regional grids as a multigrid. In order to make life a bit more easy for data consumers we unify the field output into one global 6 minute grid.

![wavewatch_global_6min_st4_gfs_f

[2020-07-08 09:54] ukmo-juan-castillo opened #229 "Coupling frequency overridden to time step"
In the ww3_shel.F90 code, there are some lines that explicitly force the coupling time step to be equal to the model time step, even when the coupling time step is read from the namelist:

!/COU          ! Force coupling time step to model time step
!/COU          IF ( J .EQ. 7 .AND. DTTST.NE.DTMAX ) THEN
!/COU            IF ( IAPROC .EQ. NAPOUT ) THEN
!/COU              WRITE (NDSO,1009) DTTST, D

[2020-07-08 09:58] ukmo-juan-castillo commented on #229
This issue is related to issue #207 and #206 and could be implemented as part of them

[2020-07-08 10:01] ukmo-ansaulter commented on #229
@aliabdolali , @JessicaMeixner-NOAA , @mickaelaccensi and @tjcnrl

I think this issue is most likely to impact code/models you have been working with. Do you have a preferred behaviour from the two options @ukmo-juan-castillo has suggested??

[2020-07-08 10:57] mickaelaccensi commented on #229
ok to remove these lines and add a test on the value of the coupling time step to be sure it is divisible by the model time step.
it's better to have an error message and stop the program if the coupling time step is set to 0 or incorrectly set.
the regtest ww3_tp2.14 need to be update to confirm the correct behavior of another coupling time step than the global model time step.

[2020-07-08 13:21] JessicaMeixner-NOAA commented on #229
For ESMF coupling, we use wmesmf and the multi routines.  We do not use the COU switch, so whatever works for @mickaelaccensi is fine with me.

[2020-07-08 14:24] aliabdolali commented on #229
I am fine with removing the lines, check the default time step (0) and defined one in the namelist and an error message if it is not divisible by the model time step, update of manual, and a regtest (ww3_tp2.14).
@ukmo-juan-castillo, @mickaelaccensi, could you take care of it?

[2020-07-08 15:29] ukmo-juan-castillo commented on #229
I can take care of it. Should I create a branch in NOAA-EMC directly or in the ukmo-waves fork (or even reuse one of the branches planned for taking care of #207 or #206 )?

[2020-07-08 15:34] JessicaMeixner-NOAA commented on #229
There should not be any development branches in the NOAA-EMC fork.  So your personal fork or the ukmo-waves fork depending on the ukmo-waves fork's rules on creation of development branches in that fork.

[2020-07-08 16:48] ukmo-ccbunney commented on #229
@ukmo-juan-castillo : I think it would be best to make this change in the UKMO fork. I feel like it could be incorporated into your coupling branch? Just link this issue into the PR when you raise one.

[2020-07-08 23:36] ukmo-juan-castillo commented on #229
Given that we have a ticket for this change, I think it will be better if we have a separate branch in the UKMO fork. This will also make things easier for development of tickets #207 and #206 once it is merged.

[2020-07-09 01:26] aliabdolali commented on #229
Hi @ukmo-juan-castillo
You are right, please follow the guideline (https://github.com/NOAA-EMC/WW3/wiki/Developer-Guide). You need to create a feature branch, addressing this fix and send the PR to UKMET repo. After passing the regression tests at UKMET, Andy/Chris will send a PR to NOAA repo.

[2020-07-09 09:43] SanderHulst commented on #227
Edit: removed figure which was created with an old executable. Everything works just fine as can be seen in figure below
![wavewatch_global_6min_st4_gfs_fields_20200710_1200](https://user-images.githubusercontent.com/37443533/87066831-7ddca200-c213-11ea-8aea-e3a792d3fe73.png)

[2020-07-14 16:30] strandwg commented on #221
Apologies for the post; there were some internal miscommunication. I consider the issue closed.

[2020-07-14 16:30] #221 closed, assigned to nobody

[2020-07-15 11:16] JessicaMeixner-NOAA opened #230 "better error message for inconsistent mod_def"
When someone uses an older mod_def file with a new version of the code (particularly when running wmesmf), it would be nice if the error message would clearly state that is the issue instead of something like this:

[code]

[2020-07-20 20:20] ukmo-ccbunney opened #231 "ww3_bound and ww3_bounc don't work with rotated poles"
The `ww3_bound` and `ww3_bounc` boundary condition processors do not work correctly with grids formulated on a rotated pole (i.e. with the RTD switch).

[2020-07-22 09:39] ukmo-juan-castillo opened #232 "Coupling at T+0"
The wave model currently does not allow coupling at T+0, and the first coupling exchange occurs at T+coupling time step. This means that the wave model in coupled mode can only run with a coupling lag equal or larger than the coupling time step. Although this is acceptable for high resolution configurations with very small coupling time steps, it is not for configurations with coupling time steps

[2020-07-22 11:21] ukmo-juan-castillo commented on #232
Furthermore, the variable ID_OASIS_TIME has an INTEGER type, but it is often assigned a REAL number (such as the function DSEC21). To prevent possible rounding errors, I would propose wrapping this type of assignments with a NINT function using this same issue, as the value of ID_OASIS_TIME will be updated in a different way or location if the T+0 coupling is implemented.

[2020-07-22 12:11] JessicaMeixner-NOAA commented on #232
Hi @ukmo-juan-castillo I do not use OASIS coupling and this appears to be an oasis-only coupling issue, correct?

[2020-07-22 12:26] ukmo-juan-castillo commented on #232
Also an issue regarding the addition of coupling variables to the restart file. I believe you were working on something similar, and I added you to count with your opinion.

[2020-07-22 12:31] JessicaMeixner-NOAA commented on #232
With ESMF we can send fields to other components at t=0/initialization.  Currently fields are calculated at t=0 so that they can be sent.  However, for check-point restarting we likely will need these to be in the restart file in the future.

[2020-07-28 09:03] ukmo-juan-castillo commented on #232
I will start development now. I came with a solution that works, but in the output the fields that are received via coupling will be shifted by one hour (e.g. the current in the output file at t=3 hours will in fact be the current at t= 2 hours). This can be fixed, but as the changes required would be quite large and complex, I would propose to do it in a separate ticket if you believe this must b

[2020-07-28 16:24] ukmo-ansaulter commented on #232
Thanks @ukmo-juan-castillo . Sorry to be a pain but can you just clarify why the output fields change and whether that has a potential knock on effect for non-coupled models?

Unless @JessicaMeixner-NOAA and @mickaelaccensi disagree, I'd also suggest that the restart work can be part of this ticket as it is an essential part of getting the T+0 coupling to work properly? Otherwise I'd suggest that

[2020-07-28 16:43] JessicaMeixner-NOAA commented on #232
I'm generally for separating work in small chunks.  Also, depending on what exactly needs to be done for the restart, it will end up being a larger effort that might make sense to separate it out and do things incrementally even if both things will be required to obtain the final goal.

[2020-07-28 16:52] aliabdolali commented on #232
@ukmo-juan-castillo Does this shift happen to current and wind together? what about water level if you have it?

[2020-07-28 17:16] ukmo-juan-castillo commented on #232
You are right, it is better to clarify what I mean here:

With OASIS coupling the model output does not change when allowing coupling at T+0, but the logic in the code is a bit problematic when coupling without a coupling lag and when allowing coupling at T+0. To avoid deadlocks, it is advisable to first send and then receive coupling fields when coupling with oasis, and this is how the code is wo

[2020-07-28 17:23] ukmo-juan-castillo commented on #232
While writing the changes to test this approach, I believe I have found a bug when reading the ice concentration as an homogeneous field, which can be easily be fixed.

[2020-07-29 07:07] ukmo-ansaulter commented on #232
@ukmo-juan-castillo that makes perfect sense, thankyou.

My main question, for everyone tagged on this issue is whether this is simply an OASIS problem or something that needs to be thought about more widely for WW3 coupling? There is a fundamental question here about whether the forcing data being output by the wave model should be a) the values used to generate the wave field at time T+dt (i.e.

[2020-07-29 07:43] ukmo-juan-castillo commented on #232
I believe this is not an OASIS problem, but rather a problem in the design of the WWIII code structure.

The code in 'forced' mode works without problems because the part of the code that reads the input, reads information for time T and time T+dT at the same time for interpolation purposes. This is not possible in coupled mode when there is not a coupling lag, simply because the information for t

[2020-07-29 11:12] JessicaMeixner-NOAA commented on #232
I think there are some common issues in all coupling implementations, but also situations or solutions that will be unique to one coupler.

For instance, with NUOPC/ESMF coupling, we calculate the variables that are needed at t=0 and then send them to other models at initialization. So NUOPC/ESMF coupling with WW3 does not have an issue with not being able to coupled at t=0.  This strategy likely

[2020-07-29 16:16] ukmo-ansaulter commented on #232
To be raised as a separate bugfix issue

[2020-07-29 16:28] ukmo-ansaulter commented on #232
Thanks @JessicaMeixner-NOAA and @ukmo-juan-castillo for your inputs. Juan and I have also discussed this further offline.

In this instance the main concern is a leap-frog scheme in which the wave model lags the atmosphere model by one coupling timestep; i.e. the wave model parameters developed at T will have used winds originating at T-dtc, where dtc is the coupling timestep.

Following discussio

[2020-07-29 16:31] ukmo-ansaulter opened #235 "Bugfix homogeneous ice condition in ww3_shel"
When switched to use homogeneous fields, ww3_shel presently attempts to read in wind data, where it should be reading in an ice concentration. The lines needing to be changed are as follows:

! ICE : ice conc.
            ELSE IF ( J .EQ. 4 ) THEN
              IF ( FLH(J) ) THEN
                CALL W3FLDH (J, NDST, NDSEN, NX, NY, NX, NY,    &
                             TIME0, TIMEN, NH(J), NHM

[2020-07-30 08:40] mickaelaccensi opened #236 "extend output points name from 10 to 40"
extend the output points name from 10 characters to 40 to be able to have the same buoy names as the one provided by the European Marine Environment Monitoring service

[2020-07-30 16:44] ukmo-juan-castillo commented on #229
This improvement has already been successfully implemented, tested, and merged to the staging branch of the ukmo-waves /
WW3 repository.

[2020-07-30 16:44] #229 closed, assigned to JessicaMeixner-NOAA, aliabdolali, ukmo-ccbunney, ukmo-ansaulter, ukmo-juan-castillo

[2020-07-30 16:47] ukmo-juan-castillo commented on #209
This enhancement has already been successfully implemented, tested, and merged in the staging branch of the ukmo-waves repository.

[2020-07-30 16:47] #209 closed, assigned to ukmo-ansaulter, ukmo-juan-castillo

[2020-07-30 16:54] ukmo-juan-castillo opened #238 "Faulty oasis coupling condition"
One of the conditions that determine if in a particular time step oasis coupling is to be performed or not is problematic. While the present code works using the GNU compiler, when using for example the Cray compiler this condition is only met at the first time step, and therefore the model does not advance in time and falls in an infinite loop. We believe this happens due to the precision of oper

[2020-07-30 16:58] ukmo-juan-castillo commented on #238
https://github.com/NOAA-EMC/WW3/blob/10208f1b430a484458c2ee1c670b573bece8d3e9/model/ftn/ww3_shel.ftn#L1910-L1912

The problematic condition is the second one.

[2020-08-03 08:21] mehdiiikeb opened #240 "help me for use active boundary in model"
Hi guys please help me for use active boundary from multi_1.global From NOAA
first step i download data from multi_1.global in same lat 17 and lon (46 - 86) grib2
and in wave match i change mask file to active boundary set code 2 in lat 17 and lon (46 - 86) grib2

What else should I do?...؟؟؟
And where and how should I apply open border information?
Thankful

[2020-08-03 13:44] aliabdolali commented on #240
Hi @mehdiiikeb your issue is not exactly a code development issue and is not clearly explained, it is more like a user needing help with a problem for an application. Please refer to the user forum to get help with such issues and note that this section of our GitHub repository is reserved for issues that require bugfixing in the code, or new features that are being planned/suggested to be added t

[2020-08-03 13:44] #240 closed, assigned to nobody

[2020-08-12 10:29] SanderHulst opened #242 "Zero windspeed on zero meridian"
The _averaging_ code in WAVEWATCH appears not to properly project 0.125 degree ECMWF surface wind data on our global 30 minute grid, while 0.25 degree GFS data seems to be projected to the target grid just fine. An important aspect to keep in mind is that both grids have their left origin on the zero meridian. Would they have been on -180, the problem would manifest itself there.

A bug is present

[2020-08-19 06:10] kihangyoun opened #244 "WW3 speedup & optimization"
Hello everybody,

I'm working on improving the WW3's computational performance.
I'll will share some information about the current situation.

1. The domain of WW3 consists of 3 nests.
2. The maximum MPI rank is 900.
   * Not performed when exceeding 900.
3. Hybrid (MPI+OpenMP) is being used, but OpenMP parallel performance is not good
   * Even if 4 OpenMP threads are used, a double performance i

[2020-08-19 14:35] aliabdolali commented on #244
Hi @kihangyoun  your issue is not exactly a code development issue, it is more like a user needing help with a problem for an application. Please refer to the user forum to get help with such issues and note that this section of our GitHub repository is reserved for issues that require bugfixing in the code, or new features that are being planned/suggested to be added to the WAVEWATCH III package.

[2020-08-19 14:35] #244 closed, assigned to nobody

[2020-08-20 01:57] kihangyoun commented on #244
Hi @aliabdolali,
Your information is very helpful for me.
I'll send my question to WW3 user forum you recommend.
Thank you for your help.

[2020-08-26 12:11] ukmo-juan-castillo commented on #232
In order to allow proper restart of coupled configurations, it will be possible to write in the restart the 'sent' fields that could be used in coupling both in coupled and uncoupled configurations. This will give the flexibility of starting a coupled configuration using a restart generated with an uncoupled configuration. The fields that will be written in the restart will be specified by a namel

[2020-08-26 12:16] JessicaMeixner-NOAA commented on #232
The lack of usability of WW3 restarts between configurations/versions is true with WW3 in general, not even considering coupled or uncoupled.

[2020-08-26 23:28] knutaros opened #245 "file ww3_trnc.o not found [develop branch]"
This happens with and without TRKNC defined. Other active switches are NC4 and F90 DIST MPI.

Processing ww3_trnc
---------------------
ad3 : processing w3nmltrncmd
ad3 : processing ww3_trnc
mv: cannot stat 'ww3_trnc.o': No such file or directory
      Linking ww3_trnc
      *** file ww3_trnc.o not found ***
*** Missing object files ***
makefile:326: recipe for target '/media/work/tools/ww3/code/m

[2020-08-26 23:37] knutaros commented on #245
/media/work/tools/ww3/code/model/tmp_MPI$ cat ww3_trnc.err
ww3_trnc.F90:795:9:

       END CASE
         1
Error: Expecting END SELECT statement at (1)
ww3_trnc.F90:1051:9:

       END SUBROUTINE W3CRNC
         1
Error: Expecting END SELECT statement at (1)
ww3_trnc.F90:1055:6:

       SUBROUTINE CHECK_ERR(IRET)
      1
Error: Unclassifiable statement at (1)
ww3_trnc.F90:1057:16:

       USE NETC

[2020-08-27 00:25] aliabdolali commented on #245
Hi @knutaros  your issue is not exactly a code development issue and is not clearly explained, it is more like a user needing help with a problem for an application. Please refer to the user forum to get help with such issues and note that this section of our GitHub repository is reserved for issues that require bugfixing in the code, or new features that are being planned/suggested to be added to

[2020-08-27 07:09] mickaelaccensi commented on #245
Hi @knutaros and @aliabdolali, actually this is a bug introduced with the last PR from UKMO
 ukmo-waves#8: 360 day climate calendar

in ww3_trnc.ftn
END CASE
should be replaced by
 END SELECT

I've done a PR

[2020-08-27 07:44] ukmo-ccbunney commented on #245
Thanks @mickaelaccensi .
Odd how this didn't get picked up in the regtests.

Edit: Ah - actually, the only regtest that has an input file for `ww3_trnc` is `ww3_tp2.2`, and this is set to **not** run netCDF output programs (no `-o` switch), so it never gets compiled. This is why the bug never got picked up in the regtests.

Perhaps we should add a `-o both` switch to one of the tp2.2 regtests so w

[2020-08-27 08:17] knutaros commented on #245
Dear Mickael,

thanks a lot for re-opening this issue. With the changes from your PR
the compilation is fine.

Cheers, Knut

On 8/27/20 9:09 AM, Mickael Accensi wrote:

[2020-08-27 08:54] knutaros opened #247 "bug in wmesmfmd"
commit: 49157a4
file: wmesmfmd.ftn
subroutine: GetImport()

There is no endif for the "if (firstCall) then" from line 2283.
https://github.com/NOAA-EMC/WW3/blob/develop/model/ftn/wmesmfmd.ftn#L2283

I assume, the WRST switch from line 2305 should be removed?
https://github.com/NOAA-EMC/WW3/blob/develop/model/ftn/wmesmfmd.ftn#L2305

[2020-08-27 12:41] JessicaMeixner-NOAA commented on #247
Thanks @knutaros I'll admit I haven't tested wmesmf without WRST.  So I don't this bug was introduced with the latest PR for commit 49157a4, but has likely been an issue for a while.  I think you're correct in your assumption about the WRST switch needing to be removed for line 2305.

[2020-09-01 09:38] ukmo-ccbunney opened #249 "ST4 b4b reproduciblity issue"
As of commit 77f9291 I have been having issues with bit-for-bit reproducibility of the `out_grd.ww3` file in some of the `ST4` based regtests.

For instance, `ww3_ts1/work_ST4` regtest and all of the `ww3_ta1` regtests are not b4b comparable.

A test of develop at commit 19f3126 shows that these regtests were B4B at this revision.

This is the case both on our Cray HPC and my linux desktop.

[2020-09-09 09:22] ukmo-juan-castillo opened #250 "Coupling with SMC grid"
When using a SMC grid, it seems like OASIS performs the coupling using the lower resolution grid. This means that, when sending coupling fields from the wave model to other models, the information in the higher resolution grid cells is interpolated to the lower resolution grid cells, so that we are smoothing out the coupling fields and therefore losing information.

What I happens is that the SMC

[2020-09-09 22:53] GM-Ling opened #251 "'ww3_ounf' segmentation fault occurred for global model"
When I tried to convert result to netcdf file using 'ww3_ounf', I got the following error messages:
forrtl: severe (174): SIGSEGV, segmentation fault occurred
Image              PC                Routine            Line        Source
ww3_ounf           000000000062FE3D  for__signal_handl     Unknown  Unknown
libpthread-2.17.s  00007F5A659E1630  Unknown               Unknown  Unknown
ww3_ounf

[2020-09-09 23:18] aliabdolali commented on #251
Hi @GM-Ling
Have you checked if the ITYPE and the grid size (IX, IY range) are defined correctly in ww3_ounf.inp?
i.e.
$ ITYPE = 4, Netcdf Files
$            S3: number of characters in date
$            IX, IY range
$
ww3.
4
 1 360 1 180 3 2
AA

[2020-09-09 23:28] GM-Ling commented on #251
Hi Ali,

Thank you so much for replying.
I have a global grid as following,
       Number of longitudes      :      1440
       Number of latitudes       :       721
So I defined ww3_ounf.inp as follow,
$ WAVEWATCH III - Output fields netcdf
$
  20111022 000000 7200 360
$
  N
$
  HS SXY
$
    4 4
    0 1 2
    T
$
ww3.
 4
 1 1440 1 721 1
Is anything wrong with it?

[2020-09-09 23:52] aliabdolali commented on #251
@GM-Ling It looks ok to me. You might have a memory issue. Are you executing it on a HPC? on login node or compute node? Usually, the compute nodes have larger memory, so try to submit a job and allocate one compute core.

[2020-09-10 00:22] GM-Ling commented on #251
Awesome! The suggestion solved my problem. I really appreciate it!

[2020-09-10 00:29] aliabdolali commented on #251
@GM-Ling I am glad to hear it, WW3 always works :)>

[2020-09-10 00:29] #251 closed, assigned to nobody

[2020-09-11 13:46] JessicaMeixner-NOAA commented on #247
@knutaros the fix is in the develop branch.  I'm closing this issue.  Please reopen if this did not solve the issue.

[2020-09-11 13:46] #247 closed, assigned to nobody

[2020-09-14 16:03] ukmo-ccbunney opened #252 "SMC grid model crashes when run on SHRD + OMP"
When running a model based on an SMC grid and compiled with `SHRD` and `OMP`, there is a double allocation error in w3wavemd (variable FIELD).

It looks like the logic controlling the allocation of the `FIELD` variable needs to be addressed.

[2020-09-22 06:23] JacquesJacob opened #253 "w3_automake issue"
I am trying to compile WW3 in a CENTOS 7. After the installation, I am getting this error after run w3_automake script:

Processing ww3_multi
---------------------
ad3 : processing constants
ad3 : processing w3tidemd
ad3 : processing w3uqckmd
mv: cannot stat ‘constants.o’: No such file or directory
mv: cannot stat ‘w3tidemd.o’: No such file or directory
mv: cannot stat ‘w3uqckmd.o’: No such file o

[2020-09-22 08:06] ukmo-ccbunney commented on #253
Hi @JacquesJacob,

This GitHub Issues page is intended for developers to raise bugs/issues with the code.

The problem you are having looks more like an issue with your setup, rather than the model itself. Please could you direct questions like this to the WW3 User Mailing list here:

 * https://www.lstsrv.ncep.noaa.gov/mailman/listinfo/ncep.list.wwatch3.users

However, to offer a little advice, I

[2020-09-22 16:09] JacquesJacob commented on #253
Tks Chris!!

[2020-09-23 09:37] #253 closed, assigned to nobody

[2020-09-23 12:17] CarstenHansen commented on #68
Incorporated in Pull request "UKMO Staging [fb_rtd2, bf_coupling condition, bf_smc_omp]" #254

[2020-09-23 12:17] #68 closed

[2020-09-28 12:20] #252 closed, assigned to ukmo-ccbunney

[2020-09-28 12:21] #231 closed, assigned to ukmo-ccbunney

[2020-09-28 12:22] ukmo-ccbunney commented on #208
Fixed in https://github.com/ukmo-waves/WW3/pull/6

[2020-09-28 12:22] #208 closed, assigned to UKMO-lsampson

[2020-09-28 12:28] ukmo-ccbunney commented on #32
I would be good to start a discussion here regarding ideas for how to make the meta-data in ww3_ounf more configurable.
The fact that each output is (represented by a IFI, IFJ combination) can have more than one field complicates matters somewhat. So does the fact that the partitioned parameters can have a variable number of output fields.

I have played around with having a whole separate module

[2020-10-05 00:07] aliabdolali commented on #236
@mickaelaccensi can we close it?

[2020-10-05 00:09] aliabdolali commented on #249
@ukmo-ccbunney is it solved? can we close it?

[2020-10-05 00:10] aliabdolali commented on #245
@mickaelaccensi can we close it?

[2020-10-05 00:10] aliabdolali commented on #238
@ukmo-ccbunney can we close it?

[2020-10-05 07:06] ukmo-ansaulter opened #255 "Update input definitions for ww3_uprstr modules"
This enhancement is a minor technical change to improve the way in which input data is read in and logged by the ww3_uprstr program.

The changes should:

- read in variables specific to the update process selected
- output the values provided in the ww3_uprstr.out log file
- update the .inp template file and regtests to improve clarity and work with the changes
- add capability to read inputs fro

[2020-10-05 07:10] ukmo-ansaulter commented on #255
@mickaelaccensi , I'm doing this work in preparation for the enhancement you are making with the use of .nml files for all modules/regtests. The work won't take long, will this time in with you OK?

There is an option for me to try and code the namelist input for ww3_uprstr up if that would be helpful? At the moment I have concentrated on .inp as there is no namelist option currently

[2020-10-05 09:04] ukmo-ccbunney commented on #249
@aliabdolali - no, this is still an open issue. I think that @mickaelaccensi was going to see if he could reproduce it.

[2020-10-05 09:05] ukmo-ccbunney commented on #238
@aliabdolali Yes! :)

[2020-10-05 09:05] #238 closed, assigned to ukmo-ccbunney, ukmo-ansaulter

[2020-10-05 11:20] ukmo-ansaulter commented on #255
Completed initial regtests on the updated code/input files. These will write a more verbose output to ww3_uprstr.out and have also bugfixed incorrectly set cap values in tests UPD2_U_CAP and UPD3_U_CAP

As a result, new regtest outputs will be revised compared to previous branches; as per the summary below (NB the critical unchanged files for the regtest are the restart files in all tests except U

[2020-10-05 12:54] aliabdolali commented on #238
@ukmo-ccbunney Thanks

[2020-10-06 06:47] mickaelaccensi commented on #255
I can give you some help on namelist if needed. Just add me on your development branch

[2020-10-06 07:39] ukmo-ansaulter commented on #255
Thanks @mickaelaccensi . I think I'm almost there, so will add you as a reviewer for the PR :-)

[2020-10-06 08:06] ukmo-ansaulter commented on #255
Updates now have the namelist option available and this has been used in 5 regtests:

- ww3_ta1/./work_UPD0F_O                     (3 files differ)
- ww3_ta1/./work_UPD5_U                     (3 files differ)
- ww3_ta1/./work_UPD2_U                     (3 files differ)
- ww3_ta1/./work_UPD6_O                     (3 files differ)
- ww3_ta1/./work_UPD3_U_cap                     (4 files differ)

The

[2020-10-06 15:36] mickaelaccensi commented on #249
I'm able to reproduce the b4b problem on regtest ww3_ts1 with ST4 by comparing results between debug and optimized compilation options. The problem comes from the variable wcf. I'll dig into the code to find where the bug is

[2020-10-07 07:03] mickaelaccensi commented on #236
yes closed

[2020-10-07 07:03] #236 closed, assigned to mickaelaccensi

[2020-10-07 14:37] heloisemichaud opened #257 "Bug on master, develop and scalability branches (and also V6.07.1) when forcing unstructures grids by currents"
Hello,
I have a bug when forcing my unstructured grid on Atlantic french coasts with currents on all the WW3 versions since the alpha.6.07.1, and all the branches master, develop and scalability). It works very well with the alpha.5.16 and older versions.
I have very strange results from the first time steps (such as problems with the CFL on the shallow waters), the simulation does not crash but r

[2020-10-07 15:25] aliabdolali commented on #257
@heloisemichaud thanks for reporting the bug, could you provide the switch you used?

[2020-10-07 15:36] heloisemichaud commented on #257
I use switch Ifremer1 and also try with DB0 and TR0, but results are bad. There is something wrong with the frequency advection, because  when I removed the frequency shift, I do not observe the bad results at the boundaries.

[2020-10-07 15:40] aliabdolali commented on #257
@heloisemichaud could you change REF1 to REF0 and recheck? I am suspicious about it if it is happening at the coastal boundaries.

[2020-10-07 16:01] ukmo-ansaulter commented on #257
@heloisemichaud when you say the frequency advection, do you mean you are OK when you set FLCK to false? This is also something @ukmo-jianguo-li and I have seen when we use the SMC grid at high resolution - we had an instability in the model where currents are very strong around Ouessant. In our case we felt that it was a combination of the frequency shift being very strong and then the source ter

[2020-10-08 13:09] heloisemichaud commented on #257
Hello,
@aliabdolali, I have the same problem with REF0.
@ukmo-ansaulter yes I try with FLCK to false and i don't have the bug. Did you have the same instabilities with version 5.16 ? because the problem appeared since at least version 6.07.

[2020-10-12 07:39] ukmo-ansaulter commented on #32
@ukmo-ccbunney 3 possible options come to mind?

1. move the existing if-then-else construct looped within IFI,IFJ to a separate module/subroutine which could then be duplicated for the Copernicus variable set-up, and we simply call one or the other based on a logical for using 'standard' or 'copernicus' variable types. I don't like this option as its not very elegant and doesn't clean the code up

[2020-10-12 10:48] ukmo-ansaulter commented on #257
We have always had this as an issue. @ukmo-jianguo-li can you confirm which version(s) of your model you ran the FLCK instability tests for?

We had to look at how the spectrum was evolving at different steps in the model to diagnose this. Our problem is that initially the propagation with the k-shift switched on aggregates the energy into only a few spectral bins, subsequently the source/nonlinea

[2020-10-12 14:13] CarstenHansen commented on #32
Hi Folks

Maybe this can help. I have constructed a modification to ww3_ounf.ftn (Feature 18c8294) which is a kind of solution to the complication that Chris mentions of different kind of output fields for the various parameters. It appears that two specific parameters (P2S and BED) are the only ones that was not conforming to a simple rule for the output field structure. After the present modific

[2020-10-13 22:16] #26 closed

[2020-10-14 14:47] ukmo-ccbunney commented on #32
Hi @CarstenHansen,

Thanks for your input.

I have just pushed up a first attempt (still a work in progress at the moment) of configurable meta-data for ww3_ounf here:
https://github.com/ukmo-waves/WW3/commits/fb_ounf_config
The `w3nmlounfmeta.ftn` file contains the main functionality and provides meta data to ww3_ounf packaged in a derived type.

I like your idea of grouping the outputs as scalar

[2020-10-19 08:40] ukmo-juan-castillo opened #259 "Bug in OASIS coupling: out of bounds errors"
In the SND_FIELDS_TO routines that call OASIS to send coupling fields to other models, there is a series of non-conforming WHERE sentences. This means that in these WERE sentences there is an assignment of one variable to another, and these two variables have different size. This causes an out of bounds error which can have unexpected consequences. In fact, I believe this is messing the ww3_tp2.14

[2020-10-20 08:53] mickaelaccensi opened #262 "ounp string40"
need to correct missing statements for 40 characters names

[2020-10-21 07:14] #245 closed, assigned to nobody

[2020-10-23 13:55] aliabdolali commented on #262
@mickaelaccensi can we close it now?

[2020-10-23 14:21] #262 closed, assigned to mickaelaccensi

[2020-10-23 14:43] aliabdolali commented on #249
@mickaelaccensi please close it if it is addressed in your last PR.

[2020-10-23 15:33] #249 closed, assigned to mickaelaccensi

[2020-11-02 15:14] JessicaMeixner-NOAA commented on #187
Is this finished?  I don't know if the regtests run on Orion or not, but UFS porting to WW3 is done for sure.

[2020-11-02 15:24] #187 closed, assigned to nobody

[2020-11-05 15:07] ukmo-ccbunney commented on #32
Hello all,

So - I think I have a working solution to the configuration of netCDF meta-data for `ww3_ounf`. Please see `w3ounfmetamd.ftn` in my `fb_ounf_config_v2` branch:

 https://github.com/ukmo-waves/WW3/blob/fb_ounf_config_v2/model/ftn/w3ounfmetamd.ftn

Meta data for each WW3 output variable is now stored as arrays of META_T derived types (grouped by output group).

Default meta data is set b

[2020-11-05 16:20] thesser1 commented on #32
@ukmo-ccbunney I can definitely make this format work for my needs.  It reminds me a lot of the yaml files we have been using up to this point without the required libraries.

[2020-11-05 16:31] ukmo-ccbunney commented on #32
@thesser1 - Great, I'm glad you approve.
A proper YAML parser would be nice, but I don't fancy writing one!

[2020-11-05 16:33] #250 closed, assigned to ukmo-juan-castillo

[2020-11-05 16:33] #255 closed, assigned to ukmo-ccbunney, ukmo-ansaulter, mickaelaccensi

[2020-11-05 16:34] #232 closed, assigned to JessicaMeixner-NOAA, ukmo-ccbunney, ukmo-ansaulter, ukmo-juan-castillo, mickaelaccensi

[2020-11-05 16:34] #259 closed, assigned to nobody

[2020-11-06 01:54] #1 closed

[2020-11-06 01:55] JessicaMeixner-NOAA commented on #19
@mickaelaccensi @aliabdolali is the only remaining to do for this to delete the comp & link files for specific platforms that still remains?

[2020-11-06 01:55] JessicaMeixner-NOAA commented on #21
@aliabdolali I assume we've done this or don't need to do this anymore at this point, so am closing this issue.

[2020-11-06 01:55] #21 closed

[2020-11-06 01:58] JessicaMeixner-NOAA commented on #61
@aliabdolali @mickaelaccensi can we close this issue?

[2020-11-06 01:59] #122 closed, assigned to nobody

[2020-11-06 07:15] mickaelaccensi commented on #61
I do it.
there is still the b4b difference in mww3_test_03 which is known and not easy (even possible?) to solve.

[2020-11-06 07:15] #61 closed

[2020-11-06 07:49] CarstenHansen commented on #32
@ukmo-ccbunney this is a brilliant solution to the issue. Being a small information services group we benefit from the good accessibility of forecast and monitoring products from Copernicus and other data hubs.

It could be extended with user input for global attributes?

PS. There is a 'scale_factor' attribute for netCDF variables with datatype short (not 'scale_value').

[2020-11-06 08:47] mincrt opened #265 "comparison between ver.4.18 and ver.6.07.1"
Recently, I am trying to apply the latest version of WW3.
Before that, we have a test to verify the reproducibility between ver.4.18 and ver.6.07.1.
![results](https://user-images.githubusercontent.com/53882905/98338638-d0a55980-204d-11eb-9fdc-e2b973ce25ea.png)

This is the comparison result of significant wave height by using ver.4.18 and ver.6.07.1.  significant wave height. They are slightly di

[2020-11-06 11:48] ukmo-ansaulter commented on #32
@CarstenHansen thanks for the input, Chris has been working hard on this so its great good that the changes look valuable :)

For global attributes, ww3_ounf already allows additional user defined input to be read in via text file; see the lines referencing the file 'NC_globatt.inp' around line 5107. From memory we've managed to use this to meet Copernicus/Met Office requirements for global attrib

[2020-11-06 14:17] JessicaMeixner-NOAA commented on #265
There's probably been a significant amount of changes and minor bug fixes for sure, but if you are getting 1m differences, I'd be curious what the parameter differences you do have since you say they are almost the same? I wonder if the difference is important?    The manual about sections for versions 5.16 and 6.0.7 both list the major updates that came with each release.

[2020-11-06 17:38] aliabdolali commented on #265
In addition to Jessica's points, some fixes were done to improve physics. So, even if you see ~1 m difference, you should compare with observations (satellite/buoy) to see the model performance.

[2020-11-07 10:13] chrisbunney commented on #32
Thanks for the encouraging feedback  @CarstenHansen . I will update the incorrectly named “scale_value” - good spot! I was already thinking of adding support for the global attributes via the same input file with a special “META global” section that parses a list of the “extra” types; I will make some updates for this next week.

[2020-11-09 16:14] ukmo-ccbunney commented on #32
@CarstenHansen I've updated the [w3oufmetamd.ftn]( https://github.com/ukmo-waves/WW3/blob/fb_ounf_config_v2/model/ftn/w3ounfmetamd.ftn ) module to handle user configuration of the "global" meta data. I've also factored out some common functionality to achieve this into separate subroutines. The incorrect "scale_value" attribute has also been fixed.

If there are not objections to this approach fro

[2020-11-10 09:39] CarstenHansen commented on #32
@ukmo-ccbunney I don't want to anticipate the review process, and I am not an expert in netCDF datasets. But I am not sure of the implications of writing real values for valid_min, valid_max. Will they be converted automatically to datatype short if the netCDF variable is a short?

[2020-11-10 14:50] ukmo-ccbunney commented on #32
@CarstenHansen That's a good point. I overlooked the fact that the valid_min and valid_max are written as integers. I don't think it will matter as the field data itself can be written as a REAL or a SHORT, so the comparison between the two different types will still end up occurring. However, I will follow the original design of WW3_OUNF and set it as a short.

I am considering allowing the user

[2020-11-10 16:51] ukmo-ccbunney commented on #32
The most recent version now writes `valid_min` and `valid_max` as integer values, as per the original WW3_OUNF behaviour.
The values in the `ounfmeta.inp` file are now floating point values in the units specified for the variable; they will be scaled by `scale_factor` and converted to integers values when written out.

[2020-11-12 02:15] mincrt commented on #265
Thank you very much for your comments.
In my test case, I found that the different physical parameters used to create the nesting file before the main simulation.  It fixed and simulated again for the same condition. The simulation result was considerably improved and the differences between the models has decreased slightly. In the future, I will confirm the model performance, compared to using b

[2020-11-13 00:07] #265 closed, assigned to nobody

[2020-11-16 15:02] aliabdolali commented on #30
@ukmo-ccbunney can we close it?

[2020-11-16 15:09] ukmo-ansaulter commented on #30
Yes we can @aliabdolali 👍

[2020-11-16 15:14] #30 closed

[2020-11-25 14:16] ukmo-ccbunney opened #267 "Inconsistent use of TWS/FWS fields internally."
There is some inconsistency in the use/implementation of the FWS and TWS internal fields.

In w3odatmd.ftn, the descriptive name for field Group=5, Field=11 is commented out:
https://github.com/NOAA-EMC/WW3/blob/e756361cee6c0e3bfac064376fcec3eba986719d/model/ftn/w3odatmd.ftn#L761

However, it is an available output field in ww3_ounf.ftn, but appears to be for "wind sea period", not "breaker passag

[2020-11-26 06:48] irfanafi opened #268 "Isolation of Wind Waves Data"
Good afternoon,

I am currently working on extraction of values from the NOAA database for my school project. When I have successfully extracted for a particular date or a range of dates, there is a particular output that interest me: Significant_height_of_combined_wind_waves_and_swell_surface.

I would like to isolate or calculate the values of Wind Waves only instead of the combine values of win

[2020-11-26 09:07] ukmo-ansaulter commented on #267
@ukmo-ccbunney it looks like the internal and external variable names have ended up overlapping here...

The external variable TWS refers to the percentage wind-sea in the spectrum in the partitioned outputs table and uses internal variable PWST as its source

The external variable FWS appears to be a mean wind-sea period, for example generated initially in the w3spr4 subroutine for ST4 as FMEANWS

[2020-12-03 10:25] papez opened #269 "OASIS - UNST"
Hi all,
is anyone out there working on, or planning to, upgrade w3oacpmd.ftn for unstructured grids?
Just asking for a friend :)

Cheers,
P

[2020-12-03 14:01] aliabdolali commented on #269
@mickaelaccensi could you help with it?

[2020-12-03 14:01] aliabdolali commented on #269
@mickaelaccensi could you help with it? is there any plan for this?

[2020-12-03 14:03] aliabdolali commented on #32
@ukmo-ccbunney can we close it?

[2020-12-03 15:08] #32 closed

[2020-12-05 19:38] ZOUABBAS opened #270 "ww3: ww3_shel error"
i'm working with (WAVEWATCH III) ,i try to execute a simulation in slurm but i have this error , this is the first time i run a simulation with hpc  i work with ww3 in my comptuer and i never get this error

my switch look like:
![3](https://user-images.githubusercontent.com/47395960/101261669-50037700-3739-11eb-90ab-191ba9126ce4.PNG)
my input shel look like
![4](https://user-images.githubusercont

[2020-12-07 18:31] ukmo-ansaulter opened #272 "ww3_ounf - improve gridded output data CF compliance"
This issue covers actions needed to improve CF compliance for gridded output data generated by the ww3_ounf netCDF post processor.

@mickaelaccensi , @thesser1 , @JessicaMeixner-NOAA , @aliabdolali - I'm highlighting this now so that you have early sight of what myself and @ukmo-ccbunney will be working on. Please let us know if you disagree with any of the below.

1. Review and revise CF standard

[2020-12-07 18:44] JessicaMeixner-NOAA commented on #272
These all sound like reasonable good things to me.   One question I have is how does this then let ounf diverge from outf and grib2 output?  I've seen a lot of questions/comments about inconsistency in documentation/output, which might be things on NCEP side and nothing to do with code, I haven't dug into that yet.

[2020-12-07 19:29] thesser1 commented on #272
For #2, if possible, I would like to see UGRID standards included for unstructured mesh.

[2020-12-08 08:26] ukmo-ansaulter commented on #272
Agreed Ty. We ought to see how this maps to the SMC grid data as well. Note to self - the standards are [here](https://ugrid-conventions.github.io/ugrid-conventions/)

[2020-12-08 08:36] ukmo-ansaulter commented on #272
I'm not sure that we address that point in this issue @JessicaMeixner-NOAA ? For this one we aren't aiming to add any netCDF output functionality beyond what is already in ww3_ounf (i.e. it already does rotated, cartesian, SMC and unstructured grids + all of the various diagnostic outputs), we are simply trying to bring the metadata descriptions up to scratch.

My impression has always been that t

[2020-12-08 10:49] ukmo-ansaulter commented on #272
A few more notes on 2. grid_mapping. Suggested way for the code to be developed might be:

In all cases a (coordinate reference system) CRS variable specific to real world lat-lon coordinates can be added optionally, e.g. to identify that the underlying lat-lon values are specified on a sphere, WGS84 coordinates etc..

Regular lat-lon grid; no default grid mapping as coordinates and dimensions are

[2020-12-08 15:56] ukmo-ccbunney commented on #272
With respect to (4),  one of the things that I changed in the Met Office's version 4.18 of ww3_ounf was to do all the time calculations internally in seconds (stored as an 8 byte integer). This avoided any truncation/rounding errors associated with working in "day fractions" and allowed for easy output of either "seconds" (as an int64) or "days" (as a double) for the time variable. In this way, th

[2020-12-08 21:33] ZOUABBAS commented on #270
@thesser1 @mickaelaccensi @JessicaMeixner-NOAA @aliabdolali  help me please ?

[2020-12-08 21:41] JessicaMeixner-NOAA commented on #270
@ZOUABBAS When you build the model, can you add -g -traceback options to possibly get a more helpful error message?

[2020-12-08 21:45] ZOUABBAS commented on #270
where i put it this -g -traceback? is what when compiling./w3_setup .. -c * -s* -g -tracebackor where ?
    Le mardi 8 décembre 2020 à 22:41:36 UTC+1, Jessica Meixner <notifications@github.com> a écrit :

@ZOUABBAS When you build the model, can you add -g -traceback options to possibly get a more helpful error message?

—
You are receiving this because you were mentioned.
Reply to this email direc

[2020-12-08 21:49] thesser1 commented on #270
@ZOUABBAS debugging hpc runs are always difficult because they all operate a little differently.  When you submit your job to the compute nodes, are you making sure the compilers and libraries are all sourced.  On my system, I create a file listing all  libraries and environment variables that I use to compile the code and then I source that when creating the run script for my compute nodes just t

[2020-12-08 21:54] ZOUABBAS commented on #270
@thesser1  you can give me a copy on the file that contains the libraries?

[2020-12-08 22:51] thesser1 commented on #270
@ZOUABBAS I don't think it will help to have my file because it is specific to the hpc system I am running on.  However, I can give you a sense of what is in the file.
1.) Define the compiler and mpi version used to build the code (if it is different than the system default)
2.) Define the WWATCH3_ENV variable.  This is where the wwatch3.env file is located
3.) Define the NETCDF_CONFIG variable. L

[2020-12-08 23:24] ZOUABBAS commented on #270
yes , and i don't get a more helpful error messageand about the file that i have request , i have already created one, 
    Le mardi 8 décembre 2020 à 23:51:25 UTC+1, Ty Hesser <notifications@github.com> a écrit :

@ZOUABBAS I don't think it will help to have my file because it is specific to the hpc system I am running on. However, I can give you a sense of what is in the file.
1.) Define the com

[2020-12-09 09:33] ukmo-ccbunney commented on #270
Hi  @ZOOUABBAS - after adding the `-g -traceback` flags to you comp script, make sure that you do a clean build first (run `w3_clean`, then run `w3_make`) otherwise you code will probably not be correctly re-compiled with the debugging turned on. This is because the build system won't rebuild objects if it doesn't need to.

[2020-12-09 09:45] ZOUABBAS commented on #270
hi @ukmo-ccbunney  the same error !!!

[2020-12-09 09:57] ukmo-ccbunney commented on #270
@ZOUBASS
I notice the the model is failing in the `w3iopomd` (point output) module.
I also notice that some of your point names are longer than 10 characters - this _probably is not_ causing the issue, but just to make sure, can you make all your pount names a max of 10 chars length? E.G. "DRAGONENA_BUOY" is too long, make it something like "DRAGN_BUOY".

By the way: future releases of WW3 will re

[2020-12-09 10:10] ukmo-ccbunney commented on #270
Also - what is on line 255 of `model/tmp/w3iopomd.F90`? (note that is the `tmp` directory, not the `ftn` directory)
That is the last (useful) point in the traceback.
This may give a clue as to what failed.

[2020-12-09 13:59] ZOUABBAS commented on #270
I minimize the number of points by removing buoy point and other points and it works, pourquoi ça c'est bien marché dans mon pc sachant que j'ai un pc qui n'est pas puissant. and i need all this point for bouandary conditions especially the 12 points  

    Le mercredi 9 décembre 2020 à 11:11:00 UTC+1, Chris Bunney <notifications@github.com> a écrit :

Also - what is on line 255 of model/tmp/w3iop

[2020-12-09 14:00] ZOUABBAS commented on #270
@ukmo-ccbunney I minimize the number of points by removing buoy point and other points and it works , why it worked well in my pc knowing that I have a pc that is not powerful
why it worked well in my pc knowing that I have a pc that is not powerful
and i need all this point for bouandary conditions especially the 12 points  

    Le mercredi 9 décembre 2020 à 14:59:44 UTC+1, Zoulikha ABBAS <abbas

[2020-12-09 14:06] ukmo-ccbunney commented on #270
@ZOUABBAS - That's good that you got it running! We are definitely looking in the right place.
I doubt the the issue is with you PC not being powerful enough. It sounds more like memory problem.
Did you try changing the length of the buoy names to 10 characters or less?

[2020-12-09 14:13] thesser1 commented on #270
@ZOUABBAS I agree with @ukmo-ccbunney.  I run with 100's of output points without a problem.  There is nothing in the code to keep the number of save points small.  I would add the buoys back in but reduce character length to 10 characters.

[2020-12-09 14:14] ZOUABBAS commented on #270
yes yes i try it but the error still . no you don't understand my problem actually i work with hpc and i get this error in hpcbut  before i run the same script in my pc with all the points and buoys and i had no errorfor this reason i tell you that my pc is not powerful it's just i want to understand the difference
    Le mercredi 9 décembre 2020 à 15:06:30 UTC+1, Chris Bunney <notifications@githu

[2020-12-09 14:17] ZOUABBAS commented on #270
@ukmo-ccbunney  @thesser1  i will try your propositions and i tell you the result

[2020-12-09 14:22] thesser1 commented on #270
@ZOUABBAS the only other thing I would suggest is change your dedicated output from a 2 to 1.  This is the number listed after you define the start and end time to your simulation and before you define output data.  Right now you have that set to use the last processor to handle all of your file writing.  I would switch this over to have no dedicated service process for writing.

[2020-12-09 21:34] papez opened #274 "ww3_ounf inconsistency?"
Any particular reason for VMIN=0 for field 'water level' WLV?

Cheers
P

[2020-12-10 09:28] ukmo-ccbunney commented on #274
@papez - You're right, the vmin/vmax should be symmetrical about zero for WLV (to handle cases where tidal inputs are referenced to mean sea level, or similar).

I am working on WW3_OUNF at the moment and will add a fix for this in the develop branch.

Thanks for raising this.

[2020-12-10 10:51] papez commented on #274
Thank you @ukmo-ccbunney , i'm just too lazy to fork and push :D

You might also wish to set VMAX for Stokes transports. Looks like it is undefined within the ELSE IF block, thus picking up the value from the previous call.

[2020-12-10 12:00] ukmo-ccbunney commented on #274
Fair enough!

Yes - thanks for that. I've already spotted that one and it is marked TODO in my list of WW3_OUNF updates.

[2020-12-11 18:39] aliabdolali opened #275 "ww3_grib build on NOAA HPC (i.e. hera)"
The following should be added to model/bin/link.tmpl to add opt and libs required for ww3_grib compilation. After (_# netcdf library dir_)

[code]

[2020-12-11 20:32] JessicaMeixner-NOAA commented on #275
Is this an issue with the hera modules themselves or an issue with the order of linking?   Since we can run with the current order on other platforms I was curious.  At first I thought we were just totally missing them, but they do seem to be there.  Also for other versions of the code and with different modules the code has run successfully on hera/orion before.

[2020-12-11 20:33] JessicaMeixner-NOAA opened #276 "Add ww3_grib to a regression test"
Add ww3_grib post processing to an existing test for the NCEP tests.

Perhaps add this as part of a light weight test mimicking operations as much as possible (in a standalone mode).

[2020-12-12 10:27] Rachel201810 opened #277 "puzzle about the calculation of roughness length z0 in the ST4 and ST2"
HI,
Sorry to be a bother. I have a puzzle about the calculation principle of the roughness length z0 in the ST4 and ST2 source terms.

I can see from the code that it is calculated directly from the logarithmic wind profile:
![image](https://user-images.githubusercontent.com/55370370/101981247-6748e400-3ca6-11eb-8b03-679ae56182ec.png)
However, most of the studies use the Charnock relationship z0=C

[2020-12-12 17:53] JessicaMeixner-NOAA opened #278 "Possibly delete old files that seem to not be used"
The following list of files have not been updated in a long time and seem to not be used anymore.  Therefore I suggest we remove them from the repo.

[code]

[2020-12-13 14:36] aliabdolali commented on #275
@JessicaMeixner-NOAA Roberto reported that he had to use the link and comp from UFS/WW3 to generate compile ww3_grib on hera. When I compared the WW3/develop and the one Roberto referred to, I realized that the lines I mentioned are missing in link.tmpl.
`# NCEP grib creation
  if [ "$ncep_grib_compile" = 'yes' ]
  then
# GRIB libraries for this one
    opt="$opt -convert big_endian -assume bytere

[2020-12-13 14:37] aliabdolali commented on #275
@JessicaMeixner-NOAA Roberto reported that he had to use the link and comp from UFS/WW3 to generate compile ww3_grib on hera. When I compared the WW3/develop and the one Roberto referred to, I realized that the lines I mentioned are missing in link.tmpl.
[code]
Also NCEP2 is not in model/esmf/switch, so even if we could be able to compile ww3_grib with that switch, it was not generating grib files

[2020-12-13 14:45] JessicaMeixner-NOAA commented on #275
@aliabdolali the NCEP2 switch is added to the switch file before compiling grib.  In the production/gfsv16 branch it's done via the makefile in the esmf directory: https://github.com/NOAA-EMC/WW3/blob/develop/model/esmf/Makefile#L187-L190
and now that the pre-and post- processing exes for WW3 are not processed via the esmf makefile, the switch is added in the build script here: https://github.com/

[2020-12-13 16:27] aliabdolali commented on #275
@JessicaMeixner-NOAA You are right, I might clone a different version of code. I checked it now on hera and orion and it looks ok.

[2020-12-13 16:27] #275 closed, assigned to nobody

[2020-12-14 07:36] mickaelaccensi commented on #278
about matlab and idl_twist, those codes are from Fabrice. They are probably not up-to-date so you can delete them.
BTY, it would be great to gather and provide some generic tools for output fields and output spectral points reading and plotting.
Are you all working with python ?

[2020-12-14 09:19] ukmo-ccbunney commented on #278
@mickaelaccensi  - yes, we are certainly using Python. I've got some IO and plotting tools for spectral point outputs (binary WW3, netCDF and text output); I intended to get them polished up and shared via a separate GitHub repo at some point (our wave tools repo).

[2020-12-14 13:23] JessicaMeixner-NOAA commented on #278
I'm trying to work with python for plotting at this point too.  I like the idea of the separate repo and would contribute to that when that gets created.

[2020-12-14 14:15] aliabdolali commented on #278
@ukmo-ccbunney It would be great if we have such a repo, for pre-post processing.
I have a couple of codes for unstructured grid conversion, netcdf field preparation (point and field), plotting fields, spectrum, time series and taylor diagrams all in Matlab and some in Python. I'd suggest having a structure like:
**Matlab**
_1- pre-processing
2- post-processing_

**Python**
_1- pre-processing
2- p

[2020-12-14 15:50] mickaelaccensi commented on #269
Hi Papez,

The OASIS coupling for unstructured grid is not planned for the coming months but it's definitely something to do and we may have some projects for 2021 on it, so I'll keep you updated. Papez, I close this issue but feel free to reopen it if you plan to work on it.

Mickael

[2020-12-14 15:50] #269 closed, assigned to nobody

[2020-12-14 16:50] thesser1 commented on #270
@ZOUABBAS did these latest responses resolve your issue?  Let us know if the problem persists, otherwise, we will consider this issue closed.

[2020-12-14 17:18] ZOUABBAS commented on #270
@thesser1  no always when I decrease the number of points the error disappears and when I increase it comes back
but I guess it has a relation to node memory, does that make sense?
![74](https://user-images.githubusercontent.com/47395960/102112955-be7ebe00-3e38-11eb-8d36-4120be012aae.PNG)

[2020-12-14 22:42] ukmo-ansaulter commented on #277
Hi,

Both ST2 and ST4 describe a Charnock(-like) parameter in their z0 calculations; this is denoted as alpha in the relevant sections of the manual.

For ST2 this isn't described as a Charnock parameter directly, but uses a relationship between alpha and the inverse wave age (eq. 2.71)

In ST4, the reader is referred to ST3 (WAM Cycle 4 ECWAM) for a basis for the input source term Sin. In both ST

[2020-12-16 06:45] ukmo-ansaulter opened #280 "CF netCDF standard_name updates for Group 1 and 2"
A number of variables generated by the ww3_ounf netCDF processor do not have names documented in the CF conventions [standard_names table](https://cfconventions.org/standard-names.html)

This is the first of several issues documenting proposal of standard_names and addition to ww3_ounf once ratified by CF. We are proposing names piecemeal so as to allow sensible discussions on each in the [CF foru

[2020-12-16 06:49] ukmo-ansaulter commented on #280
Issues in this series are a follow on action to cf-convention/vocabularies#55

[2020-12-21 10:58] ukmo-ansaulter commented on #280
Forcing data parameters in group 1 submitted to CF under [issue 89](https://github.com/cf-convention/vocabularies/issues/73)

[2020-12-21 11:04] ukmo-ansaulter commented on #280
Integrated wave parameters in group 2 submitted to CF under [issue 90](https://github.com/cf-convention/vocabularies/issues/78)

[2020-12-22 10:45] Rachel201810 commented on #277
Thanks for your help, Andy!!!

[2020-12-22 10:45] #277 closed, assigned to nobody

[2020-12-22 10:58] Rachel201810 opened #281 "Confusion about the Table 2.6 in the manual v5.16"
HI,

Sorry to be a bother. I have a confusion about the Table 2.6 in the manual v5.16 on page 46.

The description of Table 2.6 says "TEST471 generally provides... TEST451f corresponds to a retuning for CSFR wind reanalysis from NCEP/NCAR...". But based on what's in the table should this be "TEST471f" instead of "TEST451f"?

Appreciate your help.

Best regards!

[2020-12-22 13:36] thesser1 commented on #281
@Rachel201810 yes, I believe you are correct.  The text has a typo.  @mickaelaccensi can you confirm that TEST471f is the CFSR tuned ST4 setup?

[2020-12-30 03:30] RajeshKillampalli opened #282 "error while running ./model/bin/w3_setup model -c <comp> -s <switch>"
Hi, I'm Rajesh installing WW3 through Quick start WW3 after the (sh model/bin/ww3_from_ftp.sh) run all files are correctly resorted and while running the w3_setup (./model/bin/w3_setup model -c <comp> -s <switch> this error is showing in terminal (**-bash: syntax error near unexpected token `newline'**)
can any one help me how to fix this.

[2020-12-30 12:02] thesser1 commented on #282
@RajeshKillampalli w3_setup requires more input.   model = the absolute path to the model directory usually under the WW3 directory.  -c needs a compiler, for instance if running gnu, there are prebuilt compiler flags for gnu if you put gnu after -c.  -s is the switch file, the code comes with some examples of prebuilt switch files in the bin directory.   An example of this code setup running from

[2021-01-02 12:28] RajeshKillampalli commented on #282
thank you sir, model path and this code is cleared installation model successfully  ~/WW3/model/bin directory: "./w3_setup ~/WW3/model -c gnu -s NCEP_st4". but can have any test cases regarding to test the model running successfully.

[2021-01-02 14:04] thesser1 commented on #282
@RajeshKillampalli

[2021-01-02 14:08] thesser1 commented on #282
@RajeshKillampalli I reopened this issue to answer your question.  The model has a number of regression tests that are described in the Developers guide at https://github.com/NOAA-EMC/WW3/wiki/Developer-Guide.  I hope this helps.

[2021-01-05 12:43] #282 closed, assigned to nobody

[2021-01-06 10:41] ukmo-juan-castillo commented on #206
This has already been tackled in issue #232, and now it is possible to include a list of variables in the restart file via a namelist variable. At the moment only variables that can be exchanged via OASIS coupling can be written to the restart, but modifying the code to add new fields is straightforward.

[2021-01-06 12:32] Rachel201810 commented on #281
Thanks for your help!

[2021-01-06 12:33] #281 closed, assigned to nobody

[2021-01-06 12:43] Rachel201810 opened #286 "How to calculate the peak wave length for the whole wave spectrum"
HI,

Sorry to be a bother. I have a confusion about how to get the peak wave length for the whole wave spectrum.

I found that only the peak wave length of partitions of the spectra is provided in the output data. I wonder if there is a way to calculate the peak wave length for the whole wave spectrum from the output peak frequency or other output variables?

Appreciate your help.

Best regards!

[2021-01-06 13:40] Rachel201810 opened #287 "Confusion about high frequency tail of Stokes drift"
HI,

Sorry to be a bother. I have a confusion about the output Stokes drift at the sea surface.

From the eq. 2.247, it seems that the addition of a high frequency tail is not considered in the calculation? But I found  that there is a corresponding calculation in w3iogomd.ftn, and it says "Tail for surface stokes drift is commented out: very sensitive to tail power". I wonder if I can get the rig

[2021-01-07 01:44] aliabdolali opened #288 "Open boundary condition for multiple points in one netcdf file"
ww3_bounc.inp(nml) reads the first point from a single netcdf spectral file including data at multiple points, so users have to write open boundary conditions for each point individually and define all in ww3_bounc.inp(nml).

[2021-01-07 01:46] aliabdolali opened #289 "empty out_pnt.ww3 using ww3_multi"
The point outputs are empty (zero values) for ww3_multi.inp for unstructured setups while it works fine with ww3_shel

[2021-01-07 07:33] mickaelaccensi opened #290 "ww3_multi hangs on when creating restart file with IOSTYP=2 or =3"
the bug appears when using IOSTYP 2 or 3, it works well with IOSTYP=1

By tracking where it keeps waiting, it seems to be for some processors in w3wavemd :
CALL MPI_WAITALL due to positive value of NRQSG2

and for the dedicated output processor in w3iorsmd :
[code]

I'll look for a regtest that highlights the bug

[2021-01-07 07:37] mickaelaccensi opened #291 "bug in writing the restart file when requesting some output fields with ww3_multi"
this bug has been introduced with the update from Juan, actually he wrotes a note in wmiopomd and this need to be updated.

I'll find a regtest to confirm it works in multigrid with ice field mpi exchanges

corrections must be done in wmiopomd:
-ITO must be changed from 7 to 10 and update also the line after for SEND and RECEIVED
-uncomment lines for ICEO ICEFO ICEHO and rename to ICRO and so on

[2021-01-07 07:41] mickaelaccensi commented on #288
it not really a bug. But this feature should be implemented to get things easier for open boundary creation.
Also, the possibility to add multiple daily files for a unique point to create a monthly boundary condition to avoid to concatenate them along the time dimension...

[2021-01-07 09:47] CarstenHansen commented on #286
If there are no strong currents in your model, you may solve the dispersion relation for the wavenumber K from a given the *intrinsic* angular frequency of the peak and the water depth. The wave length is 2 PI / K. You may adopt one of the two Fortran subroutines in w3dispmd.ftn, WAVNU2 (iterative procedure) or WAVNU3 (approximate formula). With currents, the dispersion relation is more complicate

[2021-01-07 13:48] Rachel201810 commented on #286
@CarstenHansen Thanks for your help!  And I have another question about the WAVNU2. This function also requires input EPS (Wanted max. difference between K and Kold) and NMAX (Max number of repetitions in calculation). I find that in some cases they are set to 1.E-6, 25, and in others they are set to 1E-7, 15. So I I'm not sure which set of values should be used if I use the water depth DW and the

[2021-01-07 14:37] CarstenHansen commented on #287
Hi @Rachel201810

At our GEOMETOC Support Centre we have for some years run WW3 with an extended tail to get reasonable magnitudes of the surface Stokes drift in situations of a young sea state. We need this for oil drift estimation in Coast Guard operations. Unfortunately there has been no sound scientific base for estimating the accuracy of this calculation. We cannot say that it is the 'right'

[2021-01-07 14:43] aliabdolali commented on #288
@mickaelaccensi agree, I changed it to enhancement including your suggestion for adding multiple daily files.

[2021-01-07 14:49] CarstenHansen commented on #286
@Rachel201810 I think the setting of the iteration convergence and the max number of iteration steps controls the accuracy, and the max number of iteration steps controls how fast the individual calculation should run. In parallel model runs NMAX must not be too high, but you may set a much higher value if you run a serial post-processing script.

[2021-01-07 14:53] JessicaMeixner-NOAA commented on #289
Is there a regression test or test case that can reproduce this?  Do we know when the issue started?  We're using ww3_multi.inp in several coupled cases and I have not seen this.

[2021-01-07 14:57] JessicaMeixner-NOAA commented on #291
@mickaelaccensi can you point to the PR with the update that this bug happened?

[2021-01-07 15:38] aliabdolali commented on #289
@JessicaMeixner-NOAA it happens in unstructured setups (I modified the issue).

[2021-01-07 17:17] ukmo-juan-castillo opened #292 "Drive wave model with momentum instead of winds"
In issue #206 a series of new OASIS coupling fields were added to the model, in particular atmospheric momentum. This momentum, that can be obtained via coupling or read from file, can be used to drive the wave model instead of the 10 wind components. In ticket #206, all the infrastructure necessary to read the momentum was put in place, but the scientific changes were not completed because they w

[2021-01-08 10:30] mickaelaccensi commented on #290
this happens only when :
IOSTYP=2 or =3
PSHARE = T
and an output restart file is requested

To test it with a regtest :

add a restart output in mww3_test_04/input/ww3_multi_grdset_d.nml
[code]

then run the regtest :

`./bin/run_test -o both -N -f -S -T -c datarmor_intel_debug -s PR1_MPI -w work_PR1_MPI_d  -m grdset_d  -f -p $MPI_LAUNCH -n 28 ../model mww3_test_04`

it will never end..

when you

[2021-01-08 10:52] juanliria commented on #27
The NCO switch for ww3_ounf contains a bug that overwrites the ww3.gridded.nc file on the turn of year.
so on a forecast that goes from the 26th of december 2020 to the 2nd of January 2021. ww3_ounf will write a ww3.gridded.nc file for 2020 and then overwrite the same file with the 2021 data, as a result there will be a single ww3.gridded.nc file containing data from 2021 and the 2020 data will be

[2021-01-08 11:15] juanliria opened #293 "ww3_ounf compiled with NCO switch for fixed file has a problem on the turn of the year"
The NCO switch for ww3_ounf contains a bug that overwrites the ww3.gridded.nc file on the turn of year.
So, on a forecast that goes from the 26th of december 2020 to the 2nd of January 2021. ww3_ounf will write a ww3.gridded.nc file for 2020 and then overwrite the same file with the 2021 data, as a result there will be a single ww3.gridded.nc file containing data from 2021 and the 2020 data will b

[2021-01-09 08:22] Rachel201810 commented on #286
@CarstenHansen Thanks a lot!!

[2021-01-09 09:09] Rachel201810 opened #294 "Confusion about the values of the peak wave lengths of partitions and the peak frequency"
HI,

Sorry to be a bother. I have a confusion about the values of peak wave lengths of different partitions and their changes with the increase of time.

I found that with the increase of time, there are more default values in the output plp0 (peak wave lengths of wind sea; Fig. 1), but the coverage area of ptp1 and ptp2 (peak wave lengths of swell; Fig. 2&3) is increasing. I wonder what is the me

[2021-01-09 09:11] Rachel201810 commented on #287
@CarstenHansen  Thanks for your help!

[2021-01-12 14:47] mickaelaccensi commented on #291
this happens only when :
IOSTYP=2 or =3
PSHARE = T
and an output restart file is requested
and some output fields are requested

I'm not able to reproduce exactly the same error message with the regtest but still ww3_multi is crashing on array index which seems to be correctly instantiate when requesting a restart file and some output fields

To test it with a regtest :

add a restart output in mw

[2021-01-13 10:58] ukmo-ccbunney opened #296 "Extra gridded output fields required"
As part of adopting WW3 version 7 as our operational wave model (from vn 4.18) we require some extra gridded output fields to be generated by ww3_ounf. The internal data for these fields already exist, but just needs outputting in a different convention or unit:

  - Peak period (from peak freq)
  - Wind speed and direction (from U and V components)
  - Current speed and direction[ (from U and V c

[2021-01-13 10:59] ukmo-ccbunney commented on #296
Tagging @mickaelaccensi  @thesser1  @aliabdolali  @JessicaMeixner-NOAA  @ukmo-ansaulter  for their opinions.

[2021-01-13 13:59] JessicaMeixner-NOAA commented on #296
I like the idea of not adding extra memory requirements to the code itself. That's a great idea.

I know in ww3_grib when you request WND (at least with a certain combo of switches) you already get 4 variables: uwind,vwind, wind speed, wind direction.  Same for currents.  So one thought would just be to add that to the netcdf & other output to match for wind and currents.  However, I suspect other

[2021-01-13 14:35] mickaelaccensi commented on #296
ok for the idea
do you keep the possibility to output both uwnd, vwnd and wnd, wnddir ?
I would prefer WNDDIR for the ID, same for current CURDIR. I know this variable name is used in other numerical models, so it would be consistent

[2021-01-13 14:45] aliabdolali commented on #296
@ukmo-ccbunney I am ok with calculating WND and WNDDIR (CUR and CURDIR) from the UWND, VWND and UCUR, VCUR in ww3_ounf.

[2021-01-13 14:49] aliabdolali commented on #296
@ukmo-ccbunney will you add it to one of our existing regtests (both options)?

[2021-01-13 15:56] ukmo-ccbunney commented on #296
@mickaelaccensi

Yes - I intend it to be possible to output both, if required, by specifying both flags/IDs.

Sounds sensible; I'm happy with that.

[2021-01-13 15:57] ukmo-ccbunney commented on #296
@aliabdolali

Yes - once implemented I can modify an existing regtest to output both.

[2021-01-13 16:01] ukmo-ccbunney commented on #296
@JessicaMeixner-NOAA

I would prefer it to not be an "all or nothing" approach if possible. Reducing the amount of disk space usage in our operational suite of models is always something that we strive for!

[2021-01-13 16:02] ukmo-ccbunney commented on #296
Thanks all for your input - it sounds like there are no particular objections. I will prepare a branch with the changes in due course.

[2021-01-13 16:04] ukmo-ansaulter commented on #296
Nice one @ukmo-ccbunney , definitely no objections from me!

[2021-01-13 16:05] ukmo-ccbunney commented on #291
@mickaelaccensi One of us will try and replicate the bug on our system and investigate.

[2021-01-14 10:10] ukmo-ansaulter opened #298 "CF netCDF names for wave coupling parameters"
A number of variables generated by the ww3_ounf netCDF processor do not have names documented in the CF conventions standard_names table

This issue documents proposal of standard_names and addition to ww3_ounf once ratified by CF for a number of key atmosphere-wave-ocean coupling parameters. We are proposing names piecemeal so as to allow sensible discussions on each in the CF forum

This batch c

[2021-01-14 10:12] ukmo-ansaulter commented on #298
Momentum transfer parameter proposals:

Term: surface_downward_eastward_stress_due_to_sea_surface_waves
Unit: Pa
The surface called "surface" means the lower boundary of the atmosphere. "Surface stress" means the shear stress (force per unit area) exerted by the wind at the surface. A downward stress is a downward flux of momentum. Over large bodies of water, wind stress can drive near-surface cur

[2021-01-14 10:13] ukmo-ansaulter commented on #298
Additional diagnostics:

Term: eastward_friction_velocity
Unit: m s-1
A velocity is a vector quantity. "Eastward" indicates a vector component which is positive when directed eastward (negative westward). Friction velocity is a reference wind velocity derived from the relationship between air density and downward stress and is usually applied at a level close to the surface where stress is assumed

[2021-01-14 10:14] ukmo-ansaulter commented on #298
If no objections in the meantime I will submit these proposals to the CF discussion on 25th Jan 2021

[2021-01-21 08:08] mickaelaccensi commented on #291
Hi Guys,

cold you please look at this bug ? I'm not able to upgrade my forecast system with the last version of ww3 due to this bug. thanks

[2021-01-21 08:08] mickaelaccensi commented on #290
Hi Guys,

cold you please look at this bug ? I'm not able to upgrade my forecast system with the last version of ww3 due to this bug. thanks

[2021-01-21 08:49] ukmo-ccbunney commented on #290
Hi @mickaelaccensi
Apologies for the delay - I am really struggling for time at the moment!
I can confirm that this is hanging for me too on the GNU compiler when writing out the restart file.
I'll chat with @ukmo-juan-castillo today and see if we can get to the bottom of it.
Chris.

[2021-01-24 22:52] aliabdolali commented on #278
@JessicaMeixner-NOAA Can we close it?

[2021-01-25 11:45] ukmo-juan-castillo commented on #290
Sorry for the delay, I have been quite busy last week. I will start working on this now and give it all my priority. I think I know where the problem is and it should be easily fixed.

[2021-01-25 15:03] JessicaMeixner-NOAA opened #300 "Backwards compatibility/interoperability for restart files"
Is there interest to creating more interoperability between the switch files for restart files and/or backwards compatibility for versions of restart files?

Related to this: would we want to move the restart file to netcdf instead of binary?  This would 1. require netcdf which has never been a requirement before (including parallel netcdf) and 2. Might increase file size or time in reading/writin

[2021-01-26 09:27] basepot opened #301 "Error when cloning project: "Clone succeeded, but checkout failed" - model/aux folder missing"
Dear all,

I'm a student Offshore engineering at the TU Delft and I want to use WAVEWATCH III for my master thesis. When cloning the project via either GitHub or the Git terminal I keep getting the same error: "Clone succeeded, but checkout failed"

When I try it via the zip file, the 'model/aux' and 'model/bash' folder just do not copy where I get the error 'Can not make .... because system canno

[2021-01-26 12:45] ukmo-juan-castillo commented on #290
I run some tests and it looks like this bug was present before merging the new coupling changes. In any case, as these particular lines of code were in my list of things to look at during the optimization issue, I am trying to fix the problem.

I narrowed the problem to the communication handlers, that are somehow overwritten. This points to an 'out of bounds' error or similar. When I tried to com

[2021-01-26 12:51] ukmo-ccbunney commented on #296
After discussing with the rest of the repo managers, it is decided that the direction/magnitude output for directional fields will be controlled via a `VECTOR` flag in the input/nml file, similar to as in `ww3_outf`.

**NOTE**: This new VECTOR flag will only be available via the `.nml` file. It will default to True (as current behaviour) for the `.inp` file.

This means the proposed `CURDIR` and `

[2021-01-26 13:02] ukmo-ccbunney commented on #301
Hi @basepot ,

That error sounds like perhaps you don't have enough disk space? Or perhaps incorrect write permissions on that directory?
Can you try cloning to a different directory?

I don't know of anyone running WW3 on Windows - you might have some problems with all the supporting scripts (which use bash) unless you are using the Windows Linux Subsystem, or something similar...

P.S. you might

[2021-01-26 14:12] JessicaMeixner-NOAA commented on #301
There is an issue cloning on a window's machine because we have a folder called "aux" and windows OS does not like this.  I also don't know of anyone who has successfully built and ran WW3 on a windows platform.

[2021-01-27 11:22] basepot commented on #301
Thank you both for answering. It seems that I have to re-evaluate my plan to use WW3 since I have no Linux experience...  :/

Back to the wave buoys it is

[2021-01-27 13:39] ukmo-juan-castillo commented on #291
After some investigation, it looks like this bug is fixed after fixing issue #290, so the present issue can be safely removed. Please send new tests once #290 is resolved and check if the problem is still present.

[2021-01-29 16:24] #294 closed, assigned to nobody

[2021-01-29 16:26] #286 closed, assigned to nobody

[2021-01-29 16:27] #287 closed, assigned to nobody

[2021-02-01 08:41] ukmo-ansaulter commented on #298
These proposals have now been unleashed on the CF discussion group under issues [96](https://github.com/cf-convention/vocabularies/issues/122) and [97](https://github.com/cf-convention/vocabularies/issues/100)

[2021-02-01 15:21] benoitp-cmc opened #304 "Negative peak frequency"
On occasion one of our wave models has been giving negative or very large (100 s) values of peak period (and corresponding negative or very small peak frequency) at the odd grid point. It happens every few weeks.

I've traced it back to w3iogomd:

- FP0 ends up too small because EL is negative, that is when ```EBD(ICEN,JSEA) < EBD(ILOW,JSEA)```.
- The anomalous cases I've looked at had: IKP0=2 so

[2021-02-01 20:56] lherdman commented on #270
I have found the same problem... did anyone figure out how to solve it?

[2021-02-01 21:09] ZOUABBAS commented on #270
Add Lost points or add an other point 0.0 0.0 
    Le lundi 1 février 2021, 21:56:20 UTC+1, lherdman <notifications@github.com> a écrit :

I have found the same problem... did anyone figure out how to solve it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-02 13:33] JessicaMeixner-NOAA commented on #218
@aliabdolali  was this the b4b issue you were actually talking about? Didn't you solve this?  Or am I misremembering?

[2021-02-02 13:42] JessicaMeixner-NOAA commented on #217
What about for this issue, if I  create a check that you do not write a restart file at initialization time?

[2021-02-02 13:44] aliabdolali commented on #217
@JessicaMeixner-NOAA Yes, this is what we need to do.

[2021-02-02 13:49] JessicaMeixner-NOAA commented on #216
How about a possible work around for this would be that you only have YYYYMMDD.HHMMSS.restart.ww3 restart files for either stream?  This would require some logic changes in w3wave, but I think it would get around this issue.

[2021-02-02 14:29] aliabdolali commented on #216
@JessicaMeixner-NOAA I am in favor of unifying and removing these kinds of options. So, having one type (YYYYMMDD.HHMMSS.restart.ww3) is what I also like to have. We just need to coordinate with other trusted repos to make sure it does not affect their operational works or they will adapt to it.

[2021-02-02 14:35] JessicaMeixner-NOAA commented on #216
I didn't make this clear at the first, I was thinking this would be for the case if you would have the transition to the YYYMMDD.HHMMSS if you had both the streams.  This is a fairly new feature that hasn't fully been documented yet, so making this change shouldn't affect too many people.  I'm not sure if anyone outside of NCEP has adopted this yet, but we should definitely ask if others would be

[2021-02-02 15:04] thesser1 commented on #270
@ZOUABBAS are you saying you were able to move past his issue by just adding an additional save point at 0.0 0.0?

[2021-02-02 18:17] ZOUABBAS commented on #270
this what I did to solve the problem after two months of testing
    Le mardi 2 février 2021, 16:05:17 UTC+1, Ty Hesser <notifications@github.com> a écrit :

@ZOUABBAS are you saying you were able to move past his issue by just adding an additional save point at 0.0 0.0?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-03 01:00] benoitp-cmc commented on #304
To answer myself (informed disagreements are more than welcome).

The lowest frequency should be allowed as the peak frequency.

I am confident changing this loop only affects FP0 and THP0 (peak frequency and peak direction).

I get the impression there's not much point allowing IKP0 = NK. If there is no wave energy then having IKP0=0 and FP0=UNDEF is fine. The only risk of not allowing it is if `

[2021-02-03 01:00] benoitp-cmc commented on #300
I think the interoperability/backward compatibility would be handy feature to have. It might be wise to require the definition of a namelist parameter to allow it. For me having the model crash when it gets an "incompatible" restart is a feature, I'd rather keep it as default.

If NetCDF restart files increase read/write time, that is a concern for us. That said, I think requiring NetCDF is probab

[2021-02-03 02:59] benoitp-cmc commented on #304
Just changing the loop has an issue. When IKP0=1 we automatically have EL=0 and I believe the continuous peak period formula becomes an extrapolation (it does give me peak periods greater than my highest discrete peak period):
https://github.com/NOAA-EMC/WW3/blob/4dfafdbed48f42b3c7314693c55be758b5743c51/model/ftn/w3iogomd.ftn#L2010

To avoid an extrapolation we could disable the continuous formula

[2021-02-03 03:29] aliabdolali commented on #304
Hi @benoitp-cmc
I am curious to know what was the mean period for those extreme cases? Can we correlate it to the peak frequency or ~5 sqrt(Hm0)  in such a condition with unrealistic values?
I don't think it is a good idea to have the peak frequency extrapolated outside [min-max] frequency range, also not =min or max frequency. I am just thinking out loud :)

[2021-02-03 13:21] JessicaMeixner-NOAA commented on #300
That's a good idea to have it be an option to bypass the override.

[2021-02-04 00:05] lherdman commented on #270
Unfortunately adding a zero zero point did not help me. I found that the issue appears when I attempt to implement mpi with the one file point output turned on. If I run on one core I can have all the point output go to one file, but if I run on multiple cores I get a seg fault if I try to to output to one file. I will now see if I can write out to multiple files with mpi. (I think it should work

[2021-02-04 00:07] lherdman commented on #270
perhaps this is a different issue... because I am using ww3_multi not ww3_shel

[2021-02-04 02:23] thesser1 commented on #270
@lherdman are you saying the code is failing if you have a dedicated output core?  What value is the output server type?

[2021-02-04 02:57] benoitp-cmc commented on #304
Thanks @aliabdolali

I have output some point data. At:
https://hpfx.collab.science.gc.ca/~bpo001/WW3/issue_304/

Two points of interest
- IS1C (-24.000  65.750) for forecast hour 107: 20210131 230000
- IS2C (-20.500  65.750) for forecast hour 110: 20210201 020000

Here's the bulk parameters for IS1C at hour 107:

- HS=0.70 m
- 1/FP0=-26.5 s
- T02=3.6 s
- T0M1=10.7 s
- T01=5.4 s
- PHS(0)=0.30 m  P

[2021-02-04 14:18] lherdman commented on #270
This works:
$ -------------------------------------------------------------------- $
$ WAVEWATCH III multi-grid model driver input file                     $
$ -------------------------------------------------------------------- $
$
$ The first input line sets up the general multi-grid model definition
$ by defining the follwing six parameters :
$
$   1) Number of wave model grids.i

[2021-02-04 14:45] JessicaMeixner-NOAA opened #306 "Add Gaea for comp/link for UFS"
Add compiling info for Gaea for use in the UFS.

[2021-02-04 14:50] JessicaMeixner-NOAA opened #307 "Add threadprivate for saved variables"
In debugging a case where the UFS coupled model was not thread safe, it was determined that WW3 was the problem.  OMP standard says:
Local variables with the SAVE attribute declared in procedures called from a parallel region are implicitly SHARED. The specification will be clarified.
and adding in w3srce:
!/OMPG/!$omp threadprivate( TAUNUX, TAUNUY)
solved the issue reported in the UFS https://git

[2021-02-04 15:00] JessicaMeixner-NOAA opened #308 "Does TAUNUX, TAUNUY need to be saved for FLD1/FLD2"
In w3srcemd.ftn, TAUNUX and TAUNUY are saved as they are supposed to be first guesses of the interactive solve in FLD1 or FLD2; however, in both routines it looks like the first guess is actually:
[code]
If this is the case, should TAUNUX, TAUNUY be saved?  Is there ever a case where  in w3fld2 where you would not go into the do while loop that calculates TAUNUX/TAUNUY as above?  If these do not n

[2021-02-04 16:03] MicahDavid opened #309 "Looking for help with ww3_grib"
Hi,

I see in the docs that grib packaging isn't fully supported in the code, and user has to provide routines.  Can anyone guide me to accomplishing the task of providing the routines? I see the NCEP grib libraries here:
https://www.nco.ncep.noaa.gov/pmb/codes/GRIB2/

How can I link the appropriate libraries?
Thank you.

PS. Ultimately, my goal is transform the model output to mercator projection

[2021-02-04 16:18] JessicaMeixner-NOAA commented on #309
You will need the following variables from modules/libraries defined when building ww3_grib:
https://github.com/NOAA-EMC/WW3/blob/develop/model/bin/link.tmpl#L111
    libs="$libs ${G2_LIB4} ${W3NCO_LIB4} ${BACIO_LIB4} ${JASPER_LIB} ${PNG_LIB} ${Z_LIB}"

[2021-02-04 16:26] breichl commented on #308
In principle we should be able to get faster convergence of the iterator by saving TAUNUX and TAUNUY and using the previous step as the starting guess.  But since I never fully vetted this (and thus used a bulk value) your proposed changes seem ok.  I would leave a note in the code (it looks like there may already be some small note on L359) and perhaps if I (or anyone) ever have some time the con

[2021-02-04 16:31] JessicaMeixner-NOAA commented on #308
In terms of CPU costs, I know FLD1 is much slower than FLD2. @SMoorthi-emc brought up we could change some var**2 to var*var for efficiency improvements. FLD2 does add to the computational time, so speeding it up would not be a bad thing.  To test this would we just essentially comment out the TAUNUX guesses or put them behind a "if first" call?

[2021-02-04 16:44] MicahDavid commented on #309
Thank you Jessica. I understand the idea now, but just not sure how to appropriately set the G2_LIB4, W3NCO_LIB4, ... variables. For example, I downloaded the g2 library, and there is a bunch of files.  Is G2_LIB4 the path to the library files? And, similar for the rest of the required libraries?

[2021-02-04 17:01] MicahDavid commented on #309
I see that there are makefile's included in each library, so it looks like I need to do a `make` to compile the libraries, and then link to the compiled library file.

[2021-02-04 17:24] JessicaMeixner-NOAA commented on #309
Yes, you will need to have all of the libraries built and then link to them if you don't have access to another build.   If you do not have a requirement that your output has to be in grib (other than to use a wgrib2 function), an easier path might be to go for netcdf and see if a python or other tool can replicate the wgrib2 function for you.

I will give you a heads up there's an issue with the

[2021-02-04 20:35] MicahDavid commented on #309
Hi Jessica, I was able to compile all libraries, as well as ww3_grib, and run successfully. Thanks so much for your help. I downloaded all the libraries from the NCEP grib resource page: https://www.nco.ncep.noaa.gov/pmb/codes/GRIB2/, and everything looks to run properly.

The biggest difficulties for anyone else who may run across this thread, was just properly configuring the libraries with the

[2021-02-04 20:48] JessicaMeixner-NOAA commented on #309
@MicahDavid I'm so happy that you were able to successfully produce grib2 files.  It's not necessarily a straightforward process or easy, so I'm glad it went relatively smoothly for you!  Hopefully we'll be able to provide  more detailed information about this in the future.  I'm going to close this issue, but feel free to re-open this or another issue if you run into any other problems.

[2021-02-04 20:48] #309 closed, assigned to nobody

[2021-02-08 03:18] #296 closed, assigned to ukmo-ccbunney

[2021-02-08 13:05] ukmo-ansaulter commented on #298
Proposals now added to the [cfeditor](http://cfeditor.ceda.ac.uk/proposals/1)

[2021-02-08 13:06] ukmo-ansaulter commented on #280
Proposals now added to the [cfeditor](http://cfeditor.ceda.ac.uk/proposals/1)

[2021-02-08 22:49] JessicaMeixner-NOAA commented on #306
In adding other compilers for UFS, I simplified the name of the structures to be "hera.intel" "Gaea.intel" etc... @aliabdolali @awest-noaa will this be an issue for you?  See: https://github.com/JessicaMeixner-NOAA/WW3/tree/feature/portww3forufs for proposed changes.  This requires a minor cmake list update on the ufs-weather-model side as well.

[2021-02-09 03:23] benoitp-cmc commented on #304
The peak period calculation in ww3_outp and ww3_ounp is very similar to that in w3iogomd. There are two differences, in the point output:

- The loop on IK to find the peak frequency goes from NK-1 to 1
- There is a check on HSMIN (set as 0.05m)

The problem if we allow IKP0=1 with no other change is that the peak frequency function is not continuous there. With IKP0=1 the function no longer depen

[2021-02-09 14:38] JessicaMeixner-NOAA commented on #304
Wait... the peak period calculation in ww3_outp and ww3_ounp should be using the same calculations as each other... and as that in w3iogo... we should fix that.

[2021-02-09 14:58] benoitp-cmc commented on #304
ww3_outp and ww3_ounp are the same as far as I can tell. Different from w3iogomd and that is a problem. As it is, I think both need improvement.

The existence of the min and max function to get ILOW and IHGH tells me the original intention was to allow the IK loop to go from NK to 1 rather than NK-1 to 2:
https://github.com/NOAA-EMC/WW3/blob/4dfafdbed48f42b3c7314693c55be758b5743c51/model/ftn/w3io

[2021-02-10 03:06] benoitp-cmc commented on #304
I am satisfied with the test result.

@JessicaMeixner-NOAA @aliabdolali Can we safely assume the second highest frequency always has at least as much energy as the highest frequency?

If yes, we can have the IK loop from NK-1 to 1 rather than adding NK, and we won't need the conditional IF (IKP0 .EQ. NK).

[2021-02-10 09:15] RajeshKillampalli opened #310 "ERROR: Error occured during /home/administrator/OCEAN_MODELS/WW3/model/exe/ww3_outf execution"
while regression test case running shows error in the execution ww3_outf execution
![Screenshot from 2021-02-10 14-25-49](https://user-images.githubusercontent.com/59353636/107487592-57695580-6bac-11eb-9d7c-d4a2fa42f20f.png)
when I am checking all the /model/exe configuration files are all showing like above in the picture. I followed for model installation using the quick start  https://github.co

[2021-02-10 11:24] ukmo-ccbunney commented on #310
@RajeshKillampalli  - your screen shot above looks like you are trying to edit the binary file (ww3_outf).
Is this what you intended?

What is the actual error you get from running the regression test?

[2021-02-10 19:52] JessicaMeixner-NOAA commented on #306
The changes that were needed at the ufs-model level to the cmake list can be seen here: https://github.com/JessicaMeixner-NOAA/ufs-weather-model/commit/7a2d7d2b021d7ee72e6097d0db9ec3ea39ab04c7

@aliabdolali @awest-noaa I hope to make a PR with these changes by the end of this week.  Please let me know if this will not be acceptable for coastal applications

[2021-02-11 04:18] RajeshKillampalli commented on #310
while running regression test ww3_tp1.6 stoped running at this line
@Screen output routed to
/home/administrator/OCEAN_MODELS/WW3/regtests/ww3_tp1.6/work/ww3_outf.out
@ERROR: Error occured during
/home/administrator/OCEAN_MODELS/WW3/model/exe/ww3_outf execution

On Wed, Feb 10, 2021 at 4:54 PM Chris Bunney <notifications@github.com>
wrote:

--

*Kind regards*

Killampalli Rajesh

M.Tech Ocean scie

[2021-02-11 09:06] ukmo-ccbunney commented on #310
@RajeshKillampalli - have you checked the contents of the `/home/administrator/OCEAN_MODELS/WW3/regtests/ww3_tp1.6/work/ww3_outf.out` file? This will show you the output from the `ww3_outf` program and might give you a clue to the error.

Chris.

[2021-02-13 03:50] benoitp-cmc commented on #304
I think I have a good fix here: 14d72c3c13db81488b638d029b692107980deed6

I had missed it but outp/ounp allow peak frequency to be IK=NK through the initial value. The suggested fix makes my question in the previous comment moot (the answers appears to be we cannot assume).

The calculation is the same between gridded and point output except I would leave the use of HSMIN in ww3_outp/ww3_ounp. In

[2021-02-16 13:52] JessicaMeixner-NOAA commented on #304
@benoitp-cmc I agree that it makes more sense to not make assumptions.   So with the commit you made would that make all of the peak frequency calculations consistent?   I agree this will change answers of regression tests most likely.

[2021-02-16 14:18] benoitp-cmc commented on #304
@JessicaMeixner-NOAA the calculation is consistent between point and field output except for the check on HSMIN in point output.

The HSMIN check applies to many fields in point output, here I'd keep it on FP/TP to be consistent. I'm not clear on its usefulness (I've disabled it in the past to debug something or other), but I have created another issue (#311) to ask opinions on if we should keep o

[2021-02-16 14:27] benoitp-cmc opened #311 "Hardcoded HSMIN in point output"
In the point output post-processor ww3_outp and ww3_ounp the value HSMIN is hardcoded as 0.05 m. If significant wave height is equal or less than HSMIN, a number of parameters are not calculated and are simply set to 0. Parameters affected in outp are: peak period, peak direction, peak spread, mean period, mean direction, mean wave length, mean spread.

Opinions on whether this check should be dro

[2021-02-16 22:39] JessicaMeixner-NOAA opened #312 "Add run_test capability to run multiple ww3_prnc"
To clean up the matrix.base, add capability to have multiple ww3_prnc exe's to be called with a single run_test.

[2021-02-17 11:40] CarstenHansen opened #313 "COMSTR is defined in ftn/wminitmd.ftn but not in ww3_shel.ftn."
I would like COMSTR to be defined (with the usual value '$') in `ww3_shel.ftn`, so that I can place commenting lines in the `points.list` file that accompanies the namelists input file `ww3_shel.nml`.

Just after
https://github.com/NOAA-EMC/WW3/blob/c758e87e9b2025cc9af5ebb4745adedef6a00001/model/ftn/ww3_shel.ftn#L555
insert:

!
      COMSTR = '$'

[2021-02-17 22:42] JessicaMeixner-NOAA commented on #312
So looking at run_test, it does seem like there is actually logic for multiple ww3_prnc files to be run:
https://github.com/NOAA-EMC/WW3/blob/develop/regtests/bin/run_test#L1169-L1174
followed by:
https://github.com/NOAA-EMC/WW3/blob/develop/regtests/bin/run_test#L1253-L1254

it seems like the logic is there, but I know @ukmo-juan-castillo reported this wasn't working, so I'm curious what is the b

[2021-02-18 13:55] ukmo-juan-castillo opened #314 "Interpolation of input fields in ww3_prnc"
While testing a development branch (see #285) we discovered some problems when reading from input an air density field. We checked the input file and it is OK, but in the model output some zeroes appear in the middle of the domain, and strange interpolation is made along the land/sea boundary. Two main problems were found:

1. For points in the input field adjacent to land, interpolation still tak

[2021-02-18 18:38] JessicaMeixner-NOAA commented on #307
@thesser1 @aliabdolali I did not address PDLIB variables in PR #315 for hopes that someone with more experience with PDLIB would be better at determining which of the save variables should have similar thread private declarations.

[2021-02-18 19:03] benoitp-cmc opened #316 "gint ice mask"
In ww3_gint, forcings parameters (winds, ice, etc) are masked where ice concentration is greater than CICEN.

This is not the case for output directly out of ww3_shel, where we get wind and ice output even for points where ice concentration is greater than CICEN. I would like to see this behaviour in gint.

This is with IC0.

[2021-02-19 03:43] #310 closed, assigned to nobody

[2021-02-22 13:30] JessicaMeixner-NOAA opened #317 "WW3 not producing same answers with different number of pets in UFS-weather-model"
When changing the number of pets for the wave model in the UFS-weather-model the restart file and other files are not reproducing themselves.  Need to determine the cause and fix this.

[2021-02-23 00:36] JessicaMeixner-NOAA opened #318 "log.mww3 comparisons produce different answers with diff number of pets"
In matrix.comp if you are comparing two log.mww3 files that are using different number of MPI tasks, the lines following:
[code]
will be different.  These should not register with matrix.comp as a meaningful difference and I think should either be excluded from comparison or these lines should be filtered out.  This information is written out from https://github.com/NOAA-EMC/WW3/blob/develop/model

[2021-02-23 00:41] JessicaMeixner-NOAA opened #319 "ww3_tp2.18, ww3_prnc.out from regtest has differences"
When comparing two outputs from the test:
`./bin/run_test -b slurm -c hera -S -T -s TIDE_MPI     -w work_TIDE_MPI -o netcdf       -f -p mpirun -n 12 ../model ww3_tp2.18
`with matrix.comp, the file ww3_prnc.out is reported as different (sometimes between runs, sometimes when using different MPI tasks).  These do not appear to be meaningful differences, so I think matrix.comp and/or the output to pr

[2021-02-23 00:49] JessicaMeixner-NOAA opened #320 "ww3_tp2.14 produces different answers when running with different number of MPI tasks"
If you run the ww3_tp2.14 regression tests with two different sets of MPI tasks, the following work directories have differences:
ww3_tp2.14/./work_OASACM4
ww3_tp2.14/./work_OASICM
ww3_tp2.14/./work_OASACM6
ww3_tp2.14/./work_OASOCM
ww3_tp2.14/./work_OASACM2
ww3_tp2.14/./work_OASACM5
ww3_tp2.14/./work_OASACM
when comparing output with matrix.comp

[2021-02-23 00:52] JessicaMeixner-NOAA opened #321 "tp2.10 MPI_OMPH test not reproducing with different number of MPI/OMP threads"
When running:

`./bin/run_test -b slurm -c hera -S -T -s MPI_OMPH -w work_MPI_OMPH -f -p mpirun -n 2 -t 6 ../model -o both ww3_tp2.10
`
with either  different number of MPI tasks or OMP threads there are differences when comparing with matrix.comp.

[2021-02-23 01:01] JessicaMeixner-NOAA opened #322 "unstructured PDLIB regtests not reproducing with different number of MPI tasks"
When running the following regression tests with a different number of MPI tasks and then comparing with matrix.base, the regression tests do not reproduce:

[code]

[2021-02-23 01:11] JessicaMeixner-NOAA opened #323 "Some regression tests do not reproduce when using different number of MPI tasks"
In addition to the regression tests that we know will not reproduce, because of known issues such as order of computation in multi grid tests, the following regression tests do not reproduce with different number of MPI tasks used:

mww3_test_01:
./bin/run_test -s PR1_MPI -w work_PR1_MPI                 -f -p mpirun -n 36 ../model mww3_test_01
./bin/run_test -s PR2_UNO_MPI  -w work_PR2_UNO_MPI

[2021-02-23 09:10] ukmo-ccbunney commented on #319
Possibly a duplicate of issue #225 ?

[2021-02-23 11:20] ukmo-ccbunney commented on #313
I agree that this sounds like a sensible addition, @CarstenHansen
Would you like me to raise a PR for it in our repo?

[2021-02-23 13:33] JessicaMeixner-NOAA commented on #319
Closing issue since this is a duplicate of #225

[2021-02-23 13:33] #319 closed, assigned to nobody

[2021-02-23 13:34] JessicaMeixner-NOAA commented on #323
Issue #319 in the list above is a duplicate of #225

[2021-02-23 13:44] JessicaMeixner-NOAA opened #324 "Difference in tracker output when using different number of MPI tasks"
The following regtest work directories have differences if you run matrix.base with two different number of MPI tasks:

mww3_test_02/./work_PR3_UQ_MPI_c                     (3 files differ)
mww3_test_02/./work_PR3_UQ_MPI_a                     (3 files differ)
mww3_test_02/./work_PR3_UQ_MPI_c_c                     (3 files differ)
mww3_test_02/./work_PR2_UNO_MPI_c                     (3 files diffe

[2021-02-23 13:45] JessicaMeixner-NOAA commented on #323
Another set of regression tests with differences are in https://github.com/NOAA-EMC/WW3/issues/324

[2021-02-23 15:12] CarstenHansen commented on #313
Thank you @ukmo-ccbunney, that would be very fine. I have tested that the addition works as expected.

[2021-02-26 02:08] #313 closed, assigned to nobody

[2021-02-26 19:31] JessicaMeixner-NOAA opened #326 "Have explicit calendar options for Gregorian/Julian/others"
For WW3 we have options for the standard (mixed of Gregorian/Julian) or 360 day calendar and leap or no leap year. So we'd be matching the other components for the Gregorian since: "Dates prior to 1582-10-15 are assumed to use the Julian calendar, which was introduced by Julius Caesar in 46 BCE and is based on a year that is exactly 365.25 days long. Dates on and after 1582-10-15 are assumed to us

[2021-02-27 19:01] JessicaMeixner-NOAA commented on #290
So I just noticed that the test:
run_test  -s PR1_MPI -w work_PR1_MPI_e -m grdset_e -f -p mpirun -n 4 ../model mww3_test_03
hangs.  It does not hang with other number of tasks, but with 4 tasks it will hang.  The code in the PR https://github.com/ukmo-waves/WW3/pull/18 solves this problem.

[2021-03-01 14:39] #306 closed, assigned to JessicaMeixner-NOAA

[2021-03-01 21:13] aliabdolali commented on #227
Hi @SanderHulst
This is a great demonstration of the problem and solution. I am going to merge the development into your feature branch and run our full regtest cases. Do you need any change before I do it? Then I will share the list of non- identical cases for your review.
Regards
AA

[2021-03-01 21:16] aliabdolali commented on #242
Hi @SanderHulst What about this one? I will work on this one as well once you confirm.
AA

[2021-03-04 07:52] SanderHulst commented on #242
Confirmed. We run a patched v6.07.1 (which we call v6.07.3) operationally forced by ECMWF wind. Works fine.

[2021-03-04 08:08] SanderHulst commented on #227
No, no changes required. We reimplemented the grid unification in python but still use nearest for partition parameters.

[2021-03-10 13:32] #110 closed

[2021-03-11 08:59] ukmo-juan-castillo commented on #290
@ukmo-ccbunney found that this bug fix also affect the oasis regtests. After careful examination, I have found a more satisfactory solution that solves the problems in both the 'multi' and the 'oasis' regtests. This bugfix will affect these configurations, and in particular it will change the restart file of multi configurations.

The changes will be made in the staging branch and tested there.