[2022-04-20 18:24] JessicaMeixner-NOAA opened #669 "Add optional high frequency tail to USSX, USSY"
**Is your feature request related to a problem? Please describe.**
Instead of adding additional surface strokes drift output variables, add an option to add the high-frequency tail to the surface stokes drift.

**Describe the solution you'd like**
Add an option controlled from the &OUTS or other namelist variable to add the high frequency tail to the existing surface stokes drift calculation and r

[2022-04-20 18:29] JessicaMeixner-NOAA opened #670 "Add new depth input field"
**Is your feature request related to a problem? Please describe.**
CESM uses a value of "1/5 of the mixed layer depth" to calculate other parameters in the output.  To allow these output variables to be usable to all users of WW3, a new input of depth that can be defined optionally by the user needs to be added.

**Describe the solution you'd like**
A new input field that can be used in Langmuir r

[2022-04-20 18:31] JessicaMeixner-NOAA opened #671 "Move calculations to cap-code that should not be output"
Move variable calculations that are only relevant to CESM coupling to the cap code if they are not needed as output.

**Additional context**
This is relevant for merging https://github.com/NOAA-EMC/WW3/issues/670 to the develop branch.

[2022-04-20 18:34] JessicaMeixner-NOAA opened #672 "Expand use of variable output"
**Is your feature request related to a problem? Please describe.**
Remove #ifdef CESMCOUPLED from output variables

**Describe the solution you'd like**
Allow for new output calculations to be available for all users of WW3 and document the new variables in the manual.

**Describe alternatives you've considered**
Some variables that are only needed for coupling but not output will be moved to the

[2022-04-20 18:42] JessicaMeixner-NOAA opened #673 "Allow for netcdf instead of gridded output from WW3 executables"
**Is your feature request related to a problem? Please describe.**
Instead of writing binary gridded files, directly write netcdf variables.  This should take advantage of recent features that allow for user-defined meta-data in the ww3_ounf program.

**Describe the solution you'd like**
Connect the work in https://github.com/NOAA-EMC/WW3/pull/641 for w3iogoncdmd.F90 with the variable meta-data fe

[2022-04-20 18:51] JessicaMeixner-NOAA opened #674 "Allow for user-configured naming conventions of restart files"
**Is your feature request related to a problem? Please describe.**
CESM and other systems have requirements for specific naming conventions of restart files.

**Describe the solution you'd like**
Configure the name of restart files via optional namelist/input options.

**Additional context**
Need to know what CESM (@alperaltuntas) and other systems requirements are.

Related to https://github.com/

[2022-04-20 18:54] JessicaMeixner-NOAA opened #675 "remove hard-coded IC4 option"
**Describe the bug**
Remove the following hard-coded code:

[code]

**Expected behavior**
This variable should be set in ww3_grid.inp via:
`&SIC4 IC4METHOD = 8 /
`

**Additional context**
This is related to merging https://github.com/NOAA-EMC/WW3/pull/641/files into the develop branch

[2022-04-20 19:00] JessicaMeixner-NOAA opened #676 "Remove ifdefs around IC4METHOD = 8"
**Is your feature request related to a problem? Please describe.**
Remove the ifdefs around IC4METHOD = 8 so that this option can be used for non CESMCOUPLED cases.

**Additional context**
This is part of merging https://github.com/NOAA-EMC/WW3/pull/641 to the develop branch, but should be submitted to the develop branch as it's own self-contained PR.

[2022-04-20 21:37] JessicaMeixner-NOAA opened #677 "Set value of charn in w3uice"
**Describe the bug**
For restart reproducibility, @DeniseWorthen found that charn needed to be set in w3uice

**To Reproduce**
Run coupled ufs-weather-model without this fix

**Expected behavior**
This will change answers, but it's likely that this is needed for more than just the coupled model.  Therefore tests will be done to see the impact of this change.

**Screenshots**
If applicable, add scr

[2022-04-20 21:41] JessicaMeixner-NOAA opened #678 "Create ww3_shel.inp file and remove set_shel_inp"
**Describe the bug**
@MatthewMasarik-NOAA  will provide a ww3_shel.inp file that CESM can use and remove the need for the set_shel_inp routine.  This will allow users of the CESM coupled system to have additional flexibility without recompiling the code.

**Additional context**
This is part of merging https://github.com/NOAA-EMC/WW3/pull/641 to the develop branch

[2022-04-20 21:43] JessicaMeixner-NOAA opened #679 "Separate the reading of ww3_shel.inp"
**Is your feature request related to a problem? Please describe.**
Create a separate routine to read ww3_shel.inp so that both ww3_shel program and the mesh based cap can use the same routine for reading the ww3_shel.inp file (and ww3_shel.nml).

**Describe the solution you'd like**
New subroutine to read ww3_shel.inp to reduce repeated code, which will help with code maintenance.

**Describe alte

[2022-04-21 00:04] alperaltuntas commented on #674
Thanks @JessicaMeixner-NOAA for posting this! CESM naming convention of restart file names is as follows:

`$CASE.$scomp.r.$date[$ending] `

where,
`$CASE` is the experiment name,
`$scomp` is the component name, e.g., `cam`, `mom`, `ww3`, etc.
`$date` is the model date string which is based on a yyyy-mm-dd-sssss convention
`$ending` is the file extension, which is ideally .nc

----

An example ww3

[2022-04-21 11:15] JessicaMeixner-NOAA commented on #674
@alperaltuntas thank you so much for your response!

This issue will not change the format of the file for now, it seems likely we can figure out something that will add the additional flexibility for the naming of the files via input options.

[2022-04-21 16:19] JessicaMeixner-NOAA commented on #677
A branch for this can be found here: https://github.com/jessicameixner-noaa/ww3/tree/bug/charnforrestart
I'm currently making sure the results are all as expected before submitting a PR.

[2022-04-21 16:28] JessicaMeixner-NOAA commented on #666
@Rafikow does the file /home/rafik/Desktop/WW3/model/bin/comp.comp exist?

[2022-04-21 18:29] JessicaMeixner-NOAA commented on #644
The scal_local branch was merged reverting these changes.  Therefore I'm closing this issue.   @aronroland please create a new issue about updating the defaults if the defaults are still planned to be changed.

[2022-04-21 18:29] #644 closed, assigned to nobody

[2022-04-22 01:46] mvertens commented on #678
@JessicaMeixner-NOAA - is this needed for PR #641 - or can we put an #ifdef W3_CESMCOUPLED in for now. @alperaltuntas - I think that once a new ww3_shel.inp file is created it would be easy to read it in if its ascii. But we need to have the mechanism to recreate it on our end flexibly for the different use cases. How hard do you think that is going to be?

[2022-04-22 01:46] Rafikow commented on #666
@JessicaMeixner-NOAA i don't know i found this problem and didn't know how to fix it

[2022-04-22 11:41] JessicaMeixner-NOAA commented on #678
@mvertens this is not needed for PR #641 which is going into the dev/ufs-weather-model branch.  This will need to be addressed before the contents of PR #641 can be merged into the develop branch though.

[2022-04-22 11:49] JessicaMeixner-NOAA commented on #666
@Rafikow try in your terminal:
ls /home/rafik/Desktop/WW3/model/bin/comp.comp

Which compiler are you trying to use?  My guess is that your issue is that you need to modify:
./model/bin/w3_setup model -c comp -s switch
to be:

./model/bin/w3_setup model -c intel
or
./model/bin/w3_setup model -c gnu

depending on if you want intel or gnu.

Then you need to decide which switch file you would like to

[2022-04-22 11:56] JessicaMeixner-NOAA opened #681 "Write restart files in netcdf"
**Is your feature request related to a problem? Please describe.**
Update /model/src/w3iorsmd.F90 to read/write NetCDF instead of binary files. This will allow easier inspection of the restart file contents which will assist in debugging.

**Describe the solution you'd like**
NetCDF restart files

**Describe alternatives you've considered**
Have restart files be optionally binary or netcdf.  This

[2022-04-22 12:07] JessicaMeixner-NOAA opened #682 "Update subroutine W3IOPO to read/write NetCDF files (point output binary -> netcdf)"
**Is your feature request related to a problem? Please describe.**
Update the subroutine w3iopo in model/src/w3iopomd.F90 to read/write netcdf instead of binary files.

**Describe the solution you'd like**
Have point output be netcdf instead of binary from the model forecast.

**Describe alternatives you've considered**
Have point output files be optionally binary or netcdf. This is not impossible

[2022-04-22 12:11] JessicaMeixner-NOAA opened #683 "Have netcdf instead of binary mod_def files"
**Is your feature request related to a problem? Please describe.**
Instead of having binary mod_def files, create NetCDF output files.  This is also an opportunity to rethink what should and should not be kept in the mod_def files.  For example, if we keep grid (lat, Lon, mask, obstruction) grid information in the NetCDF file, can we move things like time steps and namelist inputs somewhere else?

[2022-04-22 13:29] aliabdolali opened #684 "Extend the mesh cap capabilities to unstructured meshes"
**Is your feature request related to a problem? Please describe.**
The unstructured meshes in WW3 are handled in two different ways: 1) the conventional carddeck, similar to the regular and curvilinear grids 2) the geographical domain decomposition using PDLIB switch.

**Describe the solution you'd like**
The unstr mesh type could be an option for ww3_shel or ww3_multi, and the solver can be an op

[2022-04-22 15:30] mvertens commented on #678
@JessicaMeixner-NOAA - thanks for the clarification.

[2022-04-22 16:15] Rafikow commented on #666
@JessicaMeixner-NOAA  Your Email please !

[2022-04-22 16:42] JessicaMeixner-NOAA commented on #666
@Rafikow communication through GitHub is preferred.

[2022-04-22 16:45] Rafikow commented on #666
@JessicaMeixner-NOAA  what is the next step please !

[2022-04-22 16:46] Rafikow commented on #666
intel

[2022-04-22 16:47] JessicaMeixner-NOAA commented on #666
Try this command instead:
`./model/bin/w3_setup model -c intel`

[2022-04-22 16:49] Rafikow commented on #666
![Screenshot from 2022-04-22 17-48-33](https://user-images.githubusercontent.com/104049486/164759025-402e043d-dc26-4029-b73f-2c2f29836cc8.png)
i had this

[2022-04-22 16:50] JessicaMeixner-NOAA commented on #666
Great, glad to see things are working.  I'm closing this issue. Please see the wiki page for more information: https://github.com/NOAA-EMC/WW3/wiki

[2022-04-22 16:50] #666 closed

[2022-04-22 16:52] Rafikow commented on #666
thank you

[2022-04-22 16:56] #656 closed, assigned to kgerheiser

[2022-04-22 17:29] Rafikow opened #685 "Ad3 error"
ad3 : processing constants
/home/rafik/Desktop/WW3/model/bin/ad3: line 215: ifort: command not found
      *** w3adc error ***
          file constants.F90 not found (2).
![Screenshot from 2022-04-22 18-25-51](https://user-images.githubusercontent.com/104049486/164764701-3a052373-cbcd-4cd2-a0fb-e3bbee669a1d.png)

[2022-04-22 18:28] JessicaMeixner-NOAA opened #686 "Rename "master" branch to "main""
The branch permissions and functions should remain the same and will need to be updated.
The wiki pages should be updated accordingly.

[2022-04-24 03:07] aliabdolali commented on #686
The branch names is renamed to main and the wiki is updated.

[2022-04-24 03:07] #686 closed, assigned to nobody

[2022-04-25 02:45] aliabdolali opened #687 "regtests/bin/run_cmake_test skips unfinished jobs"
**Describe the bug**
Sometimes, the regtests/bin/run_cmake_test fails during build step, and in the subsequent job, it skips the build, therefore it will fail again. At the end, some tests are not finished completely. The matrix.comp cannot detect them.

**To Reproduce**
It doesn't happen all the time, but it is observed on NOAA RDHPC for a couple of cases (randomly).
The solution would be the fol

[2022-04-25 15:33] MatthewMasarik-NOAA commented on #678
@JessicaMeixner-NOAA , it doesn't look like I have permissions to add myself as an assignee to this issue.  Would you be able to add me?

[2022-04-25 21:22] aliabdolali opened #690 "add tripolar test to the existing regtest"
**Is your feature request related to a problem? Please describe.**
A global tripolar test should be added to check the model functionality on this type of curvilinear grid.
The restart, mpi and thread reproducibility should be checked.

**Describe the solution you'd like**
The 1-degree tripolar grid, similar to one of the ufs-weather-model cases should be added, to make sure WW3 development does n

[2022-04-25 21:28] JessicaMeixner-NOAA commented on #690
Should this be with the existing tripolar test ww3_tp2.13? https://github.com/NOAA-EMC/WW3/blob/develop/regtests/ww3_tp2.13/info or will this be with ww3_ufs1.1?

[2022-04-26 12:20] #651 closed, assigned to ukmo-juan-castillo

[2022-04-26 14:28] JessicaMeixner-NOAA commented on #675
This issue has been taken care of in the original PR#641, closing issue.

[2022-04-26 14:28] #675 closed, assigned to nobody

[2022-04-28 16:31] NS-Nik opened #694 "Issue when compiling WW3"
Hi!

I was following the Manual step by step and faced a problem on the compilation stage (Section 5.7)

 When I am running the w3_automake or w3_make commands I get the same mistake:

![Screenshot from 2022-04-28 19-23-29](https://user-images.githubusercontent.com/104583032/165800347-a446d5b5-c8a6-46ff-b543-92697e40bde3.png)
![Screenshot from 2022-04-28 19-23-42](https://user-images.githubusercon

[2022-04-28 16:35] #694 closed, assigned to nobody

[2022-05-03 13:58] JessicaMeixner-NOAA commented on #674
@alperaltuntas I know for now you are not using multiple WW3 grids for now, but if you did how would you account for that in your naming convention?  Right now it's essentially in the extension .ww3 or .{grid_name} is how we handle the different multiple grids, but if/when we move to netcdf file does that become .ww3.nc or .{grid_name}.nc ?  Would that be an issue for you if it's .ww3.nc as the "e

[2022-05-03 15:44] alperaltuntas commented on #674
@JessicaMeixner-NOAA we actually use multiple WW3 grids depending on which ocean model we couple with (POP2 or MOM6) and depending on whether CICE coupling is on. In the restart filenames, we include the case name, which includes the grid alias. Below is an example restart file name:

`g.e23.GMOM_JRA.TL319_t061_wt061.control.001.ww3.r.0060-01-01-00000`

In the above file name, `TL319_t061_wt061` i

[2022-05-03 16:05] mickaelaccensi opened #696 "update all the nml files in regtests"
**Is your feature request related to a problem? Please describe.**
convert the inp files into nml files within regtest directory to only add the header of each namelist in the nml file instead of providing all the default values of the variables, which was too hard to maintain and update.

[2022-05-03 16:05] JessicaMeixner-NOAA commented on #674
@alperaltuntas do you use multiple girds in one simulation?

[2022-05-03 16:17] alperaltuntas commented on #674
Oh, right, we don't use multiple grids in one simulation.

[2022-05-03 16:27] aliabdolali opened #697 "Retire GNU build starting on June 1st, 2022"
**Is your feature request related to a problem? Please describe.**
With CMake build system, the existing GNU build of WW3 can be retired, which makes code maintenance and development easier. It is announced at the WW3 developer meeting on April 19th. The trusted institutions agreed with the plan as well.

**Describe the solution you'd like**
The gnu build should be removed from the repo including

[2022-05-04 12:28] JessicaMeixner-NOAA opened #700 "mod_def files do not reproduce in unstructured cases"
**Describe the bug**
When running the develop branch twice (as of May 3, 2022), the mod_def files for the following tests:
[code]
do not reproduce.

**To Reproduce**
Run the matrix_cmake_ncep from the develop branch twice and use matrix.comp to compare.

**Expected behavior**
The mod_def files should be the same in two consecutive runs.

[2022-05-04 13:00] JessicaMeixner-NOAA commented on #700
FYI @aliabdolali @thesser1 @maryanderson64

In the past, similar issues were caused by an uninitialized variable.

[2022-05-04 16:21] DeniseWorthen commented on #674
I have a feature branch (https://github.com/DeniseWorthen/WW3/tree/feature/useropts) which attempts to implement this feature. I've tested this is ufs and it seems to be working there but it will need more complete testing to uncover any issues on the CESM side.

What I've done is added two logical flags (user_restname, user_histname) to indicate that user-specific names are requested. The string

[2022-05-09 16:52] Rafikow commented on #685
@JessicaMeixner-NOAA  Please i need Help

[2022-05-11 15:55] #49 closed

[2022-05-11 15:55] #687 closed, assigned to aliabdolali

[2022-05-11 16:19] aliabdolali opened #703 "under-relaxation for Triads and breaking"
**Is your feature request related to a problem? Please describe.**
Based on the non-linear nature of both source terms (DB and TR) an Under-Relaxation in time to reduce oscillative behavior of triads and depth breaking is needed.

**Describe the solution you'd like**
 In general and for both source terms, no obvious linearization is available. For the triads we do a Piccard iteration and under-rel

[2022-05-11 16:21] #703 closed, assigned to nobody

[2022-05-11 23:34] aliabdolali opened #704 "Limiter implementation to reduce time step dependency for the implicit scheme"
**Is your feature request related to a problem? Please describe.**
A new limiter function is needed to reduce time step dependency for the implicit scheme on unstr cases

**Describe the solution you'd like**
The limiter of Komen et al. and Hersbach and Jannnsen can reduce time step dependency for the implicit scheme. In the absence of wind and small time steps, the max operator between both limite

[2022-05-16 15:37] kgerheiser opened #707 "Regtest run multiple times with the same input"
**Describe the bug**

This regtest is run multiple times with the same input. Should the `grdset` be different? Or can the extras be deleted?

https://github.com/NOAA-EMC/WW3/blob/b19156fe1581e6a5851f567411a4238d5115de97/regtests/bin/matrix.base#L325-L332
**To Reproduce**

[2022-05-16 15:41] JessicaMeixner-NOAA commented on #707
I wonder if the grdset should be b c and d for the others as this is an earlier line in the matrix:
[code]

[2022-05-19 04:53] pvelissariou1 opened #710 "GFortran compilation fails due to logical variable comparison in model/ftn/wmesmfmd.ftn"
**Describe the bug**
The compilation of the file model/ftn/wmesmfmd.ftn fails when WW3 is compiled using the GFortran compiler.
The issue is with the **non-standard** logical variable comparisons:
   **if ( LPDLIB == .FALSE. ) then**
instead of:
**if ( LPDLIB .EQV. .FALSE. ) then**
where gfortran issues an error

**To Reproduce**
Compile WW3 using GFortran (tested with gcc >= 8.3)

**Expected beha

[2022-05-19 19:31] benoitp-cmc opened #711 "Crash in WMIOES due to tag number"
**Describe the bug**

Crash encountered in the `WMIOES` routine of `wminiomd` for same rank grids when using a recent Intel compiler:
[code]

The MPI standard only guarantees 32K for tags. Apparently, we use more in this context.

**To Reproduce**

Steps to reproduce the behavior:
* Compile ww3_multi and ww3_grid with a recent Intel compiler (e.g. Intel OneAPI 2022.1.2)
* Get and unpack: http://hp

[2022-05-19 19:37] phil-blain commented on #711
Note that this is using the Intel compiler as well as Intel MPI from the oneAPI toolkit mentioned above.

[2022-05-19 20:52] JessicaMeixner-NOAA commented on #700
This is still an issue as of
commit 84c79ceb7815f99a6ce3a1bfeef594fbc109813b
Date:   Wed May 18 11:12:32 2022 -0400

Has there been any progress into replicating, identifying which commit introduced the issue or fixing this issue @aliabdolali ?

[2022-05-20 03:44] #668 closed, assigned to nobody

[2022-05-20 15:04] aliabdolali opened #715 "WW3 Developer Call (Tuesday 28 June 2022 10:00am ET)"
### WW3 Developer Call

**Tuesday 28 June 2022 10:00am ET**

During this meeting, we will have two presentations, first by Lewis Sampson from UKMET focusing on WW3 configuration to run on GPU and then John Warner (USGS) will present ROMS–WW3 coupling.

We will also present a summary of recent developments. The meeting will end with an open forum where all developers can express their ideas and sug

[2022-05-20 17:00] kgerheiser commented on #707
@JessicaMeixner-NOAA @aliabdolali there's a few more instances of this in `matrix.base`

https://github.com/NOAA-EMC/WW3/blob/b19156fe1581e6a5851f567411a4238d5115de97/regtests/bin/matrix.base#L822-L829

https://github.com/NOAA-EMC/WW3/blob/b19156fe1581e6a5851f567411a4238d5115de97/regtests/bin/matrix.base#L604-L611

https://github.com/NOAA-EMC/WW3/blob/b19156fe1581e6a5851f567411a4238d5115de97/regte

[2022-05-20 17:03] JessicaMeixner-NOAA commented on #707
Thank you - I'm reopening this issue so we can take care of all of these cases.

[2022-05-20 17:54] JessicaMeixner-NOAA commented on #707
I have a branch here: https://github.com/JessicaMeixner-NOAA/WW3/tree/bug/regtests if anyone wants to help look it over.  I found a few more spots where we had duplicative answers.

[2022-05-23 12:19] JessicaMeixner-NOAA opened #718 "Update NCEP regression tests to use newer intel"
**Is your feature request related to a problem? Please describe.**
The ufs-weather-model updated the modules and version of intel used.  In addition it has previously been recommended by RDHPCS to move to the newer versions of intel.

**Describe the solution you'd like**
Update the version of intel used in the NCEP matrix regression tests to use the same same version of intel as ufs-weather-model

[2022-05-23 14:21] ccoulet commented on #365
Hi
I reopen this issue as for me there is still a bug for GMSH unstructured grid.
I've got different meshes which works well with the official release (6.07) and which are now always returning the same message about dramatic inconsistency...
I'm currently investigating.
For me the problem is on Get_boundary were some of the Prev/Next nodes are sometimes not on the boundary itself. This relies prob

[2022-05-23 14:27] aliabdolali commented on #365
@ccoulet I'd suggest visualizing your mesh and checking the element the model is giving you an inconsistency error. If it is clockwise, turn them counter-clockwise. It was a bug in 6.07 and is now fixed, so the current development is correct.
Sometimes, there are overlapping elements, which most of the mesh generator tools do not check, but WW3 checks for them.

[2022-05-23 14:34] ccoulet commented on #365
@aliabdolali
Already done and the mesh are correct.

[2022-05-23 14:37] aliabdolali commented on #365
@aronroland do you have any suggestion for @ccoulet?

[2022-05-23 16:30] aronroland commented on #365
It means that your mesh is broken. E.g. connection table is not consistent can i have the grid for my curiosity?

[2022-05-23 16:39] ccoulet commented on #365
[mesh_pb.zip](https://github.com/NOAA-EMC/WW3/files/8756484/mesh_pb.zip)
Here it is

[2022-05-23 16:48] aliabdolali commented on #718
I made a branch and I am testing new versions on Hera and then on Orion, I will make the PR if everything went well.

[2022-05-23 17:04] aliabdolali commented on #718
There is a dependency for tests with ww3_grib to png/1.6.35 library, which only hpc-intel/18.0.5.274 has it.
[code]

[2022-05-23 17:06] JessicaMeixner-NOAA commented on #718
Please see: https://github.com/ufs-community/ufs-weather-model/pull/1221/files#diff-604fbc7b745d7249a571c8484dbe95132d8b915a7e726c72365ed799ef2895b8 with the relevant changes in the screen shot here:

![Screen Shot 2022-05-23 at 1 06 11 PM](https://user-images.githubusercontent.com/22549231/169871727-efa13599-8c33-47ee-a2c2-71d5c069ad4e.png)

[2022-05-23 17:17] aliabdolali commented on #718
@JessicaMeixner-NOAA thanks, i was looking for it but couldn't find it.

[2022-05-25 10:24] ccoulet commented on #365
@aliabdolali the problem is in your code!
In Spatial grid, there is a call to FIX_PERIODCITY without any protection if the model is cartesian and not global...
Then in some case, some conditions of FIX_PERIODCITY are verified and change of X-Y values are done which leads to false distance, and then to false area and as a consequence to consider the orientation wrong even there are CCW.
2 days of w

[2022-05-25 11:55] aliabdolali commented on #365
@ccoulet thanks for finding this issue. I'll open an issue to fix it in the code. WW3 is a community model and we always welcome our developer/users to report issues and we are open to suggestions for code enhancements.

[2022-05-25 12:08] ccoulet commented on #365
I agree about the community model but this kind of bug shouldn't exist with regression tests...
You should also verify the code coverage of the tests cases...

[2022-05-25 12:49] aliabdolali opened #719 "Fix periodicity for Cartesian unstr meshes"
**Describe the bug**
The FIX_PERIODCITY is activated and changes the order of nodes for cartesian and not global unstructured meshes.

**To Reproduce**
Use a unstr cartesian grid with \deltax>180  and the ww3_grid reports "dramatic inconsistency in the grid"

**Expected behavior**
Protections for Cartesian meshes should be added for FIX_PERIODCITY.

[2022-05-25 15:53] ccoulet commented on #719
In my opinion, in FIX_PERIODCITY, the part after PT affectation should only be activated if a global mesh is selected...
A tentative correction i've tested successfully:
add at the beginning of the subroutine
USE W3GDATMD, ONLY: ICLOSE, ICLOSE_NONE
and after the line PT(3,2) ...
IF ( ICLOSE /= ICLOSE_NONE ) THEN
with
ENDIF
just before the RETURN line

[2022-05-25 15:58] ukmo-ccbunney opened #720 "GMAKE build failing after #680"
**Describe the bug**
The `gmake` build is broken after PR #680 - the ENDIANNESS placeholder string is not being replaced by the pre-processor in `constants.ftn`.

**To Reproduce**
Try to build any exec with using the gmake method (i.e. via ./w3_make)

**Expected behavior**
Compilation will fail on `constants.F90` due to ENDIANNESS placeholder string not being replaced.

[2022-05-25 19:21] #707 closed, assigned to nobody

[2022-05-26 14:58] #710 closed, assigned to nobody

[2022-05-26 20:02] aliabdolali commented on #711
- The regtests with intel 2022 and impi 2022 with multi grids fail with tag=1500000+. Digging more, it seems the problem is
https://github.com/NOAA-EMC/WW3/blob/develop/model/src/wminiomd.F90/#L2712
the IT0=MTAG2+1 and therefore ITAG > 1500000+
The MTAG2 initial value=1500000 is defined in
https://github.com/NOAA-EMC/WW3/blob/develop/model/src/wmmdatmd.F90/#L343
We can lower MTAG2 initial value=15

[2022-05-26 20:17] JessicaMeixner-NOAA commented on #696
@mickaelaccensi can we close this issue now that PR #698 is merged?

[2022-05-31 13:18] #696 closed, assigned to mickaelaccensi

[2022-05-31 14:17] mickaelaccensi opened #722 "cmake fails with intel mpi library"
**Describe the bug**
cmake fails with an error message when compiling with intel mpi library

**To Reproduce**
[code]

produce the following error message :
[code]
**Expected behavior**
to avoid this error, the workaround is to disable the environment variable I_MPI_DEVICE by doing either :
[code]

[2022-05-31 14:17] mickaelaccensi commented on #722
I close the issue, as discussed with @JessicaMeixner-NOAA it would be nice to add it to the FAQ

[2022-05-31 14:18] JessicaMeixner-NOAA commented on #722
Let's not close it until it gets put on the FAQ page.

[2022-05-31 15:41] #720 closed, assigned to ukmo-ccbunney

[2022-06-07 14:06] JessicaMeixner-NOAA commented on #722
@mickaelaccensi  It's been added to FAQ here:
https://github.com/NOAA-EMC/WW3/wiki/FAQs-page#how-to-avoid-common-cmake-error-with-intel-impi-20181163

Let me know if you think we should add any edits to this.

[2022-06-07 14:06] #722 closed, assigned to mickaelaccensi

[2022-06-08 22:57] Rafikow opened #727 "W3TIMEMD( input pre-processing )"
hello i found this problem !! how can i solve it ..
thank you
./ww3_prnc | tee ww3_prnc.out

                 *** WAVEWATCH III  Input pre-processing ***
               ===============================================

  Grid name : Lake Victoria (large)

  Description of inputs
 --------------------------------------------------
       Input type        : winds
       Format type       : long.-lat

[2022-06-08 22:58] Rafikow commented on #727
@JessicaMeixner-NOAA please help !

[2022-06-08 23:00] aliabdolali commented on #727
@Rafikow It seems the time format/reference are not compatible with ww3 in ayoub.nc.
So you can use nco or cdo tools to change them.

[2022-06-08 23:04] Rafikow commented on #727
@aliabdolali i'm using cdo what command line do i use to convert it to a compatible time for WW3 ???

[2022-06-08 23:17] aliabdolali commented on #727
please check cdo manual
`setreftime,date,time[,units]  file.nc fileout.nc`  and many others do conversions for time variables and format. You just need to correct it.

[2022-06-08 23:19] Rafikow commented on #727
@aliabdolali thank u sir i'll try this and tell you what i will get

[2022-06-09 06:26] mickaelaccensi commented on #727
once it's solved, it should be added to the FAQ

if it's just the attributes which are missing or misspelling, it can be done with nco :

[code]

[2022-06-14 15:07] ukmo-ccbunney commented on #711
I had this issue many years ago on out Cray with **version 3.14** of the model.

The MPI specification states that the MPI_TAG variable must have an upper bound of at least 32767 (essentially 15 bits, or a signed short). I believe this is because it forms part of a "mesasge envelope" in conjunction with the source, destination and communicator values.

Many MPI implementations allow for a much lar

[2022-06-20 01:02] Rafikow opened #729 "LEV FILE"
*** WAVEWATCH III Program shell ***
               ===============================================

  Comment character is '$'

  Input fields :
 --------------------------------------------------
       water levels   YES/--
       currents       YES/--
       winds          YES/--
       ice fields     ---/NO
       mean param.    ---/NO
       1D spectra     ---/NO
       2D spectra     ---/NO

[2022-06-20 01:03] Rafikow commented on #729
@aliabdolali Hello Sir please help

[2022-06-21 12:56] aliabdolali commented on #729
@Rafikow do you have `level.ww3` processed and in your work directory?
It seems the model could not read LEVEL, so you need to make sure you have done the prep step properly.

[2022-06-21 12:57] aliabdolali commented on #727
@Rafikow can we close this issue?

[2022-06-23 18:48] ffayalac opened #732 "Problem about the output along track (track_i.ww3)"
### Discussed in https://github.com/NOAA-EMC/WW3/discussions/731

<div type='discussions-op-text'>

<sup>Originally posted by **FrankAyalaC** June 23, 2022</sup>
Hi everyone,

We are currently modelling a test case in the Caribbean, and we are trying
to get the spectra along a hurricane track. According to what we
understand, firstly, the track points and their corresponding dates must be
specifie

[2022-06-27 13:09] aliabdolali opened #733 "License.md and Contributing.md update"
**Is your feature request related to a problem? Please describe.**
License.md and Contributing.md are updated to comply GNU Lesser General Public License 3.0

**Describe the solution you'd like**
Update License.md  and add Contributing.md

[2022-06-27 18:55] #733 closed, assigned to nobody

[2022-06-28 13:04] aliabdolali commented on #711
Going back to a similar problem in Sep 2016 for Cray ([DIFF](https://github.com/NOAA-EMC/WW3/commit/42263f7d2dfd7ac34db05db0c4ace972c560bf14#diff-93d404961273ec10cc685e4d67944d264dcb2c707d05803a98663afa1524988f)):
[model/src/wmmdatmd.F90#L340-L344](https://github.com/NOAA-EMC/WW3/blob/develop/model/src/wmmdatmd.F90#L340-L344)

The MTAG were changed from
[code]
to

[code]

Lowering MTAG2=500k solve

[2022-06-29 01:24] GM-Ling commented on #649
Hi Emilio @EmilioEchevarria ,

Did you solve your issue?
I also encountered a similar error when running ADCIRC coupling with WW3 (ADCIRC passes water level and currents to WW3). The model runs fine for stand alone ww3, but when couple with currents, it ran 2 days then blew up with `forrtl: severe (174): SIGSEGV, segmentation fault occurred`.
I found the index for stress table(INT(XJ)) became a ve

[2022-06-29 15:37] aliabdolali commented on #649
@aronroland could you take a look at this?

[2022-06-29 15:45] #715 closed, assigned to nobody

[2022-06-29 15:49] aronroland commented on #649
ya, when the model blows up it always shows that, when using ST4, in the table computation. Debugging of this is not really fun. It would need the full setup and so on ... normally the left hand side of the equation should neuer blow up. So we remain at the source term but as i said it needs the full setup and we should add better debugging option for this kind of cases.

[2022-06-29 16:33] hga007 commented on #715
Thank you. Unfortunately, we didn't have any time to discuss any of the presentations. If there are such time constraints, perhaps I suggest concentrating on a single topic. On the other hand, if the presentation and discussions do not take an hour, it is perfectly fine to finish earlier. After all, it is a developer's meeting, and the feedback is essential.

[2022-07-01 15:22] JessicaMeixner-NOAA commented on #669
@aliabdolali can help make sure there are no clashes with wave model, and can help @qingli411 make a regression test for this and run regression tests.

[2022-07-01 15:49] JessicaMeixner-NOAA commented on #676
@JessicaMeixner-NOAA will check if this is still an issue and provide more info.  There might be a update for this in a branch from @DeniseWorthen

[2022-07-01 16:15] DeniseWorthen commented on #676
My working branch is [feature/wave_ice_only](https://github.com/DeniseWorthen/WW3/tree/feature/wave_ice_only).

[2022-07-01 16:18] MatthewMasarik-NOAA commented on #676
Thank you @DeniseWorthen

[2022-07-01 16:29] MatthewMasarik-NOAA commented on #579
@DeniseWorthen I'm currently looking at memory use for running WW3 standalone, vs. coupled with the current wmesmfmd cap.  This has me curious how the vmsize behaves with your new mesh cap.  Have you by any chance looked at the memory profile for WW3 w/ the new cap?  I believe you said there are no RT's that support the new cap currently.. if there is a canned case I could run I'd be happy to do t

[2022-07-01 16:36] DeniseWorthen commented on #579
@MatthewMasarik-NOAA No, I have not done any profiling with the mesh cap. There are no standalone RTs using the mesh cap. It is only being used in the coupled model and there are RTs there (eg cpld_control_p8).

Setting the mesh cap to run a standalone RT will be needed I assume to merge into develop, so perhaps that should also be added as an issue under the project now that I think of it.

[2022-07-01 16:42] MatthewMasarik-NOAA commented on #579
@DeniseWorthen Oh, my mistake.. I misunderstood.  I thought you meant it did not run under any coupled model RT's yet.  That's great.  I'll profile it with the coupled RT's.  Thanks! 👍

[2022-07-01 17:29] JessicaMeixner-NOAA commented on #676
This is taken care of @DeniseWorthen branch see: https://github.com/DeniseWorthen/WW3/blob/feature/wave_ice_only/model/src/w3sic4md.F90#L523 where it's commented out.  Thanks @DeniseWorthen !

[2022-07-06 13:31] MatthewMasarik-NOAA commented on #678
[ww3_shel_mesh.inp.txt](https://github.com/NOAA-EMC/WW3/files/9055146/ww3_shel_mesh.inp.txt)

[2022-07-06 13:45] MatthewMasarik-NOAA commented on #678
Corrected (blank lines removed).
[ww3_shel_mesh.inp.txt](https://github.com/NOAA-EMC/WW3/files/9055254/ww3_shel_mesh.inp.txt)

[2022-07-07 13:45] ukmo-ccbunney opened #737 "Unitialised variable in oasis coupler causing differences in ww3_tp2.14 regtest"
**Describe the bug**
The `clinfo` character variable in `mod_oasis_namcouple.F90` is unintialised when its value is printed out to a log file
This is causing differences in the `nout.000000`  file in regression test runs of the ww3_tp2.14 test.

Pertinent lines:
https://github.com/NOAA-EMC/WW3/blob/0bf17910a71365770d520a52ded0c5f8ea22a9ef/regtests/ww3_tp2.14/input/oasis3-mct/lib/psmile/src/mod_oas

[2022-07-07 13:47] ukmo-ccbunney commented on #737
@mickaelaccensi I am not sure what the "information node is activated" message means here, but can I simply initialise `clinfo='no'`?

[2022-07-07 13:55] mickaelaccensi commented on #737
yes you can just set it to no

[2022-07-08 17:01] cmbitz opened #738 "Improve numerical solution for waves in sea ice"
The numerical solution for wave attenuation in sea ice employs time splitting, which is only order dtg accurate. It is a noticeable error when dtg > 500 s or so. I've included a pdf to illustrate the error.

I recommend two solutions. (1) first don't use time splitting for the sea ice attenuation and instead include the sea ice "source" with the other sources and (2) employ subcycling on the globa

[2022-07-08 17:21] JessicaMeixner-NOAA commented on #738
@cmbitz if you have code, it would be great if you could make a PR with the update.  I can run any of the regression tests if needed.

[2022-07-14 17:56] JessicaMeixner-NOAA commented on #674
@DeniseWorthen I'll be testing your branch and extending it so that a user can set this option via the inp/nml files.  I probably wont get to this tomorrow, so it'll likely be when I get back from leave on the 25th.

[2022-07-15 19:53] #737 closed, assigned to ukmo-ccbunney

[2022-07-24 11:04] aronroland opened #742 "Syntax Error "error #6592: This symbol must be a defined parameter, an enumerator, or an argument of an inquiry function that evaluates to a compile-time constant. [ENDIANNESS] character(*), parameter :: FILE_ENDIAN = ENDIANNESS"
**Describe the bug**
A clear and concise description of what the bug is.

Fortran Syntax Error

**To Reproduce**
Steps to reproduce the behavior.

Does not compile with the error in the header. Code must follow the Fotran syntax

**Expected behavior**
A clear and concise description of what you expected to happen.

Able to compile without error

**Screenshots**
If applicable, add screenshots to he

[2022-07-25 18:45] JessicaMeixner-NOAA commented on #742
@aronroland we compile WW3 in other coupled systems and this is fine.   You should be able to use the WW3 cmake build to make a library and then use that in your fully coupled executable and not have the issue with endianness.

[2022-07-26 09:01] ukmo-ccbunney commented on #742
If suppose if we really wanted to make endian selection not dependent on CMake, we could do so with a normal CPP directive. This would then work with any build system. E.g.
[code]

Although with the Gmake build about to be retied, the only build system for WW3 will be Cmake...

[2022-07-27 07:12] aronroland commented on #742
Hi All,
let me 1st thank u for the fast answers. Generally, the correctness of the code should not depend on any kind of build system. However, this is something we can also discuss during a developer meeting in a larger context. I am still strict against it. Moreover, as we are hard coupling ww3 to SCHISM or SHYFEM we are not interested in the build system of WW3. We are using the Build system of

[2022-07-27 08:14] ukmo-ccbunney commented on #742
@aronroland - is the solution above using CPP directives acceptable to you? If so, I could look at getting it implemented and tested. AFAIK the CPP directives are the responsibility of the compiler, rather than the "build system", so I think that would make it "build system agnostic"...

EDIT: Although looking a bit closer at the CPP marcros, it might not be as clean a solution as I described abov

[2022-07-27 12:17] aronroland commented on #742
Hi @ukmo-ccbunney,

as I said above, I appreciate your fix and would be very thankful if u do so. I had absolutely the same in mind. This is a good way to proceed.

Cheres

Aron

[2022-07-27 13:08] ukmo-ccbunney commented on #742
@aronroland Great. I will have a look at adding something.

[2022-07-27 13:23] ukmo-ccbunney commented on #742
Actually, I think there is a simpler solution by adding this to the top of `constants.F90`:

[code]

That will keep the CMake functionality the same (it is just setting a -D flag on the compiler anyhow) but sets a default of "native" endian in the case where it is not set by the build system.

This can still be set via -D flags in the normal way in any other build system, e.g.
`-DENDIANNESS='"big_

[2022-07-28 09:21] aronroland commented on #742
I think this solution is much better! Great!

[2022-07-31 21:41] EmilioEchevarria commented on #649
Hi @GM-Ling , No I haven't really fixed the issue yet...
Thanks @aronroland for the insight, any idea why this would be the case only when there's surface current forcing in the model?

[2022-08-02 13:43] JessicaMeixner-NOAA opened #749 "Mesh cap should distinguish between "C" and "T" for input fields."
**Is your feature request related to a problem? Please describe.**
When requesting an input field with the NUOPC mesh cap, there should be a distinction between "C" for coupled (ie imported via NUOPC) and "T" an input field read from file.

**Describe the solution you'd like**
Have a distinction between C and T in the mesh cap.

**Describe alternatives you've considered**
Use of a data model.  How

[2022-08-02 13:51] JessicaMeixner-NOAA opened #751 "fix automatic tests after w3emc pr"
**Describe the bug**
After PR https://github.com/NOAA-EMC/WW3/pull/745 the automatic tests need to be updated with the module updates as the automatic tests failed.

**Expected behavior**
Automatic tests should pass.

[2022-08-03 14:02] #742 closed, assigned to nobody

[2022-08-03 19:33] aliabdolali commented on #751
Although w3nco is changed to w3emc in [spack.yaml](https://github.com/NOAA-EMC/WW3/blob/develop/model/ci/spack.yaml), cmake still searches for w3nco in github action:

[code]

[2022-08-03 19:44] JessicaMeixner-NOAA commented on #751
@kgerheiser are we missing something here to fix the github actions?

[2022-08-04 20:26] kgerheiser commented on #751
Yes, it's a very simple fix. The build was cached and unless the key was manually changed it wouldn't rebuild the dependencies. I have made a PR to use the hash of the `spack.yaml` in the cache key so if it's changed a build will trigger.

[2022-08-04 20:38] aliabdolali commented on #751
Thanks @kgerheiser for doing this fix. Does it mean every time we have a change in the modules/libraries, we need to trigger it manually or everything is automated with your PR?

[2022-08-04 20:41] kgerheiser commented on #751
It's automated now (base on `spack.yaml` changes), but should you need to refresh the cache manually you just have to change the `cache_key` variable. As you can see the key is onto `gnu5` now (I usually just append a number).

[2022-08-04 20:42] aliabdolali commented on #751
@kgerheiser I see, thanks for the clarification and we will keep it as a reference for the future.

[2022-08-08 01:50] lj-cug opened #754 "Running mww3_case03 and 4 cased in regtests are failed?"
After conduct ./w3_make, I try to run the regtests and the three cases downloaded from FTP. Most of the cases are run successfully, but 4 cases in regtests and the third case from FTP runnings are failed. I give the screen output, could you please give me some suggestion about where is the problem.
![mww3_case03_error](https://user-images.githubusercontent.com/53997605/183322954-01e36cd9-5b75-49d0

[2022-08-08 02:00] aliabdolali commented on #754
@lj-cug You can run regtests using regtests/bin/run_cmake_test which does the prep, main job and post jobs in order.
Alternatively, you can compile the code with the switch in the input directory, but need to be careful how to execute and rename binary files.
For example, in order to execute ww3_ounf, you need out_grd.ww3 and corresponding mod_def.ww3 in your work directory.

[2022-08-08 02:01] #754 closed, assigned to nobody

[2022-08-08 02:43] #751 closed, assigned to nobody

[2022-08-15 13:08] aliabdolali opened #760 "Argument mismatch errors when compiling with gfortran >= 10"
**Describe the bug**
There is an argument type mismatch in a couple of routines which leads to error and compilation failure if the gfortan > 10 is used.

**To Reproduce**
Use Gfortran > v10 to compile the code

**Expected behavior**
The code should be compiled by recent version of Gfortran without error/warning.

**Additional context**
PR #713 was made to fix with the following workaround but did

[2022-08-16 17:45] JessicaMeixner-NOAA opened #762 "w3meminfo does not compile with S switch"
**Describe the bug**
Reported offline by @mvertens.  w3meminfo will not compile when using S switch.

[2022-08-22 17:11] aliabdolali opened #766 "WW3 Developer Call Tuesday 06 September 2022 10:00am ET"
### WW3 Developer Call

_Tuesday 06 September 2022 10:00am ET_

During this meeting, we will have two presentations, by Denise Worthen (IMSG/EMC/NCEP) and Mariana Vertenstein (NCAR)  focusing on run-time configurable WW3 and modern code standards and Matthew Masarik (IMSG/EMC/NCEP) on Doxygen documentation for WW3.

We will also present a summary of recent developments. The meeting will end with a

[2022-08-23 18:45] JMSnyder1980 opened #770 "Segmentation Fault when running ww3 6.07 ww3_shel"
When I run tthe ww3 6.07 program using red hat 8.5.0, gfortran 8.5.0 and mpif90 8.5.0, I get the following error;

At line 926 of file ww3_shel.F90 (unit = 11, file = 'fort.11')
Fortran runtime error: End of file

Error termination. Backtrace:
#0 0x7fc8d9149171 in ???
https://github.com/NOAA-EMC/WW3/issues/1 0x7fc8d9149d19 in ???
https://github.com/NOAA-EMC/WW3/issues/2 0x7fc8d914a521 in ???
https

[2022-08-24 17:30] JMSnyder1980 opened #771 "error in ww3_shel"
I have been getting tthis same issue as well.  Does anyone know how to resolve this issue.  Please advise on how to handle this issue or what is being done to fix this bug.  I need information as soon as possible on how to resolve this please.

### Discussed in https://github.com/NOAA-EMC/WW3/discussions/570

<div type='discussions-op-text'>

<sup>Originally posted by **ppokhrel1** January  6, 202

[2022-08-30 19:11] MatthewMasarik-NOAA opened #775 "WW3 scalability to meet operational runtime requirements"
**Is your feature request related to a problem? Please describe.**
* Current configurations of WW3 being considered for implementation in GFSv17/GEFSv13 are in need of fixes that reduce overall runtime.

**Describe the solution you'd like**
* Solutions are being sought that increase code performance by addressing bottlenecks and slow regions.
* Changes to the MPI decomposition are not being reques

[2022-08-31 19:19] MatthewMasarik-NOAA commented on #547
This issue was intended for the header templates, which has been merged, so this will be closed now.  The follow-on issue with a running list of marked-up source files is ongoing, and located here:  https://github.com/NOAA-EMC/WW3/issues/586.

[2022-08-31 19:19] #547 closed, assigned to MatthewMasarik-NOAA

[2022-09-01 01:46] Agoni00 opened #776 "A question about the calculation of Stokes velocity drift on the surface"
In the program w3iogomd.ftn, we can see the calculation of the Stokes drift speed, but I found that the calculated speed is too small, then I uncommented these two lines and the speed is not too small, so It seems that uncommenting the calculated speed is more accurate, I want to know why the source program to the two line commented out? See the following figure for the source code details.

![ima

[2022-09-01 08:34] CarstenHansen commented on #776
@qingli411 is working in issue #669 on making the Stokes tail extension an optional feature, and I suggest that you share your experience in a discussion on that project. I don't consider this out-commenting a bug, and they cannot be chosen by default, since the adequate formulae depends on the tail power and on the directional distribution in the tail attached at the frequency band NK. I am think

[2022-09-01 10:20] CarstenHansen commented on #771
Hmm, I think you should check if the three lines that are repeated for output fields, are actually present in your ww3_shel.inp file.  https://github.com/ppokhrel1 actually made this correction to discussion #570, but didn't tell if was a possible solution or not. If this is not the error, a possible step to resolve is to identify which line in the ww3_shel.ftn contains the failing READ (line 923

[2022-09-01 17:27] edwardhartnett commented on #25
This is an old issue, but still relevant since I can't seem to find your built doxygen documentation. Is it available online anywhere?

If not, read on...

The  https://noaa-emc.github.io/ are not being maintained and should not be used. This is not really the way GitHub intends the io feature to be used. We are not maintaining or updating any of the NCEPLIBS documentation there.

Instead, each pr

[2022-09-01 18:52] MatthewMasarik-NOAA commented on #25
@edwardhartnett , you bring up a good question.  I've been working on getting all the source code marked-up and merged back to the code base in small subsets.  There is a current issue for this work at https://github.com/NOAA-EMC/WW3/issues/586, which also has a checklist for which files are completed.  We're just under 1/3 of the way at this point.  We have not started building and hosting the do

[2022-09-01 19:34] edwardhartnett commented on #25
OK, let me know when you are ready...

[2022-09-01 19:35] edwardhartnett commented on #25
OK, let me know when you are ready...

[2022-09-01 19:37] MatthewMasarik-NOAA commented on #25
Will do. Thank you @edwardhartnett .

[2022-09-02 12:52] aliabdolali opened #777 "ww3_gint efficiency improvement for large grids/meshes"
**Is your feature request related to a problem? Please describe.**

The ww3_gint takes a lot of time to generate the weight file for large curvilinear/rectilinear grids/unstructured meshes.
For example, the generation of weight file for ww3_ufs1.2 regtest takes 1-2 hrs and +8 hrs for unstructured meshes > 1M nodes.
As of now, and in operation, the pre-computed weight file is stored as a fix file.

[2022-09-02 12:55] aliabdolali commented on #777
The following steps should be taken to achieve the milestone.
1. Extend the mesh cap to support unstructured meshes, Domain Decomposition and PLDIB library.
2. An unstructured mesh with identical nodes’ coordinates of 1 deg:
Corresponding to an existing atmwav test with the active FV3, but using cmeps and the current p8 physics
global rectilinear grid is generated (land included) to be tested with

[2022-09-02 13:31] aliabdolali commented on #684
The following steps should be taken to achieve the milestone.

1. Extend the mesh cap to support unstructured meshes, Domain Decomposition and PLDIB library.
2. An unstructured mesh with identical nodes’ coordinates of 1 deg:
Corresponding to an existing atmwav test with the active FV3, but using cmeps and the current p8 physics
global rectilinear grid is generated (land included) to be tested wit

[2022-09-06 15:23] aliabdolali commented on #766
slides from Sep 6th Developer call:
[ Towards run-time configurable WW3](https://github.com/NOAA-EMC/WW3/files/9498375/Code.Standards.and.ifdef.Removal.in.WW3.pdf)
[ Doxygen Documentation for WW3](https://github.com/NOAA-EMC/WW3/files/9498376/Doxygen.for.WW3.Update.pdf)

[2022-09-06 15:23] #766 closed, assigned to nobody

[2022-09-08 09:56] MathieuDutSik opened #779 "cmake is not integrated to the test framework"
**Describe the bug**
It has apparently been decided that from now on the cmake is the framework for compilation. The problem is that this has not been integrated with the testing framework.

**To Reproduce**
Run "./bin/run_test                        -s PDLIB ../model ww3_tp2.6"
and see
[ERROR] comp file /Users/mathieu/GITall/GIT/WW3/model/bin/comp not found
        Please run /Users/mathieu/GITal

[2022-09-08 10:00] mickaelaccensi commented on #779
Hi Mathieu,
you should use now run_cmake_test
I should be detailed soon in the manual...
Mickael

[2022-09-08 12:34] JessicaMeixner-NOAA commented on #779
@MathieuDutSik yes, we will soon be updating the manual and wiki pages.  At that time run_cmake_test will be moved to run_test (See PR here: https://github.com/NOAA-EMC/WW3/pull/726)
Let me know if you have any issues running the run_cmake_test by reopening this issue or creating another issue.

[2022-09-08 12:34] #779 closed, assigned to nobody

[2022-09-12 17:26] MathieuDutSik commented on #760
This is a classic (by now) problem. The solution is to put **-fallow-argument-mismatch** to the compiler.

[2022-09-12 17:29] MathieuDutSik commented on #770
Do you get that seg fault for any test case?
It would be nice to have that for one of the regtests for easier debugging.

[2022-09-14 13:19] #199 closed, assigned to nobody

[2022-09-14 13:20] JessicaMeixner-NOAA commented on #207
Can this issue now be closed @ukmo-juan-castillo @ukmo-ccbunney ?

[2022-09-14 13:21] JessicaMeixner-NOAA commented on #566
@Kungergely It looks like your issue has been solved. Please re-open this or a new issue if it has not been solved.

[2022-09-14 13:21] #566 closed, assigned to nobody

[2022-09-14 17:05] JessicaMeixner-NOAA commented on #776
I'm going to second @CarstenHansen comment and ask to move further discussion on this topic to https://github.com/NOAA-EMC/WW3/issues/669.

[2022-09-14 17:05] #776 closed, assigned to nobody

[2022-09-14 17:11] JessicaMeixner-NOAA commented on #771
I'm going to assume that @CarstenHansen comments here helped you get passed this error.  If not, please feel free to post more in the discussion https://github.com/NOAA-EMC/WW3/discussions/570

[2022-09-14 17:11] #771 closed, assigned to nobody

[2022-09-14 18:46] aliabdolali opened #782 "redundant NOPA MOPART in switch"
**Describe the bug**
There are two switches in a couple of regtests that are not in the code, so can be removed.
NOPA,  MOPART
https://github.com/NOAA-EMC/WW3/blob/develop/regtests/ww3_ts4/input_rg_multi/switch_MPI
https://github.com/NOAA-EMC/WW3/blob/develop/regtests/ww3_tnc1/input/switch

**Expected behavior**
The can be removed from these tests.

[2022-09-15 10:57] ukmo-ccbunney commented on #782
`MOPART` is an old `Met Office Partitioning` switch that was replaced with a runtime selection some time ago, so I am happy to see it removed! Thanks Ali.

[2022-09-15 17:39] JessicaMeixner-NOAA commented on #700
Any updates on this @aliabdolali @thesser1 ?

[2022-09-15 18:01] #135 closed, assigned to nobody

[2022-09-15 18:02] #200 closed, assigned to nobody

[2022-09-15 18:03] JessicaMeixner-NOAA commented on #151
@ukmo-ansaulter or @ukmo-ccbunney  is this work still planned?  Should we keep this issue open or go ahead and close it?

[2022-09-16 10:00] ukmo-juan-castillo commented on #207
I still want to add some optimizations in the coupling code, but I did not have time yet to do so. I guess we can close this issue and I can open new issues for each of the changes I was planning, if you prefer this approach.

[2022-09-16 12:12] JessicaMeixner-NOAA commented on #207
@ukmo-juan-castillo I'm going to close this issue then and look forward to your new issues when you're ready to return to this work!

[2022-09-16 12:12] #207 closed, assigned to ukmo-ansaulter, ukmo-juan-castillo

[2022-09-16 14:35] ChrisLisbon opened #786 "Segmentation fault in test case"
When I try to run mww3_case_01 from cases folder after compiling the model and starting calculations script fails with
`forrtl: severe (174): SIGSEGV, segmentation fault occurred`

The last fail output from shell is on image
![image](https://user-images.githubusercontent.com/44952202/190663215-4fb4485d-282a-4bfc-a070-df11252530a7.png)

I suggest that problem is in writing output because of calcula

[2022-09-16 14:55] JessicaMeixner-NOAA commented on #786
The first step is to turn on traceback in your compilation so that we can see line numbers in the error messages.

[2022-09-16 16:26] JessicaMeixner-NOAA commented on #782
@aliabdolali will you be putting a PR in to fix this issue?

[2022-09-16 16:38] aliabdolali commented on #782
Unfortunately, I do not have time for it, but we identified it and wanted to make an issue. None of these switches are used in model/src/*F90 so it most probably won't affect regtests.

[2022-09-16 16:39] JessicaMeixner-NOAA commented on #782
Understood.  Thanks for reporting the issue!  Should be easy to get this fixed, just didn't want to duplicate efforts.

[2022-09-16 16:43] JessicaMeixner-NOAA commented on #12
@aronroland @thesser1 is this work that's still ongoing or should we go ahead and close this issue?

[2022-09-16 16:44] #178 closed, assigned to nobody

[2022-09-16 16:46] JessicaMeixner-NOAA commented on #198
@aliabdolali did @awest-noaa updates for the wmesmf cap get reintegrated into the code with the rest of scalability?  We should make sure to not lose these updates even if current efforts are being put elsewhere.

[2022-09-16 16:48] JessicaMeixner-NOAA commented on #719
@aliabdolali have you tested if @ccoulet solution works?

[2022-09-16 16:54] JessicaMeixner-NOAA commented on #149
@ukmo-ccbunney  - I'm looking at this again, particularly in light of perhaps doing away with switches for things like OMP, thoughts on this issue?  Is this something we should be picking back up?  I don't know why nthreads would be hard-coded to 2, but I do know we don't get "great" improvements from 2 threads versus 4 or more, but it really can depend on machine and set-up.  Also with a recent u

[2022-09-16 17:25] JessicaMeixner-NOAA commented on #159
The specifics of this isssue have been lost over time.  It's unclear if these have already been addressed or there are still open issues.  We're closing the issue for now but it can be reopened or new issues can be created.

[2022-09-16 17:25] #159 closed, assigned to nobody

[2022-09-16 17:27] JessicaMeixner-NOAA commented on #180
This issue has been partially resolved.  Some updates towards speeding the interpolation were implemented in the code, but the issue remained open to explore additional ways to speed this part of the code up.  At this time there is no planned effort to revist this speed-up so the issue is going to be closed.  If someone would like to take on these speed-up efforts, please re-open or create a new i

[2022-09-16 17:27] #180 closed, assigned to nobody

[2022-09-16 17:28] MatthewMasarik-NOAA commented on #149
With regards to the performance between 2 or more threads, I saw some differences for runs on WCOSS2 vs. hera.  I'm in the process of following up with @GeorgeVandenberghe-NOAA to clarify if that can be explained by how resources are allocated in the job card.  I'll report back with the findings on that.

[2022-09-16 17:29] JessicaMeixner-NOAA commented on #217
@aliabdolali, my plan is to close this issue as unplanned work.  Any objection?

[2022-09-16 18:14] JessicaMeixner-NOAA commented on #697
At this point, the GNU build is no longer supported, however it has not been fully removed from the code (see PR #726) as the wiki page and manual still need to be updated.  These updates are a work in progress.

[2022-09-16 18:16] JessicaMeixner-NOAA commented on #307
@thesser1 @aliabdolali  -- I'm going to close this issue as it's my understanding PDLIB/unstructured does not have threading capabilities yet.  Please reopen this issue or a new issue should this be closed in error.

[2022-09-16 18:16] #307 closed, assigned to JessicaMeixner-NOAA

[2022-09-16 18:42] JessicaMeixner-NOAA commented on #760
This is already done in the CMAKE build, see: https://github.com/NOAA-EMC/WW3/blob/develop/model/src/CMakeLists.txt#L74-L76
I am closing this issue.  If anyone still experiences issues with gfortran>=10 and cmake, please reopen the issue.

[2022-09-16 18:42] #760 closed, assigned to nobody

[2022-09-16 19:08] #38 closed

[2022-09-19 13:38] JessicaMeixner-NOAA commented on #218
@aliabdolali Any comment on this?

[2022-09-19 13:45] aliabdolali commented on #218
I do not recall our conversation. There are restart regtests (i.e. ww3_ufs1.1) so we can check it. What I remember is that it was ok.

[2022-09-19 13:48] JessicaMeixner-NOAA commented on #218
@aliabdolali thanks for the response.  We'll check regression tests before closing or starting work again on this issue.

[2022-09-19 14:09] aliabdolali opened #788 "Domain decomposition library (SCOTCH)"
**Is your feature request related to a problem? Please describe.**
The [SCOTCH](https://gitlab.inria.fr/scotch/scotch) (Chevalier and Pellegrini. 2008) as an alternative for ParMETIS to do domain decompostion for unstr meshes should be implemented in the WW3.

**Describe the solution you'd like**
The SCOTCH library should replicate the ParMetis functionality.
.

[2022-09-19 17:03] #678 closed, assigned to JessicaMeixner-NOAA, MatthewMasarik-NOAA

[2022-09-19 17:04] JessicaMeixner-NOAA commented on #676
Completed in PR #780

[2022-09-19 17:04] #676 closed, assigned to nobody

[2022-09-20 00:42] edwardhartnett commented on #681
Well @kgerheiser has moved on. ;-)

So let's get a little more detail.

Including netcdf-c and netcdf-fortran in the build is not a problem. As noted above, they are extremely portable and well-behaved, and are used in most of our applications. As part of hpc-stack and spack-stack, these libraries are installed on all NOAA machines and are readily avaiable.

Can you point me to the code file(s) th

[2022-09-20 00:58] junwang-noaa commented on #681
@JessicaMeixner-NOAA I can't assign the task, can you assign it to @edwardhartnett? Thanks

[2022-09-20 01:42] JessicaMeixner-NOAA commented on #681
@junwang-noaa - I have assigned the task.

@edwardhartnett I will get back to you in the morning with the details you requested.

[2022-09-20 11:02] edwardhartnett commented on #681
OK, I am in the middle of some serious programming of the GRIB libraries.

Is there a schedule for this task? A date it needs to be completed by?

[2022-09-20 14:02] JessicaMeixner-NOAA commented on #681
@edwardhartnett we'd like this for the next GEFS/GFS otherwise there are no firm timelines I'm aware of.  @junwang-noaa might have more details for you.

The routine that reads/writes the restart file in binary is in WW3/model/src/w3iorsmd.F90

Here's an overview of what is going on: https://github.com/NOAA-EMC/WW3/blob/develop/model/src/w3iorsmd.F90#L241-L276

And here's where the code start's la

[2022-09-20 17:22] benoitp-cmc opened #794 "Include forcings in outf and ounf output where ice > CICEN"
**Is your feature request related to a problem? Please describe.**
Currently, `outf` and `ounf` mask forcings parameters (e.g. wind and ice concentration) where ice concentration is greater than CICEN. Our users would prefer to see this data to provide context.

**Describe the solution you'd like**
Don't mask forcings parameters in `ousf` and `ounf`. Remove check on MAPSTA.

**Describe alternative

[2022-09-20 17:25] benoitp-cmc commented on #316
I'll do a new pull request for this after #794 is resolved.

Rather than change the definition of `ACTIVE` as in #743, the check on `ACTIVE` should be removed for all parameters in the first family.

[2022-09-20 20:27] MatthewMasarik-NOAA commented on #775
### Progress update
**Initial profiling**
[code]

- The initial profiling above shows the subroutines `init_get_jsea_isproc` and `w3wave` account for the most significant portion of runtime. This can be traced to single bottleneck in `w3nmin`.  `w3wave` calls `w3nmin` which contains a nested loop, the body of which calls `init_get_jsea_isproc`.  The recently merged PR (#784) is likely the main fix

[2022-09-21 18:55] JessicaMeixner-NOAA opened #796 "Updates to that prohibit automatic white space changes"
**Is your feature request related to a problem? Please describe.**
To use an automatic update to improve the line-spacing of WW3, several sections of code need updating for the script to work.

**Describe the solution you'd like**
Code where the automatic line-space changes will succeed.

[2022-09-21 19:02] JessicaMeixner-NOAA opened #797 "Update white spaces via automatic scripts"
**Is your feature request related to a problem? Please describe.**
A PR will be coming that will delete trailing white space and fix the indentation so that "ifs" line up with "end-ifs". 2 spaces will be used to delineate this change.  This is following the https://github.com/NOAA-EMC/WW3/wiki/WW3-Code-Style-Standards

This is a disruptive change, and a two week period (starting today Oct 21, 2022

[2022-09-21 19:14] JessicaMeixner-NOAA opened #798 "if-def: Derive types"
**Is your feature request related to a problem? Please describe.**
As a first step towards going from `#ifdefs`  to run-time logicals, there will be a clean-up of if-defs in derived types.

This will be part of a series of disruptive PRs that will not start until Oct 5, 2022.  Please submit PRs if you'd like to reintegrate work before the disruptive changes.

**Describe the solution you'd like**
A

[2022-09-21 19:20] JessicaMeixner-NOAA opened #799 "if-defs: Debug switches"
**Is your feature request related to a problem? Please describe.**
As a second step towards going from `#ifdefs`  to run-time logicals, there will be a conversion of debug, trace and trouble-shooting switches to logicals.  These switches include:
DEBUGSETUGIOBP, DEBUGSRC, DEBUGINIT, DEBUGIO, DEBUGRUN, DEBUGCOH, DEBUGIOBP, DEBUGDCXDX, DEBUGIOBC, W3_DEBUGIOGR, DEBUGSETIOBP, DEBUGFLS, DEBUG, MPIT, MP

[2022-09-21 19:22] JessicaMeixner-NOAA opened #800 "if-defs: Clean-up of un-necessary if-defs"
**Is your feature request related to a problem? Please describe.**
When converting from `!/SWITCH` to `#ifdef W_SWITCH`, there are now a lot of extra if-defs that are not necessary.  There will be an effort to remove extra if-defs to improve the readability of the code.

**Describe the solution you'd like**
A PR to develop branch with fewer if-defs.

**Additional context**
See the discussion on [i

[2022-09-22 14:30] JessicaMeixner-NOAA opened #803 "remove FP1 and THP1"
**Is your feature request related to a problem? Please describe.**
@benoitp-cmc recommends removing FP1 and THP1 from the code as these variables are not used.  FP1 is calculated locally in w3src2md, but this will not change that.  This will also hopefully resolve issues that were encountered with PR #741.

**Describe the solution you'd like**
Removal of FP1 and THP1

**Describe alternatives you'v

[2022-09-22 14:39] JessicaMeixner-NOAA commented on #803
@benoitp-cmc I do see that FP1 is used in the calculation of:
https://github.com/NOAA-EMC/WW3/blob/develop/model/src/w3iogomd.F90#L2315-L2318
[code]
And ETX,ETY is used in the calculation of THM, which is an output/used variable.  There's probably a way to remove this dependency, but this might be an issue.

[2022-09-22 14:49] benoitp-cmc commented on #803
That won't be an issue. Looking closer, ETX and ETY is calculated 3 times, once for THM, once for THP0 and once for THP1.

[2022-09-22 19:27] benoitp-cmc commented on #803
Is it me or there is a lot of INIT_GET_ISEA that are useless in that routine?

[2022-09-22 19:30] JessicaMeixner-NOAA commented on #803
There might be, but every time you have a new loop you have to call that routine again.  Any specific call you are thinking about?

[2022-09-22 20:28] benoitp-cmc commented on #803
Is there any need for it if the loop does not explicitly use ISEA. For example this call seems useless to me:
https://github.com/NOAA-EMC/WW3/blob/cae97a93451cb53c9cc9349d5b68e80cdfde84a8/model/src/w3iogomd.F90#L2276

[2022-09-22 20:35] JessicaMeixner-NOAA commented on #803
That does indeed does seem useless... also I now have seen places where we should be calling INIT_GET_ISEA and we are not, such as:
https://github.com/NOAA-EMC/WW3/blob/cae97a93451cb53c9cc9349d5b68e80cdfde84a8/model/src/w3iogomd.F90#L1779-L1784
https://github.com/NOAA-EMC/WW3/blob/cae97a93451cb53c9cc9349d5b68e80cdfde84a8/model/src/w3iogomd.F90#L1754

[2022-09-23 16:10] benoitp-cmc commented on #322
Could it be related to not using `INIT_GET_ISEA` here:
https://github.com/NOAA-EMC/WW3/blob/c6408fafde123ce37728824d1baa0d8471306e49/model/src/w3iorsmd.F90#L795

[2022-09-26 12:43] JessicaMeixner-NOAA commented on #777
One idea for improving ww3_gint speed could be to add OMP.  I think adding MPI would be a much bigger task, but there are lots of loops, so OMP might be an easy way to speed things up.

Alternative solutions outside of ww3_gint itself could be ESMF regridding.

[2022-09-26 13:35] aliabdolali commented on #777
OMP looks like a good way to speed it up, and my preference is less dependency on external libraries like ESMF.

[2022-09-26 15:34] MatthewMasarik-NOAA commented on #775
**Follow up - w3snl1md: w3snl1()**

Reviewing runtimes for OMP edits to `w3nsl1( )`, and those without show that the OMP code added to this routine does not improve the performance.  This was the final subroutine identified in profiling for potential improvement.  Given each routine found in profiling has been investigated, this issue will now be closed.

[2022-09-26 15:34] #775 closed, assigned to nobody

[2022-09-26 18:26] #796 closed, assigned to nobody

[2022-09-27 12:29] #803 closed, assigned to nobody

[2022-09-27 14:43] #311 closed, assigned to nobody

[2022-09-29 07:55] ukmo-juan-castillo opened #811 "Inconsistent time in air density input"
**Describe the bug**
If driving data is read from file, the consistency of the times in the file is checked in the W3WAVE subroutine. This is done to make sure that the driving data contains valid data for the time of the run. In the case of air density, the times read from the momentum driving data file are used, which is wrong and can cause false errors. To fix the problem, the variables TR0 and

[2022-10-03 17:30] #304 closed, assigned to nobody

[2022-10-03 20:18] #811 closed, assigned to nobody

[2022-10-06 09:27] ukmo-juan-castillo opened #816 "Water levels time update issue"
**Describe the bug**
The bug was discovered in a configuration having wind coupling and water levels read from file. In the ww3_shel program there is a call to the W3WAVE routine, and the time parameter of this routine specifying until what time we have to integrate is set after reading the different input fields in sequence.

Water levels are read before winds. This field is read from a file, and

[2022-10-11 12:30] CarstenHansen commented on #669
Hi @qingli411 .  Your work will be very useful for our group as we run an operational oil tracking service and need a good estimate of the drift of thin oil slicks. With the recent new dissipation source terms in ST4 and ST6 we may be able to tune the high-frequency spectral tail to a realistic level in most situations, and adding a parametric tail will provide smooth transitions in situations wit

[2022-10-11 15:35] MatthewMasarik-NOAA commented on #149
After redoing runs on cactus and talking with @GeorgeVandenberghe-NOAA, going from 2 to 4 threads (holding tasks constant) still provides some performance gains.  However, 4 threads is roughly where performance increases drop off.

[2022-10-13 01:18] qingli411 commented on #669
Hi @CarstenHansen, thanks for pointing me to your branch! This is very helpful.

I've only been using the $f^{-5}$ tail for Stokes drift when coupling WW3 with CESM. But I think your approach is better and it allows the implementation of different forms of the spectral tail, such as the one in [Lenain and Pizzo (2020)](https://doi.org/10.1175/JPO-D-20-0116.1) which considers the transition between

[2022-10-13 12:58] CarstenHansen commented on #669
Hi @qingli411, thank you for pointing to [Lenain and Pizzo (2020)](https://doi.org/10.1175/JPO-D-20-0116.1). I wasn't aware of this, and their scanning lidar wave measurements and interpretations are indeed interesting. My aim is to bring a means of outputting a vertical profile of the _mean_ Stokes Drift into the WW3 framework, i.e. to support a branch I am working on: [fb_xsto.](https://github.c

[2022-10-16 02:47] qingli411 commented on #669
Thank you, @CarstenHansen !

I think we need the _mean_ Stokes drift vector rather than the _omni-directional_ Stokes drift. I guess they are just simplifying the formulas here...

[2022-10-18 16:08] JessicaMeixner-NOAA commented on #800
PR #818 and PR #820 partially address this issue.

[2022-10-18 19:04] MatthewMasarik-NOAA commented on #452
I looked at this briefly last week, and have a very small comment to add.  By looking at the hex-dumps for the `aoc` grid restarts:  1) there are multiple regions of differing values, 2) they occur near the ends of the files (see screenshot showing the _first_ difference is found at 98% point in the restarts).
<img width="900" alt="ww3_rst_bindiff" src="https://user-images.githubusercontent.com/86

[2022-10-20 19:31] JessicaMeixner-NOAA opened #829 "Update gint to regrid restart files as well as output files"
**Is your feature request related to a problem? Please describe.**
Need restart files from global models for regional models.

**Describe the solution you'd like**
Update ww3_gint to regrid restart files.  This assumes that the frequency range is the same.

**Describe alternatives you've considered**
Use netcdf restarts and have offline regridding available.

**Additional context**
This has been d

[2022-10-20 22:39] benoitp-cmc commented on #711
Here is a more difficult test case including the 3rd grid in our setup:
https://hpfx.collab.science.gc.ca/~bpo001/WW3/issue_711/same_rank_3_grids.tar.gz

With 10 CPU, this test case works but with 80 CPU it gives me:
[code]

[2022-10-21 14:30] ukmo-ccbunney commented on #829
That would be a very useful addition!

[2022-10-21 16:45] MatthewMasarik-NOAA commented on #711
@benoitp-cmc,  I've updated the PR #825 description to note this issue is addressed but not resolved by it.  Thank you for providing this updated test case.  It will be useful to have as a good _same rank_ sample case when opportunity or need arises to revisit this.

[2022-10-21 19:18] JessicaMeixner-NOAA opened #830 "Unstructured Grid Namelist Documentation"
The documentation of the namelist for &UNST in ww3_grid.inp here:
https://github.com/NOAA-EMC/WW3/blob/develop/model/inp/ww3_grid.inp#L306-L331

have a few misisng variables from what is listed in w3gridmd: https://github.com/NOAA-EMC/WW3/blob/develop/model/src/w3gridmd.F90#L1072-L1090

Can someone (@thesser1 @aronroland @MathieuDutSik or @aliabdolali) help fill in the variable descriptions for th

[2022-10-21 19:24] JessicaMeixner-NOAA opened #831 "Namelist SIN4 in model/inp/ww3_grid.inp"
The SIN4 namelist is not explicitly in ww3_grid.inp (not even to say "same as SIN3").  This should likely be added for completeness.   Moreover, SWELLF6 and SWELLF7 are not defined.

Any thoughts @mickaelaccensi ?

[2022-10-21 19:26] JessicaMeixner-NOAA commented on #831
Also the case for SDS4 namelist looking at
https://github.com/NOAA-EMC/WW3/blob/develop/model/src/w3gridmd.F90#L1027-L1034
versus
https://github.com/NOAA-EMC/WW3/blob/develop/model/inp/ww3_grid.inp#L170-L186

The following need to be defined:

[code]

[2022-10-24 07:25] J-shel opened #834 "application called MPI_Abort(MPI_COMM_WORLD, 821) - process 570"
Hello,
My wind input dimensions are (81, 1440, 721), which is time, longitude and latitude.
ww3_shel run successfully using 256 and 512 MPI processes, while it called MPI_Abort when using 1024 MPI processes.

Error message in the log file
---
shel start
Abort(821) on node 570 (rank 570 in comm 0): application called MPI_Abort(MPI_COMM_WORLD, 821) - process 570
shel end
----

Error message in ww3_s

[2022-10-24 11:27] aliabdolali commented on #834
The upper limit with the carddeck decomposition is NSPEC= number of frequency bins * number of directions

[2022-10-24 11:39] SanderHulst opened #835 "grib2 parameter codes for inverse wave frequency"
Good morning,

We are not using ww3_grib ourselves, but I was rummaging around in the source code to try to map our netcdf output to grib2 codes. In v6.07.1 I noticed something odd and I think it is still around in the latest code in github.

Take a look at line 1248 [ww3_grib.f90](https://github.com/NOAA-EMC/WW3/blob/develop/model/src/ww3_grib.F90). When compared with the grib2 codes found in htt

[2022-10-24 12:11] mickaelaccensi commented on #831
You're right, it should be added

[2022-10-25 06:59] J-shel commented on #834
Hi, I didn't find any parameters named like "number of frequency bins" and "number of directions".  Is it related to the workload, i.e. ,the shape of the input data? Could you explain it a little bit?

[2022-10-25 08:53] mickaelaccensi opened #837 "run_cmake_test force to copy ww3_prtide"
**Describe the bug**
run_cmake_test always try to copy the non-SHRD exe from the build directory to path_e even if ww3_prtide was not compiled (switch TIDE not present in the switch file)

**To Reproduce**
when running almost the regtests

**Expected behavior**
in run_cmake_test, add a test if file exists
    if [[ -e $path_build/install/bin/ww3_prtide ]] ; then
      cp $path_build/install/bin/ww

[2022-10-25 11:16] aliabdolali commented on #834
https://github.com/NOAA-EMC/WW3/blob/develop/model/inp/ww3_grid.inp#L15
25 and 24 in this example are the number of freq and direction, therefore user cannot use more than 25*24 cores. Check your setting and you can calculate the upper limit.

[2022-10-25 12:45] JessicaMeixner-NOAA commented on #837
@mickaelaccensi good idea! Instead of just checking that it exists, should we only even try to copy if the TIDE switch is there, that way then if that does not exist we could have an error?      Should we do that for all of the executables perhaps even?  Have a list of exes that  need to be copied, and if they don't exist, exit with an error?

[2022-10-25 13:50] mickaelaccensi opened #838 "run_cmake_test crashes when finding prnc input files"
**Describe the bug**
run_cmake_test crash and looking for input files for ww3_prnc if the configuration is expected to have input file with the suffix of the gridset

**To Reproduce**
run_test -f -N -S -T -s MPI -s NO_PDLIB -w work_ma -m grdset_a -f -p mpiexec.hydra -n 28 ../model ww3_tp2.21

**Expected behavior**
in run_cmake_test, we need to improve in that way :
[code]

[2022-10-25 16:15] mickaelaccensi opened #839 "matrix_divider_cmake.sh with input arguments for splitting regtests"
**Is your feature request related to a problem? Please describe.**
Those values are hard-coded in the script matrix_divider_cmake.sh
[code]

**Describe the solution you'd like**
Since matrix_divider_cmake.sh is only called by matrix_cmake_ncep, matrix_cmake_datarmor and matrix_cmake_ukmo_cray, it would be better to up those parameters as input arguments of matrix_divider_cmake.sh, by that way we c

[2022-10-27 08:35] J-shel commented on #834
Cool! Thank you very much! O(∩_∩)O

[2022-10-28 16:46] MatthewMasarik-NOAA opened #842 "Doxygen copyright updates"
#### Issue
Recently `doxygen` is being added to the code base for documentation.  While a _copyright_ statement exists in the current headers, the `@copyright` tag was only recently added as a requirement.  Because of this some files have been `doxygen`-processed, but don't have the required `@copyright` block.

The files are:
- [ ] mod_constants.f90
- [ ] mod_fileio.f90
- [ ] mod_xnl4v5.f90
- [ ]

[2022-10-31 16:29] #636 closed, assigned to nobody

[2022-10-31 16:49] DeniseWorthen opened #843 "wave_elevation_spectrum exported for CICE6 is not updated at coupling frequency"
**Describe the bug**
The wave_elevation_spectrum exported by the mesh cap (dev/ufs-weather-model branch) is not updated at the wave-ice coupling frequency.

**To Reproduce**
Enable wave-cice6 coupling and examine the coupler history file output. Currently the export field is filled w/ the value calculated in w3outg. The exported fields will therefore be updated only at the output frequency.

**Exp

[2022-11-01 03:40] Liu-Jincan opened #844 "Running multiple run_test simultaneously"
Hi, everyone!

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. 

- The version of WaveWatchⅢ is v6.07.  I always use the script `run_test` in the `regtests/bin` folder to run model. An example for one experiment is as follow,
[code]
    The  `run_test` applys the `model/bin/w3_make` to generate the executable program in the

[2022-11-01 11:00] ukmo-ccbunney commented on #842
@MatthewMasarik-NOAA is there any way that the `@copyright`  markup can reference a predefined "copyright string"? Sort of like a macro? That way, we could define the copyright text once somewhere central. It would also make updating the copyright easier. Just a thought...

[2022-11-01 11:07] aliabdolali commented on #844
Hi @Liu-Jincan
regtests/bin/run_cmake_test does the job for you and compiles executables in regtests/<test>/work/exe directory

[2022-11-01 12:43] MatthewMasarik-NOAA commented on #842
@ukmo-ccbunney that's a really interesting idea.  It would be great from a maintenance perspective as you point out. I'll give some thought on how that might be implemented.  Thanks for the suggestion!

[2022-11-01 15:09] Liu-Jincan commented on #844
Very thanks for your reply @aliabdolali !
Maybe I should try to do the job with the latest model version~~

[2022-11-02 14:48] CarstenHansen commented on #210
Hi @aliabdolali . Unfortunately, I did not see your comment until I was browsing through the Issues last week. I have been in a misunderstanding that Goda's parameter is not of interest except for historical comparisons, but it is actually used for verification of observational systems, e.g. by Le Merle et al. (2021) and others.

So, I have carefully re-calculated the expressions that should corre

[2022-11-02 19:07] MatthewMasarik-NOAA commented on #842
@ukmo-ccbunney from some initial thought I believe this is likely not feasible for the way we'd want it to function.  I see it as two sub-problems, having the `copyright` statement in (1) the source, (2) the hosted doxygen html output.  The second should be feasible by having a macro step anytime prior to generating the doxygen html output.  I assume this should be easy to add in some manner by Gi

[2022-11-04 08:01] #844 closed, assigned to nobody

[2022-11-04 11:21] ukmo-ccbunney commented on #842
@MatthewMasarik-NOAA Ah yes - I had overlooked the fact that the copyright needs to be explicitly present in the source code and not just the documentation. Silly me. Thanks for looking into it though!

[2022-11-05 05:28] Liu-Jincan opened #847 "ww3_ta1 : Something wrong in ww3_uprstr when the switch contains MPI"
Hello!

**Describe the bug**
A clear and concise description of what the bug is.

- The version of WaveWatchⅢ is the latest development. The example test is `regtests/ww3_ta1/input_UPD2_U_cap`.
    Using the default switch file `switch_ST4`, everything is ok when running the commnd
[code]
  However, if the switch contains MPI (`switch_ST4_MPI`), something is wrong in the process of `ww3_uprstr` wh

[2022-11-05 14:29] #843 closed, assigned to nobody

[2022-11-09 19:03] MatthewMasarik-NOAA opened #850 "w3swldmd.F90"

[2022-11-11 21:37] MatthewMasarik-NOAA commented on #850
Unintended.

[2022-11-11 21:37] #850 closed, assigned to nobody

[2022-11-15 19:16] #677 closed, assigned to JessicaMeixner-NOAA

[2022-11-17 17:10] MatthewMasarik-NOAA opened #853 "Update Intel regression test compilers to 2022 versions"
**Is your feature request related to a problem? Please describe.**
Currently the regression test framework for RDPHCS uses Intel 2018 version.  Update this to the current versions for `hpc-stack` and `ufs-weather-model`.

**Describe the solution you'd like**
Update the regression test code to use the Intel 2022-based compiler and MPI stack.

**Describe alternatives you've considered**
Moving forwa

[2022-11-17 18:13] MatthewMasarik-NOAA commented on #853
Duplicate of #718.

[2022-11-17 18:13] #853 closed, assigned to nobody

[2022-11-17 18:18] DeniseWorthen opened #855 "ifdef statements in pr 851 are not evaluated as expected"
**Describe the bug**
The change to allow charn to be reset for st3 or st4 does not produce the expected code.

**To Reproduce**

Found by testing the UWM model after updating to develop, which does not reproduce.

Can also be found by using cpp directly on code:

``cpp -DW3_IC0 -DW3_ST4 w3updtmd.F90``

[code]

produces

[code]

**Expected behavior**

When IC0 and ST4 are active, cpp should produce

[2022-11-17 18:20] JessicaMeixner-NOAA commented on #855
Thanks for reporting @DeniseWorthen  I'll get this fixed ASAP.

[2022-11-17 18:28] MatthewMasarik-NOAA commented on #855
pr #851

[2022-11-17 18:55] JessicaMeixner-NOAA commented on #855
Regression tests have been started: https://github.com/JessicaMeixner-NOAA/WW3/tree/bug/charnifdef
A PR will be raised when they've been completed, likely will be tomorrow.

[2022-11-17 18:58] DeniseWorthen commented on #855
you've got a typo in your fix (defind).

[2022-11-17 19:09] JessicaMeixner-NOAA commented on #847
@Liu-Jincan apologies for the slow response.  The first thing to try is to run with the -f flag:

./bin/run_cmake_test -i input_UPD2_U_cap -s ST4_MPI  -f -w work2  ../model/ ww3_ta1

This way appropriate programs that are not intended to be MPI programs are build with SHRD.

[2022-11-17 19:50] DeniseWorthen commented on #855
[code]

[2022-11-18 16:40] #718 closed, assigned to aliabdolali

[2022-11-21 13:25] Liu-Jincan commented on #847
@JessicaMeixner-NOAA Very thanks for your suggestion. Everything is ok now.

[2022-11-21 13:25] #847 closed, assigned to nobody

[2022-11-22 23:35] #855 closed, assigned to JessicaMeixner-NOAA